<footer id="footer" class="j1">
    <div class="ct">
        <div class="ll1">
            <p>Copyright © 2017 Waft Pte Ltd. All Rights Reserved.</p>
        </div>
        <a href="/" target="_blank" class="logo"><img src="/assets/img/favicon/favicon-32x32.png"></a>
    </div>
</footer>