.card {
    box-sizing: border-box;
    border-radius: 9px;
    width: 100%;
    border: 1px solid #ececec;
    box-shadow: 0 0 6px rgba(194, 197, 201, 0.45);
    float: left;
    position: relative;
    padding: 10px 15px 15px;
    margin: 0 0 30px;
}

.card a.remove{
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    height: 16px;
}

.card .title {
    padding: 0px 20px 20px;
    box-sizing: border-box;
    width: 55%;
    display: inline-block;
    float: left;
    height: 100%;
    min-height: 76px;
}

.card .spider-diagram{
    position: absolute;
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    right: 50px;
    top: -15px;
}

.card .button-inner {
    width: 55%;
    display: inline-block;
    float: left;
    position: relative;
}

.card .title h4 {
    color: #303739;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 3.7px;
    padding: 25px 0 0;
    text-align: left;
    padding: 9px 0 0;
    width: 100%;
    text-align: center;
}

.card .title img {
    margin-left: -20px;
    width: 35px;
    margin-right: 5px;
}

.card .title img, .card .title h4 {
    float: left;
    display: inline;
}

.card .btn.btn-default {
    border-radius: 0 0 9px 9px;
    margin: 10px -25px -25px;
}

.card a.btn-red {
    margin: auto;
}

@media only screen and (max-width: 1020px) {

    .card .button-inner {
        width: 55%;
        display: inline-block;
        float: left;
        position: relative;
    }

    .card .btn.btn-default {
        border-radius: 0 0 9px 9px;
        margin: 10px -25px -25px;
    }

    .card {
        padding-top: 10px;
        margin: 0 0 15px;
    }

    .card .title img {
        margin-left: -20px;
        width: 35px;
        margin-right: 5px;
    }

    .card .title {
        padding: 0px 20px 20px;
    }

    .card .title h4 {
        width: 100%;
        letter-spacing: normal;
    }

}

@media only screen and (max-width: 703px) {

    .card .btn.btn-default {
        border-radius: 0 0 9px 9px;
        margin: 10px -25px -25px;
    }

    .card {
        padding-top: 10px;
        margin: 0 0 15px;
    }

    .card .title img {
        width: 35px;
        margin-right: 5px;
    }

    .card .title {
        padding: 0px 15px 15px;
        box-sizing: border-box;
        display: inline-block;
        float: left;
    }

    .card .button-inner {
        width: 55%;
        display: inline-block;
        float: left;
        position: relative;
    }

    .card .button-inner .btn-red {
        margin: auto;
    }

    .card .title h4 {
        padding: 9px 0 0;
        font-size: 10px;
        line-height: 17px;
        letter-spacing: normal;
    }
}

@media only screen and (max-width: 620px) {

    .card .spider-diagram {
        -ms-transform: scale(0.25);
        -webkit-transform: scale(0.25);
        -moz-transform: scale(0.25);
        transform: scale(0.25);
        top: -50px;
        right: 0px;
    }

    .card .btn.btn-default {
        border-radius: 0 0 9px 9px;
        margin: 10px -25px -25px;
    }

    .card .button-inner {
        width: 100%;
        max-width: 100%;
        display: inline-block;
        position: relative;
    }

    .card .button-inner .btn-red {
        margin: auto;
    }

    .card {
        padding-top: 10px;
        margin: 0 0 15px;
    }

    .card .title img {
        margin-left: -20px;
        width: 35px;
        margin-right: 5px;
    }

    .card .title {
        margin-bottom: 0px;
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 15px;
    }

    .card .title h4 {
        padding: 9px 0 0;
        font-size: 10px;
        line-height: 17px;
        letter-spacing: normal;
    }

}

@media only screen and (max-width: 485px) {

    .card .btn.btn-default {
        border-radius: 0 0 9px 9px;
        margin: 10px -25px -25px;
    }

    .card {
        padding-top: 10px;
        margin: 0 0 15px;
    }

    .card .title img {
        margin-left: -20px;
        width: 35px;
        margin-right: 5px;
    }

    .card .title {
        margin-bottom: 0px;
    }

    .card .title h4 {
        padding: 9px 0 0;
        font-size: 10px;
        line-height: 17px;
        letter-spacing: normal;
    }
}