<div class="card">
    <a class="remove" (click)="onClickClose()">
        <img style="height: 80%" cdn-src="/assets/img/close.svg"/>
    </a>
    <div class="title">
        <!-- <img src="http://waft.s3-website-us-west-2.amazonaws.com/images/{{fragrance.image}}"/>-->
        <h4>
            {{getDisplayName()}}
        </h4>
    </div>
    <div class="spider-diagram">
        <spider-diagram [accords]="fragrance.accords" [fontSize]="'24px'" [lineHeight]="'26px'"></spider-diagram>
    </div>
    <div class="button-inner">
        <a class="btn-red" (click)="createYourScent(fragrance)">SELECT SCENT</a>
    </div>
</div>