
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clearfix {
    display: block;
    float: none;
    clear: both;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-pull-12 {
    right: 100%;
}

.col-xs-pull-11 {
    right: 91.66666667%;
}

.col-xs-pull-10 {
    right: 83.33333333%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-8 {
    right: 66.66666667%;
}

.col-xs-pull-7 {
    right: 58.33333333%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-5 {
    right: 41.66666667%;
}

.col-xs-pull-4 {
    right: 33.33333333%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-2 {
    right: 16.66666667%;
}

.col-xs-pull-1 {
    right: 8.33333333%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-push-12 {
    left: 100%;
}

.col-xs-push-11 {
    left: 91.66666667%;
}

.col-xs-push-10 {
    left: 83.33333333%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-8 {
    left: 66.66666667%;
}

.col-xs-push-7 {
    left: 58.33333333%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-5 {
    left: 41.66666667%;
}

.col-xs-push-4 {
    left: 33.33333333%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-2 {
    left: 16.66666667%;
}

.col-xs-push-1 {
    left: 8.33333333%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-0 {
    margin-left: 0%;
}

@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

    .col-sm-pull-12 {
        right: 100%;
    }

    .col-sm-pull-11 {
        right: 91.66666667%;
    }

    .col-sm-pull-10 {
        right: 83.33333333%;
    }

    .col-sm-pull-9 {
        right: 75%;
    }

    .col-sm-pull-8 {
        right: 66.66666667%;
    }

    .col-sm-pull-7 {
        right: 58.33333333%;
    }

    .col-sm-pull-6 {
        right: 50%;
    }

    .col-sm-pull-5 {
        right: 41.66666667%;
    }

    .col-sm-pull-4 {
        right: 33.33333333%;
    }

    .col-sm-pull-3 {
        right: 25%;
    }

    .col-sm-pull-2 {
        right: 16.66666667%;
    }

    .col-sm-pull-1 {
        right: 8.33333333%;
    }

    .col-sm-pull-0 {
        right: auto;
    }

    .col-sm-push-12 {
        left: 100%;
    }

    .col-sm-push-11 {
        left: 91.66666667%;
    }

    .col-sm-push-10 {
        left: 83.33333333%;
    }

    .col-sm-push-9 {
        left: 75%;
    }

    .col-sm-push-8 {
        left: 66.66666667%;
    }

    .col-sm-push-7 {
        left: 58.33333333%;
    }

    .col-sm-push-6 {
        left: 50%;
    }

    .col-sm-push-5 {
        left: 41.66666667%;
    }

    .col-sm-push-4 {
        left: 33.33333333%;
    }

    .col-sm-push-3 {
        left: 25%;
    }

    .col-sm-push-2 {
        left: 16.66666667%;
    }

    .col-sm-push-1 {
        left: 8.33333333%;
    }

    .col-sm-push-0 {
        left: auto;
    }

    .col-sm-offset-12 {
        margin-left: 100%;
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-sm-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    .col-md-pull-12 {
        right: 100%;
    }

    .col-md-pull-11 {
        right: 91.66666667%;
    }

    .col-md-pull-10 {
        right: 83.33333333%;
    }

    .col-md-pull-9 {
        right: 75%;
    }

    .col-md-pull-8 {
        right: 66.66666667%;
    }

    .col-md-pull-7 {
        right: 58.33333333%;
    }

    .col-md-pull-6 {
        right: 50%;
    }

    .col-md-pull-5 {
        right: 41.66666667%;
    }

    .col-md-pull-4 {
        right: 33.33333333%;
    }

    .col-md-pull-3 {
        right: 25%;
    }

    .col-md-pull-2 {
        right: 16.66666667%;
    }

    .col-md-pull-1 {
        right: 8.33333333%;
    }

    .col-md-pull-0 {
        right: auto;
    }

    .col-md-push-12 {
        left: 100%;
    }

    .col-md-push-11 {
        left: 91.66666667%;
    }

    .col-md-push-10 {
        left: 83.33333333%;
    }

    .col-md-push-9 {
        left: 75%;
    }

    .col-md-push-8 {
        left: 66.66666667%;
    }

    .col-md-push-7 {
        left: 58.33333333%;
    }

    .col-md-push-6 {
        left: 50%;
    }

    .col-md-push-5 {
        left: 41.66666667%;
    }

    .col-md-push-4 {
        left: 33.33333333%;
    }

    .col-md-push-3 {
        left: 25%;
    }

    .col-md-push-2 {
        left: 16.66666667%;
    }

    .col-md-push-1 {
        left: 8.33333333%;
    }

    .col-md-push-0 {
        left: auto;
    }

    .col-md-offset-12 {
        margin-left: 100%;
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-md-offset-9 {
        margin-left: 75%;
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-md-offset-6 {
        margin-left: 50%;
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-md-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-11 {
        width: 91.66666667%;
    }

    .col-lg-10 {
        width: 83.33333333%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.66666667%;
    }

    .col-lg-7 {
        width: 58.33333333%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666667%;
    }

    .col-lg-1 {
        width: 8.33333333%;
    }

    .col-lg-pull-12 {
        right: 100%;
    }

    .col-lg-pull-11 {
        right: 91.66666667%;
    }

    .col-lg-pull-10 {
        right: 83.33333333%;
    }

    .col-lg-pull-9 {
        right: 75%;
    }

    .col-lg-pull-8 {
        right: 66.66666667%;
    }

    .col-lg-pull-7 {
        right: 58.33333333%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull-5 {
        right: 41.66666667%;
    }

    .col-lg-pull-4 {
        right: 33.33333333%;
    }

    .col-lg-pull-3 {
        right: 25%;
    }

    .col-lg-pull-2 {
        right: 16.66666667%;
    }

    .col-lg-pull-1 {
        right: 8.33333333%;
    }

    .col-lg-pull-0 {
        right: auto;
    }

    .col-lg-push-12 {
        left: 100%;
    }

    .col-lg-push-11 {
        left: 91.66666667%;
    }

    .col-lg-push-10 {
        left: 83.33333333%;
    }

    .col-lg-push-9 {
        left: 75%;
    }

    .col-lg-push-8 {
        left: 66.66666667%;
    }

    .col-lg-push-7 {
        left: 58.33333333%;
    }

    .col-lg-push-6 {
        left: 50%;
    }

    .col-lg-push-5 {
        left: 41.66666667%;
    }

    .col-lg-push-4 {
        left: 33.33333333%;
    }

    .col-lg-push-3 {
        left: 25%;
    }

    .col-lg-push-2 {
        left: 16.66666667%;
    }

    .col-lg-push-1 {
        left: 8.33333333%;
    }

    .col-lg-push-0 {
        left: auto;
    }

    .col-lg-offset-12 {
        margin-left: 100%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-lg-offset-0 {
        margin-left: 0%;
    }
}

.modern {
    font-family: "Montserrat";
    font-weight: normal;
}

.classic {
    font-family: "Georgia", "Times New Roman", serif;
    font-weight: normal;
}

.handwritten {
    font-family: "Apple Chancery", "AppleChancery";
    font-weight: normal;
}

.page-wrap {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.page-wrap .container {
    max-width: 1170px;
    padding: 0;
    width: 100%;
    margin: 0 auto;
}

.page-wrap .first-screen .price {
    color: #303739;
}

.page-wrap .first-screen .center-bottle div {
    color: #544f4e;
    position: absolute;
    width: 0;
    width: 155px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.page-wrap .first-screen .center-bottle img {
    width: 218px;
}

.page-wrap .first-screen .center-bottle .name {
    font-size: 19px;
    top: 290px;
    white-space: pre-line;
}

.page-wrap .first-screen .center-bottle .message {
    font-size: 15px;
    top: 345px;
    overflow-wrap: break-word;
    white-space: pre-line;
}

.page-wrap .spider-diagram {
    position: relative;
    transform: scale(0.8);
    float: left;
    margin-left: 30px;
    margin-top: 30px;
}

.page-wrap .container #mi2 .spider-diagram {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    margin: auto;
    width: 100%;
}

.page-wrap .container .wrapper .spider-diagram {
    transform: scale(0.8);
}

.page-wrap .btn {
    width: auto;
    max-width: 231px;
    padding: 0 30px;
    text-decoration: none;
}

.page-wrap .row {
    display: block;
    margin: 0 -8px;
}

.page-wrap .price {
    font-size: 47px;
    font-weight: 300;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}

.page-wrap section {
    margin: 0;
    padding: 43px 0 0;
    position: relative;
}

.page-wrap section h1,
.page-wrap section h2 {
    font-size: 35px;
    font-weight: 400;
    color: #303739;
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-wrap section h2 {
    font-size: 30px;
}

.page-wrap section h3 {
    font-size: 16px;
    line-height: 21px;
    color: #7d8284;
    margin-top: 25px;
}

.page-wrap section h5 {
    font-size: 11px;
    font-weight: 800 !important;
    letter-spacing: 3.7px;
    line-height: 25px;
    text-transform: uppercase;
    margin-top: 14px;
    margin-bottom: 14px;
}

.page-wrap section h1,
.page-wrap section h2,
.page-wrap section h3,
.page-wrap section h4,
.page-wrap section h5 {
    text-align: center;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
}

.page-wrap section.first-screen {
    padding: 60px 0 0;
    background-color: #f3f2f0;
    color: #fff;
    text-align: center;
    min-height: 885px;
    background-position: center;
    background-repeat: no-repeat;
}

.page-wrap section.first-screen h1 {
    color: #303739;
    margin: 15px auto 0;
    letter-spacing: 1px;
}

.page-wrap section.first-screen h3 {
    margin: 2px auto 24px;
    color: #6f7a7f;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
}

.page-wrap section.first-screen h4 {
    margin-bottom: 0;
    color: #303739;
    font-family: Georgia;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1px;
}

.page-wrap section.first-screen .btn {
    margin-bottom: 20px;
}

.page-wrap section.first-screen p.learn {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3.7px;
    margin: 6px auto;
    padding-bottom: 15px;
    color: #6d7a7d;
}

.page-wrap section.first-screen p:not(.learn) {
    margin: 0 0 20px;
    color: #abb5bb;
    font-family: Georgia;
    font-size: 18px;
    font-weight: 400;
    color: #6d7a7d;
}

.page-wrap section.first-screen .sm {
    margin: 145px 0 0px;
    padding: 0 60px;
}

.page-wrap section.first-screen .sm > div {
    max-width: 100px;
    text-align: center !important;
}

.page-wrap section.first-screen .sm img {
    max-width: 84px;
}

.page-wrap section.first-screen .free-tag {
    border: 1px solid #303739;
    color: #303739;
}

.page-wrap section .free-tag {
    padding: 7px 15px;
    text-transform: uppercase;
    border: 1px solid #7d8284;
    border-radius: 49px;
    color: #7d8284;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 19px;
    margin-bottom: 5px;
    display: inline-block;
}

.page-wrap section.bottle-animation {
    background: #fff;
    overflow: hidden;
    height: 1250px;
    padding-top: 0px;
}

.page-wrap section.bottle-animation .container {
    position: relative;
}

.page-wrap section.bottle-animation .container h2 {
    max-width: 500px;
}

.page-wrap section.bottle-animation .inner-content {
    max-width: 1170px;
    opacity: 0;
    padding: 0 50px;
}

.page-wrap section.bottle-animation .inner-content h2 {
    font-size: 30px;
    margin-bottom: 0px;
}

.page-wrap section.bottle-animation .inner-content h5 {
    margin: 5px 0;
}

.page-wrap section.bottle-animation .inner-content p {
    margin-top: 0;
    color: #6d7a7d;
    font-size: 12px;
    font-weight: 300;
    line-height: 23px;
}

.page-wrap section.bottle-animation .inner-content ul {
    list-style: none;
}

.page-wrap section.bottle-animation .inner-content ul li {
    width: 53px;
    height: 53px;
    display: inline-block;
    border-radius: 8px;
    background: #f00;
    margin: 0 10px 0 0;
}

.page-wrap section.bottle-animation .inner-content ul li img {
    width: 100%;
    border-radius: 7px;
}

.page-wrap section.bottle-animation .inner-content.fixed {
    position: fixed;
    bottom: 280px;
    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);
}

.page-wrap section.bottle-animation .inner-content.show {
    opacity: 1;
}

.page-wrap section.bottle-animation .inner-content.fixed-bottom {
    position: absolute;
    top: 1480px;
}

.page-wrap section.bottle-animation ul,
.page-wrap section.bottle-animation li {
    padding: 0;
    margin: 0;
    border: 0;
}

.page-wrap section.bottle-animation #wrapper {
    box-sizing: border-box;
    position: relative;
    z-index: 3;
    width: 100%;
    margin-top: -40px;
    min-height: 650px;
    left: 0;
    overflow: hidden;
    height: 1260px;
}

.page-wrap section.bottle-animation #wrapper .item {
    width: 100%;
    left: 0;
    overflow: hidden;
    background-color: transparent;
}

.page-wrap section.bottle-animation #wrapper #bottle {
    overflow: visible;
}

.page-wrap section.bottle-animation #wrapper .item > div {
    position: absolute;
    width: 100%;
    overflow: hidden;
    background-position: center !important;
    background-repeat: no-repeat !important;
    height: 650px;
}

.page-wrap section.bottle-animation #wrapper .item .inner-content {
    top: -100px;
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
}

.page-wrap section.bottle-animation #wrapper .item .inner-content .wheel img {
    height: 225px;
}

.page-wrap section.bottle-animation #wrapper .item .inner-content p.details {
    margin-bottom: 10px;
}

.page-wrap section.bottle-animation #wrapper[data-fixed="true"] .item {
    position: fixed;
    top: 185px;
    height: 650px;
    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);
}

.page-wrap section.bottle-animation #wrapper #cap {
    z-index: 5;
}

.page-wrap section.bottle-animation #wrapper #cap #capin {
    z-index: 5;
    top: 63px;
}

.page-wrap section.bottle-animation #wrapper #spray {
    z-index: 4;
}

.page-wrap section.bottle-animation #wrapper #spray #sprayin {
    z-index: 4;
}

.page-wrap section.bottle-animation #wrapper #crew {
    z-index: 3;
}

.page-wrap section.bottle-animation #wrapper #crew #crewin {
    z-index: 3;
}

.page-wrap section.bottle-animation #wrapper #water {
    z-index: 1;
    transform: scale(0);
    opacity: 0;
}

.page-wrap section.bottle-animation #wrapper #water #waterin {
    z-index: 1;
    background-size: 140px;
}

.page-wrap section.bottle-animation #wrapper #bottle {
    z-index: 2;
}

.page-wrap section.bottle-animation #wrapper #bottle #bottlein {
    z-index: 2;
}

.page-wrap section.bottle-animation #wrapper #bottle #bottlein div {
    margin: auto;
    text-align: center;
    width: 155px;
    color: #544f4e;
    text-align: center;
    overflow: hidden;
}

.page-wrap section.bottle-animation #wrapper #bottle #bottlein .name {
    position: relative;
    top: 350px;
    font-size: 20px;
}

.page-wrap section.bottle-animation #wrapper #bottle #bottlein .message {
    position: relative;
    top: 365px;
    font-size: 13px;
    overflow-wrap: break-word;
    white-space: pre-line;
}

.page-wrap section.bottle-animation #wrapper.step1 #cap {
    position: absolute;
    display: block;
    top: 0%;
}

.page-wrap section.bottle-animation #wrapper.step1 #water {
    transform: scale(0);
    opacity: 0;
    transition: all 0.3s ease;
}

.page-wrap section.bottle-animation #wrapper.step2 #spray {
    position: absolute;
    display: block;
    top: 9.6%;
}

.page-wrap section.bottle-animation #wrapper.step3 #crew {
    position: absolute;
    top: 15.0%;
}

.page-wrap section.bottle-animation #wrapper.step4 #water {
    position: absolute;
    top: 20%;
    left: -10px;
    transform: scale(1);
    opacity: 1;
}

.page-wrap section.bottle-animation #wrapper.fixed-bottom #bottle {
    position: absolute;
    top: auto;
    bottom: 5%;
}

.page-wrap section.bonus {
    background: #f6f6f4;
    text-align: center;
}

.page-wrap section.bonus .play {
    color: #303739;
    font-family: 'Montserrat';
    font-size: 9px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 3px;
    text-decoration: none;
    margin: 24px 0;
    display: block;
}

.page-wrap section.bonus .container h5 {
    font-size: 12px;
}

.page-wrap section.bonus .container a.play {
    font-size: 12px;
    background-size: contain;
    height: 135px;
    width: 250px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-wrap section.bonus .container a img {
    margin-bottom: 18px;
    padding-top: 45px;
    cursor: pointer;
}

.page-wrap section.bonus .container a img {
    width: 40px;
}

.page-wrap section.bonus h4 {
    color: #303739;
    font-family: Georgia;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0 0;
    letter-spacing: -1px;
}

.page-wrap section.bonus .sm-box {
    max-width: 200px;
    margin: 0 60px;
}

.page-wrap section.bonus .sm-box p {
    color: #6d7a7d;
    font-family: Montserrat;
    font-weight: 300;
    line-height: 19px;
    margin: 0 0 10px;
    font-size: 12px;
}

.page-wrap section.bonus .sm-box p.ml {
    font-family: Georgia;
    font-size: 18px;
}

.page-wrap section.promise {
    color: #b5bfc1;
    background: #000006;
}

.page-wrap section.promise h2 {
    color: #dfedf1;
    text-align: left;
    margin: 0;
}

.page-wrap section.promise p {
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    margin: 20px 0;
}

.page-wrap section.promise span {
    font-family: Georgia;
    font-weight: 700;
    font-size: 25px;
    color: #e9eaea;
    padding-right: 10px;
}

.page-wrap section.promise img {
    margin: 8px 0 30px;
    height: 14px;
}

.page-wrap section.promise img:not(.name) {
    margin: -43px 0 0;
    height: 100%;
}

.page-wrap section.order {
    background: #fff;
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-bottom: 60px;
    transition: background 0.3s ease;
}

.page-wrap section.order .rate {
    color: #7d8284;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.page-wrap section.order .rate img {
    position: relative;
    top: 6px;
}

.page-wrap section.order .rate img:last-child {
    margin-right: 10px;
}

.page-wrap section.order .rate span {
    margin-left: 11px;
}

.page-wrap section.order .container {
    min-height: 500px;
    position: relative;
}

.page-wrap section.order .center-bottle {
    position: absolute;
    top: 300px;
    height: 250px;
    text-align: center;
    width: 165px;
    color: #544f4e;
    text-align: center;
    overflow: hidden;
    left: 580px;
}

.page-wrap section.order .center-bottle .name {
    position: relative;
    font-size: 22px;
    white-space: pre-line;
    top: 70px;
}

.page-wrap section.order .center-bottle .message {
    position: relative;
    top: 80px;
    font-size: 16px;
    overflow-wrap: break-word;
    white-space: pre-line;
}

.page-wrap section.order p {
    color: #7d8284;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

.page-wrap section.order h2 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.page-wrap section.order h5 {
    margin: 15px 0 0;
}

.page-wrap section.order .price {
    color: #303739;
}

.page-wrap section.order .inbox {
    text-align: center;
    width: 100%;
    max-width: 491px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 0 19px rgba(0, 0, 0, 0.18);
    margin: 20px 0 25px;
}

.page-wrap section.order .inbox .col-md-3 {
    border-left: 1px solid #e4dede;
}

.page-wrap section.order .inbox > div h4 {
    font-family: Georgia;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 15px;
    letter-spacing: -2px;
}

.page-wrap section.order .inbox > div > div {
    color: #abb5bb;
    font-family: Georgia;
    font-size: 16px;
    font-weight: 400;
    line-height: 0;
    margin-bottom: 10px;
}

.page-wrap section.order .inbox img {
    height: 47px;
}

.page-wrap section.help {
    background: #fff;
    padding-top: 0;
    margin-bottom: 42px;
}

.page-wrap section.help .container {
    max-width: 870px;
}

.page-wrap section.help .container a {
    width: 154px;
    height: 43px;
    line-height: 43px;
    margin-top: 16px;
}

.page-wrap section.help h2 {
    color: #303739;
    font-size: 24px;
    font-weight: 300;
    line-height: 37px;
}

.page-wrap section.help h3 {
    color: #8d9697;
    font-size: 16px;
    font-weight: 300;
    line-height: 47px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 16px;
}

.page-wrap section.help h3 br {
    display: none;
}

.page-wrap section.help a {
    margin: 12px 0 0;
}

.text-left {
    text-align: left !important;
}

.text-left h1,
.text-left h2,
.text-left h3,
.text-left h4,
.text-left h5 {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-right h1,
.text-right h2,
.text-right h3,
.text-right h4,
.text-right h5 {
    text-align: right !important;
}

@media only screen and (max-width: 1860px) {
    .page-wrap section.order {
        background-position: -50px center;
    }

    .page-wrap section.order .center-bottle {
        left: 530px;
    }
}

@media only screen and (max-width: 1760px) {
    .page-wrap section.order {
        background-position: -100px center;
    }

    .page-wrap section.order .center-bottle {
        left: 480px;
    }

}

@media only screen and (max-width: 1660px) {
    .page-wrap section.order {
        background-position: -150px center;
    }

    .page-wrap section.order .center-bottle {
        left: 430px;
    }
}

@media only screen and (max-width: 1560px) {
    .page-wrap section.order {
        background-position: -200px center;
    }

    .page-wrap section.order .center-bottle {
        left: 380px;
    }
}

@media only screen and (max-width: 1460px) {
    .page-wrap section.order {
        background-position: -250px center;
    }

    .page-wrap section.order .center-bottle {
        left: 330px;
    }
}

@media only screen and (max-width: 1360px) {
    .page-wrap section.order {
        background-position: -300px center;
    }

    .page-wrap section.order .center-bottle {
        left: 278px;
    }
}

@media only screen and (max-width: 1260px) {
    .page-wrap section.order {
        background-position: -350px center;
    }

    .page-wrap section.order .center-bottle {
        left: 230px;
    }
}

@media only screen and (max-width: 1160px) {
    .page-wrap section.order {
        background-position: -400px center;
    }

    .page-wrap section.order .center-bottle {
        left: 180px;
    }
}

@media only screen and (max-width: 1060px) {
    .page-wrap section.order {
        background-position: -450px center;
    }

    .page-wrap section.order .center-bottle {
        left: 130px;
    }
}

@media only screen and (min-width: 992px) {
    .hidden-lg {
        display: none;
    }
}

@media only screen and (max-width: 992px) {

    .hidden-xs {
        display: none;
    }

    .hidden-lg {
        display: block;
    }

    .btn {
        margin: 0 auto;
        float: none;
    }

    .page-wrap section {
        padding: 20px 0 0;
        text-align: center;
    }

    .page-wrap section .container {
        max-width: 500px;
    }

    .page-wrap .first-screen .center-bottle div {
        width: 85px;
    }

    .page-wrap .first-screen .center-bottle img {
        width: 120px;
    }

    .page-wrap .first-screen .center-bottle .name {
        font-size: 12px;
        top: 180px;
    }

    .page-wrap .first-screen .center-bottle .message {
        font-size: 9px;
        top: 215px;
    }

    .page-wrap section.help .container {
        width: 90%;
    }

    .page-wrap section.help .container .pull-left {
        margin-left: auto;
        margin-right: auto;
    }

    .page-wrap section.help .container a.pull-left {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .page-wrap section.order .center-bottle {
        left: 0px;
        right: 0px;
        margin: auto;
        top: auto;
        bottom: 0px;
        width: 120px;
    }

    .page-wrap section.order .center-bottle div {
        max-width: 85px;
        margin: auto;
    }

    .page-wrap section.order .center-bottle .name {
        font-size: 12px;
        position: relative;
        top: 70px;
    }

    .page-wrap section.order .center-bottle .message {
        top: 90px;
        font-size: 9px;
    }

    .page-wrap section.order .container .muted-link.pull-left {
        float: none;
    }

    .page-wrap section h1,
    .page-wrap section h2 {
        font-size: 20px;
        line-height: 17px;
    }

    .page-wrap section h1,
    .page-wrap section h2,
    .page-wrap section h3,
    .page-wrap section h4,
    .page-wrap section h5 {
        text-align: center;
        float: none !important;
    }

    .page-wrap section h2 {
        font-size: 17px;
    }

    .page-wrap section h3 {
        font-size: 12px;
        line-height: 16px;
    }

    .page-wrap section h5 {
        font-size: 9px;
        letter-spacing: 0.1px;
    }

    .page-wrap section.first-screen {
        min-height: 518px;
        background-size: 320px;
        padding-bottom: 10px;
    }

    .page-wrap section.first-screen h1 {
        margin: 0;
        letter-spacing: 0;
    }

    .page-wrap section.first-screen h3 {
        font-size: 12px;
    }

    .page-wrap section.first-screen .sm {
        padding: 0 8px;
        margin: 40px 0 0;
    }

    .page-wrap section.first-screen .sm .sm-left {
        float: left;
    }

    .page-wrap section.first-screen .sm .sm-right {
        float: right;
    }

    .page-wrap section.first-screen .sm > div {
        max-width: 90px;
    }

    .page-wrap section.first-screen .sm > div img {
        width: 52px;
    }

    .page-wrap section.bottle-animation {
        height: 1480px;
    }

    .page-wrap section.bottle-animation .inner-content {
        display: none;
    }

    .page-wrap section.bottle-animation > .container {
        min-height: 149px;
    }

    .page-wrap section.bottle-animation .container h2 {
        max-width: 300px;
    }

    .page-wrap section.bottle-animation .container h2 {
        max-width: 270px;
    }

    .page-wrap section.bottle-animation #wrapper {
        top: -150px;
        margin-top: 0;
        height: 1450px;
    }

    .page-wrap section.bottle-animation #wrapper .item {
        height: 619px;
        transition: none;
        bottom: auto !important;
        position: absolute;
    }

    .page-wrap section.bottle-animation #wrapper .item > div {
        height: 619px;
        background-size: 170px !important;
        -webkit-transform: translate3d(0px,0px,0px);
        -moz-transform:    translate3d(0px,0px,0px);
        -ms-transform:     translate3d(0px,0px,0px);
        -o-transform:      translate3d(0px,0px,0px);
        transform:         translate3d(0px,0px,0px);
    }

    .page-wrap section.bottle-animation #wrapper.fixed .item {
        position: fixed;
        top: 280px;
        -webkit-transform: translateY(0px);
        -moz-transform:    translateY(0px);
        -ms-transform:     translateY(0px);
        -o-transform:      translateY(0px);
        transform:         translateY(0px);
    }

    .page-wrap section.bottle-animation #wrapper.step1 #cap {
        position: absolute;
        top: 0;
    }

    .page-wrap section.bottle-animation #wrapper #cap #capin {
        top: 45px;
    }

    .page-wrap section.bottle-animation #wrapper.step2 #spray {
        position: absolute;
        top: 6.7% !important;
    }

    .page-wrap section.bottle-animation #wrapper.step3 #crew {
        position: absolute;
        top: 13% !important;
    }

    .page-wrap section.bottle-animation #wrapper.step3 #water {
        opacity: 0;
        transition: all 0.5s ease;
    }

    .page-wrap section.bottle-animation #wrapper.step3 #water #waterin {
        background-size: 133px !important;
    }

    .page-wrap section.bottle-animation #wrapper.step4 #water {
        position: absolute;
        top: 16.4% !important;
        opacity: 1;
    }

    .page-wrap section.bottle-animation #wrapper.step6 #bottle {
        position: absolute;
        top: 925px !important;
    }

    .page-wrap section.bottle-animation #wrapper #bottle #bottlein div {
        width: 85px;
    }

    .page-wrap section.bottle-animation #wrapper #bottle #bottlein .name {
        font-size: 14px;
        top: 320px;
    }

    .page-wrap section.bottle-animation #wrapper #bottle #bottlein .message {
        top: 335px;
        font-size: 9px;
    }

    .page-wrap section.bottle-animation .mobile-inner {
        position: absolute;
        transition: all 0.5s ease;
        opacity: 0;
        width: 100%;
        left: 0;
    }

    .page-wrap section.bottle-animation .mobile-inner.show {
        opacity: 1;
    }

    .page-wrap section.bottle-animation .mobile-inner#mi1 {
        top: 675px;
    }

    .page-wrap section.bottle-animation .mobile-inner#mi2 {
        top: 910px;
    }

    .page-wrap section.bottle-animation .mobile-inner#mi2 p {
        width: 90%;
        margin: auto;
    }

    .page-wrap section.bottle-animation .mobile-inner#mi2 img {
        height: 125px;
    }

    .page-wrap section.bottle-animation .mobile-inner h2,
    .page-wrap section.bottle-animation .mobile-inner h5,
    .page-wrap section.bottle-animation .mobile-inner p {
        max-width: 100%;
        margin: 0;
    }

    .page-wrap section.bottle-animation .mobile-inner#mi2 .wheel img {
        height: 120px !important;
    }

    .page-wrap section.bottle-animation .mobile-inner p.details {
        margin-bottom: 10px !important;
    }

    .page-wrap section.bottle-animation .mobile-inner p {
        color: #6f7a7f;
        font-size: 11px;
    }

    .page-wrap section.bottle-animation .mobile-inner ul {
        list-style: none;
    }

    .page-wrap section.bottle-animation .mobile-inner ul li {
        width: 53px;
        height: 53px;
        display: inline-block;
        border-radius: 8px;
        background: #f00;
        margin: 0 10px 0 0;
    }

    .page-wrap section.bottle-animation .mobile-inner ul li img {
        width: 100%;
    }

    .page-wrap section.bonus .container h5 {
        font-size: 10px;
    }

    .page-wrap section.bonus .container a.play {
        letter-spacing: 0;
        font-size: 10px;
    }

    .page-wrap section.bonus .sm-box {
        float: none;
        text-align: center;
        margin: 0;
        max-width: 100%;
    }

    .page-wrap section.bonus .container img {
        margin: 0 auto;
    }

    .page-wrap section.bonus .col-md-6.col-xs-6.pull-left {
        padding-right: 100px;
    }

    .page-wrap section.bonus .col-md-6.col-xs-6.pull-right {
        padding-left: 100px;
    }

    .page-wrap section.bonus img.hidden-xs,
    .page-wrap section.bonus img.hidden-lg {
        max-width: 52px;
    }

    .page-wrap section.promise {
        text-align: center;
    }

    .page-wrap section.promise h2 {
        text-align: center;
    }

    .page-wrap section.promise img:not(.name) {
        margin: 0;
        position: relative;
        max-width: 100%;
        height: auto;
    }

    .page-wrap section.promise img:not(.name):before {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #f00;
        content: " ";
        top: 0;
        left: 0;
    }

    .page-wrap section.order {
        background-size: 700px;
        background-position: center bottom;
        padding-bottom: 350px;
    }

    .page-wrap section.order .inbox > div h4 {
        font-size: 12px;
    }

    .page-wrap section.order .inbox > div > div {
        font-size: 12px;
    }

    .page-wrap section.help {
        padding-bottom: 8px;
    }

    .page-wrap section.help h2 {
        font-size: 17px;
        line-height: 17px;
        margin-bottom: 0;
    }

    .page-wrap section.help h3 {
        font-size: 14px;
        line-height: 22px;
    }
}

@media only screen and (max-width: 510px) {

    .page-wrap section .container .price {
        font-size: 35px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .page-wrap section .container .muted-link {
        margin: 12px 0;
        font-size: 10px;
    }

    .page-wrap section.first-screen h1 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .page-wrap section.first-screen h3 {
        margin-bottom: 12px;
        line-height: 14px;
        max-width: 270px;
    }

    .page-wrap section.first-screen .btn {
        margin-bottom: 10px;
    }

    .page-wrap section. .bottle-animation h3 {
        max-width: 270px
    }

    .page-wrap section.order .center-bottle {

    }

    .page-wrap section .container {
        max-width: 95%;
    }

    .page-wrap section.bonus .col-md-6.col-xs-6.pull-left {
        padding-right: 50px;
    }

    .page-wrap section.bonus .col-md-6.col-xs-6.pull-right {
        padding-left: 50px;
    }

    .page-wrap section.help h3 br {
        display: block;
    }
}


