<waft-header page="the-new-you" [scentCode]="kiosk.isEnabled()?scentCode:null"></waft-header>
<div class="page-wrap">
    <section class="first-screen" cdn-bg-src="/assets/img/wizard/theNewYou3/white_bg.jpg">
        <div class="container">
            <h1>Say Hello to The New You</h1>
            <h3>This is your unique signature fragrance - personalised just for you</h3>
            <div class="sm col-md-4 col-xs-3">
                <div class="pull-right sm-left">
                    <span class="free-tag">Free</span>
                    <h4>{{wizard.order.journey.timeOfDay=='day'?'Intensify':'Freshen'}}</h4>
                    <p>15ml</p>
                    <img cdn-src="/assets/img/wizard/theNewYou3/bottle-15ml.png"/>
                </div>
            </div>
            <div class="col-md-4 col-xs-6 center-bottle">
                <h4>The New You</h4>
                <p>{{wizard.order.getMainOrderVolume()}}</p>
                <img class="bottle" cdn-src="/assets/img/wizard/theNewYou3/bottle-100ml.png"/>
                <div class="name {{wizard.order.journey.customBottle.style}}">
                    {{wizard.order.journey.customBottle.name}}
                </div>
                <div class="message {{wizard.order.journey.customBottle.style}}">
                    {{wizard.order.journey.customBottle.message}}
                </div>
            </div>
            <div class="sm col-md-4 col-xs-3">
                <div class="sm-right">
                    <span class="free-tag">Free</span>
                    <h4>Dare</h4>
                    <p>15ml</p>
                    <img cdn-src="/assets/img/wizard/theNewYou3/bottle-15ml.png"/>
                </div>
            </div>
            <div class="clearfix"></div>
            <span class="price">
                {{wizard.country.price.getPriceString(wizard.order.getMainOrderSize(), false)}}
                <div style="font-size: 0.3em" *ngIf="wizard.country.price.isFreeShipping(wizard.order.getMainOrderSize())">FREE SHIPPING</div>
            </span>
            <a class="btn btn-red" (click)="wizard.buyFragrance(wizard.order.getMainOrderSize())">ORDER NOW</a>
            <div class="clearfix"></div>
            <a *ngIf="allowSamples()" class="muted-link" (click)="this.samplesModal.open()">
                TRY THEM FIRST &ndash; ONLY {{wizard.country.price.getPriceString('samples', false)}}
            </a>
            <div class="clearfix"></div>
        </div>
    </section>
    <section class="bottle-animation">
        <div class="container">
            <h2>
                Discover the future of Perfume. Your Perfume.
            </h2>
            <h3>
                Made by some of the finest perfume Noses in the world. Just for you.
            </h3>
            <div id="mi1" class="mobile-inner hidden-lg">
                <div class="col-xs-12" *ngIf="showPerfumeDetails() && scentCode">
                    <h2>
                        Every drop counts
                    </h2>
                    <h5>Meet your New You</h5>
                    <p>
                        {{description}}
                    </p>
                    <h5>Highlights</h5>
                    <ul>
                        <li><img cdn-src="/assets/img/scents/{{scentCode}}_1.png"/></li>
                        <li><img cdn-src="/assets/img/scents/{{scentCode}}_2.png"/></li>
                        <li><img cdn-src="/assets/img/scents/{{scentCode}}_3.png"/></li>
                        <li><img cdn-src="/assets/img/scents/{{scentCode}}_4.png"/></li>
                    </ul>
                </div>
                <div class="col-xs-12" *ngIf="!showPerfumeDetails()">
                    <h2>
                        Every drop counts
                    </h2>
                    <h5>MEET OUR NOSES</h5>
                    <p class="details">
                        Our fragrances are designed by the top perfumers in the world.
                        They are the award-winning scent stars behind some of the most
                        renowned fragrances and now their noses are helping personalise your olfactive identity
                    </p>
                    <ul>
                        <li><img cdn-src="/assets/img/wizard/theNewYou3/hand.jpg"/></li>
                        <li><img cdn-src="/assets/img/wizard/theNewYou3/val.jpg"/></li>
                        <li><img cdn-src="/assets/img/wizard/theNewYou3/mini_bottles.jpg"/></li>
                    </ul>
                </div>
            </div>
            <div id="mi2" class="mobile-inner hidden-lg">
                <div class="col-xs-12" *ngIf="showPerfumeDetails() && scentCode">
                    <h2>
                        Fragrance DNA
                    </h2>
                    <h5>Inside the inside</h5>
                    <div class="spider-diagram">
                        <spider-diagram [accords]="accords" [fontSize]="'14px'" [lineHeight]="'14px'"></spider-diagram>
                    </div>
                </div>
                <div class="col-xs-12" *ngIf="!showPerfumeDetails()">
                    <h2>
                        Fragrance DNA
                    </h2>
                    <h5>INSIDE OUR BOTTLES</h5>
                    <p class="details">
                        Only the highest quality ingredients sourced from nature's finest in partnership with
                        the world leading fragrance experts,
                        International Flavors & Fragrances
                    </p>
                    <div class="wheel">
                        <img cdn-src="/assets/img/wizard/theNewYou3/wheel.jpg"/>
                    </div>
                </div>
            </div>
        </div>
        <div id="wrapper">
            <div class="item" id="cap">
                <div id="capin" cdn-bg-src="/assets/img/wizard/theNewYou3/parallax/cap.png"></div>
            </div>
            <div class="item" id="spray">
                <div id="sprayin" cdn-bg-src="/assets/img/wizard/theNewYou3/parallax/spray.png"></div>
            </div>
            <div class="item" id="crew">
                <div id="crewin" cdn-bg-src="/assets/img/wizard/theNewYou3/parallax/inner-crew.png"></div>
            </div>
            <div class="item" id="water">
                <div id="waterin" cdn-bg-src="/assets/img/wizard/theNewYou3/parallax/water.png"></div>
            </div>
            <div class="item" id="bottle">
                <div class="inner-content hidden-sm">
                    <div style="max-width: 1100px; margin: 0 auto;">
                        <div class="col-md-4 text-left" *ngIf="showPerfumeDetails() && scentCode">
                            <h2>
                                Every drop counts
                            </h2>
                            <h5>Meet your New You</h5>
                            <p>
                                {{description}}
                            </p>
                            <h5>Highlights</h5>
                            <ul>
                                <li><img cdn-src="/assets/img/scents/{{scentCode}}_1.png"/></li>
                                <li><img cdn-src="/assets/img/scents/{{scentCode}}_2.png"/></li>
                                <li><img cdn-src="/assets/img/scents/{{scentCode}}_3.png"/></li>
                                <li><img cdn-src="/assets/img/scents/{{scentCode}}_4.png"/></li>
                            </ul>
                        </div>
                        <div class="col-md-4 text-left" *ngIf="!showPerfumeDetails()">
                            <h2>
                                Every drop counts
                            </h2>
                            <h5>MEET OUR NOSES</h5>
                            <p class="details">
                                Our fragrances are designed by the top perfumers in the world.
                                They are the award-winning scent stars behind some of the most
                                renowned fragrances and now their noses are helping personalise your olfactive identity
                            </p>
                            <ul>
                                <li><img cdn-src="/assets/img/wizard/theNewYou3/hand.jpg"/></li>
                                <li><img cdn-src="/assets/img/wizard/theNewYou3/val.jpg"/></li>
                                <li><img cdn-src="/assets/img/wizard/theNewYou3/mini_bottles.jpg"/></li>
                            </ul>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-left" *ngIf="showPerfumeDetails() && scentCode">
                            <h2>
                                Fragrance DNA
                            </h2>
                            <h5>Inside the inside</h5>
                            <div class="spider-diagram">
                                <spider-diagram [accords]="accords" [fontSize]="'14px'"
                                                [lineHeight]="'18px'"></spider-diagram>
                            </div>
                        </div>
                        <div class="col-md-4 text-left" *ngIf="!showPerfumeDetails()">
                            <h2>
                                Fragrance DNA
                            </h2>
                            <h5>INSIDE OUR BOTTLES</h5>
                            <p class="details">
                                Only the highest quality ingredients sourced from nature's finest in partnership with
                                the world leading fragrance experts,
                                International Flavors & Fragrances
                            </p>
                            <div class="wheel">
                                <img cdn-src="/assets/img/wizard/theNewYou3/wheel.jpg"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="bottlein" class="{{wizard.order.journey.customBottle.style}}"
                     cdn-bg-src="/assets/img/wizard/theNewYou3/parallax/bottle.png">
                    <div class="name">{{wizard.order.journey.customBottle.name}}</div>
                    <div class="message">{{wizard.order.journey.customBottle.message}}</div>
                </div>
            </div>
        </div>
    </section>
    <section class="bonus">
        <div class="container">
            <h2>Say Hello to your Layering Scents!</h2>
            <h3>
                Your custom-designed fragrance comes with two complimentary scents selected by our expert perfumers.
                Wear them separately OR layer and mix. Experiment & enjoy discovering the seven different combinations of your new olfactive self.
            </h3>
            <a class="play" (click)="learingModal.open()" cdn-bg-src="/assets/img/wizard/theNewYou3/video_preview.jpg">
                <img cdn-src="/assets/img/wizard/theNewYou3/play.svg"/>
                <span class="clearfix"></span>
            </a>
            <modal #learingModal [hideCloseButton]="true" [closeOnEscape]="true">
                <modal-content>
                    <layering-popup (closeModal)="learingModal.close()"></layering-popup>
                </modal-content>
            </modal>
            <div class="clearfix"></div>
            <div class="col-md-6 col-xs-6 pull-right">
                <img cdn-src="/assets/img/wizard/theNewYou3/bottle-15ml.png" class="pull-right hidden-xs"/>

                <div class="pull-right sm-box">
                    <span class="free-tag">Free</span>
                    <h4>{{wizard.order.journey.timeOfDay=='day'?'Intensify':'Freshen'}}</h4>
                    <p class="ml">15ml</p>
                    <p class="hidden-xs">
                        Layering a touch of this fragrance on top of your Waft custom fragrance will transform it into a
                        {{wizard.order.journey.timeOfDay=='night'?'lighter, fresher daytime':'more intensive, night-time'}}
                        appropriate scent.
                    </p>
                </div>
                <img cdn-src="/assets/img/wizard/theNewYou3/bottle-15ml.png" class="hidden-lg"/>

            </div>
            <div class="col-md-6 col-xs-6 pull-left">
                <img cdn-src="/assets/img/wizard/theNewYou3/bottle-15ml.png" class="pull-left hidden-xs"/>
                <div class="pull-left sm-box">
                    <span class="free-tag">Free</span>
                    <h4>Dare</h4>
                    <p class="ml">15ml</p>
                    <p class="hidden-xs">
                        This layer will transform your custom fragrance into a more daring perfume, perfect for when
                        you’re feeling a little edgy.
                    </p>
                </div>

                <img cdn-src="/assets/img/wizard/theNewYou3/bottle-15ml.png" class="hidden-lg"/>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section class="promise">
        <div class="container">
            <div class="col-md-4">
                <img cdn-src="/assets/img/wizard/theNewYou3/leader.png" class="hidden-xs"/>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
                <h2>
                    A Personal Promise
                </h2>
                <p>
                    To whom it deeply concerns,
                </p>
                <p>
                    I would like to thank you for making it this far in the Waft journey. We have put a great deal of
                    love and hard work into creating the experience and are deeply proud of every single customer we
                    earn and every single product that we ship.
                </p>
                <p>
                    For that reason, I feel utterly confident in saying that, based on customer reaction so far, you
                    almost certainly will love what we have created for you. If you are like those who have ordered
                    before you, your first reaction will be - WOW!
                </p>
                <p>
                    You will immediately appreciate the sheer quality of your New You. You will understand, the moment
                    of that first spray, how stunning a fragrance can be when you bring together the world’s finest
                    noses and unleash them on a project with no limitation on quality or cost.
                </p>
                <p>
                    Not sure yet? Try our “live with it for a week” program. Want your perfume sooner and ready to go?
                    Let us show you the future of perfume today.
                </p>
                <p>
                    And if for any reason you decide that it is not for you, don’t forget our No Questions Asked, Money
                    Back Guarantee.
                </p>
                <p>
                    After all of the care and craftsmanship that has gone into creating your fragrance, you should
                    expect us to stand behind our product. And that is exactly what we do, without a moment’s
                    hesitation.
                </p>
                <p>
                    Enjoy!
                </p>
                <span>Valerie Boffy</span> <img class="name" cdn-src="/assets/img/wizard/theNewYou3/xoxo.png"/>
            </div>
            <div class="col-md-4">
                <img cdn-src="/assets/img/wizard/theNewYou3/leader.png" class="hidden-lg"/>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section class="order" cdn-bg-src="/assets/img/wizard/theNewYou3/order-bg.jpg">
        <div class="container">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <h2 class="pull-left">
                    Your Unique <span class="hidden-xs">Waft</span> Fragrance
                </h2>
                <div class="clearfix"></div>
                <div class="rate">
                    <img cdn-src="/assets/img/wizard/theNewYou3/star.svg"/>
                    <img cdn-src="/assets/img/wizard/theNewYou3/star.svg"/>
                    <img cdn-src="/assets/img/wizard/theNewYou3/star.svg"/>
                    <img cdn-src="/assets/img/wizard/theNewYou3/star.svg"/>
                    <img cdn-src="/assets/img/wizard/theNewYou3/star.svg"/>
                    <span>5,384 reviews</span>
                </div>
                <div class="clearfix"></div>
                <div class="reviews"></div>
                <p>
                    “Wow, I'm so excited about the fragrance I received from Waft. It is truly unique and feels
                    absolutely perfect for me. I've never had this experience shopping for traditional perfumes, some
                    appealed to me, but never did they feel so right. What a great concept, and fantastic product.” -
                    DIA, USA
                </p>
                <h5 class="pull-left">Inside the box</h5>
                <div class="clearfix"></div>
                <div class="inbox">
                    <div class="col-md-6 col-xs-6">
                        <h4>The New You</h4>
                        <div>{{wizard.order.getMainOrderVolume()}}</div>
                        <img cdn-src="/assets/img/wizard/theNewYou3/bbottle.svg"/>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <h4>{{wizard.order.journey.timeOfDay=='day'?'Intensify':'Freshen'}}</h4>
                        <div>15ml</div>
                        <img cdn-src="/assets/img/wizard/theNewYou3/sbottle.svg"/>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <h4>Dare</h4>
                        <div>15ml</div>
                        <img cdn-src="/assets/img/wizard/theNewYou3/sbottle.svg"/>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <span class="price">{{wizard.country.price.getPriceString(wizard.order.getMainOrderSize(), false)}}
                    <div style="font-size: 0.3em" *ngIf="wizard.country.price.isFreeShipping(wizard.order.getMainOrderSize())">FREE SHIPPING</div>
                </span>
                <div class="clearfix"></div>
                <a class="btn btn-red pull-left" (click)="wizard.buyFragrance(wizard.order.getMainOrderSize())">order now</a>
                <div class="clearfix"></div>
                <a *ngIf="allowSamples()" class="muted-link pull-left" (click)="samplesModal.open()">
                    TRY THEM FIRST &ndash; ONLY {{wizard.country.price.getPriceString('samples', false)}}
                </a>
                <div class="clearfix"></div>
                <br *ngIf="abtest.isABVariation('NoSamples')"/>
                <img cdn-src="/assets/img/wizard/theNewYou3/payment.png"/>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="center-bottle {{wizard.order.journey.customBottle.style}}">
            <div class="name">{{wizard.order.journey.customBottle.name}}</div>
            <div class="message">{{wizard.order.journey.customBottle.message}}</div>
        </div>
    </section>
    <section class="help">
        <div class="container">
            <h2 class="pull-left">Need help?</h2>
            <h3 class="pull-left">
                Our perfume scientists are ready to help <br> via email or live chat
            </h3>
            <a class="btn btn-white btn-border gray-hover pull-left"
               href="https://support.waft.com/hc/en-us/requests/new"
               target="_blank">Contact Us</a>
            <div class="clearfix"></div>
        </div>
    </section>
</div>
<modal #emailFormModal [hideCloseButton]="true" [closeOnEscape]="false">
    <modal-content>
        <email-form (closeModal)="closeEmailForm()"></email-form>
    </modal-content>
</modal>
<modal #samplesModal [hideCloseButton]="true" [closeOnEscape]="true">
    <modal-content>
        <samples (closeModal)="samplesModal.close()"
                 (onSelectMain)="wizard.buyFragrance(wizard.order.getMainOrderSize())"
                 (onSelectSamples)="wizard.buyFragrance('samples')">
        </samples>
    </modal-content>
</modal>
