.gift-receive {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 80px;
    background-color: white;
}

.gift-receive .container {
    display: inline-block;
    width: 635px;
}

.gift-receive h1 {
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: #5b6367;
    font-family: Montserrat;
    font-weight: 600;
    letter-spacing: 1.8px;
    line-height: 34px;
}

.gift-receive p {
    width: 595px;
    opacity: 0.96;
    color: #a8b5b8;
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: auto auto 20px;
}

.gift-receive .bottle {
    max-width: 245px;
    max-height: 484px;
    width: 100%;
    height: 484px;
    padding: 0;
    margin: 40px auto;
}


.bottle div.initials {
    bottom: 108px;
}

.gift-receive p.small {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #a8b5b8;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 22px;
    width: 456px;
    margin: auto;
}

.gift-receive .btn-red {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1400px) {
    .gift-receive .container .bottle {
        max-height: 254px;
        max-width: 125px;
        height: 254px;
        padding: 0;
    }

    .bottle div.name { /* TODO: check if required or move to bottle.style.css */
        font-size: 12px;

    }

    .bottle div.message {
        font-size: 8px;

    }
}

@media only screen and (max-width: 650px) {
    .gift-receive .container {
        width: 90%;
    }

    .gift-receive p {
        width: 100%;
    }

    .gift-receive h1 {
        font-size: 14px;
        line-height: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .gift-receive p {
        font-size: 12px;
        line-height: 20px;
    }

    .gift-receive p.small {
        font-size: 11px;
        letter-spacing: 2.5px;
        line-height: 20px;
        width: 100%;
    }

    .gift-receive .btn-red {
        margin: 15px auto;
    }
}