<waft-header type="gift"></waft-header>
<div class="gift-receive">
    <div class="container">
        <h1 *ngIf="giftSenderName && (giftSenderName != '')">CONGRATULATIONS - {{giftSenderName}} HAS JUST COMMISSIONED A UNIQUE FRAGRANCE FROM WAFT</h1>
        <h1 *ngIf="(!giftSenderName) || (giftSenderName == '')">CONGRATULATIONS - YOU'VE BEEN GIVEN A UNIQUE FRAGRANCE FROM WAFT</h1>
        <p>Your fragrance is already paid for - now all that's left for you to do is to help us fill this beautiful
            bottle with a personalised fragrance that will be yours forever...</p>
        <bottle-preview [style]="customBottle.style" [name]="customBottle.name"
                        [message]="customBottle.message" [initials]="customBottle.initials">
        </bottle-preview>
        <div class="clear"></div>
        <a class="btn-red btn-red-arrow" (click)="clickContinue()">ENTER THE WAFT LAB</a>
        <p class="small">At the end of the journey, you can even
            customise the bottle further to your taste</p>
        <div class="clearfix"></div>
    </div>
</div>