<div class="journeys-page">
    <div class="row">
        <div class="col-md-12">
            <h2>JOURNEYS</h2>
        </div>
    </div>
    <div class="row">
        <div ui-grid="gridOptions" ui-grid-pagination class="grid" style="height:300px"></div>
    </div>
</div>