<div class="edit-admin-page">
    <div class="row">
        <div class="col-md-12">
            <h2>{{header}}</h2>
        </div>
    </div>
    <div class="row admin-form">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="email">EMAIL</label>
                        <input type="text" class="form-control" id="email" ng-model="admin.email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="pass1" ng-if="!isEditing">PASSWORD</label>
                        <label for="pass1" ng-if="isEditing">NEW PASSWORD</label>
                        <input type="password" class="form-control" id="pass1" ng-model="admin.password1">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="pass2">CONFIRM PASSWORD</label>
                        <input type="password" class="form-control" id="pass2" ng-model="admin.password2">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group btn-group" uib-dropdown>
                        <label>STATUS</label>
                        <button id="status" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                            <span class="selected-text">{{admin.status || 'Select'}} </span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="status">
                            <li ng-repeat="st in statuses" ng-click="selectStatus(st)"><a>{{st}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group btn-group" uib-dropdown>
                        <label>ACCESS LEVEL</label>
                        <button id="accessLevel" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                            <span class="selected-text">{{admin.accessLevel|| 'Select'}} </span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="accessLevel">
                            <li ng-repeat="lev in accessLevels" ng-click="selectAccessLevel(lev)"><a>{{lev}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row buttons">
                <a class="btn btn-default" ng-click="save()">SAVE</a>
                <a ui-sref="app.adminsAccounts" class="btn btn-default">CANCEL</a>
            </div>
            <div class="row error-message">
                <span>{{message}}</span>
            </div>
        </div>
    </div>
</div>
