<!-- This is a copy of scripts & HTML added into body tag for Referral Rock REFERRALS pages

If you want to make changes please edit on Referral Rock site and keep this code updated-->


<div class="wft-bg wft-bg-l"></div>
<div class="wft-bg wft-bg-r"></div>

<script>
$(document).ready(function() {
   $("html").addClass("referralsPage");
});
</script>
