<link rel="prefetch" href="<%= CDN %>/assets/gen/<%= POLYFILL_JS %>"/>
<link rel="prefetch" href="<%= CDN %>/assets/gen/<%= BUNDLE_JS %>"/>
<link rel="prefetch" href="<%= CDN %>/assets/gen/assets/css/<%= APP_STYLE_CSS %>"/>
