.order-card {
    background-color: white;
    border: 1px solid rgba(150, 150, 150, 0.16);
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 1px;
    font-size: 10px;
}

h4 {
    font-weight: 500;
    font-size: 12px;
}

.status img {
    margin-top: 3px;
}

.status .track {
    min-width: 85px;
    max-width: 85px;
    height: 21px;
    margin-bottom: -7px;
    line-height: 21px;
    border-radius: 4px;
}

.status .track:before {
    top: 5px;
}

.ship-to, .journey-details, .order-details, .sample-info, .gift-link {
    margin-top: 30px;
}

p.link {
    margin: 8px 0 10px;
    word-break: break-all;
}

.sample {
    padding-left: 8px;
}

.sample-actions, .order-actions {
    margin-top: 20px;
}

.btn {
    height: 42px;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.8px;
    line-height: 42px;
    text-indent: -22px;
    display: inline-block;
    width: 28%;
    margin-right: 20px;
    min-width: 145px;
    max-width: 100%;
}

.btn.btn-copy {
    color: white;
    text-indent: 0;
    background-color: #a8b5b8;

    &:hover {
        background-color: #f10733;
    }
}

.btn.btn-green:before {
    position: absolute;
    top: 15px;
    right: 10px;
    display: block;
    content: '';
    background-image: url("/assets/img/icons.png");
    width: 15px;
    height: 11px;
    background-position: -17px -93px;
}

.btn.btn-gray {
    background-color: #5b6367;
}

.btn.btn-gray:before {
    position: absolute;
    top: 17px;
    right: 15px;
    display: block;
    content: '';
    background-image: url("/assets/img/icons.png");
    width: 9px;
    height: 9px;
    background-position: -95px -79px;
}

.btn.btn-gray:hover {
    background-color: #4A5155;
}

.btn.btn-yellow:before {
    position: absolute;
    top: 10px;
    right: 12px;
    display: block;
    content: '';
    background-image: url("/assets/img/profile/change.svg");
    width: 18px;
    height: 20px;
}

@media (max-width: 768px) {
    .status, .order {
        margin-top: 30px;
    }
}

@media (max-width: 450px) {
    .btn {
        width: 100%;
    }
}