<div class="order-card">
    <div>
        <div class="order-placed col-md-3 col-sm-3 col-xs-6">
            <h4>ORDER PLACED</h4>
            <span>{{order.createdAt| date:'yMMMMd'}}</span>
        </div>
        <div class="total-amount col-md-3 col-sm-3 col-xs-6">
            <h4>TOTAL AMOUNT</h4>
            <span>{{order.currencySymbol+order.amount}}</span>
        </div>
        <div class="status col-md-3 col-sm-3 col-xs-6">
            <h4>STATUS</h4>
            <img cdn-src="/assets/img/profile/green_dot.svg" *ngIf="isGreen(order.status)">
            <img cdn-src="/assets/img/profile/yellow_dot.svg" *ngIf="!isGreen(order.status)">
            <span>
                {{order.status}}
            </span>
            <a *ngIf="getTrackLink()!=''" class="btn btn-green track" href="{{getTrackLink()}}"
               target="_blank">Track</a>
        </div>
        <div class="order col-md-3 col-sm-3 col-xs-6">
            <h4>ORDER #</h4>
            <span>{{order._id.slice(-6)}}</span>
        </div>
    </div>
    <div>
        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="order-details">
                <h4>ORDER DETAILS</h4>
                <div *ngIf="order.status!='Gift Invitation'">
                    <span>{{getBottleSize('main')}} New You {{getScentCode('main')}}</span><br>
                    <span>{{getBottleSize('secondary')}} {{getScentType('add1')}} {{getScentCode('add1')}}</span><br>
                    <span>{{getBottleSize('secondary')}} {{getScentType('add2')}} {{getScentCode('add2')}}</span>
                </div>
                <div *ngIf="order.status=='Gift Invitation'">
                    <span>{{getBottleSize('main')}} New You</span><br>
                    <span>2x15ml</span><br>
                </div>

            </div>
            <div class="ship-to" *ngIf="order.delivery">
                <h4>SHIP TO</h4>
                <span *ngIf="order.delivery.fullName">{{order.delivery.fullName}}<br></span>
                <span *ngIf="order.delivery.addressLine1">{{order.delivery.addressLine1+' '+order.delivery.addressLine2}}<br></span>
                <span *ngIf="order.delivery.city&&order.delivery.county">{{order.delivery.city+' '+order.delivery.county}}<br></span>
                <span>{{order.delivery.country+' '+order.delivery.zipCode}}</span><br>
                <span *ngIf="order.delivery.phoneNumber">{{order.delivery.phoneNumber}}<br></span>
            </div>
        </div>
        <div class="journey-details col-md-7 col-sm-7 col-xs-12">
            <h4>JOURNEY DETAILS</h4>
            <label>Answers:</label>
            <span *ngIf="order.journey">
            <span>{{order.journey.gender||'none'}} / </span>
            <span>{{order.journey.timeOfDay||'none'}} / </span>
            <span>{{order.journey.activity||'none'}} / </span>
            <span>{{order.journey.mood||'none'}} / </span>
            <span>{{order.journey.personalStyle||'none'}} / </span>
            <span>{{order.journey.waft||'none'}}</span>
            </span>
            <br>
            <label>Ingredients:</label>
            <span *ngIf="order.journey&&order.journey.ingredients">
                {{order.journey.ingredients.join(', ') }}
            </span><br>
            <div *ngIf="order.customBottle">
                <label>Bottle Name:</label>
                <span>{{order.customBottle.name}}</span><br>
                <label>Bottle Message:</label>
                <span>{{order.customBottle.message}}</span><br>
                <label>Bottle Initials:</label>
                <span>{{order.customBottle.initials}}</span>
            </div>
            <div *ngIf="(order.type=='WaftLab') && order.customPackaging && order.customPackaging.firstName">
                <label>Name for Package
                    Personalisation: </label>
                <span>{{order.customPackaging.firstName}}</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="order.status=='Gift Invitation'">
            <div class="gift-link">
                <h4>GIFT REDEMPTION LINK</h4>
                <p class="link">{{ linkForGift }}</p>
                <button class="btn btn-copy" [clipboard]="linkForGift" (clipboardCopy)="onCopy()">
                    <span *ngIf="!isCopied">COPY LINK</span>
                    <span *ngIf="isCopied">COPIED</span>
                </button>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <div *ngIf="order.orderSize!='samples'&&order.journey" class="order-actions">
        <a class="btn btn-green" (click)="profile.orderAgain(order)">ORDER AGAIN</a>
    </div>
    <div *ngIf="order.orderSize=='samples'" class="sample">
        <div class="sample-info" *ngIf="order.samplesStatus=='Pending'">
            <span>Trial ends in: </span>
            <span *ngIf="order.status!='Delivered'">10 days from delivery date</span>
            <span *ngIf="order.status=='Delivered'">{{order.deliveredOn | remainingTime}}</span><br>
            <span *ngIf="order.promoCode">Main Order Amount (including {{order.promoCode}} promo code):
                {{order.currencySymbol+order.amountMain}}</span>
            <span *ngIf="!order.promoCode">Main Order Amount: {{order.currencySymbol+order.amountMain}}</span>
        </div>
        <div class="sample-actions" *ngIf="canChangeSample()">
            <a [class.disabled]="isProcessing" class="btn btn-green" *ngIf="order.status == 'Delivered'"
               (click)="expediteOrder(order._id)">EXPEDITE MAIN ORDER</a>
            <a [class.disabled]="isProcessing" class="btn btn-yellow" *ngIf="order.status == 'Delivered'"
               (click)="changePrimary(order)">CHANGE</a>
            <a [class.disabled]="isProcessing" class="btn btn-gray"
               (click)="this.cancelModal.open()">CANCEL MAIN ORDER</a>
        </div>
        <span *ngIf="order.samplesStatus">
            {{order.samplesStatus!='Pending'? 'Main Order Trial: '+(order.samplesStatus | uppercase):''}}
        </span>

        <modal #cancelModal [hideCloseButton]="true" [closeOnEscape]="true">
            <modal-content>
                <canceling-popup (closeModal)="cancelModal.close()"
                                 (cancelOrder)="cancelOrder(order._id, $event)"></canceling-popup>
            </modal-content>
        </modal>
        <modal #changePrimaryFragranceModal [hideCloseButton]="true" [closeOnEscape]="true">
            <modal-content>
                <change-primary-fragrance (onClose)="closeModal()"></change-primary-fragrance>
            </modal-content>
        </modal>
    </div>
</div>