<div class="ctabuttons-section">
    <div class="ctabuttons-box hidden-xs">
        <div class="t1">{{__ "Personalised"}} perfu<span class="redme">me</span>: <br>{{__ "SUBTITLE"}}</div>
        <div class="ll ll1">
            <h5>{{__ "foryou.header"}}</h5>
            <p>{{__ "foryou.tagline.line1"}}<br/>{{__ "foryou.tagline.line2"}}</p>
            <a href="/app/wizard/type" class="ctabutton ctabutton-lab"><span>{{__ "foryou.button.line1"}}</a>
        </div>
        <div class="ll ll2">
            <h5>{{__ "togift.header"}}</h5>
            <p>{{__ "togift.tagline"}}</p>
            <a href="/gift" class="ctabutton ctabutton-gift"><span>{{__ "togift.button.line1"}}</span></a>
        </div>
    </div>
    <div class="ctabuttons-box hidden-sm hidden-lg show-xs">
        <div class="t1">{{__ "Personalised"}} perfu<span class="redme">me</span>: <br>{{__ "SUBTITLE"}}</div>
        <div class="ll ll1">
            <a href="/app/wizard/type" class="ctabutton sm ctabutton-lab"><span>{{__ "foryou.header"}}</span></a>
        </div>
        <div class="ll ll2">
            <a href="/gift" class="ctabutton sm ctabutton-gift"><span>{{__ "togift.header"}}</span></a>
        </div>
    </div>
</div>
