<meta property="og:url" content="https://waft.com" />
<meta property="og:title" content="Personalised Perfume. For Her. For Him. For You." />
<meta property="og:description" content="Create your own luxury fragrance online. Quality ingredients sourced by the top noses in the industry. Design, layer, rock a fragrance experience that is uniquely, fragrantly yours like none other." />
<meta property="og:image" content="{{staticBase}}/assets/img/facebook_share.jpg" />