{{#unless short}}
  <div id="big_footer" class="footer-links">
    <div class="ct">
      <div class="logo-section">
        <a href="/" class="logo"><img width="144" height="56"
                                      src="{{staticBase}}/assets/img/logo/{{__ "waftlogo-dark"}}"
                                      alt=""></a>
        <div class="social">
          <!--<a href="#" class="j1" target="_blank"></a>-->
          <a href="https://facebook.com/waftperfume" class="j2" target="_blank"></a>
          <a href="https://www.instagram.com/waftperfume/" class="j3" target="_blank"></a>
        </div>
      </div>
      <div class="links-section three-cols">
        <ul>
          <li>
            <ul>
              <li><a href="/about">{{__ "About Us"}}</a></li>
              <li><a href="/quality">{{__ "Quality"}}</a></li>
              <li><a href="https://blog.waft.com/">{{__ "Blog"}}</a></li>
              <li><a href="https://support.waft.com/">Support</a></li>
              <!--<li><a href="/corporate">{{__ "Business Customers"}}</a></li>-->
            </ul>
          </li>
          <li>
            <ul>
              <li><a href="/referral-program">Referral Program</a></li>
              <li><a href="https://support.waft.com/hc/en-us/categories/204541687-FAQ">{{__ "FAQ"}}</a></li>
              <li><a href="https://support.waft.com/hc/en-us/articles/235465768-Shipping">{{__ "Shipping"}}</a></li>
              <li><a href="https://support.waft.com/hc/en-us/requests/new">Contact Us</a></li>
            </ul>
          </li>
          <li>
            <ul>
              <li><a href="/careers">{{__ "Jobs & Careers"}}</a></li>
              <li><a href="/terms">{{__ "Terms & Conditions"}}</a></li>
              <li><a href="/privacy">{{__ "Privacy Policy"}}</a></li>
              <li><a href="https://support.waft.com/hc/en-us/articles/235465748-Returns">{{__ "Returns Policy"}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="links-section two-cols">
        <div>
          <ul>
            <li>
              <ul>
                <li><a href="/about">{{__ "About Us"}}</a></li>
                <li><a href="/quality">{{__ "Quality"}}</a></li>
                <li><a href="https://blog.waft.com/">{{__ "Blog"}}</a></li>
                <!--<li><a href="/corporate">{{__ "Business Customers"}}</a></li>-->
                <li><a href="/referral-program">Referral Program</a></li>
                <li><a href="/careers">{{__ "Jobs & Careers"}}</a></li>
                <li><a href="https://support.waft.com/">Support</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="https://support.waft.com/hc/en-us/categories/204541687-FAQ">{{__ "FAQ"}}</a></li>
                <li><a href="https://support.waft.com/hc/en-us/articles/235465768-Shipping">{{__ "Shipping"}}</a></li>
                <li><a href="https://support.waft.com/hc/en-us/articles/235465748-Returns">{{__ "Returns Policy"}}</a>
                </li>
                <li><a href="/terms">{{__ "Terms & Conditions"}}</a></li>
                <li><a href="/privacy">{{__ "Privacy Policy"}}</a></li>
                <li><a href="https://support.waft.com/hc/en-us/requests/new">Contact Us</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
        <div class="social">
          <a href="https://facebook.com/waftperfume" class="j2" target="_blank"></a>
          <a href="https://www.instagram.com/waftperfume/" class="j3" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>
{{/unless}}
<footer id="footer">
  <div class="ct">
    <div class="ll1">
      <p>{{__ "footer.copyright"}}</p>
    </div>
  </div>
</footer>
<link rel="stylesheet" href="{{staticBase}}/assets/css/footer.css" type="text/css"/>
