<div class="landing-footer">
    <div class="form">
        <div class="ct text-center">
            <h5>Sign up for the world’s best fragrance newsletter</h5>
            <form>
                <div>
                    <label class="error"></label>
                    <input type="email" id="userEmail" value="" placeholder="Enter your e-mail address" />
                </div>
                <button type="button" id="subscribeBtn" class="btn btn-green btn-with-arrow">
                    SIGN UP NOW
                </button>
            </form>
        </div>
    </div>
    <div class="ct">
        <div class="help">
            <h4>
                Need help?
            </h4>
            <p class="muted">
                Our perfume scientists are ready to help on the phone or live chat
            </p>
            <a href="#" class="btn btn-border">CONTACT US </a>
        </div>
        <div class="col-lg-2 col-sm-3 col-xs-12">
            <h5>YOUR ACCOUNT</h5>
            <ul>
                <li>
                    <a href="#">Order status</a>
                </li>
                <li>
                    <a href="#">
                        View Cart
                    </a>
                </li>
                <li>
                    <a href="#">
                        Change Your Password
                    </a>
                </li>
                <li>
                    <a href="#">
                        Return an Item
                    </a>
                </li>
                <li>
                    <a href="#">
                        FREE Offer
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 col-sm-3 col-xs-12">
            <h5>YOUR ACCOUNT</h5>
            <ul>
                <li>
                    <a href="#">
                        Shipping Info
                    </a>
                </li>
                <li>
                    <a href="#">
                        Return Policy
                    </a>
                </li>
                <li>
                    <a href="#">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="#">
                        Privacy Policy
                    </a>
                </li>
                <li>
                    <a href="#">
                        In The News
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 col-sm-3 col-xs-12">
            <h5>YOUR ACCOUNT</h5>
            <ul>
                <li>
                    <a href="#">
                        Reviews
                    </a>
                </li>
                <li>
                    <a href="#">
                        Special Offers
                    </a>
                </li>
                <li>
                    <a href="#">
                        Contacy Us
                    </a>
                </li>
                <li>
                    <a href="#">
                        About The Lab
                    </a>
                </li>
                <li>
                    <a href="#">
                        Job Opportunities
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="copyrights">
            Copyright © 2017 WaftLabs. All Rights Reserved.
        </div>
        <div class="payment">
            <img src="{{staticBase}}/assets/img/landing/flogo-waft.png" alt="#" />
            <img src="{{staticBase}}/assets/img/landing/flogo-payment.png" alt="#" />
        </div>
    </div>
</div>
