<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <link href= "css/ie8.css" rel= "stylesheet" media= "all" />
<![endif]-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
{{!-- <script src="{{staticBase}}/assets/js/vendor/jquery.min.js"></script> --}}
<script async src="{{staticBase}}/assets/js/common.js"></script>