<header id="header">
    <div class="ct">
        <div class="mobile-menu"><span></span></div>
        <a href="/" class="logo" style="background-image: url({{staticBase}}/assets/img/logo/{{__ "waftlogo-dark"}})"></a>
        <div class="main-menu">
            <ul>
                {{#if home}}
                    <li><a href="javascript:void(0)" scrollanchor="howItWorks">{{__ "HOW IT WORKS"}}</a></li>
                {{else}}
                    <li><a href="/">{{__ "HOME"}}</a></li>
                {{/if}}
                {{#unless gift}}
                    <li><a href="/gift">{{__ "GIFT"}}</a></li>
                {{/unless}}
                <!--<li><a href="/corporate">CORPORATE</a></li>-->
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/quality">QUALITY</a></li>
                <li><a href="https://blog.waft.com/">{{__ "BLOG"}}</a></li>
                <li><a href="https://support.waft.com/hc/en-us/categories/204541687-FAQ">{{__ "FAQ"}}</a></li>
                <li><a href="https://support.waft.com/hc/en-us/requests/new">{{__ "CONTACT US"}}</a></li>
                <li class="sign-in-menu"><a href="/app/profile">SIGN IN</a></li>
            </ul>
        </div>
        <div class="rr1">
            <!--<a class="st1" href="https://support.waft.com/hc/en-us/articles/235465768-Shipping">-->
                <!--{{__ "WORLDWIDE DELIVERY"}}-->
            <!--</a>-->
            <div class="sign-in-button">
                <a href="/app/profile">SIGN IN</a>
            </div>
        </div>
    </div>
</header>
