<div style="text-align: center; padding-top: 40px; padding-bottom: 30px;  background-color: #F0F0F0;">
    <h2><a href="https://www.instagram.com/waftperfume/" target="_blank">FOLLOW US ON INSTAGRAM @WAFTPERFUME</a></h2>
</div>
<iframe src="https://snapwidget.com/embed/279899" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:240px"></iframe>
