<div id="revolution" class="main-video">
    <div class="col-lg-6">
        <div class="text-block waftdetails">
            <img src="{{staticBase}}/assets/img/landing/video.png" width="50" height="40">
            <p>
                The WAFT Revolution is stirring up the world of fragrance! We conceived Waft with one goal in mind—to create world-class perfumes, uniquely tailored to each person who wears it. We’ve partnered with the world’s leading fragrance experts at IFF to bring our innovative vision to life.
            </p>
            <p>
                With Waft, not only do you get to customise your own fragrance, but also accessorise it with our exclusive layering method, allowing you to take charge and refine your perfume to fit your lifestyle.
            </p>
        </div>
    </div>
    <div class="col-lg-6 video-block no-padding">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_o4Q1fsyzds?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="clearfix"></div>
</div>
