<div class="customers">
    <div class="ct">
        <h2>And yes, we have lots of happy customers!</h2>
        <h3>See what they're saying</h3>
    </div>

    <div class="cent-slide">
        <div>
            <div class="item">
                <h3>
                    DIA, USA
                </h3>
                <p>
                    “Wow, I'm so excited about the fragrance I received from Waft. It is truly unique and feels absolutely perfect for me. I've never had this experience shopping for traditional perfumes, some appealed to me, but never did they feel so right. What a great concept, and fantastic product.”
                </p>
                <div class="clearfix"></div>
            </div>
        </div>
        <div>
            <div class="item small">
                <h3>
                    MONICA, USA
                </h3>
                <p>
                    “Hello, I just received my samples and I cannot be more impressed. Every single one smells absolutely amazing!”
                </p>
                <div class="clearfix"></div>
            </div>
        </div>
        <div>
            <div class="item small">
                <h3>
                    STEFFI, SINGAPORE
                </h3>
                <p>
                    “I recently bought a set of perfume from you guys and fell in love with the first spray of it.”
                </p>
                <div class="clearfix"></div>
            </div>
        </div>
        <div>
            <div class="item">
                <h3>
                    PAULO, SINGAPORE
                </h3>
                <p>
                    “After going through the journey on the Waft lab I received my testers and I could not be happier with my new fragrances. Absolutely fantastic and unique. I can't wait to receive the full size bottle and additional layering perfumes. I highly recommend.”
                </p>
                <div class="clearfix"></div>
            </div>
        </div>
        <div>
            <div class="item small">
                <h3>
                    LISA, HONG KONG
                </h3>
                <p>
                    “I have received my trial personalized perfume. They are splendid and thus I have expedited. That was just a click...”
                </p>
                <div class="clearfix"></div>
            </div>
        </div>
        <div>
            <div class="item small">
                <h3>
                    AMITH, SINGAPORE
                </h3>
                <p>
                    “Just received my package! It's really really good. Thanks very much! Best part of my day...”
                </p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
