.bottle {
    position: relative;
    display: inline-block;
    margin: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 260px;
    width: 260px;
    height: 527px;
}

.bottle div {
    position: absolute;
    width: 76%;
    margin-right: 12%;
    margin-left: 12%;
    color: #544f4e;
    text-align: center;
    overflow: hidden;
}

.bottle div.name {
    top: 57%;
    font-size: 22px;
    white-space: pre-line;
}

.bottle div.message {
    top: 67%;
    font-size: 18px;
    overflow-wrap: break-word;
    white-space: pre-line;
}

.bottle div.initials {
    position: absolute;
    font-size: 13px;
    right: 0;
    bottom: 18px;
    text-align: right;
    font-family: "Montserrat";
    font-weight: normal;
}

.mobile.bottle {
    display: block;
    width: 180px;
    height: 365px;
    margin: 10% auto;
}

@media only screen and (max-height: 510px) {
    .mobile.bottle {
        margin: 10px auto;
    }
}

.mobile.close {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
}

.mobile.bottle div.name {
    font-size: 16px;
}

.mobile.bottle div.message {
    font-size: 13px;
}

.mobile.bottle div.initials {
    bottom: 5%;
    font-size: 8px;
}