<div class="bottle {{style}}" [class.mobile]="mobile" cdn-bg-src="/assets/img/bottle/big.jpg">
    <div class="name">{{processText(name)}}</div>
    <div class="message">{{processText(message)}}</div>
    <div class="initials">
        {{initials.toUpperCase()}}
    </div>
</div>
