.ll1 {
    max-width: 500px;
    width: auto;
    float: none;
    margin: auto;
}

h1 {
    text-align: left;
    color: #303739;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 25px;
    margin-bottom: 0;
}

.ll1 .t2 {
    color: #6d7a7d;
    font-family: Georgia;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    padding-bottom: 25px;
    text-align: center;
    max-width: 365px;
    margin: auto;
}

@media only screen and (max-width: 680px) {
    .ll1 {
        width: 100%;
    }
}

.clearfix {
    float: none;
    clear: both;
}

hr {
    border-top: 1px solid #F0F0F0;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 25px;
    margin-bottom: 15px;
}

.ll1 h2 {
    text-align: left;
    color: #6D7A7D;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: -15px;
    margin-bottom: 15px;
}

.form-err-message {
    padding-top: 25px;
}