<form #checkoutForm="ngForm" novalidate (ngSubmit)="onSubmit()">
    <div class="ll1">
        <div *ngIf="!auth.isAuth()">
            <h1>YOUR DETAILS</h1>
            <a href="javascript:void(0)" (click)="onLogin.emit()" class="have-account">
                ALREADY HAVE AN ACCOUNT? LOGIN HERE
            </a>
            <div class="side-by-side">
                <div class="input-block">
                    <input type="text" required placeholder="FIRST NAME" (change)="onChangeName()"
                           id="fName" name="fName" [(ngModel)]="regData.firstName" #fName="ngModel"/>
                    <div *ngIf="fName.errors && (fName.touched || showErrors)">
                        <label [hidden]="!fName.errors['required']" class="error">
                            First name is required
                        </label>
                    </div>
                </div>
                <div class="input-block">
                    <input type="text" required placeholder="LAST NAME" (change)="onChangeName()"
                           id="lName" name="lName" [(ngModel)]="regData.lastName" #lName="ngModel"/>
                    <div *ngIf="lName.errors && (lName.touched || showErrors)">
                        <label [hidden]="!lName.errors['required']" class="error">
                            Last name is required
                        </label>
                    </div>
                </div>
            </div>
            <div class="input-block">
                <input type="email" required emailFormat placeholder="E-MAIL" name="aEmail"
                       [(ngModel)]="regData.email" #aEmail="ngModel" /> <!-- TODO: validate if email is in use -->
                <div *ngIf="aEmail.errors && (aEmail.touched || showErrors)">
                    <label [hidden]="!aEmail.errors['required']" class="error">
                        E-mail is required
                    </label>
                    <label [hidden]="!aEmail.errors['emailFormat']" class="error">
                        A valid e-mail address is required
                    </label>
                </div>
            </div>
            <div class="input-block">
                <password-input [password]="regData.password"
                                (onPasswordChange)="changePassword($event)"></password-input>
            </div>
            <hr/>
        </div>
        <div *ngIf="order.isLab() && (order.journey.gift === true)">
            <h1>RECIPIENT DETAILS</h1>
            <h2>WE NEED THIS TO PERSONALISE THE PACKAGING</h2>
            <div class="input-block">
                <span><input type="text" required placeholder="RECIPIENT FIRST NAME" id="customPackagingFName"
                             name="customPackagingFName" [(ngModel)]="order.customPackaging.firstName"
                             #customPackagingFName="ngModel"></span>
                <div *ngIf="customPackagingFName.errors && (customPackagingFName.touched || showErrors)">
                    <label [hidden]="!customPackagingFName.errors['required']" class="error">First name is
                        required</label>
                </div>
            </div>
            <hr/>
        </div>

        <h1>SHIPPING ADDRESS</h1>
        <div *ngIf="order.isGift() && (!order.isGiftRedemption)">
            <div>
                <input type="checkbox" class="radio" id="notifyRecepient" name="notifyRecepient"
                       [(ngModel)]="isNotifyRecipient" (change)="changeAddressOption(1)"/>
                <label for="notifyRecepient">
                    ASK THE RECIPIENT FOR THEIR ADDRESS ON YOUR BEHALF
                </label>
            </div>
            <div class="clearfix"></div>
            <div class="input-block" *ngIf="isNotifyRecipient">
                <country-select [address]="order.delivery"
                                [showErrors]="showErrors" (onCountryChange)="onCountryChange.emit($event)">
                </country-select>
            </div>
            <div class="clearfix"></div>
            <div>
                <input type="checkbox" class="radio" id="provideAddressYourself" name="provideAddressYourself"
                       [(ngModel)]="isProvideAddressYourself" (change)="changeAddressOption(2)"/>
                <label for="provideAddressYourself">
                    PROVIDE THE RECIPIENT'S SHIPPING ADDRESS YOURSELF
                </label>
            </div>
            <div class="clearfix"></div>
        </div>
        <div *ngIf="order.isLab() || isProvideAddressYourself || order.isGiftRedemption">
            <div class="input-block">
                <input type="text" name="fullName" required placeholder="FULL NAME"
                       [(ngModel)]="order.delivery.fullName" #fullName="ngModel" maxlength="100">
                <div *ngIf="fullName.errors && (fullName.touched || showErrors)">
                    <label [hidden]="!fullName.errors['required']" class="error">Full name is required</label>
                </div>
            </div>
            <div class="input-block">
                <input type="text" required name="addressLine1" placeholder="ADDRESS LINE 1"
                       [(ngModel)]="order.delivery.addressLine1" #addressLine1="ngModel" maxlength="50">
                <div *ngIf="addressLine1.errors && (addressLine1.touched || showErrors)">
                    <label [hidden]="!addressLine1.errors['required']" class="error">Address is required</label>
                </div>
            </div>
            <div class="input-block">
                <input type="text" name="addressLine2" placeholder="ADDRESS LINE 2"
                       [(ngModel)]="order.delivery.addressLine2"
                       maxlength="50">
            </div>
            <div *ngIf="order.delivery.hasCounty() || order.delivery.hasCity()"
                [class.side-by-side]="order.delivery.hasCounty() && order.delivery.hasCity()">
                <div class="input-block" *ngIf="order.delivery.hasCity()">
                    <input type="text" required name="city"
                           placeholder="{{order.delivery.getCityLabel().toUpperCase()}}"
                           [(ngModel)]="order.delivery.city" #city="ngModel">
                    <div *ngIf="city.errors && (city.touched || showErrors)">
                        <label [hidden]="!city.errors['required']" class="error">{{order.delivery.getCityLabel()}} is
                            required</label>
                    </div>
                </div>
                <div class="input-block" *ngIf="order.delivery.hasCounty()">
                    <div *ngIf="order.countryCode!='US'">
                        <input type="text" required name="county"
                               placeholder="{{order.delivery.getCountyLabel().toUpperCase()}}"
                               [(ngModel)]="order.delivery.county" #county="ngModel" maxlength="50">
                        <div *ngIf="county.errors && (county.touched || showErrors)">
                            <label [hidden]="!county.errors['required']" class="error">{{order.delivery.getCountyLabel()}}
                                is
                                required</label>
                        </div>
                    </div>
                    <state-select *ngIf="order.countryCode=='US'" [address]="order.delivery" [showErrors]="showErrors"
                                  (onStateChange)="changeState($event)">
                    </state-select>
                </div>
            </div>
            <div class="input-block">
                <country-select [address]="order.delivery" [showErrors]="showErrors"
                                (onCountryChange)="changeCountry($event)"
                                [allowCountryChange]="!order.isGiftRedemption">
                </country-select>
            </div>
            <div [class.side-by-side]="order.delivery.hasPostal()">
                <div class="input-block" *ngIf="order.delivery.hasPostal()">
                    <input type="text" required [postalCode]="order.delivery.countryObj.countryCode" name="zipCode"
                           [placeholder]="order.delivery.getPostal().toUpperCase()"
                           [(ngModel)]="order.delivery.zipCode" #zipCode="ngModel" maxlength="20">
                    <div *ngIf="zipCode.errors && (zipCode.touched || showErrors)">
                        <label [hidden]="!zipCode.errors['required']" class="error">{{order.delivery.getPostal()}} is
                            required</label>
                        <label [hidden]="!zipCode.errors['postalCode']" class="error">Invalid
                            {{order.delivery.getPostal()}}</label>
                    </div>
                </div>
                <div class="input-block">
                    <input type="tel" required [phoneNumberFormat]="order.countryCode"
                           name="phoneNumber" placeholder="PHONE"
                           [(ngModel)]="phone" #phoneNumber="ngModel"
                           maxlength="20">
                    <div *ngIf="phoneNumber.errors && (phoneNumber.touched || showErrors)">
                        <label [hidden]="!phoneNumber.errors['required']" class="error">
                            Phone number is required by our shipping courier
                        </label>
                        <label [hidden]="!phoneNumber.errors['phoneNumberFormat']" class="error">
                            Invalid Phone Number
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="ll1">
            <div class="form-err-message">{{message}}</div>
            <button type="submit" class="btn btn-red btn-red-arrow" [class.disabled]="isProcessing">
                {{submitCTA}}
            </button>
        </div>
        <div class="clearfix"></div>
    </div>
</form>
