<div class="create-scent-page">
    <div class="row">
        <div class="col-md-12">
            <h2>{{header}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
              <label for="iCode">CODE</label>
              <input type="text" class="form-control" id="iCode" ng-model="scent.code">
            </div>
            <div class="form-group">
                <label for="iName">NAME</label>
                <input type="text" class="form-control" id="iName" ng-model="scent.name">
            </div>
            <div class="form-group">
                <label for="iIFFNAME">IFFNAME</label>
                <input type="text" class="form-control" id="iIFFNAME" ng-model="scent.iffName">
            </div>
            <div class="form-group">
                <label for="iIFFCODE">IFFCODE</label>
                <input type="text" class="form-control" id="iIFFCODE" ng-model="scent.iffCode">
            </div>
            <div class="form-group">
                <label for="iFAMILY">FAMILY</label>
                <input type="text" class="form-control" id="iFAMILY" ng-model="scent.family">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="iSUBFAMILY">SUBFAMILY</label>
                <input type="text" class="form-control" id="iSUBFAMILY" ng-model="scent.subFamily">
            </div>
            <div class="form-group">
                <label for="iSUBGROUP">SUBGROUP</label>
                <input type="text" class="form-control" id="iSUBGROUP" ng-model="scent.subGroup">
            </div>
            <div class="form-group">
                <label for="iSUBGROUP2">SUBGROUP2</label>
                <input type="text" class="form-control" id="iSUBGROUP2" ng-model="scent.subGroup2">
            </div>
            <div class="form-group">
                <label for="iSUBGROUP3">SUBGROUP3</label>
                <input type="text" class="form-control" id="iSUBGROUP3" ng-model="scent.subGroup3">
            </div>
            <div class="form-group">
                <label for="iSUBGROUP4">SUBGROUP4</label>
                <input type="text" class="form-control" id="iSUBGROUP4" ng-model="scent.subGroup4">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="marketReference">MARKET REFERENCE</label>
                <textarea class="form-control" rows="3" id="marketReference" ng-model="scent.marketReference"></textarea>
            </div>
            <div class="form-group">
                <label for="ikeyIngredients">KEY INGREDIENTS</label>
                <textarea class="form-control" id="ikeyIngredients" rows="3" ng-model="scent.keyIngredients"></textarea>
            </div>
            <div class="form-group">
                <label for="iotherIngredients">OTHER INGREDIENTS</label>
                <textarea class="form-control" id="iotherIngredients" rows="3" ng-model="scent.otherIngredients"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="iDESCRIPTION">DESCRIPTION</label>
                <textarea class="form-control" rows="3" id="iDESCRIPTION" ng-model="scent.description"></textarea>
            </div>
            <div class="form-group">
                <label for="iscentMood">MOOD</label>
                <textarea class="form-control" rows="3" id="iscentMood" ng-model="scent.scentMood"></textarea>
            </div>
            <div class="form-group">
                <label for="iSCENT">SCENT</label>
                <textarea class="form-control" rows="3" id="iSCENT" ng-model="scent.scent"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-xs-6">
                    <label for="exampleInputEmail1">TIME OF DAY</label>
                    <div class="row">
                        <div ng-repeat="item in timeOfDays" class="col-xs-6">
                            <input type="checkbox" ng-model="bool" ng-change="sync(bool, item, scent.timeOfDay)" ng-checked="isChecked(item, scent.timeOfDay)">                            {{item}}
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label for="exampleInputEmail1">PERSONAL STYLE</label>
                    <div class="row">
                        <div ng-repeat="item in personalStyles" class="col-xs-6">
                            <input type="checkbox" ng-model="bool" ng-change="sync(bool, item, scent.personalStyle)" ng-checked="isChecked(item, scent.personalStyle)">                            {{item}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-xs-12">
                    <label for="exampleInputEmail1">MOOD</label>
                    <div class="row">
                        <div ng-repeat="item in moods" class="col-xs-3">
                            <input type="checkbox" ng-model="bool" ng-change="sync(bool, item, scent.mood)" ng-checked="isChecked(item, scent.mood)">                            {{item}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-xs-3">
                    <label for="exampleInputEmail1">STOCK</label>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="checkbox" ng-click="scent.inStock=!scent.inStock" ng-checked="scent.inStock==true">In
                            Stock
                        </div>
                    </div>
                </div>
                <div class="col-xs-9">
                    <label for="exampleInputEmail1">WAFT</label>
                    <div class="row">
                        <div ng-repeat="item in wafts" class="col-xs-4">
                            <input type="radio" ng-click="scent.waft=item" ng-checked="item==scent.waft"> {{item}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-xs-6">
                    <label for="scentGender">GENDER</label>
                    <div class="row">
                        <div ng-repeat="item in genders" class="col-xs-6">
                            <label>
                                <input type="radio" ng-model="bool" ng-checked="item==scent.scentGender" ng-click="scent.scentGender=item">
                                {{item}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label for="exampleInputEmail1">STATUS</label>
                    <div class="row">
                        <div ng-repeat="item in statuses" class="col-xs-6">
                            <input type="radio" ng-click="scent.status=item" ng-checked="item==scent.status"> {{item}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-xs-12">
                    <label for="exampleInputEmail1">ACTIVITY</label>
                    <div class="row">
                        <div ng-repeat="item in activities" class="col-xs-3">
                            <input type="checkbox" ng-model="bool" ng-change="sync(bool, item, scent.activity)" ng-checked="isChecked(item, scent.activity)">                            {{item}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row error-message">
        <span>{{message}}</span>
    </div>
    <div class="row buttons">
        <a class="btn btn-default" ng-click="save()">SAVE</a>
        <a ui-sref="app.scents" class="btn btn-default">CANCEL</a>
    </div>
</div>
