.ll1 {
    float: left;
    width: 50%;
    position: relative;
    text-align: center;
}

.t1 {
    text-align: left;
    color: #303739;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 25px;
    margin-bottom: 15px;
    margin-top: 25px;
}

h2 {
    text-align: left;
    color: #303739;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 25px;
    margin-bottom: 0;
}

/*---------------------------ORDER-SUMMARY-----------------------------*/

.order-summary {
    float: none;
    width: auto;
    max-width: 498px;
    margin: auto;
    margin-bottom: 20px;
}

.order-summary table.order {
    color: #303739;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    border-collapse: collapse;
}

.order-summary table.no-border {
    border-style: hidden;
}

.order-summary table.order tr {
    border-top: 1px solid rgba(151, 151, 151, 0.33);
    border-bottom: 1px solid rgba(151, 151, 151, 0.33);
}

.order-summary table.order tr td {
    padding-top: 20px;
    padding-bottom: 20px;
}

.order-summary table.order tr td:last-child {
    color: #6D7A7D;
    text-align: right;
}

.order-summary table.order tr.total {
    font-size: 1.4em;
}

.order-summary table.order tr.total td:last-child {
    color: #8CBF53;
}

.order-summary table.note {
    color: #7D8284;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.order-summary table.note td {
    padding-top: 20px;
    padding-bottom: 20px;
}

.order-summary table.note p {
    margin-left: 20px;
}

.order-summary table.note img {
    width: 30px;
}

.order-summary table.note span.price {
    font-weight: bold;
}

.order-summary table.note a {
    color: #F10733;
    font-weight: 500;
}


/*---------------------------ORDER-SUMMARY-END-----------------------------*/

.rr2 {
    /*border: 1px solid #f0f0f0;*/
    /*border-radius: 12px;*/
    float: right;
    width: 45%;
    margin-left: 5%;
    position: relative;
    box-sizing: border-box;
    /*margin-top: 30px;*/
    /*padding: 0 10px;*/
}

.rr2 .t1 {
    text-align: center;
}

@media only screen and (max-width: 680px) {
    .rr2 {
        margin-left: 0;
        width: 100%;
    }

    .ll1 {
        width: 100%;
    }
}

.clearfix {
    float: none;
    clear: both;
}

@media only screen and (max-width: 1000px) {
    .ll1 .t1 {
        margin-top: 30px;
    }
}

.order-summary table.order {
    color: #303739;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    border-collapse: collapse;
}

.order-summary table.no-border {
    border-style: hidden;
}

.order-summary table.order tr {
    border-top: 1px solid rgba(151, 151, 151, 0.33);
    border-bottom: none;
}

.order-summary table.order tr td {
    padding-top: 20px;
    padding-bottom: 20px;
}

.order-summary table.order tr td:last-child {
    color: #6D7A7D;
    text-align: right;
}

.order-summary table.order tr.total {
    font-size: 1.4em;
}

.order-summary table.order tr.total td:last-child {
    color: #8CBF53;
}

.order-summary table.note {
    color: #7D8284;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.order-summary table.note td {
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
}

.order-summary table.note p {
    margin-left: 20px;
}

.order-summary table.note img {
    width: 30px;
}

.order-summary table.note span.price {
    font-weight: bold;
}

.order-summary table.note a {
    color: #F10733;
    font-weight: 500;
}