<form #checkoutForm="ngForm" novalidate class="ct" (ngSubmit)="placeOrder()">
    <div class="rr2">
        <div class="t1">ORDER SUMMARY</div>
        <div class="order-summary">
            <table class="order no-border">
                <tr>
                    <td>
                        <ul *ngIf="order.orderSize=='big'">
                            <li>1 X 100ML THE NEW YOU</li>
                            <li>2 X 15ML PERSONALISED MINI YOU</li>
                        </ul>
                        <ul *ngIf="order.orderSize=='medium'">
                            <li>1 X 50ML THE NEW YOU</li>
                            <li>2 X 15ML PERSONALISED MINI YOU</li>
                        </ul>
                        <ul *ngIf="order.orderSize=='small'">
                            <li>3 X 15ML PERSONALISED MINI YOU</li>
                        </ul>
                        <ul *ngIf="order.orderSize=='samples'">
                            <li>3 X 5ML SAMPLES</li>
                        </ul>
                    </td>
                    <td>
                        {{order.delivery.countryObj.price.getPriceString(order.orderSize)}}<br>
                        <span
                            *ngIf="(order.orderSize=='big')||(order.orderSize=='medium')">FREE</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>SHIPPING</div>
                        <small>{{order.delivery.countryObj.price.shipping.getShippingText()}}</small>
                    </td>
                    <td>
                        {{order.delivery.countryObj.price.getShippingPriceString(order.orderSize)}}
                    </td>
                </tr>
                <tr *ngIf="order.payment.promoData && order.orderSize!='samples'">
                    <td>
                        <div>PROMO CODE</div>
                    </td>
                    <td>
                        ({{order.delivery.countryObj.price.getPromoDiscountString(order.orderSize, order.payment.promoData)}})
                    </td>
                </tr>

                <tr class="total">
                    <td>
                        TOTAL
                    </td>
                    <td>{{order.delivery.countryObj.price.getGrandTotalString(order.orderSize, order.payment.promoData)}}
                    </td>
                </tr>
            </table>

            <table class="no-border note" *ngIf="order.orderSize=='samples'">
                <tr>
                    <td>
                        <a (click)="samplesAgreed= !samplesAgreed">
                            <img [hidden]="samplesAgreed"
                                 cdn-src="/assets/img/wizard_checkout/checkbox.svg"/>
                            <img [hidden]="!samplesAgreed"
                                 cdn-src="/assets/img/wizard_checkout/checkbox_checked.svg"/>
                        </a>
                    </td>
                    <td>
                        <p [ngStyle]="{'color': (samplesAgreed||(!samplesValidated))?'':'red'}">
                            Note: I agree to the <a href="/terms" target="_blank">terms</a> and agree that if I
                            do not cancel my order within 10 days of receipt,
                            I will automatically be charged <span class="price">{{order.delivery.countryObj.price.getGrandTotalString(getMainOrderSize(), order.payment.promoData)}}</span>
                            for the full order as follows
                        </p>
                    </td>
                </tr>
            </table>

            <table class="order" *ngIf="order.orderSize=='samples'">
                <tr>
                    <td>
                        <ul>
                            <li>1 X {{getMainOrderVolume()}} THE NEW YOU</li>
                            <li>2 X 15ML PERSONALISED MINI YOU</li>
                        </ul>
                    </td>
                    <td>
                        {{order.delivery.countryObj.price.getPriceString(getMainOrderSize())}}<br>FREE
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>SHIPPING</div>
                        <small>{{order.delivery.countryObj.price.shipping.getShippingText()}}</small>
                    </td>
                    <td>
                        {{order.delivery.countryObj.price.getShippingPriceString(getMainOrderSize())}}
                    </td>
                </tr>
                <tr *ngIf="order.payment.promoData">
                    <td>
                        <div>PROMO CODE</div>
                    </td>
                    <td>
                        ({{order.delivery.countryObj.price.getPromoDiscountString(getMainOrderSize(),
                        order.payment.promoData)}})
                    </td>
                </tr>
            </table>
        </div> <!-- Order summary -->
    </div>
    <div class="ll1">
        <div class="t1">BILL TO</div>
        <div class="form-err-message">{{message}}</div>
        <div class="input-block" [hidden]="isFree">
            <input type="tel" inputmode="numeric" [(ngModel)]="order.payment.cardNumber"
                   #cardNumberField placeholder="CARD NUMBER" autocomplete="cc-number" name="cardNumber" autofocus/>
            <label class="error" *ngIf="!isValidCardNumber">
                {{cardNumberValidationMsg}}
            </label>
        </div>
        <div class="side-by-side" [hidden]="isFree">
            <div class="input-block">
                <input type="tel" inputmode="numeric" [(ngModel)]="order.payment.expireDate"
                       #expireDateField placeholder="MM/YY" autocomplete="cc-exp" name="expireDate"/>
                <label class="error" *ngIf="!isValidExpireDate">
                    {{expireDateValidationMsg}}
                </label>
            </div>
            <div class="input-block">
                <input type="tel" inputmode="numeric" [(ngModel)]="order.payment.cvCode"
                       #cvCodeField placeholder="CVC" autocomplete="cc-csc" name="cvCode"/>
                <label class="error" *ngIf="!isValidCvCode">
                    {{cvCodeValidationMsg}}
                </label>
            </div>
        </div>
        <div class="input-block" *ngIf="order.delivery.hasBillingPostal()">
            <input type="text" required [postalCode]="order.delivery.countryObj.countryCode" name="zipCode"
                   [placeholder]="'BILLING '+order.delivery.getPostal().toUpperCase()" (focus)="onBillingZipCodeFocus($event)"
                   [(ngModel)]="order.payment.zipCode" #zipCode="ngModel" maxlength="20">
            <div *ngIf="zipCode.errors && (zipCode.touched || showErrors)">
                <label [hidden]="!zipCode.errors['required']" class="error">{{order.delivery.getPostal()}} is
                    required</label>
                <label [hidden]="!zipCode.errors['postalCode']" class="error">Invalid
                    {{order.delivery.getPostal()}}</label>
            </div>
        </div>
        <h2>
                DO YOU HAVE A PROMO CODE?
        </h2>
        <div class="input-block">
            <input type="text" [(ngModel)]="order.payment.promoCode" autocomplete="off" autocorrect="off"
                   autocapitalize="off" spellcheck="false" name="promoCode" (keypress)="onPromoCodeKeyPress($event)"
                   placeholder="PROMO CODE" (change)="onPromoCodeChange($event.target.value)"/>
            <button type="button" *ngIf="(order.payment.promoCode.length>0) && (previousPromoCode != order.payment.promoCode)"
                    (click)="onPromoCodeChange(order.payment.promoCode)">APPLY</button>
            <label class="error" *ngIf="promoCodeMessage != ''">
                {{promoCodeMessage}}
            </label>
        </div>
        <h2 *ngIf="isKioskModeEnabled && (order.type == 'WaftLab')">
            KIOSK DETAILS
        </h2>
        <div class="input-block" *ngIf="isKioskModeEnabled && (order.type == 'WaftLab')">
            <input type="text" [(ngModel)]="order.preferredSample" autocomplete="off" autocorrect="off"
                   autocapitalize="off" spellcheck="false" name="preferredSample" placeholder="PREFERRED SAMPLE"/>
        </div>
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-red" [class.disabled]="isProcessing" >
            PLACE ORDER
        </button>
        <img class="payment-icons" cdn-src="/assets/img/wizard_checkout/payment.jpg"/>
        <a class="guarantee" (click)="guaranteePopup.open()" *ngIf="order.orderSize!='samples'">
            <img cdn-src="/assets/img/logo/guarantee.png"/>
        </a>
        <div class="guarantee-text" *ngIf="order.orderSize!='samples'">
            If you’re not satisfied, return your order within<br>1 week of receiving it for a full refund.
        </div>
    </div>
</form>

<modal #guaranteePopup [hideCloseButton]="true" [closeOnEscape]="true">
    <modal-content>
        <guarantee-popup (closeModal)="guaranteePopup.close()"></guarantee-popup>
    </modal-content>
</modal>
