<div class="forgot-password">
    <div class="close-btn">
        <img (click)="close()" cdn-src="/assets/img/close.svg">
    </div>
    <h4>Restore Password</h4>
    <div class="error">{{error?error:"&nbsp;"}}</div>
    <form (ngSubmit)="restorePassword()">
        <input placeholder="YOUR E-MAIL" type="email" [(ngModel)]="email" name="email">
        <button type="submit" class="btn btn-red btn-block btn-with-arrow">RESTORE PASSWORD</button>
    </form>
    <div class="help-text">
        <a (click)="close()">ALREADY HAVE AN ACCOUNT? LOGIN</a>
    </div>
</div>

