.forgot-password {
    position: relative;
    padding: 42px 0px 33px 0px;
    background: white;
    box-shadow: 0 2px 37px rgba(0, 0, 0, 0.21);
    max-width: 757px;
    margin: auto;
    border-radius: 15px;
    text-align: center;
}

.forgot-password .close-btn {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
}

.forgot-password .close-btn img {
    width: 13px;
    height: 13px;
}

.forgot-password h4 {
    text-align: center;
    color: black;
    font-family: Georgia;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
}

.forgot-password input {
    float: left;
    display: inline-block;
    max-width: 232px;
    background-color: #ececec;
    padding: 0 34px;
    border-radius: 9px;
    height: 51px;
    color: #5b6367;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2.5px;
    line-height: 25px;
    width: 300px;
    margin-left: 50px;
}

.forgot-password .help-text {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.error {
    display: block;
    text-align: center;
    color: #f10733;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    padding-top: 15px;
    padding-bottom: 13px;
}

.forgot-password .help-text a {
    cursor: pointer;
    text-align: center;
    margin-bottom: 33px;
    opacity: 0.39;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 25px;
}

.forgot-password .btn-with-arrow {
    display: inline-block;
    max-width: 300px;
}

@media only screen and (max-width: 800px) {
    .forgot-password {
        width: 90%;
    }

    .forgot-password input {
        float: none;
        display: block;
        margin: auto;
        margin-bottom: 20px;
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {

}