<waft-header
    [stepName]="'The fragrance '+(isGift() ? 'they':'you') +' like is...'"
    [stepDescription]="'Do '+(isGift() ? 'they prefer their':'you prefer your')+ ' scent to be more masculine or feminine?'">
</waft-header>
<div class="pd1 j2 wizard-gender">
    <div class="bl-sld">
        <div class="item1 j3">
            <div class="bg-p img1" cdn-bg-src="/assets/img/wizard/gender/man.jpg"></div>
            <div class="ov1">
                <div class="dc">
                    <div class="tx">
                        <table>
                            <tr>
                                <td><i>MAN</i></td>
                            </tr>
                        </table>
                        <div><b><span>1</span></b></div>
                    </div>
                    <div class="t1">Masculine</div>
                    <p>
                        Ultimate masculine scents for those who enjoy elegant woods, sensual spices, sexy
                        greenness,
                        distinctive citrus and bold leather.
                    </p>
                    <p>
                        Dare to be elegant, to seduce or just connect with your deepest personality…
                    </p>
                </div>
            </div>
            <a class="lnk1" (click)="toNextStep('man')"></a>
        </div>
        <div class="item1 j3">
            <div class="bg-p img2" cdn-bg-src="/assets/img/wizard/gender/unisex.jpg"></div>
            <div class="ov1">
                <div class="dc">
                    <div class="tx">
                        <table>
                            <tr>
                                <td><i>UNISEX</i></td>
                            </tr>
                        </table>
                        <div><b><span>2</span></b></div>
                    </div>
                    <div class="t1">Unisex</div>
                    <p>Sensual, chic, invigorating. These signature perfumes diffuse freshness with bright notes of lemon or buchu leaf oil, delicious blend of sage clary oil or green tea, sensual patchouli.</p>
                    <p>Timeless these perfumes will lighten the day by its energizing character.</p>
                </div>
            </div>
            <a class="lnk1" (click)="toNextStep('unisex')"></a>
        </div>
        <div class="item1 j3">
            <div class="bg-p img3" cdn-bg-src="/assets/img/wizard/gender/woman.jpg"></div>
            <div class="ov1">
                <div class="dc">
                    <div class="tx">
                        <table>
                            <tr>
                                <td><i>WOMAN</i></td>
                            </tr>
                        </table>
                        <div><b><span>3</span></b></div>
                    </div>
                    <div class="t1">Feminine</div>
                    <p>
                        Fabulous feminine scents for those who want to rediscover real haute couture fragrance
                        overflowing with natural ingredients!
                    </p>
                    <p>
                        Be both natural and elegant with a dash of rose, tuberose, and orange blossom. Or, dare
                        to be sexy with intense amber and woods.
                    </p>
                </div>
            </div>
            <a class="lnk1" (click)="toNextStep('woman')"></a>
        </div>
    </div>
</div>

<waft-timeline [step]="0"></waft-timeline>