@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.preview {
    margin-top: 60px;

}

.preview .text-content {
    margin-left: 20px;
    font-family: "Times  New  Roman";
}

.preview .text-content a {
    font-family: Arial;
}

.preview table {
    max-width: 552px;
    box-sizing: border-box;
}

.preview table h1 {
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
    line-height: normal;
    margin: 0;
    font-family: 'Georgia';
    padding: 0;
    letter-spacing: 0.4px;
    text-align: left;
    padding: 0 0 80px 17px;
}

.preview > table {
    box-shadow: 0 -1px 22px rgba(109, 122, 125, 0.28);
    position: relative;
}

.preview > table:before {
    width: 60%;
    height: 1000px;
    position: absolute;
    top: 570px;
    left: -50px;
    background: #fff;
    content: " ";
}

.preview > table:after {
    width: 60%;
    height: 1000px;
    position: absolute;
    top: 570px;
    right: -50px;
    background: #fff;
    content: " ";
}

.preview .tableContent img {
    border: 0 !important;
    display: block !important;
    outline: none !important;
}

table tr td .contentEditableContainer .contentEditable a {
    padding: 13px 50px;
    font-size: 9px;
    text-decoration: none;
    background: #bca37b;
    color: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    cursor: default;
}

.preview a {
    color: #382F2E;
}

.preview p,
.preview h1 {
    color: #382F2E;
    margin: 0;
}

.preview p {
    font-size: 11px;
    color: #5b6367;
    line-height: 15px;
    padding: 20px 44px 0 0;
}

.bottle {
    position: relative;
}

.bottle img {
    width: 100%;
}

.gift-logo {
    margin: 25px 0 11px 16px;
    width: 156px;
}

.preview div,
.preview p,
.preview ul,
.preview h1 {
    margin: 0;
}

.preview h2,
.preview h1 {
    color: #444444;
    font-weight: normal;
    font-size: 22px;
    margin: 0;
}

.preview a.link2 {
    padding: 15px;
    font-size: 13px;
    text-decoration: none;
    background: #2D94DF;
    color: #ffffff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.preview .preview-logo {
    padding-right: 5%;
    padding-left: 5%;
}

.preview .preview-logo img {
    display: block;
    width: 112px;
    margin: 20px auto 30px;
}

.preview hr {
    margin-bottom: 20px;
}

.preview .preview-action {
    margin: auto auto 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.preview .preview-action a {
    width: 100%;
    max-width: 100%;
    color: white;
}

.preview .bgBody {
    background: #ffffff;
}

.preview .bgItem {
    background: url(/assets/img/gift/emailSetup/email-bg.jpg) repeat-x;
}

.preview .summ {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #a8b5b8;
    border-radius: 7px;
}

.preview .summ h4 {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    width: 100%;
    display: block;
    color: #5b6367;
    font-size: 11px;
    font-weight: 700;
    line-height: 19px;
    border-bottom: 1px solid #a8b5b8;
    letter-spacing: 2px;
    margin: 12px 0;
    padding: 0 0 7px 18px;
}

.preview .summ {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #a8b5b8;
    border-radius: 7px;
    width: 82%;
}

.preview .summ ul {
    list-style: none;
    padding: 0 20px 12px;
    color: #6d7a7d;
    font-size: 8px;
}

.preview .summ ul li {
    margin: 9px 0;
}

.preview .summ h5 {
    margin: 15px 20px 11px;
    color: #bba37d;
    font-size: 7px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.preview .summ .order-status {
    border-top: 1px solid #a8b5b8;
}

.preview .summ .order-status h5 {
    margin: 8px 20px 11px;
}

.preview .summ .order-status span {
    display: block;
    width: 8px;
    height: 8px;
    float: left;
    border-radius: 6px;
    margin: 0 10px 0 20px;
}

.preview .summ .order-status p {
    color: #6d7a7d;
    font-size: 9px;
    font-weight: 500;
    line-height: 9px;
    padding: 0 20px 20px 43px;
}

.preview .summ .order-status span.ready {
    background-color: #8cbf53;
}

.preview .summ .order-status span.pending {
    background-color: #f1a710;
}