<waft-header
    stepName="Ingredients"
    stepDescription="Designing a fragrance is like crafting a piece of fine art. On average, about 80 different ingredients go into the making of a single fine fragrance. Waft is the Mona Lisa of the fragrance world—the most famous noses around the globe have worked on the Waft fragrance collection.">
</waft-header>
<div class="pd1 j3">
	<h1>
		<!--div class="ingredients-title">-->
		SELECT ANY OF THE INGREDIENTS THAT APPEAL TO YOU (OPTIONAL)
	</h1>
	<a class="next-ch1" (click)="toNextStep()">
		<span class="numberselected">
			{{ numberSelected() }} SELECTED
		</span>
		&nbsp;&nbsp;&nbsp;
		{{anySelected() ? "CONTINUE" : "SKIP" }}
	</a>
	<div class="ingredient-card">
		<div *ngFor="let ingr of ingredients">
			<ingredient [ingredient]="ingr" (onSelect)="selectIngredient($event)"></ingredient>
		</div>
	</div>
	<a class="next-ch1" (click)="toNextStep()">
		<span class="numberselected">
			{{ numberSelected() }} SELECTED
		</span>
		&nbsp;&nbsp;&nbsp;
		{{anySelected() ? "CONTINUE" : "SKIP" }}
	</a>
</div>
<waft-timeline [step]="6"></waft-timeline>
