.kiosk {
  max-width: 980px;
  height: 100vh;
  margin: 0 auto;
  display: table;
  text-align: center;

  .kiosk-form {
    vertical-align: middle;
    display: table-cell;
    padding-bottom: 42px;

    .logo {
      img {
        margin-bottom: 20px;
      }
    }

    form {
      width: 333px;
      margin: auto;
    }
  }
}

@media only screen and (max-width: 350px) {
  .kiosk {
    .kiosk-form {
      form {
        width: 100%;
      }
    }
  }
}