<div class="kiosk">
    <div class="kiosk-form">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 logo">
            <img height="59" cdn-src="/assets/img/logo/waft.png"/>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="kiosk.isEnabled()">
            <h2>KIOSK MODE ENABLED</h2><br>
            <p>Signed in as: {{kiosk.getSalesRep()}}</p><br>
            <a class="btn btn-red btn-block btn-with-arrow" routerLink="/app/wizard/type">
                New Customer
            </a>
            <button class="btn btn-white btn-block" (click)="kiosk.switchKioskMode()">
                Sign Out
            </button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="!kiosk.isEnabled()">
            <h2>KIOSK MODE</h2><br>
            <form #kioskForm="ngForm" novalidate (ngSubmit)="signIn()">
                <div class="input-block">
                    <input type="text" required name="salesR" placeholder="SALES REPRESENTATIVE"
                           [(ngModel)]="salesRep" #salesR="ngModel">
                    <div *ngIf="kioskForm.submitted && salesR.errors">
                        <label [hidden]="!salesR.errors['required']" class="error">Sales Representative is
                            required</label>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <button type="submit" class="btn btn-red btn-block btn-with-arrow">
                    Sign In
                </button>
                <a class="btn btn-white btn-block" href="/">
                    EXIT
                </a>
            </form>
        </div>
    </div>
</div>