<style>
  #header .main-menu ul li+li {
    margin-left: 15px;
  }
</style>
<header id="header">
    <div class="mobile-menu" ng-click="showMobileMenu = !showMobileMenu"><span></span></div>
    <div class="ll">
        <a href="/" class="logo"></a>
    </div>
    <div class="main-menu" ng-class="{'ac' : showMobileMenu}">
        <ul ng-click="showMobileMenu = false">
            <li ng-if="canEdit()"><a ui-sref="app.dashboard">Dashboard</a></li>
            <li><a ui-sref="app.orders">Orders</a></li>
            <li ng-if="canEdit()"><a ui-sref="app.scents">Scents</a></li>
            <li ng-if="canEdit()"><a ui-sref="app.journeys">Journeys</a></li>
            <li ng-if="canEdit()"><a ui-sref="app.fragrances">Fragrances</a></li>
            <li><a ui-sref="app.prices">Prices</a></li>
            <li><a ui-sref="app.users">Users</a></li>
            <li ng-if="getAccessLevel()=='admin'"><a ui-sref="app.adminsAccounts">Admins</a></li>
            <li><a href="#" ng-click="logout()">LOGOUT</a></li>
        </ul>
    </div>
</header>
<script>
    if (!(('ontouchstart' in window) || (navigator.maxTouchPoints > 0) || (navigator.msMaxTouchPoints > 0))) document.documentElement.className += " nontouch";
</script>
