.videoPupup {
    position: relative;
    height: 400px;
    max-width: 710px;
    margin: auto;
}

.videoPupup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    padding-left: 8px;
    padding-bottom: 8px;
    padding-top: 5px;
    padding-right: 5px;
    z-index: 100;
}

.videoPupup .close-btn img {
    width: 15px;
    height: 15px;
}