<div class="videoPupup" style="transition: width 2s;">
    <div class="close-btn">
        <img (click)="close()" cdn-src="/assets/img/elements/close-white.svg">
    </div>
    <iframe style="z-index: 50;" width="100%" height="100%" src="https://www.youtube.com/embed/61osEkvUd7M?autoplay=1&rel=0">
    </iframe>
</div>