<waft-header
    stepName="Waft Potency"
    stepDescription="“Waft” is the gentle swirling of air that floats behind when you pass by. Your waft can be subtle and discreet, bold and loud, or something in between. How potent would you like your Waft to be?">
</waft-header>
<div class="pd1 j2 wizard-waft">
    <div class="bl-sld">
        <div class="item1 j3">
            <div class="bg-p img1"></div>
            <div class="ov1">
                <div class="dc">
                    <div class="tx">
                        <table>
                            <tr>
                                <td><i>SUBTLE</i></td>
                            </tr>
                        </table>
                        <div><b><span>1</span></b></div>
                    </div>
                    <div class="t1">SUBTLE</div>
                    <p>A mild, personal fragrance just for you to enjoy, not to be shared with the rest of the world</p>
                </div>
            </div>
            <a class="lnk1" (click)="toNextStep('subtle')"></a>
        </div>
        <div class="item1 j3">
          <div class="bg-p img2"></div>
            <div class="ov1">
                <div class="dc">
                    <div class="tx">
                        <table>
                            <tr>
                                <td><i>BALANCED</i></td>
                            </tr>
                        </table>
                        <div><b><span>2</span></b></div>
                    </div>
                    <div class="t1">BALANCED</div>
                    <p>A scent that encompasses you and entices only those in your close proximity</p>
                </div>
            </div>
            <a class="lnk1" (click)="toNextStep('balanced')"></a>
        </div>
        <div class="item1 j3">
          <div class="bg-p img3"></div>
            <div class="ov1">
                <div class="dc">
                    <div class="tx">
                        <table>
                            <tr>
                                <td><i>DARING</i></td>
                            </tr>
                        </table>
                        <div><b><span>3</span></b></div>
                    </div>
                    <div class="t1">DARING</div>
                    <p>A bold and vivacious scent that makes a lasting statement wherever you go</p>
                </div>
            </div>
            <a class="lnk1" (click)="toNextStep('daring')"></a>
        </div>
    </div>
</div>
<waft-timeline [step]="5"></waft-timeline>
