.guarantee-popup {
    position: relative;
    padding: 80px 25px 95px 25px;
    background: white;
    box-shadow: 0 2px 37px rgba(0, 0, 0, 0.21);
    max-width: 750px;
    margin: auto;
    border-radius: 15px;
    text-align: center;
}

.guarantee-popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
}

.guarantee-popup .close-btn img {
    width: 13px;
    height: 13px;
}

.guarantee-popup span {
    color: #6d7a7d;
    font-size: 14px;
    line-height: 24px;
}

.guarantee-popup img {
    display: block;
    margin: auto auto 20px;
    height: 48px;
}

.guarantee-popup a {
    color: #c5cfd1;
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    .guarantee-popup {
        padding-top: 45px;
        padding-bottom: 60px;
        max-width: 75%;
    }

}