<div class="guarantee-popup">
    <div class="close-btn">
        <img (click)="close()" cdn-src="/assets/img/close.svg">
    </div>
    <img cdn-src="/assets/img/logo/guarantee.png"/>
    <span>
        We realise that buying a perfume online inevitably raises the question "how do I know that I will like it?"
        But we are so certain that you will love what we send you that we offer you an iron clad,
        No Questions Asked Money Back Guarantee. If for any reason you are not satisfied,
        just let us know and return your order within one week of delivery to receive a full refund.
        For more details, see our <a href="https://support.waft.com/hc/en-us/articles/235465748" target="_blank">FAQ page</a>.
    </span>
</div>