@font-face {
    font-family: AppleChancery;
    src: url(AppleChancery.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Regular.ttf);
}

.div, body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: 0;
}

.bottle {
  max-width: 260px;
  width: 260px;
  height: 527px;
  position: relative;
  display: inline-block;
  font-weight: normal;
}

.bottle .with-bg {
  background-image: url(big.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bottle div {
  position: absolute;
  width: 76%;
  margin-right: 12%;
  margin-left: 12%;
  color: #544f4e;
  text-align: center;
  overflow: hidden;
}

.bottle div.name {
  top: 57%;
  font-size: 22px;
  white-space: pre-line;
}

.bottle div.message {
  top: 67%;
  font-size: 18px;
  overflow-wrap: break-word;
  white-space: pre-line;
}

.bottle div.initials {
  bottom: 18px;
  position: absolute;
  font-size: 13px;
  right: 0;
  text-align: right;
  font-family: "Montserrat";
  font-weight: normal;
}

.bottle.handwritten {
  font-family: "AppleChancery";
}

.bottle.modern {
  font-family: "Montserrat";
}

.bottle.classic {
  font-family: "Georgia", "Times New Roman", serif;
}
