<waft-header page="thank-you"></waft-header>
<div class="pd1 j3" style="padding-top: 60px">
    <div class="ct j1">
        <div class="ll2 j1">
            <div class="p1">THANK YOU!</div>
            <div class="p2">YOUR ORDER WILL BE SHIPPED PROMPTLY</div>
            <div class="p5">We will send you order status updates via e-mail.
                Meanwhile, if you have a question for us, then send an email at <a href="mailto:support@waft.com">support@waft.com</a> and we’ll get back to you within 24 hours.
            </div>
            <!--<div class="p3">We noticed you’d saved another scent.</div>-->
            <!--<div class="p5">Would you like to start a journey based on that one?</div>-->

            <button *ngIf="!kiosk.isEnabled()" routerLink="/app/wizard/type" class="btn btn-red btn-red-arrow">DESIGN ANOTHER SCENT</button>
            <button *ngIf="kiosk.isEnabled()" type="button" class="btn btn-red btn-block" (click)="onDone()">
                Done
            </button>
        </div>
        <!--<div class="rr2 j1">-->
            <!--<div class="sz-bl1">-->
                <!--<div class="blt1">-->
                    <!--<div class="ft-img"><img src="/assets/img/wizard/thankYou/t4.jpg" alt=""></div>-->
                    <!--<div class="ov-et">-->
                        <!--<span>BURBERRY BRIT FOR MEN</span>-->
                        <!--<p>Nonchalant Burberry Brit for Men is a perfect illustration of modern English spirit inwrought-->
                            <!--with tradition.</p>-->
                    <!--</div>-->
                    <!--<a (click)="newScent()" class="jk1">CREATE NEW SCENT</a>-->
                <!--</div>-->
                <!--<div class="blt2">-->
                    <!--<div class="t1">OR HOW ABOUT GIFTING SOMEONE?</div>-->
                    <!--<span>Nonchalant Burberry Brit for Men is a perfect illustration of modern English spirit inwrought with tradition.</span>-->
                    <!--<a class="jk2" (click)="newGift()">GIFT SOMEONE</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
<div class="instagram">
    <iframe src="https://snapwidget.com/embed/279899" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:240px"></iframe>
</div>