.ct { padding: 60px 10px 120px 10px; }

@media only screen and (max-width: 1000px) {
    .ct { padding: 40px 10px; }
}

.ct.j1 { max-width: 539px; }

.ll2 { float: left; width: 360px; }

@media only screen and (max-width: 680px) {
    .ll2 {
        text-align: center;
        width: auto;
    }

    .pd1.j3 {
        padding-top: 0;
    }
}

.ll2.j1 { margin-left: -104px; }

@media only screen and (max-width: 760px) {
    .ll2.j1 { width: auto; text-align: center; margin: 0; float: none; margin-bottom: 40px; }
}

.ll2 a { color: #c5cfd1; text-decoration: underline; }

.ll2 .p1 { color: #6D7A7D; font-family: 'Montserrat', sans-serif; font-size: 24px; font-weight: bold; letter-spacing: 3.7px; line-height: 25px; padding-bottom: 13px; }

.ll2 .p2 { color: #A8B5B8; font-family: 'Montserrat', sans-serif; font-size: 12px; font-weight: normal; line-height: 23px; padding-bottom: 32px; }

.ll2 .p3 { color: #6D7A7D; font-family: Georgia; font-size: 45px; font-weight: 400; line-height: 51px; padding-bottom: 24px; }

.ll2 .p4 { color: #c5cfd1; font-family: Georgia; font-size: 18px; font-weight: 400; line-height: 24px; padding-bottom: 31px; }

.ll2 .p5 { color: #6D7A7D; font-family: Georgia; font-size: 14px; font-weight: 400; line-height: 21px; }

@media only screen and (max-width: 680px) {
}

.rr2 { float: right; width: 1px; height: 1px; height: 591px; position: relative; }

@media only screen and (max-width: 1000px) {
    .rr2 { height: 670px; }
}

@media only screen and (max-width: 680px) {
    .rr2 { display: none; }
}

.rr2.j1 { margin-right: -103px; width: 357px; height: auto; display: block !important; }

@media only screen and (max-width: 760px) {
    .rr2.j1 { float: none; width: auto; margin: 0; }
}

.rr2 .sz-bl1 { background-color: white; border: 1px solid rgba(150, 150, 150, 0.23); -webkit-border-radius: 7px; border-radius: 7px; -webkit-box-shadow: 0 0 6px rgba(194, 197, 201, 0.45); box-shadow: 0 0 6px rgba(194, 197, 201, 0.45); max-width: 357px; margin: auto; }

.rr2 .sz-bl1 .blt1 .ft-img { float: left; width: 98px; margin-right: 30px; text-align: center; margin-bottom: 29px; }

.rr2 .sz-bl1 .blt1 .ov-et span { color: #303739; font-family: 'Montserrat', sans-serif; font-size: 14px; font-weight: 400; line-height: 19px; letter-spacing: 3.7px; padding-bottom: 15px; display: block; }

.rr2 .sz-bl1 .blt1 .ov-et p { color: #7d8284; font-family: "Times New Roman"; font-size: 12px; font-weight: 400; line-height: 19px; }

.rr2 .sz-bl1 .blt2 .t1 { text-align: center; color: #303739; font-family: 'Montserrat', sans-serif; font-size: 14px; font-weight: 400; letter-spacing: 3.7px; line-height: 19px; padding-bottom: 14px; }

.rr2 .sz-bl1 .blt2 span { display: block; text-align: center; color: #7d8284; font-family: "Times New Roman"; font-size: 12px; font-weight: 400; line-height: 19px; margin-bottom: 19px; }

.btn {
    margin-top: 70px;
}