<div id="about" class="main-container ct about">
  <div class="ct">
    <div class="col-lg-6">
      <h2 style="margin-bottom: 30px;">A MESSAGE FROM WAFT FOUNDER, <br/>
        VALERIE BOFFY</h2>
      <p>
        Welcome to Waft. It’s time to think differently about your perfume. It’s time to explore the possibility of your very own customized fragrance – your unique personal calling card. What if your   fragrance could complement your every mood, setting or desire throughout the day?
      </p>
      <p>
        What if you could then combine your personalised fragrances through layering to create infinite additional moods and settings? You could dial it up for a seductive effect, tone it down for quiet contemplative moments or find the perfect combination for everything in between. 
      </p>
      <p>
        I am excited to share my passion crafting perfume from the highest quality sustainable ingredients with you. I hope that this olfactory journey, where you will discover and craft your own custom fragrance, brings a smile to your face. Our goal? To bring back the craft of personally commissioned perfume and make it available to you.
      </p>
      <p>
        To replace the cacophony of brands, imagery and slick advertising of today’s perfume industry with a single, simple message – the ultimate fragrance is that which is truly yours.
      </p>
      <p>
        Explore, create and enjoy.
      </p>
      <p>
        Valerie xo
      </p>
    </div>
    <div class="col-lg-6">
      <img src="{{staticBase}}/assets/img/valerie.jpg" style="width: 90%;display:block;margin-right: auto; margin-left: auto;"/>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
