<!doctype html>
<html amp lang="en">
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <title>Hello, AMPs</title>
    <link rel="canonical" href="https://waft.com/" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>
        amp-sidebar {
            width: 250px;
            padding-right: 10px;
        }
        .amp-sidebar-image {
            line-height: 100px;
            vertical-align:middle;
        }
        .amp-close-image {
            top: 15px;
            left: 225px;
            cursor: pointer;
        }
        li {
            margin-bottom: 20px;
            list-style: none;
        }
        button {
            margin-left: 20px;
        }
    </style>
</head>
<body>
<amp-sidebar id='sidebar1' layout='nodisplay'>
    <ul>
        <li> Nav item 1</li>
        <li> Nav item 2</li>
        <li> Nav item 3</li>
        <li> Nav item 4</li>
        <li> Nav item 5</li>
        <li> Nav item 6</li>
        <li> Nav item 7</li>
        <li> Nav item 8</li>
        <li> Nav item 9</li>
        <li on="tap:sidebar1.close"> Close</li>
    </ul>
</amp-sidebar><button class="hamburger" on='tap:sidebar1.toggle'></button>
<h1>Welcome to the mobile web</h1>
</body>
</html>