<h2>JOBS & CAREERS</h2>
<p>
  We are always looking for talented people to join our team!
</p>
<p>
  Whether you are looking for full-time, part-time or internship positions, feel free to send in your CV to <a href="mailto:careers@waft.com">careers@waft.com</a>
</p>
<p>
  We regret that only short listed candidates will be notified.
</p>
