<!DOCTYPE html>
<html>
  <head>
    <title>Waft - {{__ "Personalised Perfume"}}</title>
    {{> head}}
    <link rel="stylesheet" href="{{staticBase}}/assets/css/landing-common.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{staticBase}}/assets/css/landing-page-corporate.css" type="text/css" media="screen, projection" />
  </head>
  <body>
    <div id="page" class="gift-page">

      <header class="landing-page-corporate-header">
        <div class="hamburger-menu header-section">
          <div class="mobile-menu nav-open--js"><span></span></div>
        </div>
        <div class="logo header-section">
          <a href="//waft.com"><img src="{{staticBase}}/assets/img/logo/waft_white.png"></a>
        </div>
        <div class="header-cta header-section">
        </div>
      </header>

      <nav class="corporate-landing-navigation">
        <div class="close-icon nav-close--js">
          <span>x</span>
        </div>
        <a href="#we-are-waft">WE ARE WAFT</a>
        <a href="#waft-is-the-solution">WAFT IS THE SOLUTION</a>
        <a href="#get-started">GET STARTED</a>
        <a href="#contact-us">CONTACT US</a>
      </nav>

      <div class="landing-page-corporate-hero" style="background-image: url('{{staticBase}}/assets/img/corporate/hero.jpg')">
        <div class="landing-page-corporate-hero--content">
          <h2 class="landing-page-corporate-headline">The Perfect Merger <br> Between <br> Business And Style</h2>
          <p>BUSINESS GIFTS FOR EMPLOYEES AND HIGH-VALUED CUSTOMERS</p>
        </div>
      </div>
      <div class="landing-page-corporate-hero-mobile">
        <h2 class="landing-page-corporate-headline">The Perfect Merger <br> Between <br> Business And Style</h2>
        <p>BUSINESS GIFTS FOR EMPLOYEES AND HIGH-VALUED CUSTOMERS</p>
      </div>

        {{> gtm}}

      <div id="we-are-waft" class="landing-page-corporate-page-section bg--red">
        <h2 class="landing-page-corporate-headline">WE ARE WAFT</h2>
        <p class="landing-page-corporate-subheadline">YOU GIFT A {{__ "PERSONALISED"}} FRAGRANCE TO YOUR CUSTOMERS OR EMPLOYEES, THEY CREATE THEIR OWN CUSTOM FRAGRANCE.</p>
        <a class="ctabutton ctacorporate ctacorporate-play popup-youtube" href="//www.youtube.com/watch?v=WDHvnW0MIyY">
          <span>PLAY</span>
        </a>
      </div>

      <div class="landing-page-corporate-page-section padding--none bg--black why-waft-section">
        <div class="landing-page-corporate-red-box">
          <h2>Why Waft should be your only Business Gift</h2>
          <p class="landing-page-corporate-description">Using Waft creates a workforce that makes them feel like they are a part of your corporate brand. Show your employees how much you appreciate their hard work by making them feel special. A tailored scent creates a kinship that fosters long term employee relationships.</p>
        </div>
      </div>

      <div class="landing-page-corporate-full-screen-bg" style="background-image: url({{staticBase}}/assets/img/corporate/large-bottle.jpg);background-position: center bottom">
        <a class="ctabutton ctacorporate" href="#contact-us">
          <span>GET STARTED</span>
        </a>
      </div>

      <div class="landing-page-corporate-page-section padding--none business-is-emotional-section" style="background-image: url({{staticBase}}/assets/img/corporate/business-is-emotional.png);">
        <div class="container">
          <div class="business-is-emotional-section--content">
            <div class="landing-page-corporate-red-box"></div>
            <h3>Business is emotional.</h3>
            <p>Your sense of smell is one of the most powerful ways to stir emotions. Smells trigger memories and feelings. These sensations in turn affect everyday decisions and choices you make in life. This is the subtle power of the olfactory cycle. Don't let yourself be triggered by another designer's creations. Design your own scent and master your own choices. </p>
          </div>
        </div>
      </div>

      <div class="landing-page-corporate-page-section padding--none business-is-emotional-section-mobile">
        <div class="container">
          <div class="business-is-emotional-section--content">
            <div class="landing-page-corporate-red-box"></div>
            <h3>Business is emotional.</h3>
            <p>Your sense of smell is one of the most powerful ways to stir emotions. Smells trigger memories and feelings. These sensations in turn affect everyday decisions and choices you make in life. This is the subtle power of the olfactory cycle. on't let yourself be triggered by another designer's creations. Design your own scent and master your own choices. </p>
          </div>
        </div>
      </div>

      <div class="landing-page-corporate-page-section">
        <div class="container">
          <h2 class="landing-page-corporate-headline" style="color: #000">HERE'S THE PROBLEM COMPANIES FACE:</h2>
          <div class="problems">
            <div class="problem">
              MOST CORPORATE GIFTS ARE UN-ORIGINAL AND UN-INSPIRING
            </div>
            <div class="problem">
              MOREOVER, THEY ARE NOT TRULY {{__ "PERSONALISED"}}
            </div>
            <div class="problem">
              UNIQUE GIFTS ARE DIFFICULT&nbsp;TO&nbsp;SCALE
            </div>
          </div>
        </div>
      </div>

      <div class="landing-page-corporate-page-section padding--none bg--red">
        <p class="landing-page-corporate-subheadline" style="max-width: none; padding: 15px 0;">AND...MOST IMPORTANTLY...<br>MOST CORPORATE GIFTS ARE FORGOTTEN OR THROWN AWAY VERY QUICKLY!</p>
      </div>

      <div id="waft-is-the-solution" class="landing-page-corporate-page-section bg--black">
        <h2 class="landing-page-corporate-headline" style="margin-bottom: 40px;">=<br><br>WAFT.COM IS THE SOLUTION</h2>
        <p class="landing-page-corporate-subheadline" style="font-weight: normal;text-transform: uppercase;">Waft is a {{__ "personalised"}} luxury fragrance experience. It enables your company to commission a unique, custom-designed fragrance journey for your key business relationships</p>
      </div>

      <div id="get-started" class="landing-page-corporate-page-section">
        <h2 class="landing-page-corporate-headline" style="margin-bottom: 0;color: #000">GETTING STARTED IS EASY...</h2>
        <p class="landing-page-corporate-description" style="margin-top: 0;">We're here to help you through your journey, 24/7</p>
        <p style="text-align: center;margin-top: 80px;">
          <img src="{{staticBase}}/assets/img/corporate/getting-started.png">
        </p>
      </div>

      <div class="landing-page-corporate-page-section bg--red">
        <h2 class="landing-page-corporate-headline" style="margin-bottom: 0;">THAT'S IT?</h2>
        <p class="landing-page-corporate-description" style="margin-top: 0;">Yes, that's it. We'll send you reports with detailed views of how many vouchers have been used and the amount spent so that you can track which customers took the offer.</p>
      </div>

      <div class="landing-page-corporate-page-section not-all-perfumes padding--none" style="min-height: 100vh">
        <div class="col-container">
          <div class="col-1-2" style="background-color: #000; color: #FFF; text-align: left;position: relative; z-index: 1;padding-top: 40px;min-height:100vh">
            <img src="{{staticBase}}/assets/img/corporate/ingredients.png">
            <div class="landing-page-corporate-red-box"></div>
            <h3>Not all perfumes are created equally</h3>
            <p style="margin-top: 30px;line-height: 1.5em">Waft's revolutionary method of selecting fragrance by personality and mood is disrupting the industry. We recognize and celebrate your individuality with a unique scent crafted around you. But we also recognize that who you are throughout the day, week, and even month changes greatly. That's why we think your fragrance should compliment where you are, what you're doing, and who you're seeing, always. Our exclusive layering method allows you to do just that by empowering you to mix and match different custom fragrances. Above that, our product is world-class with only the finest, quality ingredients uniquely tailored to deliver {{__ "Personalised"}} Perfume: For her. For him. For you. </p>
          </div>
          <div class="col-1-2" style="display: flex; flex-direction: column;position: relative;">
            <div class="video">
              <div class="landing-page-corporate-red-box"></div>
              <iframe width="100%" height="100%" src="//www.youtube.com/embed/_o4Q1fsyzds" frameborder="0" allowfullscreen></iframe>
            </div>
            <div>
              <img src="{{staticBase}}/assets/img/corporate/white-bottle.jpg">
            </div>
          </div>
        </div>
      </div>

      <div class="landing-page-corporate-full-screen-bg empowerment">
        <div class="empowerment-container">
          <div class="empowerment-content">
            <h3><strong>Empowerment.</strong></h3>
            <p>Give the gift that empowers employees to climb to new heights of achievement.</p>
          </div>
          <a href="#contact-us" class="ctabutton ctacorporate"><span>GET STARTED</span></a>
        </div>
      </div>

      <div id="contact-us" class="landing-page-corporate-page-section contact-section">
        <div class="container">
          <div class="col-container" style="align-items: center;font-weight: bold;">
            <div class="col-1-2">
              <h2 class="landing-page-corporate-subheadline" style="color: #000">CONTACT US</h2>
              <!--<p class="sales-region">EURO ASIA PACIFIC SALES</p>-->
              <!--<p>BLAKE LUVON</p>-->
                <!--<p>PH. <a style="color: black;" href="tel:+14155130980">+1 415.513.0980</a></p>-->
                <!--<p><a style="color: black;" href="mailto:blake@waft.com">BLAKE@WAFT.COM</a></p>-->
              <!--<p class="sales-region">UNITED STATES</p>-->
              <!--<p>DONN J. RICHARDSON</p>-->
                <!--<p>PH. <a style="color: black;" href="tel:+14043532000">+1 404.353.2000</a></p>-->
                <br/>
                <br/>
                <p><a style="color: black;" href="mailto:bizdev@waft.com">BIZDEV@WAFT.COM</a></p>
            </div>
            <div class="col-1-2">
              <form id="corporateForm">
                <label class="error"></label>
                <div class="col-container">
                  <div class="col-1-2">
                    <label>NAME <sup>*</sup></label>
                    <input id="userName" type="text">
                  </div>
                  <div class="col-1-2">
                    <label>COMPANY NAME <sup>*</sup></label>
                    <input id="userCompany" type="text">
                  </div>
                </div>
                <div class="col-container">
                  <div class="col-1-2">
                    <label>PHONE NUMBER <sup>*</sup></label>
                    <input id="userPhone" type="text">
                  </div>
                  <div class="col-1-2">
                    <label>EMAIL <sup>*</sup></label>
                    <input id="userEmail" type="text">
                  </div>
                </div>
                <input type="submit" class="ctabutton ctacorporate" value="SEND">
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="landing-page-corporate-footer">
        <div class="container">
          <img src="{{staticBase}}/assets/img/logo/waft_white.png">
          <p>Copyright &copy; 2017 Waft Pte Ltd. All Rights Reserved.</p>
        </div>
      </div>

    </div>

    {{> footer_scripts}}
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.magnific-popup/1.0.0/jquery.magnific-popup.min.js"></script>

    <script type="text/javascript">
      $('.hamburger-menu').on('click', function() {
        $('.corporate-landing-navigation').show();
      });
      $('.nav-close--js span').on('click', function() {
        $('.corporate-landing-navigation').hide();
      });
      $(document).ready(function() {
        var origin = window.location.protocol + '//' + window.location.hostname;
        $('.popup-youtube').magnificPopup({

            type: 'iframe',
            mainClass: 'mfp-fade',
            removalDelay: 160,
            preloader: false,

            fixedContentPos: true,
            iframe: {
                patterns: {
                    youtube: {
                        index: 'youtube.com/',
                        id: 'v=',
                        src: '//www.youtube.com/embed/%id%?autoplay=1&rel=0&enablejsapi=1&origin='+encodeURIComponent(origin)
                    }
                }
            }
        });
      });
      $('#corporateForm').submit(function (e) {
        e.preventDefault();
        var name = $('#userName').val();
        var company = $('#userCompany').val();
        var phone = $('#userPhone').val();
        var email = $('#userEmail').val();
        var pattern = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i;
        if (email == '' || !pattern.test(email)) {
            $('.error').text('Please enter a valid email');
            return;
        }
        if (company == '') {
            $('.error').text('Please enter a company name');
            return;
        }
        if (phone == '') {
            $('.error').text('Please enter a valid phone number');
            return;
        }
        if (name == '') {
            $('.error').text('Please enter your name');
            return;
        }
        $('.error').text('Processing...');
        corporateEmail(name, company, phone, email);
      });

      function corporateEmail(name, company, phone, email) {
        var body = {
            name: name,
            company_name: company,
            phone_number: phone,
            email: email
        }

        $.post("/api/corporate/contact", body)
          .done(function (data) {
              $('.error').text('Done! Thank you for signing up');
              var name = $('#userName').val('');
              var company = $('#userCompany').val('');
              var phone = $('#userPhone').val('');
              var email = $('#userEmail').val('');
          })
          .fail(function (xhr, status, error) {
              var data = JSON.parse(xhr.responseText);
              $('.error').text(data.message);
              // error handling
          });
      }
    </script>
  </body>
</html>
