<!DOCTYPE html>
<html>
  <head>
    <title>Waft - {{__ "Personalised Perfume"}}</title>
    {{> head}}
    <link rel="stylesheet" href="{{staticBase}}/assets/css/landing-page-gift-2.css" type="text/css" media="screen, projection" />
      <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.magnific-popup/1.0.0/magnific-popup.css" type="text/css" media="screen, projection" />
  </head>
  <body>
    <div id="page" class="gift-page">

      {{!-- Menu --}}
      {{> header gift=1}}

        <section>
            <div class="logo-container">
                <img class="logo" src="{{staticBase}}/assets/img/logo/waftgift.png"/>
            </div>
            <div>
                <span class="title">
                    CUSTOM PERFUME
                </span>
            </div>
            <h2>
                YOU GIVE. THEY CREATE.
            </h2>

            <!--<div class="container-for-video">-->
                <!--<div class="video-container video-container-16x9">-->
                    <!--<iframe src="https://www.youtube.com/embed/i7fybbd_c3s" allowfullscreen></iframe>-->
                <!--</div>-->
            <!--</div>-->

            <!--<img src="{{staticbase}}/assets/img/gift_landing/video-bg.png">-->
            <div class="video">
                <div>
                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=i7FybBD_c3s">
                        <img class="play-button" src="{{staticBase}}/assets/img/gift_landing/playbutton.svg" alt="" />
                    </a>
                </div>
            </div>

            <h4>
                GIVE THEM A GIFT THEY WON'T FORGET IN JUST 4 EASY STEPS.
            </h4>

            <a href="/app/gift" class="ctabutton"><span>GET STARTED</span></a>
        </section>
      {{> gtm}}
    </div>
    {{> footer_scripts}}
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.magnific-popup/1.0.0/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var origin = window.location.protocol + '//' + window.location.hostname;
            $('.popup-youtube').magnificPopup({

                type: 'iframe',
                mainClass: 'mfp-fade',
                removalDelay: 160,
                preloader: false,

                fixedContentPos: true,
                iframe: {
                    patterns: {
                        youtube: {
                            index: 'youtube.com/',
                            id: 'v=',
                            src: 'https://www.youtube.com/embed/%id%?autoplay=1&enablejsapi=1&origin='+encodeURIComponent(origin)
                        }
                    }
                }
            });
        });
    </script>
  </body>
</html>
