<!DOCTYPE html>
<html>
  <head>
    <title>Waft - {{__ "Personalised Perfume"}}</title>
    {{> head}}
    <link rel="stylesheet" href="{{staticBase}}/assets/css/landing-common.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{staticBase}}/assets/css/landing-page-gift.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
  </head>
  <body>
    <div id="page" class="gift-page">

      {{!-- Menu --}}
      {{> header gift=1}}

      {{!-- Header text --}}
      <!-- Desktop version -->
      <div class="hidden-xs b1">
        <div class="ct">
          <img class="logo" src="/assets/img/logo/waftgift.png"/>
          
          <div class="cta">
            <h2><img src="/assets/img/gift_landing/hash.png"/>BEMYVALENTINE</h2>
              <h1>YOU GIFT IT<br/>THEY CREATE IT</h1>
              <h3 style="color:black">{{__ "Personalised"}} Perfu<span style="color: red">me</span>:<br/> For her. For him. For you.</h3>
            <a class="ctabutton ctabutton-gift" href="/app/gift">
              <span>GIFT FRAGRANCE</span>
            </a>
            <br/>
            <a href="/app/wizard/type" class="yourself">Already know what they like?<br/> Create a custom fragrance for them.</a>
          </div>

          <div class="slide-section">
            <a href="#" class="arrow left-arrow"><img src="{{staticBase}}/assets/img/gift_landing/prev.svg"/></a>
            <a href="#" class="arrow right-arrow"><img src="{{staticBase}}/assets/img/gift_landing/next.svg"/></a>
            <div class="counter">
              <span class="current">1</span><span class="of">/4</span>
            </div>
            <h2>HOW IT WORKS</h2>
            <div class="slides">
              <div class="slide">
                <h1>Personalise your gift</h1>
                <img class="screen" src="{{staticBase}}/assets/img/gift_landing/slide1.png" style="width: 600px;"/>
              </div>
              <div class="slide">
                <h1>Your special person will receive an email…</h1>
                <img class="screen" src="{{staticBase}}/assets/img/gift_landing/slide2.png" style="width: 550px;"/>
              </div>
              <div class="slide">
                <h1>They go through the fragrance journey to design their own scent</h1>
                <img class="screen" src="{{staticBase}}/assets/img/gift_landing/slide3.png" style="width: 600px;"/>
              </div>
              <div class="slide">
                <h1>They receive the fragrance they designed with your message on the bottle.</h1>
                <img class="screen" src="{{staticBase}}/assets/img/gift_landing/slide4.png" style="width: 524px;"/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile version -->
      <div class="hidden-sm hidden-lg show-xs mb1">
        <div id="wpage0" class="wpage hidden">
            <div class="hashtag"><img src="/assets/img/gift_landing/hash.png"/>BEMYVALENTINE</div>
            <h1>YOU GIFT IT<br/>THEY CREATE IT</h1>
            <h3 style="color:black">{{__ "Personalised"}} Perfu<span style="color: red">me</span>:<br/> For her. For him. For you.</h3>
            <br/>
          <a class="ctabutton sm" style="margin-bottom: 15px;" href="/app/wizard/type"><span>DESIGN PERFUME YOURSELF</span></a>
          <a class="ctabutton sm"  style="margin-bottom: 15px;" href="#wpage1"><span>LET THEM DESIGN</span></a>
        </div>

        <div id="wpage1" class="wpage hidden">
          <h1>HOW IT WORKS</h1>
          <div class="counter">
            <span class="current">1</span>/4
          </div>
          <h3>Personalise your gift</h3>
          <img src="{{staticBase}}/assets/img/gift_landing/mslide1.png"/>
          <a class="ctabutton sm" href="#wpage2"><span>NEXT</span></a>
        </div>

        <div id="wpage2" class="wpage hidden">
            <h1>HOW IT WORKS</h1>
          <div class="counter">
            <span class="current">2</span>/4
          </div>
          <h3>Your special person will receive an email…</h3>
          <img src="{{staticBase}}/assets/img/gift_landing/mslide2.png"/>
          <a class="ctabutton sm" href="#wpage3"><span>NEXT</span></a>
        </div>

        <div id="wpage3" class="wpage hidden">
            <h1>HOW IT WORKS</h1>

          <div class="counter">
            <span class="current">3</span>/4
          </div>
          <h3>They go through the fragrance journey to design their own scent</h3>
          <div class="journey" style="height: 40%;box-sizing: border-box;">
            <div class="slide">
              <img src="{{staticBase}}/assets/img/gift_landing/mslide31.png"/>
            </div>
            <div class="slide">
              <img src="{{staticBase}}/assets/img/gift_landing/mslide32.png"/>
            </div>
            <div class="slide">
              <img src="{{staticBase}}/assets/img/gift_landing/mslide33.png"/>
            </div>
            <div class="slide">
              <img src="{{staticBase}}/assets/img/gift_landing/mslide34.png"/>
            </div>
            <div class="slide">
              <img src="{{staticBase}}/assets/img/gift_landing/mslide35.png"/>
            </div>
          </div>
          <a class="ctabutton sm" href="#wpage4">
            <span>NEXT</span></a>
        </div>

        <div id="wpage4" class="wpage hidden">
            <h1>HOW IT WORKS</h1>

          <div class="counter">
            <span class="current">4</span>/4
          </div>
          <h3>They receive the fragrance they designed with your message on the bottle.</h3>
          <img src="{{staticBase}}/assets/img/gift_landing/mslide4.png" style="margin-bottom: -50px;"/>
          
          <a class="ctabutton ctabutton-gift sm" href="/app/gift">
            <span>OK, LET'S GO</span>
          </a>
          <a class="secondary" href="/app/wizard/type">ACTUALLY I’D LIKE TO DESIGN THE GIFT PERFUME MYSELF</a>
        </div>
      </div>

      {{> gtm}}

      <div class="hidden-xs">
        {{> main_video}}
      </div>
      
      <div class="instapix hidden-xs">
        {{> instagram}}
      </div>
      <div class="hidden-xs">
        {{> footer}}
      </div>
    </div>
    {{> footer_scripts}}
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.slides').slick({
          /*arrows: false,*/
          infinite: true,
          variableWidth: true,
          centerMode: true,
          prevArrow: $('a.left-arrow'),
          nextArrow: $('a.right-arrow'),
            autoplay: true,
            autoplaySpeed: 2000
        });

        $('.slides').on('afterChange', function(event, slick, currentSlide){
          $('.slide-section > .counter > .current').text(currentSlide + 1);
        });

        var isJourneyInit = false;
        var wpages = ["wpage0", "wpage1", "wpage2", "wpage3", "wpage4"];
        function selectWpage() {
          var hash = window.location.hash.replace('#', '');
          if (hash == '') hash = "wpage0";
          if ($.inArray(hash, wpages > -1)) {
            $(".wpage").addClass('hidden');
            $("#" + hash).removeClass('hidden');
            if (hash == "wpage3" && !isJourneyInit) {
              $('.journey').slick({
                /* variableWidth: true, */
                infinite: true,
                centerMode: true,
                centerPadding: '33%',
                dots: true,
                  autoplay: true,
                  autoplaySpeed: 2000
              });
            }
          }
        }
        
        $(window).bind('hashchange',function() {
          selectWpage();
        });

        selectWpage();
      });
    </script>
  </body>
</html>
