<link rel="stylesheet" href="{{staticBase}}/assets/css/buttons.css" type="text/css"
      media="screen, projection">
<style>
  .error {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    margin-top: -20px;
    color: red;
    font-weight: 400;
    width: 300px;
  }
  .input-block {
    margin-bottom: 22px;
    height: 48px;
    border: 1px solid rgba(150, 150, 150, 0.11);
    border-radius: 9px;
    -webkit-border-radius: 9px;
    background-color: #FBFBFB;
  }

  input[type=password],input[type=text],input[type=email] {
    padding-right: 20px;
    padding-left: 20px;
    height: 48px;
    display: block;
    background: none;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 3px;
    color: #585f61;
    box-sizing: border-box;
  }
</style>
<div class="main-container ct">
  <div class="ct">
    <div class="col-lg-6">
      <h2 style="margin-bottom: 30px;">DOWNLOAD INVESTOR PRESENTATION</h2>
      <form id="investorsForm" action="/investors" method="POST">
        <div class="input-block">
          <input id="name" name="name" type="text" placeholder="Name" value="{{name}}">
        </div>
        {{#if errors.name}}
          {{#with errors.name}}            
            <div class="error">{{msg}}</div>
          {{/with}}
        {{/if}}          
        <div class="input-block">
          <input id="email" name="email" type="email" placeholder="Email" value="{{email}}">
        </div>
        {{#if errors.email}}
          {{#with errors.email}}            
            <div class="error">{{msg}}</div>
          {{/with}}
        {{/if}}          
        <div class="input-block">
          <input id="password" name="password" type="password" placeholder="Password">
        </div>
        {{#if errors.password}}
          {{#with errors.password}}            
            <div class="error">{{msg}}</div>
          {{/with}}
        {{/if}}          
        <button type="submit" class="btn btn-red">DOWNLOAD</button>
      </form>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
