<!DOCTYPE html>
<html>
<head>
    <title>Waft - Say it with Fragrance</title>
    {{> head min=true}}
    <link rel="stylesheet" href="{{staticBase}}/assets/css/landing-page-6.css" type="text/css"/>
</head>
<body>
<style>
    .landing-animation-03 {
        background-position: center center;
        background: url({{staticBase}}/assets/img/landing4/couple-wedding.jpg);
    }

    @media (max-width: 768px) {
        .landing-animation-03 {
            background: url({{staticBase}}/assets/img/landing4/couple-wedding-mobile.jpg);
        }
    }
</style>

<div id="page" class="home-v5">
    <header id="header">
        <div class="ct">
            <div class="l4-logo">
              <a href="#" class="logo"  style="background-image: url({{staticBase}}/assets/img/logo/{{__ "waftlogo-dark"}})"></a>
            </div>
        </div>
    </header>

    <!-- Desktop version -->
    <div class="b1 b1desktop">
        <div id="b1Slideshow">
            <div class="landing-animation landing-animation-03 landingfade landingcurrent"></div>
        </div>

        <div class="videooverlay"></div>

        <!-- Desktop version -->
        <div class="hidden-xs ct head-ct">
            <div class="ld4-t2">What's your signature scent?</div>
            <a href="/app/wizard/type" class="btn btn-red btn-red-arrow">START NOW</a>
        </div>

        <!-- Mobile version -->
        <div class="hidden-sm hidden-lg show-xs ct head-ct">
            <div class="ld4-t2">What's your signature scent?</div>
            <a href="/app/wizard/type" class="btn btn-red btn-red-arrow">START NOW</a>
        </div>

        <div class="head-perfume">
            <a class="ld4-btnhow popup-youtube" href="https://www.youtube.com/watch?v=BPT8Me3J9ps"><span></span></a>

            <div class="head-perfume-t">
                <p class="head-perfume-t1"></p><br/>
                <p class="head-perfume-t2"></p>
            </div>
        </div>

    </div>
    {{> footer short=true}}
</div>

{{> footer_scripts}}
<script type="text/javascript" src="{{staticBase}}/assets/js/vendor/typed.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.magnific-popup/1.0.0/jquery.magnific-popup.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var origin = window.location.protocol + '//' + window.location.hostname;
        $('.popup-youtube').magnificPopup({

            type: 'iframe',
            mainClass: 'mfp-fade',
            removalDelay: 160,
            preloader: false,

            fixedContentPos: true,
            iframe: {
                patterns: {
                    youtube: {
                        index: 'youtube.com/',
                        id: 'v=',
                        src: 'https://www.youtube.com/embed/%id%?autoplay=1&rel=0&enablejsapi=1&origin=' + encodeURIComponent(origin)
                    }
                }
            }
        });
        $(window).scroll(function () {
            if ($(this).scrollTop() > 1) {
                $('#header').addClass("sticky");
            }
            else {
                $('#header').removeClass("sticky");
            }
        });
    });

    $(window).on("load", function () {
        var typewriter = function () {
            $(".head-perfume-t1").typed({
                strings: ["Romance", "DESTINY."],
                typeSpeed: 120,
                startDelay: 700,
                backSpeed: 100,
                backDelay: 1000,
                callback: function () {
                    $(".typed-cursor").hide();
                    setTimeout(function () {
                        typewriter2();
                    }, 3000);
                }
            });
        };

        var typewriter2 = function () {
            $(".head-perfume-t2").typed({
                strings: ["Will you marry me?"],
                typeSpeed: 30,
                callback: function () {
                    $(".typed-cursor").hide();
                }
            });
        };
        typewriter();
    });
</script>
{{> gtm}}
</body>
</html>
