<!DOCTYPE html>
<html>
<head>
    <title>Waft - Say it with Fragrance</title>
    {{> head}}
    <link rel="stylesheet" href="{{staticBase}}/assets/css/landing-common.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{staticBase}}/assets/css/columns.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{staticBase}}/assets/css/landing-page-4.css" type="text/css" media="screen, projection" />

    <link rel="stylesheet" href="{{staticBase}}/assets/css/buttons.css" type="text/css" media="screen, projection" />

  <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.magnific-popup/1.0.0/magnific-popup.css" type="text/css" media="screen, projection" />
</head>
<body>
{{!-- Preloading images --}}
  <img style="display:none;" src="{{staticBase}}/assets/img/logo/{{__ "waftlogo-dark"}}" />
<img style="display:none;" src="{{staticBase}}/assets/img/bottle/bottletransparent.png"/>

<div id="page" class="pageloading home-v4">
    <header id="header">
        <div class="ct">
            <div class="mobile-menu"><span></span></div>
            <div class="l4-logo">
              <a href="#" class="logo" style="background-image: url({{staticBase}}/assets/img/logo/{{__ "waftlogo-dark"}})"></a>
            </div>
            <div class="main-menu">
                <ul>
                  <!--  <li><a href="javascript:void(0)" scrollanchor="howItWorks">{{__ "HOW IT WORKS"}}</a></li>-->
                    <li><a href="/about">ABOUT US</a></li>
                    <li><a href="/quality">QUALITY</a></li>
                    <li><a href="https://support.waft.com/hc/en-us/categories/204541687-FAQ">{{__ "FAQ"}}</a></li>
                    <li><a href="https://support.waft.com/hc/en-us/requests/new">{{__ "CONTACT US"}}</a></li>
                    <li class="hidden-desktop"><a href="/app/profile">SIGN IN</a></li>
                </ul>
            </div>
            <div class="rr1">
                <div class="rr hidden-sm">
                    <a href="/app/profile">SIGN IN</a>
                </div>
            </div>
        </div>
    </header>

    <!-- Desktop version -->
    <div class="b1 b1desktop">
        <div id="b1Slideshow">
            <div class="landing-animation landing-animation-01 landingfade landingcurrent"></div>
            <div class="landing-animation landing-animation-02 landingfade"></div>
            <div class="landing-animation landing-animation-03 landingfade" ></div>
            <style>
            /*Set the slideshow images*/
            .landing-animation-01 {
              background:url('/assets/img/landing4/waft-bicycle.jpg') left center;
            }
            .landing-animation-02 {
              background:url('/assets/img/landing4/couple-holiday.jpg');
            }
            .landing-animation-03 {
              background:url('/assets/img/landing4/couple-wedding.jpg');
            }

            @media (max-width:768px) {
              .landing-animation-01 {
                background:url('/assets/img/landing4/waft-bicycle-mobile.jpg') left center;
              }

              .landing-animation-02 {
                background:url('/assets/img/landing4/couple-holiday-mobile.jpg');
              }
              .landing-animation-03 {
                background:url('/assets/img/landing4/couple-wedding-mobile.jpg');
              }
            }
            </style>
        </div>

        <div class="videooverlay"></div>

        <!-- Desktop version -->
        <div class="hidden-xs ct head-ct">
            <div class="ld4-t1">SAY IT WITH FRAGRANCE</div>
            <div class="ld4-t2">Custom perfume</div>
            <div class="ld4-t3">By the world’s greatest perfumers</div>
            <a href="/app/wizard/type" class="ld4-btn btn btn-red btn-thin"><span>DESIGN MY FRAGRANCE</span></a>
        </div>

        <!-- Mobile version -->
        <div class="hidden-sm hidden-lg show-xs ct head-ct">
          <div class="ld4-t1">Say it with Fragrance</div>
            <div class="ld4-t2">Custom perfume</div>
            <div class="ld4-t3">By the world’s greatest perfumers</div>
            <a href="/app/wizard/type" class="ld4-btn btn btn-red btn-thin"><span>DESIGN MY FRAGRANCE</span></a>
        </div>


        <div class="head-perfume">
            <a class="ld4-btnhow popup-youtube" href="https://www.youtube.com/watch?v=BPT8Me3J9ps"><span></span></a>

            <div class="head-perfume-t">
                <p class="head-perfume-t1"></p><br/>
                <p class="head-perfume-t2"></p>
            </div>
        </div>

    </div>
    </div>




{{> footer_scripts}}
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.magnific-popup/1.0.0/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script type="text/javascript" src="{{staticBase}}/assets/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="{{staticBase}}/assets/js/vendor/typed.js"></script>


<script type="text/javascript">
    $('.cent-slide').slick({
        centerMode: true,
        centerPadding: '0',
        slidesToShow: 3,
        arrows: true,
        responsive: [
            {
                breakpoint: 750,
                settings: {
                    centerMode: true,
                    slidesToShow: 1
                }
            }
        ]
    });

    $(".img-holder img[alt='#tab1']").show();
    $(".criteria a").click(function () {
        var tabnum = $(this).attr("href");
        $(".criteria a").removeClass("active");
        $(this).addClass("active");

        $(".img-holder img").hide();
        $(".img-holder img[alt='" + tabnum + "']").show();
    });

    $(document).ready(function () {
        var origin = window.location.protocol + '//' + window.location.hostname;
        $('.popup-youtube').magnificPopup({
            type: 'iframe',
            mainClass: 'mfp-fade',
            removalDelay: 160,
            preloader: false,

            fixedContentPos: true,
            iframe: {
                patterns: {
                    youtube: {
                        index: 'youtube.com/',
                        id: 'v=',
                        src: 'https://www.youtube.com/embed/%id%?autoplay=1&enablejsapi=1&origin='+encodeURIComponent(origin)
                    }
                }
            }
        });

            var sliderContent = function() {
              var screenWidth = $(window).width();;
             /*<video id="b1-video" class="video" width="300" height="150" autoplay loop muted playsinline poster="{{staticBase}}/assets/img/landing4/waft-bicycle.jpg">
                  <source src="{{staticBase}}/assets/video/waft-bicycle.mp4" type="video/mp4" />
                  <source src="{{staticBase}}/assets/video/waft-bicycle.webm" type="video/webm" />
              </video>*/

              // if dekstop
              if (screenWidth > 900) {
                $(".landing-animation-01").html(
                    '<video id="b1-video" class="video" width="640" height="264" autoplay loop muted playsinline>' +
                        '<source src="{{staticBase}}/assets/video/waft-bicycle.mp4" type="video/mp4"></source>' +
                        '<source src="{{staticBase}}/assets/video/waft-bicycle.webm" type="video/webm"></source>' +
                    '</video>');
              }
            }


                $(window).scroll(function() {
                  if ($(this).scrollTop() > 1){
                      $('#header').addClass("sticky");
                    }
                    else{
                      $('#header').removeClass("sticky");
                    }
                  });

                var toggleLogo = function() {
                  $(".mobile-menu").click(function() {
                    $("#header").toggleClass("mobile-menuopen");
                  })
                }


                sliderContent();
                  toggleLogo();
      });


          $(window).on("load",function() {

                var slideshow =  function fade() {
                      var divs = $('.landingfade'),
                       current = $('.landingcurrent'),
                       currentIndex = divs.index(current),
                       nextIndex = currentIndex + 1;

                     if (nextIndex < divs.length) {
                          //nextIndex = 0;

                      var next = divs.eq(nextIndex);

                      next.stop().fadeIn(2500, function () {
                          $(this).addClass('landingcurrent');
                      });

                      current.stop().fadeOut(2500, function () {
                          $(this).removeClass('landingcurrent');
                          setTimeout(fade, 2500);
                      });
                    };
                  };

            var typewriter = function() {
                $(".head-perfume-t1").typed({
                  strings: ["Romance","DESTINY."],
                  typeSpeed: 120,
                  startDelay: 700,
                  backSpeed: 100,
                  backDelay: 1000,
                  callback: function(){
                    $(".typed-cursor").hide();
                    setTimeout(function () {
                        typewriter2();
                    }, 3000);
                  }
              });
            };

            var typewriter2 = function() {
                    $(".head-perfume-t2").typed({
                        strings: ["Will you marry me?"],
                        typeSpeed: 30,
                        callback: function(){
                          $(".typed-cursor").hide();
                        }
                    });
            };



                  //FADE IN PAGE
                  setTimeout(function () {
                      $(".pageloading").removeClass("pageloading");
                  }, 200);

                  // START BG SLIDER
                  setTimeout(function () {
                      slideshow();
                  }, 2500);

                  typewriter();
    });
</script>
</body>
</html>
