<!DOCTYPE html>
<html>
<head>
    <title>Waft - Personalised Perfume</title>
    {{> head}}
    <link rel="stylesheet" href="{{staticBase}}/assets/css/landing-common.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{staticBase}}/assets/css/columns.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{staticBase}}/assets/css/landing-page2.css" type="text/css" media="screen, projection" />

    <link rel="stylesheet" href="{{staticBase}}/assets/css/buttons.css" type="text/css" media="screen, projection" />

    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.magnific-popup/1.0.0/magnific-popup.css" type="text/css" media="screen, projection" />
</head>
<body>
{{!-- Preloading images --}}
  <img style="display:none;" src="{{staticBase}}/assets/img/logo/{{__ "waftlogo-dark"}}" />

<div id="page">
    <header id="header">
        <div class="ct">
            <div class="mobile-menu"><span></span></div>
            <div class="ll">
              <a href="#" class="logo" style="background-image: url({{staticBase}}/assets/img/logo/{{__ "waftlogo-dark"}})"></a>
            </div>
            <div class="main-menu">
                <ul>
                    <li><a href="javascript:void(0)" scrollanchor="howItWorks">{{__ "HOW IT WORKS"}}</a></li>
                    <li><a href="/about">ABOUT US</a></li>
                    <li><a href="/quality">QUALITY</a></li>
                    <li><a href="https://support.waft.com/hc/en-us/categories/204541687-FAQ">{{__ "FAQ"}}</a></li>
                    <li><a href="https://support.waft.com/hc/en-us/requests/new">{{__ "CONTACT US"}}</a></li>
                    <li class="hidden-desktop"><a href="/app/profile">SIGN IN</a></li>
                </ul>
            </div>
            <div class="rr1">
                <a class="st1" href="https://support.waft.com/hc/en-us/articles/235465768">
                    {{__ "WORLDWIDE DELIVERY"}}
                </a>
                <div class="rr hidden-sm">
                    <a href="/app/profile">SIGN IN</a>
                </div>
            </div>
        </div>
    </header>

    <div class="b1">
        <div class="ct head-ct ctabuttons-box">
            <div>
                <h1>
                    Personalised Perfu<span class="redme">me</span>
                </h1>
                <h2>
                    Let us find the perfect scent - just for you.
                </h2>
                <p class="muted hidden-sm">
                    Meet the future of fragrance brought to you by some of the<br/>
                    world’s greatest perfume artisans.
                </p>
                <a href="app/wizard/type" class="btn btn-big btn-green btn-with-arrow">Get Started</a>
                <p class="hidden-xs">
                    Start creating your fragrance in seconds
                </p>
            </div>
        </div>
    </div>

    {{> gtm}}

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css" />

    <div id="howItWorks" class="b2">
        <div class="ct infographics">
            <h2>
                How It Works
            </h2>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <img src="{{staticBase}}/assets/img/landing2/1icon.svg" alt="" />

                <h4>
                    ENTER THE WAFT LAB
                </h4>
                <p>
                    The WaftLab is an exhilarating experience that will help you define and discover the perfect fragrances to accessorise each of your moods and moments.
                </p>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <img src="{{staticBase}}/assets/img/landing2/2icon.svg" alt="" />

                <h4>SELECT YOUR PREFERENCES</h4>
                <p>
                    Our Waft Fragrance Artists will analyse your favourite moods, scents, and social activities to design a custom fragrance just for you.
                </p>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <img src="{{staticBase}}/assets/img/landing2/3icon.svg" alt="" />

                <h4>RECEIVE YOUR CREATION</h4>
                <p>
                    Voila! Your custom fragrance is ready and will be sent to you bundled with two FREE, customised “Mini You” layering fragrances.
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div id="lab" class="waftdetails">
        <div class="ct">
            <div class="col-lg-5 col-sm-6 col-xs-12">
                <h2>
                    Why go for ordinary when<br/> you can get Waft?
                </h2>
                <ul>
                    <li>
                        <i><img src="" alt=""></i>
                        <h4>Personalised</h4>
                        <p>
                            A fragrance crafted just for you
                        </p>
                    </li>
                    <li>
                        <i><img src="" alt=""></i>
                        <h4>Quality</h4>
                        <p>
                            Made by the top noses of the perfume world using only the finest natural ingredients
                        </p>
                    </li>
                    <li>
                        <i><img src="" alt=""></i>
                        <h4>LAYERING</h4>
                        <p>
                            Get three bottles to combine into a kaleidoscope of options
                        </p>
                    </li>
                    <li>
                        <i><img src="" alt=""></i>
                        <h4>RISK-FREE</h4>
                        <p>
                            Live with your fragrances for a week before committing yourself to a full order
                        </p>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="video">
            <div>
                <a class="popup-youtube" href="https://www.youtube.com/watch?v=BPT8Me3J9ps">
                    <img src="{{staticBase}}/assets/img/landing2/play-video.svg" alt="" />
                    <span>Introduction to Waft</span>
                </a>
            </div>
        </div>
    </div>

    <div id="howItWorksGift" class="b2">
        <div class="ct infographics">
            <h2>
                And it’s literally the perfect gift. We promise.
            </h2>
            <h3>
                Do something different! Gift your friends the Waft Lab journey.<br/>
                Let them create their own scent. All it takes is five minutes.
            </h3>
            <div class="col-md-4 col-sm-12 col-xs-12">

                <img src="{{staticBase}}/assets/img/landing2/gift_step_1.jpg"/>

                <h4>
                    CUSTOMIZE THE BOTTLE WITH <br/> THE NAME AND MESSAGE
                </h4>
                <p>
                    The WaftLab is an exhilarating experience that will help you define and discover the perfect fragrances to accessorise each of your moods and moments.
                </p>

            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">

                <img src="{{staticBase}}/assets/img/landing2/gift_step_2.jpg"/>

                <h4>
                    CUSTOMIZE THE GIFT<br/> NOTIFICATION
                </h4>
                <p>
                    Our Waft Fragrance Artists will analyse your favourite moods, scents, and social activities to design a custom fragrance just for you.
                </p>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">

                <img src="{{staticBase}}/assets/img/landing2/gift_step_3.jpg"/>

                <h4>
                    PAY FOR THEIR WAFT <br/> JOURNEY TO BEGIN
                </h4>
                <p>
                    Voila! Your custom fragrance is ready and will be sent to you bundled with two FREE, customised “Mini You” layering fragrances.
                </p>
            </div>
            <div class="clearfix"></div>
            <br/>
            <a href="/gift" class="btn btn-big btn-green btn-with-arrow">Create Your Gift Now</a>
        </div>
    </div>

    <div class="criteria hidden-sm">
        <div class="ct">
            <h2>
                Introducing the WaftLab
            </h2>
            <h3>
                Here's a sneak peek of the experience that awaits you.
            </h3>
            <div class="col-md-7">
                <div class="img-holder">
                    <img alt="#tab1" src="{{staticBase}}/assets/img/landing2/screen1.jpg" />
                    <img alt="#tab2" src="{{staticBase}}/assets/img/landing2/screen2.jpg" />
                    <img alt="#tab3" src="{{staticBase}}/assets/img/landing2/screen3.jpg" />
                    <img alt="#tab4" src="{{staticBase}}/assets/img/landing2/screen4.jpg" />
                    <img alt="#tab5" src="{{staticBase}}/assets/img/landing2/screen5.jpg" />
                    <img alt="#tab6" src="{{staticBase}}/assets/img/landing2/screen6.jpg" />
                    <img alt="#tab7" src="{{staticBase}}/assets/img/landing2/screen7.jpg" />
                    <img alt="#tab8" src="{{staticBase}}/assets/img/landing2/screen8.jpg" />
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <ul>
                    <li>
                        <a href="#tab1" class="active">
                            <h4>TYPE</h4>
                            <p>Select if you prefer your scent to be more masculine or feminine.</p>
                        </a>
                    </li>
                    <li>
                        <a href="#tab2">
                            <h4>TIME OF DAY</h4>
                            <p>Instead of the same scent all day, try a different scent for every moment. </p>
                        </a>
                    </li>
                    <li>
                        <a href="#tab3">
                            <h4>ACTIVITY</h4>
                            <p>Same fragrance for tennis, a business meeting and a sexy date? No way! Tell us what you will be doing while wearing your new creation.</p>
                        </a>
                    </li>
                    <li>
                        <a href="#tab4">
                            <h4>MOOD</h4>
                            <p>Scent has the power to create and transform your mood. A single aroma has the ability to instantly transport you to another time and place, or flood your body and brain powerful feelings and emotions.</p>
                        </a>
                    </li>
                    <li>
                        <a href="#tab5">
                            <h4>PERSONAL STYLE</h4>
                            <p>The moment you walk into a room, your style instantly communicates more about you than words ever could.</p>
                        </a>
                    </li>
                    <li>
                        <a href="#tab6">
                            <h4>WAFT</h4>
                            <p>“Waft” is the gentle swirling of air that floats behind when you pass by. Your waft can be subtle and discreet, bold and loud, or something in between.</p>
                        </a>
                    </li>
                    <li>
                        <a href="#tab7">
                            <h4>INGREDIENTS</h4>
                            <p>Designing a fragrance is like crafting a piece of fine art. On average, about 80 different ingredients go into the making of a single fine fragrance. Waft is the Mona Lisa of the fragrance world—the most famous noses around the globe have worked on the Waft fragrance collection.</p>
                        </a>
                    </li>
                    <li>
                        <a href="#tab8">
                            <h4>FAVORITE SCENTS</h4>
                            <p>Tell us which perfumes you like so that we can craft the perfect scent. Then pick one to inspire us.</p>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    {{> testimonials}}

    <div class="instagram">
        <div class="ct">
            <h2>Follow us on Instagram</h2>
            <h3>Get inspired. We love your likes and shares.</h3>
        </div>
        <iframe src="https://snapwidget.com/embed/279899" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:240px;margin: 40px 0;"></iframe>
        <div class="ct text-center">
            <a href="/app/wizard/type" class="btn btn-big btn-green btn-with-arrow">Get Started</a>
            <p>Start creating your fragrance in seconds</p>
        </div>
    </div>

    <div class="landing-footer">
        <div class="form">
            <div class="ct text-center">
                <h5>Sign up for the world’s best fragrance newsletter</h5>
                <form id="newsletterForm">
                    <div>
                        <label class="error"></label>
                        <input type="email" id="userEmail" value="" placeholder="Enter your email address" />
                    </div>
                    <span class="hidden-sm">&nbsp;</span>
                    <button type="submit" class="btn btn-green btn-with-arrow">
                        SIGN UP NOW
                    </button>
                </form>
            </div>
        </div>
    </div>
    {{> footer}}
</div>
{{> footer_scripts}}
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.magnific-popup/1.0.0/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script type="text/javascript">
    $('.cent-slide').slick({
        centerMode: true,
        centerPadding: '0',
        slidesToShow: 3,
        arrows: true,
        responsive: [
            {
                breakpoint: 750,
                settings: {
                    centerMode: true,
                    slidesToShow: 1
                }
            }
        ]
    });

    $(".img-holder img[alt='#tab1']").show();
    $(".criteria a").click(function () {
        var tabnum = $(this).attr("href");
        $(".criteria a").removeClass("active");
        $(this).addClass("active");

        $(".img-holder img").hide();
        $(".img-holder img[alt='" + tabnum + "']").show();
    });

    $(document).ready(function () {
        var origin = window.location.protocol + '//' + window.location.hostname;
        $('.popup-youtube').magnificPopup({

            type: 'iframe',
            mainClass: 'mfp-fade',
            removalDelay: 160,
            preloader: false,

            fixedContentPos: true,
            iframe: {
                patterns: {
                    youtube: {
                        index: 'youtube.com/',
                        id: 'v=',
                        src: 'https://www.youtube.com/embed/%id%?autoplay=1&enablejsapi=1&origin='+encodeURIComponent(origin)
                    }
                }
            }
        });
    });
</script>
</body>
</html>
