<!DOCTYPE html>
<html>
<head>
    <title>Waft - Say it with Fragrance</title>
    {{> head}}
    <link rel="stylesheet" href="{{staticBase}}/assets/css/landing-page-8.css" type="text/css" media="screen, projection"/>
</head>
<body>

<div class="container">
  <h1>Design. Layer. Rock.</h1>
  <img src="{{staticBase}}/assets/img/landing8/custom-fragrances-black.png">
  <a href="/app/wizard/type" class="btn">Discover Your Scents</a>
</div>

<div class="overlay"></div>
{{> gtm}}

</body>
</html>
