<!DOCTYPE html>
<html>
<head>
    <title>Waft - Say it with Fragrance</title>
    {{> head}}
    <link rel="stylesheet" href="{{staticBase}}/assets/css/landing-page-7.css" type="text/css"
          media="screen, projection"/>
</head>
<body>
{{!-- Preloading images --}}
  <img style="display:none;" src="{{staticBase}}/assets/img/logo/{{__ "waftlogo-dark"}}"/>
<img style="display:none;" src="{{staticBase}}/assets/img/landing4/bottletransparent.png"/>


<div id="page" class="pageloading home-v5">
    {{> header home=1}}

    <!-- Desktop version -->
    <div class="b1 b1desktop">
        <div id="b1Slideshow">
            <div class="landing-animation landing-animation-01 landingfade landingcurrent"></div>
            <div class="landing-animation landing-animation-02 landingfade"></div>
            <div class="landing-animation landing-animation-03 landingfade"></div>
        </div>

        <div class="videooverlay"></div>

        <!-- Desktop version -->
        <div class="hidden-xs ct head-ct">
            <div class="ld4-t1">SAY IT WITH FRAGRANCE</div>
            <div class="ld4-t2">Custom perfume</div>
            <div class="ld4-t3">By the world’s greatest perfumers</div>
            <a href="/app/wizard/type" class="ld4-btn btn btn-red btn-thin"><span>DESIGN MY FRAGRANCE</span></a>
        </div>

        <!-- Popover Desktop -->
        <div class="popover popover-desktop popover-valentines">
            <div class="popover-inner">
                <p class="popover-dismiss"></p>
                <img src="{{staticBase}}/assets/img/popovers/popover-valentines-desktop.png" width="545px"/>
                <a class="popover-cta btn btn-red btn-thin" href="/gift-valentines-day">GIFT NOW</a>
            </div>
        </div>

        <!-- Mobile version -->
        <div class="hidden-sm hidden-lg show-xs ct head-ct">
            <div class="ld4-t1">Say it with Fragrance</div>
            <div class="ld4-t2">Custom perfume</div>
            <div class="ld4-t3">By the world’s greatest perfumers</div>
            <a href="/app/wizard/type" class="ld4-btn btn btn-red btn-thin"><span>DESIGN MY FRAGRANCE</span></a>
        </div>

        <!-- Popover Mobile -->
        <div class="popover popover-mobile popover-valentines">
            <div class="popover-inner">
                <p class="popover-dismiss"></p>
                <img src="{{staticBase}}/assets/img/popovers/popover-valentines-mobile.png" width="380px"/>
                <a class="popover-cta btn btn-red btn-thin" href="/gift-valentines-day">GIFT NOW</a>
            </div>
        </div>


        <div class="head-perfume">
            <a class="ld4-btnhow popup-youtube" href="https://www.youtube.com/watch?v=BPT8Me3J9ps"><span></span></a>

            <div class="head-perfume-t">
                <div class="ingredient-web"></div>
                <p class="head-perfume-t1"></p><br/>
                <p class="head-perfume-t2"></p>
                <div class="ingredient-list">
                  <div><span>Masculine</span></div>
                  <div><span>Night</span></div>
                  <div><span>Sport</span></div>
                  <div><span>Sexy</span></div>
                  <div><span>Trendy</span></div>
                </div>
            </div>
        </div>

    </div>

    {{> gtm}}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"
          type="text/css"/>


    <div id="howItWorks" class="b2">
        <div class="ct infographics">
            <h2>
                How It Works
            </h2>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <img src="{{staticBase}}/assets/img/landing2/1icon.svg" alt=""/>

                <h4>
                    {{__ "landing5.howitworks.1.title"}}
                </h4>
                <p>
                    {{__ "landing5.howitworks.1.text"}}
                </p>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <img src="{{staticBase}}/assets/img/landing2/2icon.svg" alt=""/>

                <h4>{{__ "landing5.howitworks.2.title"}}</h4>
                <p>
                    {{__ "landing5.howitworks.2.text"}}
                </p>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <img src="{{staticBase}}/assets/img/landing2/3icon.svg" alt=""/>

                <h4>{{__ "landing5.howitworks.3.title"}}</h4>
                <p>
                    {{__ "landing5.howitworks.3.text"}}
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="criteria hidden-sm">
        <div class="ct">
            <h2>
                Introducing the WaftLab
            </h2>
            <h3>
                Here's a sneak peek of the experience that awaits you.
            </h3>
            <div class="col-md-7">
                <div class="img-holder">
                    <img alt="#tab1" src="{{staticBase}}/assets/img/landing2/screen1.jpg"/>
                    <img alt="#tab2" src="{{staticBase}}/assets/img/landing2/screen2.jpg"/>
                    <img alt="#tab3" src="{{staticBase}}/assets/img/landing2/screen3.jpg"/>
                    <img alt="#tab4" src="{{staticBase}}/assets/img/landing2/screen4.jpg"/>
                    <img alt="#tab5" src="{{staticBase}}/assets/img/landing2/screen5.jpg"/>
                    <img alt="#tab6" src="{{staticBase}}/assets/img/landing2/screen6.jpg"/>
                    <img alt="#tab7" src="{{staticBase}}/assets/img/landing2/screen7.jpg"/>
                    <img alt="#tab8" src="{{staticBase}}/assets/img/landing2/screen8.jpg"/>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <ul>
                    <li>
                        <a href="#tab1" class="active">
                            <h4>TYPE</h4>
                            <p>Select if you prefer your scent to be more masculine or feminine.</p>
                        </a>
                    </li>
                    <li>
                        <a href="#tab2">
                            <h4>TIME OF DAY</h4>
                            <p>Instead of the same scent all day, try a different scent for every moment. </p>
                        </a>
                    </li>
                    <li>
                        <a href="#tab3">
                            <h4>ACTIVITY</h4>
                            <p>Same fragrance for tennis, a business meeting and a sexy date? No way! Tell us what you
                                will be doing while wearing your new creation.</p>
                        </a>
                    </li>
                    <li>
                        <a href="#tab4">
                            <h4>MOOD</h4>
                            <p>Scent has the power to create and transform your mood. A single aroma has the ability to
                                instantly transport you to another time and place, or flood your body and brain powerful
                                feelings and emotions.</p>
                        </a>
                    </li>
                    <li>
                        <a href="#tab5">
                            <h4>PERSONAL STYLE</h4>
                            <p>The moment you walk into a room, your style instantly communicates more about you than
                                words ever could.</p>
                        </a>
                    </li>
                    <li>
                        <a href="#tab6">
                            <h4>WAFT</h4>
                            <p>“Waft” is the gentle swirling of air that floats behind when you pass by. Your waft can
                                be subtle and discreet, bold and loud, or something in between.</p>
                        </a>
                    </li>
                    <li>
                        <a href="#tab7">
                            <h4>INGREDIENTS</h4>
                            <p>Designing a fragrance is like crafting a piece of fine art. On average, about 80
                                different ingredients go into the making of a single fine fragrance. Waft is the Mona
                                Lisa of the fragrance world—the most famous noses around the globe have worked on the
                                Waft fragrance collection.</p>
                        </a>
                    </li>
                    <li>
                        <a href="#tab8">
                            <h4>FAVORITE SCENTS</h4>
                            <p>Tell us which perfumes you like so that we can craft the perfect scent. Then pick one to
                                inspire us.</p>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    {{> testimonials}}

    <div class="instagram">
        <div class="ct">
            <h2>Follow us on Instagram</h2>
            <h3>Get inspired. We love your likes and shares.</h3>
        </div>
        <iframe src="https://snapwidget.com/embed/279899" class="snapwidget-widget" allowtransparency="true"
                frameborder="0" scrolling="no"
                style="border:none; overflow:hidden; width:100%; height:240px;margin: 40px 0;"></iframe>
        <div class="ct text-center">
            <a href="/app/wizard/type" class="btn btn-red btn-thin">Get Started</a>
            <p>Start creating your fragrance in seconds</p>
        </div>
    </div>

    <div class="landing-footer">
        <div class="form">
            <div class="ct text-center">
                <h5>Sign up for the world’s best fragrance newsletter</h5>
                <form id="newsletterForm">
                    <div>
                        <label class="error"></label>
                        <input type="email" id="userEmail" value="" placeholder="Enter your email address"/>
                    </div>
                    <span class="hidden-sm">&nbsp;</span>
                    <button type="submit" class="btn btn-white-red btn-thin">
                        SIGN UP NOW
                    </button>
                </form>
            </div>
        </div>
    </div>
    {{> footer}}
</div>

{{> footer_scripts}}
<script type="text/javascript"
        src="//cdn.jsdelivr.net/jquery.magnific-popup/1.0.0/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script type="text/javascript" src="{{staticBase}}/assets/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="{{staticBase}}/assets/js/vendor/typed.js"></script>

<script type="text/javascript">
    $('.cent-slide').slick({
        centerMode: true,
        centerPadding: '0',
        slidesToShow: 3,
        arrows: true,
        responsive: [
            {
                breakpoint: 750,
                settings: {
                    centerMode: true,
                    slidesToShow: 1
                }
            }
        ]
    });

    $(".img-holder img[alt='#tab1']").show();
    $(".criteria a").click(function () {
        var tabnum = $(this).attr("href");
        $(".criteria a").removeClass("active");
        $(this).addClass("active");

        $(".img-holder img").hide();
        $(".img-holder img[alt='" + tabnum + "']").show();
    });

    $(document).ready(function () {
        var origin = window.location.protocol + '//' + window.location.hostname;
        $('.popup-youtube').magnificPopup({

            type: 'iframe',
            mainClass: 'mfp-fade',
            removalDelay: 160,
            preloader: false,

            fixedContentPos: true,
            iframe: {
                patterns: {
                    youtube: {
                        index: 'youtube.com/',
                        id: 'v=',
                        src: 'https://www.youtube.com/embed/%id%?autoplay=1&rel=0&enablejsapi=1&origin=' + encodeURIComponent(origin)
                    }
                }
            }
        });

        var sliderContent = function () {
            var screenWidth = $(window).width();

            // if dekstop
            if (screenWidth > 768) {
                $(".landing-animation-01").html(
                    '<video id="b1-video" class="video" width="640" height="264" autoplay muted loop playsinline poster="">' +
                    '<source src="{{staticBase}}/assets/video/waft-bicycle.mp4" type="video/mp4"></source>' +
                    '<source src="{{staticBase}}/assets/video/waft-bicycle.webm" type="video/webm"></source>' +
                    '</video>');
            }
        }

        $(window).scroll(function () {
            if ($(this).scrollTop() > 1) {
                $('#header').addClass("sticky");
            }
            else {
                $('#header').removeClass("sticky");
            }
        });

        var toggleLogo = function () {
            $(".mobile-menu").click(function () {
                $("#header").toggleClass("mobile-menuopen");
            })
        }


        sliderContent();
        toggleLogo();
    });

    $(window).on("load", function () {

        var slideshow = function fade() {
            var divs = $('.landingfade'),
                current = $('.landingcurrent'),
                currentIndex = divs.index(current),
                nextIndex = currentIndex + 1;

            if (nextIndex < divs.length) {
                //nextIndex = 0;

                var next = divs.eq(nextIndex);

                next.stop().fadeIn(2500, function () {
                    $(this).addClass('landingcurrent');
                });

                current.stop().fadeOut(2500, function () {
                    $(this).removeClass('landingcurrent');
                    setTimeout(fade, 2500);
                });
            }
            ;
        };

        var typewriter = function () {
            $(".head-perfume-t1").typed({
                strings: ["Romance", "DESTINY."],
                typeSpeed: 120,
                startDelay: 700,
                backSpeed: 100,
                backDelay: 1000,
                callback: function () {
                    $(".typed-cursor").hide();
                    setTimeout(function () {
                        typewriter2();
                    }, 3000);
                }
            });
        };

        var typewriter2 = function () {
            $(".head-perfume-t2").typed({
                strings: ["Will you marry me?"],
                typeSpeed: 30,
                callback: function () {
                    $(".typed-cursor").hide();
                }
            });
        };


        //FADE IN PAGE
        setTimeout(function () {
            $(".pageloading").removeClass("pageloading");
        }, 200);

        // START BG SLIDER
        setTimeout(function () {
            slideshow();
        }, 2500);

        var popover = function () {
            $(".popover").addClass("popoverActive");

            $(".popover-dismiss").click(function () {
                $(".popover").css({'transition': 'none'});
                $(".popover").fadeOut(300);
            });

            // If an event gets to the body
            $("body").click(function () {
                $(".popover").css({'transition': 'none'});
                $(".popover").fadeOut(300);
            });

            // Prevent events from getting pass .popup
            $(".popover-inner").click(function (e) {
                e.stopPropagation();
            });
        };

        typewriter();
        popover();


    });
</script>
</body>
</html>
