<!DOCTYPE html>
<html>
<head>
  <title>Waft - {{__ "Personalised Perfume"}}</title>
    {{> head}}
    <link rel="stylesheet" href="{{staticBase}}/assets/css/landing-common.css" type="text/css"
          media="screen, projection"/>
    <link rel="stylesheet" href="{{staticBase}}/assets/css/landing-page.css" type="text/css"
          media="screen, projection"/>
</head>
<body>
{{!-- Preloading images --}}
  <img style="display:none;" src="{{staticBase}}/assets/img/logo/{{__ "waftlogo-dark"}}"/>
<img style="display:none;" src="{{staticBase}}/assets/img/landing/mobbg.jpg"/>

<div id="page">
    {{> header home=1}}

    <!-- Desktop version -->
    <div class="hidden-xs b1">
        <div class="ct head-ct ctabuttons-box">
            <div class="t1">{{__ "Personalised"}} perfu<span class="redme">me</span>: <br>{{__ "SUBTITLE"}}</div>
            <div class="ll ll1">
                <h5>{{__ "foryou.header"}}</h5>
                <p>{{__ "foryou.tagline.line1"}}<br/>{{__ "foryou.tagline.line2"}}</p>
                <a href="/app/wizard/type" class="ctabutton ctabutton-lab"><span>{{__ "foryou.button.line1"}}</span></a>
            </div>
            <div class="ll ll2">
                <h5>{{__ "togift.header"}}</h5>
                <p>{{__ "togift.tagline"}}</p>
                <a href="/gift" class="ctabutton ctabutton-gift"><span>{{__ "togift.button.line1"}}</span></a>
            </div>
            <span class="price-try">INCLUDES TRY BEFORE YOU BUY OPTION</span>
            <span class="price">FROM {{priceLab}}</span>
            <!--<a href="#" class="referal">GOT A REFERRAL CODE?</a>-->
        </div>
        <div class="dc2">
        </div>
        <!--scroll down-->
        <!--<div class="st2"></div>-->
    </div>

    <!-- Mobile version -->
    <div class="hidden-sm hidden-lg show-xs">
        <div class="b1">
            <div class="dc2">
                <div class="head-text">
                    <div class="title"><br>
                        <span class="l1">FINEST QUALITY</span><br>
                        <span class="l1">PERFUME, TAILORED</span><br>
                        <span class="l1">TO YOU</span><br><br>
                        <span class="l2">CREATE YOUR OWN <br> {{__ "PERSONALISED FRAGRANCE"}}</span>
                    </div>
                </div>
                <div class="ll ll1">
                    <a href="/app/wizard/type" class="ctabutton ctabutton-lab sm"><span>{{__ "foryou.header"}}</span></a>
                </div>
                <div class="ll ll2">
                    <a href="/gift" class="ctabutton ctabutton-gift sm"><span>{{__ "togift.header"}}</span></a>
                </div>
                <span class="price-try">INCLUDES TRY BEFORE YOU BUY OPTION</span>
                <span class="price">FROM {{priceLab}}</span>
            </div>
        </div>
    </div>

    {{> gtm}}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>

    <div id="howItWorks" class="b2 infographic">
        <div class="ct hidden-sm">
            <div class="col-lg-4">
                <img src="{{staticBase}}/assets/img/landing/1icon.svg" alt=""/>
                <span class="num">01</span>
                <h3>
                    Enter the lab to start designing your own custom fragrance
                </h3>
                <p>
                    Waft Lab takes you on a journey resulting in your perfect scent. Spend five minutes discovering the
                    New You.
                </p>
            </div>
            <div class="col-lg-4">
                <img src="{{staticBase}}/assets/img/landing/2icon.svg" alt=""/>
                <span class="num">02</span>
                <h3>SELECT YOUR PREFERENCES & REVEAL YOUR UNIQUE IDENTITIES</h3>
                <p>
                    Click through the choices and watch as the New You is built from the ground up
                </p>
            </div>
            <div class="col-lg-4 without-line">
                <img src="{{staticBase}}/assets/img/landing/3icon.svg" alt=""/>
                <span class="num">03</span>
                <h3>{{__ "CUSTOMISE YOUR BOTTLE & NAME YOUR FRAGRANCE"}}</h3>
                <p>Voilà! Put the finishing touches on your creation as you name your scent and adorn the bottle with
                    your
                    own message. Your New You is bundled with two complimentary Mini-You's and ready to go.</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="ct hidden-lg">
            <div class="slick">
                <div>
                    <img src="{{staticBase}}/assets/img/landing/1icon.svg"/>
                    <span class="num">01</span>
                    <h3>
                        Enter the lab to start designing your own custom fragrance
                    </h3>
                    <p>
                        Waft Lab takes you on a journey resulting in your perfect scent. Spend five minutes discovering
                        the New You.
                    </p>
                </div>
                <div>
                    <img src="{{staticBase}}/assets/img/landing/2icon.svg" alt=""/>
                    <span class="num">02</span>
                    <h3>SELECT YOUR PREFERENCES & REVEAL YOUR UNIQUE IDENTITIES</h3>
                    <p>
                        Click through the choices and watch as the New You is built from the ground up
                    </p>
                </div>
                <div>
                    <img src="{{staticBase}}/assets/img/landing/3icon.svg" alt=""/>
                    <span class="num">03</span>
                    <h3>{{__ "CUSTOMISE YOUR BOTTLE & NAME YOUR FRAGRANCE"}}</h3>
                    <p>Voilà! Put the finishing touches on your creation as you name your scent and adorn the bottle
                        with your
                        own message. Your New You is bundled with two complimentary Mini-You's and ready to go.</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="lab" class="b3 hidden-sm waftdetails">
        <div class="ll1">
            <img src="{{staticBase}}/assets/img/landing/waft-journey.png" width="305" height="49">
            <h2>DISCOVER THE NEW YOU</h2>
            <p>Let's make a creation that you are destined to love. Click through the stunning interactive experience
                to help us match you with a scent which will change the way you see perfume forever.</p>
            <br/>
            <a href="/app/wizard/type" class="ctabutton ctabutton-lab hidden-sm"><span>{{__ "foryou.button.line1"}}</span></a>
            <a href="/app/wizard/type" class="ctabutton ctabutton-lab hidden-lg"><span>{{__ "foryou.header"}}</span></a>
        </div>
        <div class="ft1"></div>
    </div>
    <div id="gift" class="waftlab-section waftdetails hidden-sm">
        <div class="ct">
            <div class="infographic-gift-slick hidden-lg">
                <div class="pre">
                    <img width="221" src="{{staticBase}}/assets/img/logo/waftgift.png" alt="journey"/>
                    <h2>
                      {{__ "gift.firstHead.title"}}
                    </h2>
                    <p>
                      {{__ "gift.firstHead.text"}}
                    </p>
                </div>
                <div class="rt-poss">
                </div>
                <div class="steps">
                  <div>
                    <img src="{{staticBase}}/assets/img/gift_landing/1.svg" alt="icon"/>
                    <span>01</span>
                    <h5>{{__ "gift.01.title"}}</h5>
                    <p>{{__ "gift.01.text"}}</p>
                  </div>
                  <div>
                    <img src="{{staticBase}}/assets/img/gift_landing/2.svg" alt="icon"/>
                    <span>02</span>
                    <h5>
                      CONFIRM AND <br/> CHECKOUT
                    </h5>
                    <p>See an overview of what the recipient will receive, login to easily process your order</p>
                  </div>
                  <div>
                    <img src="{{staticBase}}/assets/img/gift_landing/3.svg" alt="icon"/>
                    <span>03</span>
                    <h5>
                      WAFT SENDS EMAIL TO YOUR LOVED ONE
                    </h5>
                    <p>See an overview of what the recipient will receive, login to easily process your order</p>
                  </div>
                  <div>
                    <img src="{{staticBase}}/assets/img/gift_landing/4.svg" alt="icon"/>
                    <span>04</span>
                    <h5>
                      YOUR LOVED ONE <br/> ENTERS WAFTLAB
                    </h5>
                    <p>Kick back and relax knowing that you’ve just delivered the finest gift anyone’s ever
                      seen.</p>
                  </div>
                  <div>
                    <img src="{{staticBase}}/assets/img/gift_landing/5.svg" alt="icon"/>
                    <span>05</span>
                    <h5>
                      RECEIVES MIND <br/> BLOWING FRAGRANCE
                    </h5>
                    <p>Kick back and relax knowing that you’ve just delivered the finest gift anyone’s ever
                      seen.</p>
                  </div>
                  <div>
                    <img src="{{staticBase}}/assets/img/gift_landing/cup.png" alt="journey"/>
                    <h5>
                      {{__ "gift.result.title"}}
                    </h5>
                    <p>
                      {{__ "gift.result.text"}}
                    </p>
                  </div>
                </div>
                <div class="pre-center">
                  <a href="/gift" class="ctabutton ctabutton-gift">
                    <span class="hidden-sm">{{__ "togift.button.line1"}}</span>
                    <span class="hidden-lg">{{__ "togift.header"}}</span>
                  </a>
                </div>
            </div>
            <div class="infographic-gift hidden-sm">
              <div class="pre">
                <img width="221" src="{{staticBase}}/assets/img/logo/waftgift.png" alt="journey"/>
                <h2>
                  {{__ "gift.firstHead.title"}}
                    </h2>
                    <p>
                      {{__ "gift.firstHead.text"}}
                    </p>
                </div>
                <div class="rt-poss">
                </div>
                <div class="steps">
                    <div>
                        <img src="{{staticBase}}/assets/img/gift_landing/1.svg" alt="icon"/>
                        <span>01</span>
                        <h5>{{__ "gift.01.title"}}</h5>
                        <p>{{__ "gift.01.text"}}</p>
                    </div>
                    <div>
                        <img src="{{staticBase}}/assets/img/gift_landing/2.svg" alt="icon"/>
                        <span>02</span>
                        <h5>
                            CONFIRM AND <br/> CHECKOUT
                        </h5>
                        <p>See an overview of what the recipient will receive, login to easily process your order</p>
                    </div>
                    <div>
                        <img src="{{staticBase}}/assets/img/gift_landing/3.svg" alt="icon"/>
                        <span>03</span>
                        <h5>
                            WAFT SENDS EMAIL TO YOUR LOVED ONE
                        </h5>
                        <p>See an overview of what the recipient will receive, login to easily process your order</p>
                    </div>
                    <div>
                        <img src="{{staticBase}}/assets/img/gift_landing/4.svg" alt="icon"/>
                        <span>04</span>
                        <h5>
                            YOUR LOVED ONE <br/> ENTERS WAFTLAB
                        </h5>
                        <p>Kick back and relax knowing that you’ve just delivered the finest gift anyone’s ever
                            seen.</p>
                    </div>
                    <div>
                        <img src="{{staticBase}}/assets/img/gift_landing/5.svg" alt="icon"/>
                        <span>05</span>
                        <h5>
                            RECEIVES MIND <br/> BLOWING FRAGRANCE
                        </h5>
                        <p>Kick back and relax knowing that you’ve just delivered the finest gift anyone’s ever
                            seen.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="pre-center">
                    <img src="{{staticBase}}/assets/img/gift_landing/cup.png" alt="journey"/>
                    <h2>
                      {{__ "gift.result.title"}}
                    </h2>
                    <p>
                      {{__ "gift.result.text"}}
                    </p>
                    <a href="/gift" class="ctabutton ctabutton-gift">
                        <span class="hidden-sm">{{__ "togift.button.line1"}}</span>
                        <span class="hidden-lg">{{__ "togift.header"}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{> main_video}}
    {{> instagram }}
    {{> cta_section}}
    {{> footer}}
</div>
{{> footer_scripts}}
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
</body>
</html>
