<!DOCTYPE html>
<html>
<head>
    <title>Waft - Say it with Fragrance</title>
    {{> head}}
    <link rel="stylesheet" href="{{staticBase}}/assets/css/landing-common.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{staticBase}}/assets/css/columns.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{staticBase}}/assets/css/landing-page-5-mobile.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{staticBase}}/assets/css/bootstrap.min.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{staticBase}}/assets/css/buttons.css" type="text/css" media="screen, projection" />
</head>
<body>
{{!-- Preloading images --}}
  <img style="display:none;" src="{{staticBase}}/assets/img/logo/{{__ "waftlogo-dark"}}" />
<img style="display:none;" src="{{staticBase}}/assets/img/landing4/bottletransparent.png"/>


<div id="page" class="pageloading home-v5">
    {{> header home=1}}

  <div class="b1 b1desktop">
      <div id="b1Slideshow">
          <div class="landing-animation landing-animation-03 landingcurrent" ></div>
          <style>
            .landing-animation-03 {
              background:url('/assets/img/landing4/couple-wedding-mobile.jpg');
            }
          </style>
      </div>

      <div class="videooverlay"></div>

      <div class="ct head-ct">
          <div class="ld4-t1"></div>
          <div class="ld4-t2">What's your signature scent?</div>
          <div class="ld4-t2">What's your signature scent?</div>
          <a href="/app/wizard/type" class="ld4-btn btn btn-red btn-thin"><span>START NOW →</span></a>
      </div>

      <div class="head-perfume">
          <a class="ld4-btnhow popup-youtube" href="https://www.youtube.com/watch?v=BPT8Me3J9ps"><span></span></a>

          <div class="head-perfume-t">
              <p class="head-perfume-t1"></p><br/>
              <p class="head-perfume-t2"></p>
          </div>
      </div>

  </div>


    {{> gtm}}
</div>

{{> footer_scripts}}
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.magnific-popup/1.0.0/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script type="text/javascript" src="{{staticBase}}/assets/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="{{staticBase}}/assets/js/vendor/typed.js"></script>

<script type="text/javascript">
    $('.cent-slide').slick({
        centerMode: true,
        centerPadding: '0',
        slidesToShow: 3,
        arrows: true,
        responsive: [
            {
                breakpoint: 750,
                settings: {
                    centerMode: true,
                    slidesToShow: 1
                }
            }
        ]
    });

    $(".img-holder img[alt='#tab1']").show();
    $(".criteria a").click(function () {
        var tabnum = $(this).attr("href");
        $(".criteria a").removeClass("active");
        $(this).addClass("active");

        $(".img-holder img").hide();
        $(".img-holder img[alt='" + tabnum + "']").show();
    });

    $(document).ready(function () {
      var origin = window.location.protocol + '//' + window.location.hostname;
      $('.popup-youtube').magnificPopup({

          type: 'iframe',
          mainClass: 'mfp-fade',
          removalDelay: 160,
          preloader: false,

          fixedContentPos: true,
          iframe: {
              patterns: {
                  youtube: {
                      index: 'youtube.com/',
                      id: 'v=',
                      src: 'https://www.youtube.com/embed/%id%?autoplay=1&rel=0&enablejsapi=1&origin='+encodeURIComponent(origin)
                  }
              }
          }
      });


      $(window).scroll(function() {
        if ($(this).scrollTop() > 1){
            $('#header').addClass("sticky");
          }
          else{
            $('#header').removeClass("sticky");
          }
        });

        var toggleLogo = function() {
          $(".mobile-menu").click(function() {
            $("#header").toggleClass("mobile-menuopen");
          })
        }


          toggleLogo();
  });

$(window).on("load",function() {

  var typewriter = function() {
      $(".head-perfume-t1").typed({
        strings: ["Romance","DESTINY."],
        typeSpeed: 120,
        startDelay: 700,
        backSpeed: 100,
        backDelay: 1000,
        callback: function(){
          $(".typed-cursor").hide();
          setTimeout(function () {
              typewriter2();
          }, 3000);
        }
    });
  };

  var typewriter2 = function() {
          $(".head-perfume-t2").typed({
              strings: ["Will you marry me?"],
              typeSpeed: 30,
              callback: function(){
                $(".typed-cursor").hide();
              }
          });
  };




        typewriter();


      });
</script>
</body>
</html>
