<!DOCTYPE html>
<html>
  <head>
    <title>Waft - Personalised Perfume</title>
    {{> head}}
    <link rel="stylesheet" href="{{staticBase}}/assets/css/landing-common.css" type="text/css"/>
    <link rel="stylesheet" href="{{staticBase}}/assets/css/landing-page.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{staticBase}}/assets/css/auxstyle.css">
  </head>
  <body>
    {{> gtm}}
    <div id="page">
        {{> header}}
        <div class="main ct">
            {{{body}}}
        </div>
        {{> footer}}
    </div>
    {{> footer_scripts}}
  </body>
</html>
