<h2>PRIVACY POLICY</h2>

<p>
  We adhere strictly to the terms of Singapore’s Personal Data Protection Act (“PDPA”) and will manage any personal data you provide in accordance with its terms as set out below.
</p>

<p>
  If you, at any time, have any queries on this policy, please do not hesitate to contact our Privacy and Data Protection Team at <a href="mailto:privacy@waft.com">privacy@waft.com</a>
</p>

<h2>COLLECTION OF YOUR PERSONAL DATA</h2>

<p>
  1. Waft collects personal data during the course of its everyday activities, and will only collect such personal data if it is necessary for one of our functions or activities.
</p>

<p>
  2. The Personal Data Protection Act requires us to collect personal data about you, only from you, if it is reasonable and practical to do so. Some examples of the types of information which we may collect include:
</p>

<ol>
<li>contact information such as names, addresses, telephone numbers, and email addresses;</li>
<li>unique information such as ID or passport number, photograph, contact preferences, and date of birth; and</li>
<li>transaction history.</li>
</ol>

<h2>HOW PERSONAL DATA IS COLLECTED</h2>

<p>
  3. Some examples of how personal data can be collected:
</p>

<ol>
  <li>Register your details on our website, or apps;</li>
  <li>When you complete purchase orders, requests or applications for our products or services (by phone, in person, snail mail, or electronically);</li>
  <li>When you conduct certain types of transactions such as refunds;</li>
  <li>Participate in surveys and other types of research; or</li>
</ol>

<h2>PURPOSES FOR COLLECTION, USE, DISCLOSURE AND PROCESSING OF PERSONAL DATA</h2>

<p>
  4. The personal data which we collect from you may be collected, used, disclosed and/or processed for various purposes, depending on the circumstances for which we may/will need to process your personal data, including:
</p>

<ol>
  <li>to communicate with you;</li>
  <li>to maintain and improve customer relationship;</li>
  <li>to assess, process and provide products, services and/or facilities to you;</li>
  <li>to establish your identity and background;</li>
  <li>to respond to your enquiries or complaints and resolve any issues and disputes which may arise in connection with any dealings with us;</li>
  <li>to provide you with information and/or updates on our products, services, upcoming promotions offered by us and/or events organised by us and selected third parties which may be of interest to you from time to time;</li>
  <li>for direct marketing purposes via SMS, phone call, email, fax, mail, social media and/or any other appropriate communication channels to members of our loyalty programmes;</li>
  <li>to facilitate your participation in, and our administration of, any events including contests, promotions or campaigns;</li>
  <li>to award points in a loyalty or rewards programme;</li>
  <li>to maintain and update internal record keeping;</li>
  <li>for internal administrative purposes;</li>
  <li>to send you seasonal greetings messages from time to time;</li>
  <li>to send you invitation to join our events and promotions and product launch events;</li>
  <li>to process and analyse your Personal Data either individually or collectively with other individuals;</li>
  <li>to conduct market research or surveys, internal marketing analysis, customer profiling activities, analysis of customer patterns and choices, planning and statistical and trend analysis in relation to our products and/or services;</li>
  <li>for detecting, investigating and preventing fraudulent, prohibited or illegal activities;</li>
  <li>for meeting any applicable legal or regulatory requirements and making disclosure under the requirements of any applicable law, regulation, direction, court order, by-law, guideline, circular or code applicable to us</li>
</ol>

<p>
  (collectively, the “Purposes”)
</p>

<p>
  5. As the purposes for which we may/will collect, use, disclose or process your personal data depend on the circumstances at hand, such purpose may not appear above. However, we will notify you of such other purpose at the time of obtaining your consent, unless processing of your personal data without your consent is permitted by the PDPA or by law.
</p>

<p>
  6. In order to conduct our business operations more smoothly, we may also be disclosing the personal data you have provided to us to our third party service providers, agents and/or our affiliates or related corporations, and/or other third parties (including but not limited to our logistics partners and couriers) whether sited in Singapore or outside of Singapore, for one or more of the above-stated Purposes. Such third party service providers, agents and/or affiliates or related corporations and/or other third parties would be processing your personal data either on our behalf or otherwise, for one or more of the above-stated Purposes.
</p>

<h2>SPECIFIC ISSUES FOR THE DISCLOSURE OF PERSONAL DATA TO THIRD PARTIES</h2>

<p>
  7. We respect the confidentiality of the personal data you have provided to us. Waft does not share, sell, rent or release any personal data collected to any individuals, companies or groups. Any information we collect is used for Waft’s own purposes as described in this policy.
</p>

<p>
  8. The third parties whom we conduct business are only authorized to use your information to perform the service for which they were hired. As part of our agreement with them, they are required to follow the PDPA laws and policies that we provide, and to take reasonable measures to ensure your personal data is secure.
</p>

<p>
  9. In that regard, we will not disclose your personal data to third parties without first obtaining your consent permitting us to do so. However, please note that we may disclose your personal data to third parties without first obtaining your consent in certain situations, including, without limitation, the following:
</p>

<ol>
  <li>cases in which the disclosure is required or authorized based on the applicable laws and/or regulations;</li>
  <li>cases in which the purpose of such disclosure is clearly in your interests, and if consent cannot be obtained in a timely way;</li>
  <li>cases in which the disclosure is necessary to respond to an emergency that threatens the life, health or safety of yourself or another individual;</li>
  <li>cases in which the disclosure is necessary for any investigation or proceedings</li>
  <li>cases in which the personal data is disclosed to any officer of a prescribed law enforcement agency, upon production of written authorisation signed by the head or director of that law enforcement agency or a person of a similar rank, certifying that the personal data is necessary for the purposes of the functions or duties of the officer; </li>
  <li>where such disclosure without your consent is permitted by the PDPA or by law. </li>
</ol>

<p>
  10. The instances listed above at paragraph 10 are not intended to be exhaustive. For more information on the exceptions, you are encouraged to peruse the Second, Third and Fourth Schedules of the PDPA which is publicly available at http://statutes.agc.gov.sg.
</p>

<p>
  11. Where we disclose your personal data to third parties with your consent, we will employ our best efforts to require such third parties to protect your personal data.
</p>

<h2>REQUEST FOR ACCESS AND/OR CORRECTION OF PERSONAL DATA</h2>

<p>
  12. You may request to access and/or correct the personal data currently in our possession by submitting your request to our Privacy and Data Protection Team at <a href="mailto:privacy@waft.com">privacy@waft.com</a>.
</p>

<p>
  13. For a request to access personal data, we will provide you with the relevant personal data within thirty (30) days from such a request being made.
</p>

<p>
  14. Where a request cannot be complied with within the above time frame, we will inform you of the reasonably soonest time in which we will respond. 
</p>

<p>
  15. For a request to correct personal data, we will correct your personal data as soon as practicable after the request has been made unless we have reasonable grounds not to do so.
</p>

<p>
  16. Depending on the scope and nature of the work required to process your access request, we may be required to impose a fee to recover our administrative costs. This will be assessed on a case-by-case basis by our Privacy and Data Protection Team. Where such a fee is to be imposed, we will provide you with a written estimate of the fee for your consideration. Please note that we will only process your request once you have agreed to the payment of the fee. In certain cases, we may also require a deposit from you before we process the access request. You will be notified in a deposit is required in the written estimate of the fee, if any.
</p>

<h2>REQUEST TO WITHDRAW CONSENT</h2>

<p>
  17. You may withdraw your consent for the collection, use and/or disclosure of your personal data in our possession or under our control by submitting your request to our Privacy and Data Protection Team at <a href="mailto:privacy@waft.com">privacy@waft.com</a>.
</p>

<p>
  18. We will process your request within a reasonable time from such a request for withdrawal of consent being made, and will thereafter not collect, use and/or disclose your personal data in the manner stated in your request.
</p>

<p>
  19. However, your withdrawal of consent could result in certain legal consequences arising from such withdrawal. In this regard, depending on the extent of your withdrawal of consent for us to process your personal data, it may mean that we will not be able to continue with your existing relationship with us.
</p>

<p>
  20. The collection of your Personal Data by us may be mandatory or voluntary in nature depending on the Purposes for which your Personal Data is collected. Where it is obligatory for you to provide us with your Personal Data, and you fail or choose not to provide us with such data, or do not consent to the above or this Policy, we will not be able to provide products and/or services or otherwise deal with you.
</p>

<h2>ADMINISTRATION AND MANAGEMENT OF PERSONAL DATA</h2>

<p>
  21. We will take reasonable efforts to ensure that your personal data is accurate and complete, if your personal data is likely to be used by Waft to make a decision that affects you, or disclosed to another organisation. However, this means that you must also update us of any changes in your personal data that you had initially provided us with. We will not be responsible for relying on inaccurate or incomplete personal data arising from your not updating us of any changes in your personal data that you had initially provided us with.
</p>

<p>
  22. We will also put in place reasonable security arrangements to ensure that your personal data is adequately protected and secured. Appropriate security arrangements will be taken to prevent any unauthorized access, collection, use, disclosure, copying, modification, leakage, loss, damage and/or alteration of your personal data. However, we cannot assume responsibility for any unauthorized use of your personal data by third parties which are wholly attributable to factors beyond our control. 
</p>

<p>
  23. We will also put in place measures such that your personal data in our possession or under our control is destroyed and/or anonymized as soon as it is reasonable to assume that (i) the purpose for which that personal data was collected is no longer being served by the retention of such personal data; and (ii) retention is no longer necessary for any other legal or business purposes.
</p>

<h2>COOKIE POLICY</h2>

<p>
  24. Please note that we use cookies on our website. Cookies are text files that we put on your computer and they store/record information about your visit to and use of the website. Cookies can compile information about your browsing habits and can also enhance your browsing experience.
</p>

<p>
  25. We use cookies for the Purposes including but not limited to (a) to improving your user experience on this website; (b) helping us to understand how this website is performing; (c) to monitoring traffic to the website; (e) enabling this website to function properly.
</p>

<p>
  26. Personal data (if any) that we collect from you through cookies may be passed to our third party service providers, whether located in Singapore or elsewhere, for one or more of the aforesaid purposes, for managing and/or administering our website, or for the purpose of data hosting/storage/backup. Your use of our website constitutes consent by you to our use of cookies and to the matters set out herein.
</p>

<h2>COMPLAINT PROCESS</h2>

<p>
  27. If you have any complaint or grievance regarding about how we are handling your personal data or about how we are complying with the PDPA, we welcome you to contact us with your complaint or grievance through an email Privacy and Data Protection Team at <a href="mailto:privacy@waft.com">privacy@waft.com</a>.
</p>

