<div id="quality" class="main-container ct quality">
    <div class="ct">
        <div class="l1">
            <h2>A RETURN TO QUALITY</h2>
            <div class="ll1 waftdetails">
                <p>
                    Once our customers experience Waft, they never look at perfume the same way.
                    They understand that you can create a beautiful kaleidoscope of scents, each matching a moment or a mood.
                    They are stunned when they come across, perhaps for the first time, what a truly world class perfume maker can achieve.

                    To do this, we have partnered with International Flavors and Fragrances and their team of extraordinary perfume craftsmen to bring world class quality perfume within the reach of everybody.
                    By bringing customised fragrance directly to consumers online, we are able to invest where it really counts: sourcing the finest ingredients possible with no regard to cost and employing the finest perfumers in the world to create something that is nothing short of magical.

                    Our goal is to push the limits of what could be achieved, to reach the pinnacle of perfumery art. This is the Waft Revolution.
            </div>
            <div class="ll2 hidden-sm">
                <p>
                    The purity of natural ingredients captured in a bottle.
                </p>
            </div>
        </div>
        <div class="r1 guarantee">
            <img src="{{staticBase}}/assets/img/logo/guarantee_white.png"/>
            <p>
                We realise that buying a perfume online inevitably raises the question "how do I know that I will like it?" But we are so certain that you will love what we send you that we offer you both a "Try before you buy" option and an iron clad, No Questions Asked Money Back Guarantee.
            </p>
            <p>
                Doing something different does not have to mean taking a risk.
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{{> main_video}}
{{> cta_section}}
