<!DOCTYPE html>
<html>
<head>
  <title>Waft - {{__ "Referral Program"}}</title>
    {{> head}}
    <link rel="stylesheet" href="{{staticBase}}/assets/css/referral.css" type="text/css"
          media="screen, projection"/>
    <link rel="stylesheet" href="{{staticBase}}/assets/css/landing-common.css" type="text/css"
          media="screen, projection"/>
    <link rel="stylesheet" href="{{staticBase}}/assets/css/landing-page.css" type="text/css"
          media="screen, projection"/>
</head>
<body>

    <div id="page" class="referralPage">
      {{> header home=1}}
      <!-- Hero Desktop -->
    <div class="referralHero">
      <div class="cta-buttonsbox">
           <h5>SHARE & EARN</h5>
           <h1>Give your friends 10% off <span>purchases</span>
            & earn rewards for yourself</h1>
            <a href="/app/profile/referral" class="ctabutton"><span>GET STARTED</span></a>
        </div>
      </div>

      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
        {{> gtm}}

      <!-- How it works -->
      <div id="howItWorks" class="b2 infographic">
        <h1  class="t2">How it works</h1>
          <div class="ct hidden-sm">
              <div class="col-lg-3">
                  <img src="{{staticBase}}/assets/img/referral/ChooseIcon.svg"/>
                  <span class="num">01</span>
                  <h3>
                    CHOOSE WHICH REWARD YOU WANT TO RECEIVE
                  </h3>
              </div>
              <div class="col-lg-3">
                  <img src="{{staticBase}}/assets/img/referral/ShareIcon.svg" alt=""/>
                  <span class="num">02</span>
                  <h3>SHARE YOUR LINK OR REFERRAL CODE WITH YOUR FRIENDS</h3>
              </div>
              <div class="col-lg-3">
                <img src="{{staticBase}}/assets/img/referral/PurchaseIcon.svg" alt=""/>
                <span class="num">03</span>
                <h3>Your friend makes their first purchase and gets 10% off</h3>
              </div>
              <div class="col-lg-3 without-line">
                  <img src="{{staticBase}}/assets/img/referral/RewardIcon.svg" alt=""/>
                  <span class="num">04</span>
                  <h3>YOU RECEIVE YOUR REWARD. EASY AS THAT</h3>
              </div>
              <div class="clearfix"></div>
          </div>

          <div class="ct hidden-lg">
              <div class="slick">
                  <div>
                      <img src="{{staticBase}}/assets/img/referral/ChooseIcon.svg"/>
                      <span class="num">01</span>
                      <h3>
                          CHOOSE WHICH REWARD YOU WANT TO RECEIVE
                      </h3>
                  </div>
                  <div>
                      <img src="{{staticBase}}/assets/img/referral/ShareIcon.svg" alt=""/>
                      <span class="num">02</span>
                      <h3>SHARE YOUR LINK OR REFERRAL CODE WITH YOUR FRIENDS</h3>
                  </div>
                  <div>
                      <img src="{{staticBase}}/assets/img/referral/PurchaseIcon.svg" alt=""/>
                      <span class="num">03</span>
                      <h3>Your friend makes their first purchase and gets 10% off</h3>
                  </div>
                  <div>
                      <img src="{{staticBase}}/assets/img/referral/RewardIcon.svg" alt=""/>
                      <span class="num">04</span>
                      <h3>YOU RECEIVE YOUR REWARD. EASY AS THAT</h3>
                  </div>
              </div>
          </div>
          <div class="clearfix"></div>
      </div>


      <!-- The rewards -->
      <div class="rewardInfo">
        <img src="/assets/img/referral/rewardInfoBgMobile.jpg"/>
        <div class="ct">
            <div class="rewardInfoText">
                  <h2 class="t2">The more you share<br/> The more you earn</h2>
                  <p class="infoText">Every time a friend buys for the first time you get another reward. You can choose which reward you want:</p>

                  <div class="rewardInfoType rewardInfo1">
                    <p class="rewardInfoImg">$10</p>
                    <h3>$10 DISCOUNT</h3>
                    <p>You receive $10 towards future purchases at Waft for any full-price sale your efforts produce.</p>
                  </div>

                  <div class="rewardInfoType rewardInfo2">
                    <p class="rewardInfoImg">10%</p>
                    <h3>10% CASH REWARD</h3>
                    <p>Earn cash. You get 10% of any sale your referral outreach creates.</p>
                  </div>
            </div>
        </div>
      </div>

      <!-- The rewards -->
      <div class="finalCta">
        <h2 class="t2">Ready to make some cash?</h2>
        <a href="/app/profile/referral" class="ctabutton"><span>GET STARTED</span></a>
        <p>Please note that you can only receive rewards if you refer Waft to people who are new customers. For more information read the <a href="https://support.waft.com/hc/en-us/sections/115001046248" target="_blank">Referal FAQs</a></p>
      </div>

      {{> footer}}
  </div>
{{> footer_scripts}}
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
</body>
</html>
