<link rel="stylesheet" href="{{staticBase}}/assets/css/resetPasswordForm.css" type="text/css"
      media="screen, projection">
<div id="password-recovery">
    <div class="inner">
        <form id="changePwdForm">
            <div class="t1">Change Password</div>
            <div class="error"></div>
            <div class="input-block">
                <input id="firstPassword" type="password" placeholder="New Password">
            </div>
            <div class="input-block">
                <input id="secondPassword" type="password" placeholder="Confirm Password">
            </div>
            <input id="token" type="hidden" value='{{token}}'>
            <input id="userId" type="hidden" value='{{userId}}'>
            <button type="submit" class="btn btn-red">CHANGE PASSWORD</button>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#changePwdForm").on('submit',function (e) {
            e.preventDefault();
            var firstPassword = $('#firstPassword').val();
            var secondPassword = $('#secondPassword').val();
            var token = $('#token').val();
            var userId = $('#userId').val();

            if (firstPassword == '' || secondPassword == '') {
                $('.error').text('All fields are required');
                return;
            }
            if (firstPassword.length < 8) {
                $('.error').text('Minimum password length is 8 characters');
                return;
            }
            if (firstPassword != secondPassword) {
                $('.error').text('Passwords are not matching');
                return;
            }
            $('.error').text('Processing...');
            changePassword(firstPassword, secondPassword, token, userId);
        });

        function changePassword(firstPassword, secondPassword, token, userId) {
            var body = {
                firstPassword: firstPassword,
                secondPassword: secondPassword,
                token: token,
                userId: userId
            };

            $.post("/api/auth/password/change", body).done(function (data) {
                $('.error').text(data.message);

                if (data.success) {
                    $('.error').text('Success!');
                    setTimeout(function () {
                        window.location.href = '/';
                    }, 3000);
                }
            }).fail(function (xhr, status, error) {
                var data = JSON.parse(xhr.responseText);
                $('.error').text(data.message);
            });
        }
    });
</script>


