<h2 id="termsUse">TERMS OF USE</h2>

<p>
  Please read these terms and conditions carefully. The following Terms of Use govern your use and access of the Platform (defined below) and the use of the Services. By accessing the Platformand/or using the Services, you agree to be bound by these Terms of Use. If you do not agree to these Terms of Use, do not access and/or use this Platform or the Services.
</p>
<p>
  If you are below 18 years old: you must obtain consent from your parent(s) or legal guardian(s), their acceptance of these Terms of Use and their agreement to take responsibility for: (i) your actions; (ii) any charges associated with your use of any of the Services or purchase of Products; and (iii) your acceptance and compliance with these Terms of Use. If you do not have consent from your parent(s) or legal guardian(s), you must stop using/accessing this Platform and using the Services.
</p>

<h2>1. Definitions & Interpretation</h2>

<p>
  Unless otherwise defined, the definitions and provisions in respect of interpretation set out in the Annex will apply to these Terms of Use.
</p>

<h2>2. General use of Services and/or access of Platform</h2>

<p>
  2.1 Guidelines to the use of Platform and/or Services: You agree to comply with any and all the guidelines, notices, operating rules and policies and instructions pertaining to the use of the Services and/or access to the Platform, as well as any amendments to the aforementioned, issued by us, from time to time. We reserve the right to revise these guidelines, notices, operating rules and policies and instructions at any time and you are deemed to be aware of and bound by any changes to the foregoing upon their publication on the Platform.
</p>
<p>
  2.2 Restricted activities: You agree and undertake NOT to:
</p>
<ol>
  <li>use the Platform or Services for illegal purposes;</li>
  <li>attempt to gain unauthorized access to or otherwise interfere or disrupt other computer systems or networks connected to the Platform or Services;</li>
  <li>use or upload, in any way, any software or material that contains, or which you have reason to suspect that contains, viruses, damaging components, malicious code or harmful components which may impair or corrupt the Platform’s data or damage or interfere with the operation of another Customer’s computer or mobile device or the Platform or Services; and</li>
  <li>use the Platform or Services other than in conformance with the acceptable use policies of any connected computer networks, any applicable Internet standards and any other applicable laws.</li>
</ol>
<p>
  2.3 Availability of Platform and Services: We may, from time to time and without giving any reason or prior notice, upgrade, modify, suspend or discontinue the provision of or remove, whether in whole or in part, the Platform or any Services and shall not be liable if any such upgrade, modification, suspension or removal prevents you from accessing the Platform or any part of the Services.
</p>
<p>
  2.4 Privacy Policy: Your use of the Services and/or access to the Platform is also subject to the Privacy Policy as set out at <a href="https://waft.com/privacy/">https://waft.com/privacy/</a>
</p>
<p>
  2.6 Terms & Conditions of Sale: Purchases of any Product would be subject to the Terms & Conditions of Sale.
</p>

<h2>3. Use of Services</h2>
<p>
  3.1 Application of this Clause: In addition to all other terms and conditions of these Terms of Use, the provisions in this Clause 3 are the additional specific terms and conditions governing your use of the Services.
</p>
<p>
  3.2 Restrictions: Use of the Services is limited to authorised Customers that are of legal age and who have the legal capacity to enter into and form contracts under any applicable law. Customers who have breached or are in breach of the terms and conditions contained herein and Customers who have been permanently or temporarily suspended from use of any of the Services may not use the Services even if they satisfy the requirements of this Clause 3.2.
</p>
<p>
  3.3 General terms of use: You agree:
</p>
<ol>
  <li>to access and/or use the Services only for lawful purposes and in a lawful manner at all times and further agree to conduct any activity relating to the Services in good faith; and</li>
  <li>to ensure that any information or data you post or cause to appear on the Platform in connection with the Services is accurate and agree to take sole responsibility for such information and data.</li>
</ol>
<p>
  3.4 Product description: While we endeavour to provide an accurate description of the Products, we do not warrant that such description is accurate, current or free from error.
</p>
<p>
  3.5 Prices of Products: All Listing Prices are subject to taxes, unless otherwise stated. We reserve the right to amend the Listing Prices at any time without giving any reason or prior notice.
</p>

<h2>4. Intellectual property</h2>
<p>
  4.1 Ownership: The Intellectual Property in and to the Platform and the Materials are owned, licensed to or controlled by us, our licensors or our service providers. We reserve the right to enforce its Intellectual Property to the fullest extent of the law.
</p>
<p>
  4.2 Restricted use: No part or parts of the Platform, or any Materials may be reproduced, reverse engineered, decompiled, disassembled, separated, altered, distributed, republished, displayed, broadcast, hyperlinked, mirrored, framed, transferred or transmitted in any manner or by any means or stored in an information retrieval system or installed on any servers, system or equipment without our prior written permission or that of the relevant copyright owners. Subject to Clause 4.3, permission will only be granted to you to download, print or use the Materials for personal and non-commercial uses, provided that you do not modify the Materials and that we or the relevant copyright owners retain all copyright and other proprietary notices contained in the Materials.
</p>
<p>
  4.3 Trademarks: The Trademarks are registered and unregistered trademarks of us or third parties. Nothing on the Platform and in these Terms of Use shall be construed as granting, by implication, estoppel, or otherwise, any license or right to use (including as a meta tag or as a “hot” link to any other website) any Trademarks displayed on the Services, without our written permission or any other applicable trademark owner.
</p>

<h2>5. Our limitation of responsibility and liability</h2>
<p>
  5.1 No representations or warranties: The Services, the Platform and the Materials are provided on an “as is” and “as available” basis. All data and/or information contained in the Platform, the Services or the Materials are provided for informational purposes only. No representations or warranties of any kind, implied, express or statutory, including the warranties of non-infringement of third party rights, title, merchantability, satisfactory quality or fitness for a particular purpose, are given in conjunction with the Platform, the Services or the Materials. Without prejudice to the generality of the foregoing, we do not warrant:
</p>
<ol>
  <li>the accuracy, timeliness, adequacy, commercial value or completeness of all data and/or information contained in the Platform, the Services or the Materials;</li>
  <li>that the Platform, the Services or that any of the Materials will be provided uninterrupted, secure or free from errors or omissions, or that any identified defect will be corrected;</li>
  <li>that the Platform, the Services or the Materials are free from any computer virus or other malicious, destructive or corrupting code, agent, program or macros; and</li>
  <li>the security of any information transmitted by you or to you through the Platform or the Services, and you accept the risk that any information transmitted or received through the Services or the Platform may be accessed by unauthorised third parties and/or disclosed by us or our officers, employees or agents to third parties purporting to be you or purporting to act under your authority. Transmissions over the Internet and electronic mail may be subject to interruption, transmission blackout, delayed transmission due to internet traffic or incorrect data transmission due to the public nature of the Internet.</li>
</ol>
<p>
  5.2 Exclusion of liability: Waft Indemnitees shall not be liable to you for any Losses whatsoever or howsoever caused (regardless of the form of action) arising directly or indirectly in connection with:
</p>
<ol>
  <li>any access, use and/or inability to use the Platform or the Services;</li>
  <li>reliance on any data or information made available through the Platform and/or through the Services. You should not act on such data or information without first independently verifying its contents;</li>
  <li>any system, server or connection failure, error, omission, interruption, delay in transmission, computer virus or other malicious, destructive or corrupting code, agent program or macros; and</li>
  <li>any use of or access to any other website or webpage linked to the Platform, even if we or our officers or agents or employees may have been advised of, or otherwise might have anticipated, the possibility of the same.</li>
</ol>
<p>
  5.3 At your own risk: Any risk of misunderstanding, error, damage, expense or Losses resulting from the use of the Platform is entirely at your own risk and we shall not be liable therefor.
</p>

<h2>6. Advertising</h2>
<p>
  6.1 Advertising: We may attach banners, java applets and/or such other materials to the Platform for the purposes of advertising our products and/or services. For the avoidance of doubt, you shall not be entitled to receive any payment, fee and/or commission in respect of any such advertising or other promotional materials.
</p>

<h2>7. Termination</h2>
<p>
  7.1 Termination by us: In our sole and absolute discretion, we may with immediate effect upon giving you notice, terminate your use of the Platform and/or Services and/or disable your Username and Password. We may bar access to the Platform and/or Services (or any part thereof) for any reason whatsoever, including a breach of any of these Terms of Use or where if we believe that you have violated or acted inconsistently with any terms or conditions set out herein, or if in our opinion or the opinion of any regulatory authority, it is not suitable to continue providing the services relating to the Platform.
</p>
<p>
  7.2 Termination by you: You may terminate these Terms of Use by giving seven days’ notice in writing to us.
</p>

<h2>8. Notices</h2>
<p>
  8.1 Notices from us: All notices or other communications given to you if:
</p>
<ol>
  <li>communicated through any print or electronic media as we may select will be deemed to be notified to you on the date of publication or broadcast; or</li>
  <li>sent by post or left at your last known address will be deemed to be received by you on the day following such posting or on the day when it was so left.</li>
</ol>
<p>
  8.2 Notices from you: You may only give notice to us in writing sent to our designated address or e-mail address, and we shall be deemed to have received such notice only upon receipt. While we endeavour to respond promptly to notices from you, we cannot guarantee that we will always respond with consistent speed.
</p>
<p>
  8.3 Other modes: Notwithstanding Clauses 8.1 and 8.2, we may from time to time designate other acceptable modes of giving notices (including but not limited to e-mail or other forms of electronic communication) and the time or event by which such notice shall be deemed given.
</p>

<h2>9. General</h2>
<p>
  9.1 Cumulative rights and remedies: Unless otherwise provided under these Terms of Use, the provisions of these Terms of Use and our rights and remedies under these Terms of Use are cumulative and are without prejudice and in addition to any rights or remedies we may have in law or in equity, and no exercise by us of any one right or remedy under these Terms of Use, or at law or in equity, shall (save to the extent, if any, provided expressly in these Terms of Use or at law or in equity) operate so as to hinder or prevent our exercise of any other such right or remedy as at law or in equity.
</p>
<p>
  9.2 No waiver: Our failure to enforce these Terms of Use shall not constitute a waiver of these terms, and such failure shall not affect the right later to enforce these Terms of Use. We would still be entitled to use our rights and remedies in any other situation where you breach these Terms of Use.
</p>
<p>
  9.3 Severability: If at any time any provision of these Terms of Use shall be or shall become illegal, invalid or unenforceable in any respect, the legality, validity and enforceability of the remaining provisions of this Agreement shall not be affected or impaired thereby, and shall continue in force as if such illegal, invalid or unenforceable provision was severed from these Terms of Use.
</p>
<p>
  9.4 Rights of third parties: A person or entity who is not a party to these Terms of Use shall have no right under the Contracts (Rights of Third Parties) Act, Chapter 53B of Singapore or any similar legislation in any jurisdiction to enforce any term of these Terms of Use, regardless of whether such person or entity has been identified by name, as a member of a class or as answering a particular description. For the avoidance of doubt, nothing in this Clause shall affect the rights of any permitted assignee or transferee of these Terms of Use.
</p>
<p>
  9.5 Governing law: Use of the Platform and/or the Services and these Terms of Use shall be governed by and construed in accordance with Singapore law and you hereby submit to the exclusive jurisdiction of the Singapore courts.
</p>
<p>
  9.6 Injunctive relief: We may seek immediate injunctive relief if we make a good faith determination that a breach or non-performance is such that a temporary restraining order or other immediate injunctive relief is the only appropriate or adequate remedy.
</p>
<p>
  9.7 Amendments: We may by notice through the Platform or by such other method of notification as we may designate (which may include notification by way of e-mail), vary the terms and conditions of these Terms of Use, such variation to take effect on the date we specify through the above means. If you use the Platform or the Services after such date, you are deemed to have accepted such variation. If you do not accept the variation, you must stop access or using the Platform and the Services and terminate these Terms of Use. Our right to vary these Terms of Use in the manner aforesaid will be exercised with may be exercised without the consent of any person or entity who is not a party to these Terms of Use.
</p>
<p>
  9.8 Correction of errors: Any typographical, clerical or other error or omission in any acceptance, invoice or other document on our part shall be subject to correction without any liability on our part.
</p>
<p>
  9.10 Language: In the event that these Terms of Use is executed or translated in any language other than English (“Foreign Language Version”), the English language version of these Terms of Use shall govern and shall take precedence over the Foreign Language Version.
</p>
<p>
  9.11 Entire agreement: These Terms of Use shall constitute the entire agreement between you and us relating to the subject matter hereof and supersedes and replaces in full all prior understandings, communications and agreements with respect to the subject matter hereof.
</p>
<p>
  9.12 Binding and conclusive: You acknowledge and agree that any records (including records of any telephone conversations relating to the Services, if any) maintained by us or our service providers relating to or in connection with the Platform and Services shall be binding and conclusive on you for all purposes whatsoever and shall be conclusive evidence of any information and/or data transmitted between us and you. You hereby agree that all such records are admissible in evidence and that you shall not challenge or dispute the admissibility, reliability, accuracy or the authenticity of such records merely on the basis that such records are in electronic form or are the output of a computer system, and you hereby waive any of your rights, if any, to so object.
</p>
<p>
  9.13 Sub-contracting and delegation: We reserve the right to delegate or sub-contract the performance of any of our functions in connection with the Platform and/or Services and reserve the right to use any service providers, subcontractors and/or agents on such terms as we deem appropriate.
</p>
<p>
  9.14 Assignment: You may not assign your rights under these Terms of Use without our prior written consent. We may assign our rights under these Terms of Use to any third party.
</p>
<p>
  9.15 Force Majeure: We shall not be liable for non-performance, error, interruption or delay in the performance of its obligations under these Terms of Use (or any part thereof) or for any inaccuracy, unreliability or unsuitability of the Platform's and/or Services’ contents if this is due, in whole or in part, directly or indirectly to an event or failure which is beyond our reasonable control.
</p>

<h2>Schedule 1</h2>

<p>
  Definitions and Interpretation
</p>
<p>
  1. Definitions. Unless the context otherwise requires, the following expressions shall have the following meanings in these Terms of Use:
</p>
<p>
  1.1 “Customer” has the same meaning as in the Terms & Conditions of Sale.
</p>
<p>
  1.2 “Intellectual Property” means all copyright, patents, utility innovations, trade marks and service marks, geographical indications, domain names, layout design rights, registered designs, design rights, database rights, trade or business names, rights protecting trade secrets and confidential information, rights protecting goodwill and reputation, and all other similar or corresponding proprietary rights and all applications for the same, whether presently existing or created in the future, anywhere in the world, whether registered or not, and all benefits, privileges, rights to sue, recover damages and obtain relief or other remedies for any past, current or future infringement, misappropriation or violation of any of the foregoing rights.
</p>
<p>
  1.3 “Listing Price” means the price of Products listed for sale to Customers, as stated on the Platform.
</p>
<p>
  1.4 “Losses” means all penalties, losses, settlement sums, costs (including legal fees and expenses on a solicitor-client basis), charges, expenses, actions, proceedings, claims, demands and other liabilities, whether foreseeable or not.
</p>
<p>
  1.5 “Materials” means, collectively, all web pages on the Platform, including the information, images, links, sounds, graphics, video, software, applications and other materials displayed or made available on the Platform and the functionalities or services provided on the Platform.
</p>
<p>
  1.6 “Order” means your order for Products sent through the Platform in accordance with the Terms & Conditions of Sale.
</p>
<p>
  1.7 “Personal Data” means data, whether true or not, that can be used to identify, contact or locate you. Personal Data can include your name, e-mail address, billing address, shipping address, phone number and credit card information. “Personal Data” shall be deemed to include any data that you have provided to us when placing an Order, regardless of whether you have an account with us.
</p>
<p>
  1.8 “Platform” means  both the web and mobile versions of the website operated and/or owned by Waft which is presently located at the following URL: <a href="https://waft.com/">https://waft.com/</a>
</p>
<p>
  1.9 “Privacy Policy” means the privacy policy set out at <a href="https://waft.com/privacy/">https://waft.com/privacy/</a>.
</p>
<p>
  1.10 “Product” means a product (including any installment of the product or any parts thereof) available for sale to Customers on the Platform.
</p>
<p>
  1.11 “Prohibited Material” means any information, graphics, photographs, data and/or any other material that:
</p>
<ol>
  <li>contains any computer virus or other invasive or damaging code, program or macro;</li>
  <li>infringes any third-party Intellectual Property or any other proprietary rights;</li>
  <li>is defamatory, libellous or threatening;</li>
  <li>is obscene, pornographic, indecent, counterfeited, fraudulent, stolen, harmful or otherwise illegal under the applicable law (including without limitation the provisions of the Singapore Broadcasting Authority (Class Licence) Notification 1996); and/or</li>
  <li>is or may be construed as offensive and/or otherwise objectionable, in our sole opinion.</li>
</ol>
<p>
  1.12 “Services” means services, information and functions made available by us at the Platform.
</p>
<p>
  1.13 “Terms & Conditions of Sale” means the terms and conditions governing a Customer’s purchase of the Products and are set out at <a href="https://waft.com/">https://waft.com/</a>.
</p>
<p>
  1.14 “Terms of Use” means the recitals, Clauses 1 to 9 and any Schedules to these terms and conditions.
</p>
<p>
  1.15 “Trademarks” means the trademarks, service marks, trade names and logos used and displayed on the Platform.
</p>
<p>
  1.16 “you” and “your” refer to the individuals over the age of 18 or otherwise under the supervision of a parent or legal guardian.
</p>
<p>
  2. Interpretation: Any reference in these Terms of Use to any provision of a statute shall be construed as a reference to that provision as amended, re-enacted or extended at the relevant time. In the Agreement, whenever the words “include”, “includes” or “including” are used, they will be deemed to be followed by the words “without limitation”. Unless expressly indicated otherwise, all references to a number of days mean calendar days, and the words “month” or “monthly” as well as all references to a number of months means calendar months. Clause headings are inserted for convenience only and shall not affect the interpretation of these Terms of Use. In the event of a conflict or inconsistency between any two or more provisions under these Terms of Use, whether such provisions are contained in the same or different documents, such conflict or inconsistency shall be resolved in favour of Waft and the provision which is more favourable to Waft shall prevail.
</p>


<h2 id="termsSale">TERMS & CONDITIONS OF SALE</h2>

<h2>1. Definitions & Interpretation</h2>
<p>
  Unless otherwise defined, the definitions and provisions in respect of interpretation set out in Schedule 1 will apply to these Terms & Conditions of Sale.
</p>

<h2>2. Purchase of Products</h2>
<p>
  2.1 Your compliance: You agree to comply with any and all the guidelines, notices, operating rules and policies and instructions pertaining to the purchase of Products through the Platform, as well as any amendments to the aforementioned, issued by Waft (whether as part of use of the Platform or in relation to the purchase of Products), from time to time. Waft reserves the right to revise these guidelines, notices, operating rules and policies and instructions at any time and you are deemed to be aware of and bound by any changes to the foregoing upon their publication on the Platform.
</p>
<p>
  2.2 Product description: While Waft endeavours to provide an accurate description of the Products, does not warrant that such description is accurate, current or free from error. In the event that the Product you receive is of a fundamentally different nature from the Product as described on the Platform and which you have ordered, Clause 6 of these Terms & Conditions of Sale shall apply.
</p>
<p>
  2.3 Placing your Order: You may place an Order by completing the Order form on the Platform and clicking on the “Place Order” button. Waft will not accept Orders placed in any other manner. You shall be responsible for ensuring the accuracy of the Order.
</p>
<p>
  2.5 Orders are irrevocable and unconditional: All Orders will be deemed to be irrevocable and unconditional upon transmission through the Platform and Waft shall be entitled (but not obliged) to process such Order(s) without your further consent and without any further reference or notice to you. Nevertheless, in certain circumstances as stated in Clause 8, you may request to cancel or amend the Order which Waft will endeavour to give effect to on a commercially reasonable effort basis. However, notwithstanding the foregoing, Waft is not obliged to give effect to any request to cancel or amend any Order.
</p>
<p>
  2.6 Waft’s reservation of rights in respect of Orders: All Orders shall be subject to Waft’s acceptance in its sole discretion and each Order accepted by Waft (such accepted Order to be referred to as a “Customer Contract”) shall constitute a separate contract. You acknowledge that unless you receive a notice from Waft accepting your Order, Waft shall not be party to any legally binding agreements or promises made between Waft and you for the sale or other dealings with the Product(s) and accordingly Waft shall not be liable for any Losses which may be incurred as a result. For the avoidance of doubt, Waft reserves the right to decline to process or accept any Order received from or through the Platform in its absolute discretion.
</p>
<p>
  2.7 Termination by Waft in the event of pricing error: Waft reserves the right to terminate the Customer Contract, in the event that a Product has been mispriced on the Platform, in which event Waft shall, on behalf of Waft, notify you of such cancellation by giving three days’ notice. Waft shall have such right to terminate such Customer Contract whether or not Products have been dispatched or are in transit and whether payment has been charged to you.
</p>
<p>
  2.8 Product Warranty: The warranties with respect to a Product (“Product Warranty”) sold under a Customer Contract, If any, shall be as stated by Waft via the Platform, and shall be limited by the terms and conditions therein. The warranties and conditions, remedies for breach of warranty or condition, or other terms stated in the Product Warranty are, unless expressly prohibited by applicable mandatory law, in lieu of all other terms, warranties and conditions, whether expressed or implied, statutory or otherwise. Except as expressly provided in such Product Warranty, Waft excludes (unless expressly prohibited by applicable mandatory law) all other express or implied terms, warranties or conditions with respect to the Products supplied.
</p>
<p>
  2.9 Customer’s acknowledgement: You acknowledge and warrant that you have not relied on any term, condition, warranty, undertaking, inducement or representation made by or on behalf of Waft which has not been stated expressly in a Customer Contract or upon any descriptions or illustrations or specifications contained in any document including any catalogues or publicity material produced by either Waft or Waft. You also acknowledge and agree that the exclusion of warranties, exclusion of liability and exclusion of remedies in these Terms & Conditions of Sale and Customer Contracts allocate risks between the parties and permit Waft to provide the Products at lower fees or prices than Waft otherwise could and you agree that such exclusions on liability are reasonable.
</p>
<p>
  2.10 No representations or warranties: Without prejudice to the generality of the foregoing Clause 2.9:
</p>
<ol>
  <li>no condition is made or to be implied nor is any warranty given or to be implied as to the life of the Products supplied or that they will be suitable for any particular purpose or use under any specific conditions, notwithstanding that such purpose or conditions may be known or made known to Waft;</li>
  <li>Waft binds itself only to deliver Products in accordance with the general description under which they were sold, whether or not any special or particular description shall have been given or shall be implied by law. Any such special or particular description shall be taken only as the expression of Waft's opinion in that behalf. Neither Waft nor Waft gives any warranty as to the quality, state, condition or fitness of the Products;</li>
  <li>Waft shall be under no liability for the following measures and actions taken by the Customer or third parties and the consequences thereof: improper remedy of defects, alteration of the Products without the prior agreement of Waft, addition and insertion of parts, in particular of spare parts which do not come from Waft;</li>
  <li>Waft is not liable for any Losses suffered by any third party directly or indirectly caused by repairs or remedial work carried out without Waft’s prior written approval and the Customer shall indemnify Waft against all Losses arising out of such claims;</li>
  <li>Waft shall be under no liability under the above warranty (or any other warranty, condition or guarantee) if the total price for the Products has not been paid in cleared funds by the due date for payment; and</li>
  <li>Waft shall be under no liability whatsoever in respect of any defect in the Products arising after the expiry of the applicable Product Warranty, if any.</li>
</ol>
<p>
  2.11 Intellectual Property:
</p>
<ol>
  <li>Unless the prior written consent of Waft has been obtained, the Customer shall not remove or alter the trade marks, logos, copyright notices, serial numbers, labels, tags or other identifying marks, symbols or legends affixed to any Products.</li>
  <li>The Customer agrees and acknowledges that the Product Materials shall remain the property of Waft or its licensors. The Customer further agrees that any and all Intellectual Property embodied in or relating to the Product Materials shall remain the sole and exclusive property of Waft or its licensors. Unless otherwise expressly provided in the Order or the prior written consent of Waft has been obtained, the Customer undertakes to return the Product Materials and/or any copies thereof upon Waft’s request.</li>
</ol>

<h2>3. Delivery of Products</h2>
<p>
  3.1 Address: Delivery of the Products shall be made to the address you specify in your Order either by Waft or by Waft (or its agents) on behalf of Waft.
</p>
<p>
  3.2 Delivery & packing charges: Delivery and packing charges shall be as set out in the Order.
</p>
<p>
  3.3 Tracking: You may track the status of the delivery from the “Profile” page of the Platform (available upon login).
</p>
<p>
  3.4 Delivery timeframe: You acknowledge that delivery of the Products is subject to availability of the Products. Waft will make every reasonable effort to deliver the Product to you within the delivery timeframe stated on the relevant page on which the Product is listed, but you acknowledge that while stock information on the Platform is updated regularly, it is possible that in some instances a Product may become unavailable between updates. All delivery timeframes given are estimates only and delays can occur. If the delivery of your Product is delayed Waft will inform you accordingly via e-mail and your Product will be dispatched as soon as it becomes available to Waft. The time for delivery shall not be of the essence, and Waft (nor any of its agents) shall not be liable for any delay in delivery howsoever caused.
</p>
<p>
  3.5 Deemed receipt: In the event you do not receive the Product by the projected delivery date and provided that you inform Waft within 3 days immediately from such projected delivery date, Waft will try, to the best of Waft’s ability, to locate and deliver the Product. If Waft does not hear from you within 3 days from such projected delivery date, you shall be deemed to have received the Product.
</p>
<p>
  3.6 Customer’s failure to take delivery: If the Customer fails to take delivery of the Products (otherwise than by reason of any cause beyond the Customer's reasonable control or by reason of Waft’s fault) then without prejudice to any other right or remedy available to Waft, Waft may terminate the Customer Contract.
</p>

<h2>4. Prices of Products</h2>
<p>
  4.1 Listing Price: The price of the Products payable by a Customer shall be the Listing Price at the time at which the Order placed by the Customer is transmitted to Waft (through the Platform).
</p>
<p>
  4.2 Taxes: All Listing Prices are subject to taxes, unless otherwise stated. Waft reserves the right to amend the Listing Prices at any time without giving any reason or prior notice.
</p>

<h2>5. Payment</h2>
<p>
  5.1 General: You may pay for the Product using any of the payment methods prescribed by Waft from time to time. When you place an Order, actual payment will be only charged upon Waft’s acceptance of your Order and formation of a Customer Contract. All payments shall be made to Waft, either accepting payment in its own right. 
</p>
<p>
  5.2 Additional terms: The payment methods may be subject to additional terms as prescribed by Waft from time to time.
</p>
<p>
  5.3 Payment methods: You agree that you are subject to the applicable user agreement of your payment method. You may not claim against Waft or any of its agents (which may include Waft), for any failure, disruption or error in connection with your chosen payment method. Waft reserves the right at any time to modify or discontinue, temporarily or permanently, any payment method without notice to you or giving any reason.
</p>
<p>
  5.4 Invoicing: Waft may invoice you upon the due date of any payment under a Customer Contract.
</p>
<p>
  5.5 Failure to pay: If the Customer fails to make any payment pursuant to the terms and conditions of the payment method elected or payment is cancelled for any reason whatsoever, then without prejudice to any other right or remedy available to Waft, Waft shall be entitled to cancel the Customer Contract or suspend delivery of the Products until payment is made in full.
</p>
<p>
  5.6 Refund of Payment:
</p>
<ol>
  <li>All refunds shall be made via the original payment mechanism and to the person who made the original payment, except for Cash on Delivery, where refunds will be made via bank transfer into the individual’s bank account provided that complete and accurate bank account details are provided to us.</li>
  <li>We offer no guarantee of any nature for the timeliness of the refunds reaching your account. The processing of payment may take time and it is subject to the respective banks and/or payment provider internal processing timeline.</li>
  <li>All costs associated with the refund process imposed by the processing bank and/or payment provider shall be borne by us.</li>
  <li>All refunds is conditional upon our acceptance of a valid return of the Product.</li>
  <li>We reserve the right to modify the mechanism of processing refunds at any time without notice.</li>
</ol>

<h2>6. Returns/ Replacements</h2>
<p>
  6.1 Return Policy: All returns must be done in accordance with the instructions set out in the Return Policy at <a href="https://waft.com/returns">https://waft.com/returns</a>. Waft is not obliged to agree to any return unless all such instructions are followed to Waft’s and Waft’s satisfaction. Should Waft agree to the return, Waft will deliver the replacement Product to your specified address.
</p>
<p>
  6.2 Permitted returns: Subject to Clause 6.1, within 7 days from the date of delivery of the Product, you may return a Product when you:
</p>
<ol>
  <li>receive a product that is fundamentally different in nature from the Product specified in the Customer Contract; or</li>
  <li>receive a faulty or damaged Product.</li>
</ol>
<p>
  6.3 Repair, replacement or price reduction: As an alternative to returning faulty or damaged Products under Clause 6.2, a Customer may request for a repair or replacement of such Products. Such request shall be irrevocable upon notification of the request to Waft and the Customer may not later elect for a return under Clause 6.2. Where the Products have not been repaired or replaced within a reasonable time, Waft may, at its sole discretion, grant to the Customer a reduction of the price in proportion to the reduced value of the Products, provided that under no circumstance shall such reduction exceed 15 per cent. (15%) of the price of the affected Products. Upon a repair, replacement or price reduction being made as aforesaid, the Customer shall have no further claim against Waft.
</p>
<p>
  6.4 Replacement Products: When Waft has provided replacement Products or given the Customer a refund, the non-conforming Products or parts thereof shall become Waft’s property and upon request such Products or parts thereof should be shipped back to Waft at Customer’s cost.
</p>
<p>
  6.5 Risk of damage or loss: Risk of damage to or loss of the Products shall pass to the Customer at the time of delivery, or if the Customer wrongfully fails to take delivery of the Products, the time when Waft (via Waft or Waft’s agents) has tendered delivery of the Products.
</p>

<h2>7. Questions and complaints</h2>
<p>
  If you have any questions or complaints, please contact Waft on the Platform. Waft will liaise with Wafts on your questions and complaints.
</p>

<h2>8. Termination</h2>
<p>
  8.1 Cancellation by you: You may not cancel any Customer Contract.
</p>
<p>
  8.2 Cancellation by Waft: Without prejudice to any other right of termination elsewhere in these Terms & Conditions of Sale, Waft, or Waft acting on Waft’s behalf, may stop any Products in transit, suspend further deliveries to the Customer and/or terminate the Customer Contract with immediate effect by written notice to the Customer on or at any time after the occurrence of any of the following events:
</p>
<ol>
  <li>the Products under the Customer Contract being unavailable for any reason;</li>
  <li>the Customer being in breach of an obligation under the Customer Contract;</li>
  <li>the Customer passing a resolution for its winding up or a court of competent jurisdiction making an order for the Customer’s winding up or dissolution;</li>
  <li>the making of an administration order in relation to the Customer or the appointment of a receiver over or an encumbrancer taking possession of or selling any of the Customer’s assets; or</li>
  <li>the Customer making an arrangement or composition with its creditors generally or applying to a Court of competent jurisdiction for protection from its creditors.</li>
</ol>

<h2>9. Risk and property of the Goods</h2>
<p>
  9.1 Risk of damage to or loss of the Goods shall pass to the Buyer at the time of delivery or if the Buyer wrongfully fails to take delivery of the Goods, the time when Waft has tendered delivery of the Goods.
</p>
<p>
  9.2 Notwithstanding delivery and the passing of risk in the Goods or any other provision of these Conditions the property in the Goods shall not pass to the Buyer until Waft has received in cash or cleared funds payment in full of the price of the Goods and all other goods agreed to be sold by Waft to the Buyer for which payment is then due.
</p>
<p>
  9.3 Until such time as the property in the Goods passes to the Buyer, the Buyer shall hold the Goods as Waft's fiduciary agent and bailee and shall keep the Goods separate from those of the Buyer.
</p>
<p>
  9.4 The Buyer agrees with Waft that the Buyer shall immediately notify Waft of any matter from time to time affecting Waft’s title to the Goods and the Buyer shall provide Waft with any in-formation relating to the Goods as Waft may require from time to time.
</p>
<p>
  9.5 Until such time as the property in the Goods passes to the Buyer (and provided the Goods are still in existence and have not been resold) Waft shall be entitled at any time to demand the Buyer to deliver up the Goods to Waft and in the event of non-compliance Waft reserves it’s right to take legal action against the Buyer for the delivery up the Goods and also reserves its right to seek damages and all other costs including but not limited to legal fees against the Buyer.
</p>
<p>
  9.6 The Buyer shall not be entitled to pledge or in any way charge by way of security for any indebtedness any of the Goods which remain the property of Waft but if the Buyer does so all moneys owing by the Buyer to Waft shall (without prejudice to any other right or remedy of Waft) forthwith become due and payable.
</p>
<p>
  9.7 If the provisions in this Condition 9 are not effective according to the law of the country in which the Goods are located, the legal concept closest in nature to retention of title in that country shall be deemed to apply mutatis mutandis to give effect to the underlying intent expressed in this condition, and the Buyer shall take all steps necessary to give effect to the same.
</p>
<p>
  9.8 The Buyer shall indemnify Waft against all loss damages costs expenses and legal fees in-curred by the Buyer in connection with the assertion and enforcement of Waft's rights under this condition.
</p>

<h2>10. LIMITATION OF LIABILITY</h2>
<p>
  10.1 SOLE REMEDIES OF CUSTOMER: THE REMEDIES SET OUT IN CLAUSE 6 ARE THE CUSTOMER’S SOLE AND EXCLUSIVE REMEDIES FOR NON-CONFORMITY OF OR DEFECTS IN THE PRODUCTS.
</p>
<p>
  10.2 MAXIMUM LIABILITY: NOTWITHSTANDING ANY OTHER PROVISION OF THESE TERMS & CONDITIONS OF SALE, WAFT’S MAXIMUM CUMULATIVE LIABILITY TO YOU OR TO ANY OTHER PARTY FOR ALL LOSSES UNDER, ARISING OUT OF OR RELATING TO THE SALE OF PRODUCTS UNDER EACH CUSTOMER CONTRACT, WILL NOT EXCEED THE SUMS THAT YOU HAVE PAID TO WAFT UNDER SUCH CUSTOMER CONTRACT.
</p>
<p>
  10.3 EXCLUSION OF LIABILITY: WAFT INDEMNITEES SHALL NOT BE LIABLE TO YOU FOR ANY LOSSES WHATSOEVER OR HOWSOEVER CAUSED (REGARDLESS OF THE FORM OF ACTION) ARISING DIRECTLY OR INDIRECTLY IN CONNECTION WITH: (I) AMOUNTS DUE FROM OTHER USERS OF THE PLATFORM IN CONNECTION WITH THE PURCHASE OF ANY PRODUCT; (II) THE SALE OF THE PRODUCTS TO YOU, OR ITS USE OR RESALE BY YOU; AND (III) ANY DEFECT ARISING FROM FAIR WEAR AND TEAR, WILFUL DAMAGE, MISUSE, NEGLIGENCE, ACCIDENT, ABNORMAL STORAGE AND OR WORKING CONDITIONS, ALTERATION OR MODIFICATION OF THE PRODUCTS OR FAILURE TO COMPLY WITH WAFT’S INSTRUCTIONS ON THE USE OF THE PRODUCTS (WHETHER ORAL OR WRITTEN).
</p>

<h2>11. General</h2>
<p>
  11.1 References to “Waft”: References to “Waft” in these Terms and Conditions of Sale apply both to Waft’s actions on its own behalf as Waft and/or as the operator of the Platform or as the agent of third party vendors (if any) as Wafts in respect of each and every Customer Contract.
</p>
<p>
  11.2 Right to subcontract: Waft shall be entitled to delegate and/or subcontract any rights or obligations under these Terms & Conditions of Sale to any of Waft’s designated service providers, subcontractors and/or agents.
</p>
<p>
  11.3 Cumulative rights and remedies: Unless otherwise provided under these Terms & Conditions of Sale, the provisions of these Terms & Conditions of Sale and Waft’s rights and remedies under these Terms & Conditions of Sale are cumulative and are without prejudice and in addition to any rights or remedies Waft may have in law or in equity, and no exercise by Waft of any one right or remedy under these Terms & Conditions of Sale, or at law or in equity, shall (save to the extent, if any, provided expressly in these Terms & Conditions of Sale or at law or in equity) operate so as to hinder or prevent Waft’s exercise of any other such right or remedy as at law or in equity.
</p>
<p>
  11.4 No waiver: Waft’s failure to enforce these Terms & Conditions of Sale shall not constitute a waiver of these terms, and such failure shall not affect the right later to enforce these Terms & Conditions of Sale. Waft would still be entitled to use its rights and remedies in any other situation where you breach these Terms & Conditions of Sale.
</p>
<p>
  11.5 Severability: If at any time any provision of these Terms & Conditions of Sale shall be or shall become illegal, invalid or unenforceable in any respect, the legality, validity and enforceability of the remaining provisions of this Agreement shall not be affected or impaired thereby, and shall continue in force as if such illegal, invalid or unenforceable provision was severed from these Terms & Conditions of Sale.
</p>
<p>
  11.6 Rights of third parties: A person or entity who is not a party to these Terms & Conditions of Sale shall have no right under the Contracts (Rights of Third Parties) Act, Chapter 53B of Singapore or any similar legislation in any jurisdiction to enforce any term of these Terms & Conditions of Sale, regardless of whether such person or entity has been identified by name, as a member of a class or as answering a particular description. For the avoidance of doubt, nothing in this Clause shall affect the rights of any permitted assignee or transferee of these Terms & Conditions of Sale.
</p>
<p>
  11.7 Governing law: These Terms & Conditions of Sale shall be governed b, and construed in accordance with the laws of Singapore and you hereby submit to the exclusive jurisdiction of the Singapore courts.
</p>
<p>
  11.8 Except as provided for in Clause 11.7, any dispute, controversy or claim arising out of or relating to this contract, or the breach, termination or invalidity thereof shall be settled by arbitration in accordance with the Rules for Arbitration of the Singapore International Arbitration Centre (SIAC). The arbitral tribunal shall consist of a sole arbitrator, to be appointed by the Chairman of the SIAC. The place of arbitration shall be Singapore. Any award by the arbitration tribunal shall be final and binding upon the parties.
</p>
<p>
  11.9 Injunctive relief: Waft may seek immediate injunctive relief if Waft makes a good faith determination that a breach or non-performance is such that a temporary restraining order or other immediate injunctive relief is the only appropriate or adequate remedy.
</p>
<p>
  11.10 Amendments: Waft may by notice issued jointly with Waft through the Platform or by such other method of notification as Waft may designate solely through Waft (which may include notification by way of e-mail), vary the terms and conditions of these Terms & Conditions of Sale, such variation to take effect on the date Waft specifies through the above means. If you use the Platform or the Services after such date, you are deemed to have accepted such variation. If you do not accept the variation, you must stop access or using the Platform and the Services and terminate these Terms & Conditions of Sale. Waft’s right to vary these Terms & Conditions of Sale in the manner aforesaid will be exercised with the joint involvement of Waft (either via the Portal or such other means as Waft prescribes) and subject to the foregoing, may be exercised without the consent of any person or entity who is not a party to these Terms & Conditions of Sale. The version of Terms & Conditions of Sale applicable to any particular Order is the latest version in force.
</p>
<p>
  11.11 Correction of errors: Any typographical, clerical or other error or omission in any acceptance, invoice or other document on Waft’s part shall be subject to correction without any liability on Waft’s part.
</p>
<p>
  11.12 Language: In the event that these Terms & Conditions of Sale is executed or translated in any language other than English (“Foreign Language Version”), the English language version of these Terms & Conditions of Sale shall govern and shall take precedence over the Foreign Language Version.
</p>
<p>
  11.13 Entire agreement: These Terms & Conditions of Sale shall constitute the entire agreement between you and Waft relating to the subject matter hereof and supersedes and replaces in full all prior understandings, communications and agreements with respect to the subject matter hereof.
</p>
<p>
  11.14 Binding and conclusive: You acknowledge and agree that any records (including records of any telephone conversations relating to the Services, if any) maintained by Waft or its service providers relating to or in connection with the Platform and Services shall be binding and conclusive on you for all purposes whatsoever and shall be conclusive evidence of any information and/or data transmitted between Waft and you. You hereby agree that all such records are admissible in evidence and that you shall not challenge or dispute the admissibility, reliability, accuracy or the authenticity of such records merely on the basis that such records are in electronic form or are the output of a computer system, and you hereby waive any of your rights, if any, to so object.
</p>
<p>
  11.15 Subcontracting and delegation: Waft reserves the right to delegate or subcontract the performance of any of its functions in connection with the performance of its obligations under these Terms & Conditions of Sale and reserves the right to use any service providers, subcontractors and/or agents on such terms as Waft deems appropriate.
</p>
<p>
  11.16 Assignment: You may not assign your rights under these Terms & Conditions of Sale without Waft’s prior written consent. Waft may assign its rights under these Terms & Conditions of Sale to any third party.
</p>
<p>
  11.17 Force Majeure: Neither Waft nor Waft shall be liable for non-performance, error, interruption or delay in the performance of its obligations under these Terms & Conditions of Sale (or any part thereof) or for any inaccuracy, unreliability or unsuitability of the Platform's and/or Services’ contents if this is due, in whole or in part, directly or indirectly to an event or failure which is beyond Waft’s or Waft’s reasonable control.
</p>
<p>
  -end-
</p>

<h2>Schedule 1</h2>
<p>
  Definitions and Interpretation
</p>
<p>
  1. Definitions. Unless the context otherwise requires, the following expressions shall have the following meanings in these Terms of Use:
</p>
<p>
  1.1 “Business Day” means a day (excluding Saturdays and Sundays) on which banks generally are open for business in Singapore.
</p>
<p>
  1.2 “Customer” means an authorised user of the Platform and/or the Services.
</p>
<p>
  1.3 “Customer Contract” shall be as defined in Clause 2.6.
</p>
<p>
  1.4 “Intellectual Property” means all copyright, patents, utility innovations, trade marks and service marks, geographical indications, domain names, layout design rights, registered designs, design rights, database rights, trade or business names, rights protecting trade secrets and confidential information, rights protecting goodwill and reputation, and all other similar or corresponding proprietary rights and all applications for the same, whether presently existing or created in the future, anywhere in the world, whether registered or not, and all benefits, privileges, rights to sue, recover damages and obtain relief or other remedies for any past, current or future infringement, misappropriation or violation of any of the foregoing rights.
</p>
<p>
  1.5 “Listing Price” means the price of Products listed for sale to Customers, as stated on the Platform.
</p>
<p>
  1.6 “Losses” means all losses, settlement sums, costs (including legal fees and expenses on a solicitor-client basis), charges, expenses, actions, proceedings, claims, demands and other liabilities, whether foreseeable or not.
</p>
<p>
  1.7 “Order” means your order for Products sent through the Platform in accordance with the Terms & Conditions of Sale.
</p>
<p>
  1.8 “Personal Data” means data, whether true or not, that can be used to identify, contact or locate you. Personal Data can include your name, e-mail address, billing address, shipping address, phone number and credit card information.
</p>
<p>
  1.9 “Platform” means the web and mobile versions of the website operated and/or owned by Waft which is presently located at the following URL: www.waft.com.
</p>
<p>
  1.10 “Product” means a product (including any installment of the product or any parts thereof) available for sale to Customers on the Platform.
</p>
<p>
  1.11 “Product Warranty” means a product (including any installment of the product or any parts thereof) available for sale to Customers on the Platform.
</p>
<p>
  1.12 “Return Policy” means the return policy set out at <a href="https://waft.com/returns">https://waft.com/returns</a>.
</p>
<p>
  1.13 “Waft” means a Waft of Products as described in Clause 2.3.
</p>
<p>
  1.14 “Services” means services, information and functions made available by Waft at the Platform.
</p>
<p>
  1.15 “Terms & Conditions of Sale” means Clauses 1 to 11 and any Schedules to these terms and conditions.
</p>
<p>
  1.16 “Terms of Use” means the terms and conditions governing the Customer’s use of the Platform and/or Services and are set out at <a href="https://waft.com/terms">https://waft.com/terms</a>
</p>
<p>
  1.17 “Trademarks” means the trademarks, service marks, trade names and logos used and displayed on the Platform.
</p>
<p>
  1.18 “you” and “your” refer to the individuals over the age of 18 or otherwise under the supervision of a parent or legal guardian.
</p>
<p>
  1.19 “Waft Indemnitees” means Waft and all of its respective officers, employees, directors, agents, contractors and assigns.
</p>
<p>
  1.20 “Waft” refers to Waft Pte. Ltd..
</p>
<p>
  2. Interpretation: Any reference in these Terms & Conditions of Sale to any provision of a statute shall be construed as a reference to that provision as amended, re-enacted or extended at the relevant time. In these Terms & Conditions of Sale, whenever the words “include”, “includes” or “including” are used, they will be deemed to be followed by the words “without limitation”. Unless expressly indicated otherwise, all references to a number of days mean calendar days, and the words “month” or “monthly” as well as all references to a number of months means calendar months. Clause headings are inserted for convenience only and shall not affect the interpretation of these Terms & Conditions of Sale. In the event of a conflict or inconsistency between any two or more provisions under these Terms & Conditions of Sale, whether such provisions are contained in the same or different documents, such conflict or inconsistency shall be resolved in favour of Waft and the provision which is more favourable to Waft shall prevail.
</p>

