#footer {
    border-top: 1px solid rgba(151, 151, 151, 0.1);
    height: 42px;
    background-color: #F0F0F0;
    overflow: hidden;
    color: #737B7F;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
    z-index: 1;
}

@media only screen and (max-width: 703px) {
    #footer {
        display: none;
    }

    /* #footer:after { content: " "; display: table; clear: both; } */
}

#footer.j1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#footer .ll1 {
    float: left;
    margin-left: 100px;
    line-height: 42px;
}

#footer .ll1.j1 {
    margin-left: 10px;
}

@media only screen and (max-width: 847px) {
    #footer .ll1 {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 703px) {
    #footer .ll1 {
        line-height: 14px;
        padding: 10px 10px 0 0;
        margin-left: 0 !important;
        float: none;
        margin-bottom: 10px;
    }
}

#footer .rr1 {
    float: right;
    margin-right: 89px;
    *zoom: 1;
}

#footer .rr1:after {
    content: " ";
    display: table;
    clear: both;
}

#footer .rr1.j1 {
    margin-right: 10px;
}

@media only screen and (max-width: 847px) {
    #footer .rr1 {
        margin-right: 40px;
    }
}

@media only screen and (max-width: 703px) {
    #footer .rr1 {
        float: none;
        margin: 0;
    }
}

#footer .rr1 li {
    float: left;
    line-height: 42px;
}

@media only screen and (max-width: 703px) {
    #footer .rr1 li {
        line-height: 12px;
        position: relative;
        top: 5px;
    }
}

#footer .rr1 li + li {
    margin-left: 14px;
}

#footer .rr1 li a {
    color: #737B7F;
    font-size: 11px;
    font-weight: 400;
}

#footer .rr1 li a:hover {
    text-decoration: underline;
}

#footer .logo {
    display: block;
    margin: auto;
    position: relative;
    top: 14px;
    width: 16px;
    height: 16px;
}

#footer .logo img {
    width: 16px;
    height: 16px;
}