<footer id="footer" class="j1">
    <div class="ct">
        <div class="ll1">
            <p>Copyright © 2017 Waft Pte Ltd.<span *ngIf="kiosk.isEnabled()"> Kiosk Mode.</span> All Rights Reserved.</p>
        </div>
        <div class="rr1">
            <ul>
                <li><a href="/" target="_blank">How It Works</a></li>
                <li><a href="https://support.waft.com/" target="_blank">Support</a></li>
                <li><a href="https://support.waft.com/hc/en-us/categories/204541687-FAQ" target="_blank">FAQs</a></li>
                <li><a href="/privacy" target="_blank">Privacy</a></li>
                <li><a href="/terms" target="_blank">Terms</a></li>
            </ul>
        </div>
        <a class="logo" href="/" target="_blank"><img cdn-src="/assets/img/favicon/favicon-32x32.png"></a>
    </div>
</footer>