<div class="scents-page">
    <div class="row">
        <div class="col-md-12">
            <h2>SCENTS</h2>
        </div>
    </div>
    <div class="row">
      <div class="btn-group" role="group" style="margin-top: 15px;margin-bottom: 15px;">
        <button type="button"
                ng-click="setWarehouse('')"
                class="btn btn-default ng-class: {active: (warehouse=='')};">Total</button>
        <button type="button"
                ng-repeat="wh in warehouses"
                ng-click="setWarehouse(wh._id)"
                class="btn btn-default ng-class: {active: (warehouse==wh._id)};">{{wh.name}}</button>
      </div>
      <a class="btn btn-default btn-create" ui-sref="app.scents.create" ng-if="getAccessLevel()!='readonly'">CREATE NEW</a>
    </div>
    <div class="row">
        <div ui-grid="gridOptions" ui-grid-pagination class="grid" style="height:300px"></div>
    </div>
    <div class="row">
      <h3>Upload Inventory</h3>
      <div class="form-inline">
        <div class="form-group">
          <select ng-model="warehouseToUpload" class="form-control">
            <option>US</option>
            <option>UK</option>
          </select>
        </div>
        <div class="form-group">
          <input class="btn btn-default" type="file" file-model="newFile" id="newFile"/>
        </div>
        <div class="form-group">
          <button class="btn btn-default" ng-click="uploadFile()">Upload</button>
        </div>
      </div>
    </div>
    <div class="row error-message">
      <span>{{message}}</span>
    </div>
    <div class="row" ng-hide="details == ''">
      <pre>{{details}}</pre>
    </div>
</div>
