.fullscreen {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 99;
}

.fullscreen .loading {
    display: table;
    z-index: 100;
    opacity: 1;
}

.progress-loader {
    display: block;
    width: 510px;
    height: 30px;
    /*border-radius: 15px;*/
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.14);
    border-radius: 100px;
    background-color: #ffffff;
    margin:auto;
}
.progress-bar-loader {
    display: block;
    position: relative;
    max-width: 96%;
    top: 8px;
    left: 2%;
    height: 15px;
    border-radius: 8px;
    background-color: #f10733;
}

@media only screen and (max-width: 560px) {
    .progress-loader {
        width: 410px;
    }
}

@media only screen and (max-width: 460px) {
    .progress-loader {
        width: 310px;
    }
}

h1 {
    color: #5b6367;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 300;
}

h2 {
    padding-top: 50px;
    margin-bottom: -20px;
    font-family: Gotham;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 25px;
    text-transform: uppercase;
}