<div class="fullscreen">
    <div class="loading">
        <img class="logo" cdn-src="/assets/img/logo/waftlab.png">
        <div class="progress"></div><br>
        <h2>THANK YOU FOR YOUR SUBMISSION</h2>
        <h1>{{notificationPercent}}</h1>

        <div class="progress-loader">
            <div class="progress-bar progress-bar-loader" [style.width]="loadPercent + '%'" ></div>
        </div>

    </div>

</div>