<div class="gift-delivery-page">
    <div class="logo">
        <img height="58" cdn-src="/assets/img/logo/waftgift.png"/>
    </div>
    <div class="ct">
        <checkout-form [order]="wizard.order" submitCTA="CONFIRM"
            (onDone)="onDone()" (onLogin)="onLogin()" (save)="save()">
        </checkout-form>
    </div>
</div>