<div class="order-page">
  <div class="row">
    <div class="col-md-12">
      <h2>ORDERS</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="btn-group form-group">
        <button class="btn btn-default" type="button" ng-click="refreshTable()">Refresh</button>
      </div>
      <div class="btn-group form-group" ng-if="canEdit()" uib-dropdown>
        <button type="button" class="btn btn-default" uib-dropdown-toggle
                ng-disabled="disabled">
          <span class="selected-text">{{'Export'}} </span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="status">
          <li><a href="{{getExportLink()}}">Default</a></li>
          <li><a href="{{getExportLink('ml')}}">Machine Learning</a></li>
          <li><a href="{{getExportLink('algo')}}">Recommendation Algorithm</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-8" style="text-align: right">
      <div class="btn-group form-group" uib-dropdown>
        <button id="searchDate" type="button" class="btn btn-default" uib-dropdown-toggle
                ng-disabled="disabled">
          <span class="selected-text">{{searchDate || 'Dates'}} </span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="status">
          <li ng-repeat="d in searchDates" ng-click="searchByDate(d)"><a>{{d}}</a></li>
        </ul>
      </div>
      <div class="btn-group form-group" uib-dropdown>
        <button id="searchStatus" type="button" class="btn btn-default" uib-dropdown-toggle
                ng-disabled="disabled">
          <span class="selected-text">{{searchStatus || 'Status'}} </span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="status">
          <li ng-repeat="st in searchStatuses" ng-click="searchByStatus(st)"><a>{{st}}</a></li>
        </ul>
      </div>
      <div class="btn-group form-group" uib-dropdown>
        <button id="searchSamplesStatus" type="button" class="btn btn-default" uib-dropdown-toggle
                ng-disabled="disabled">
          <span class="selected-text">{{searchSamplesStatus || 'All Samples'}} </span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="status">
          <li ng-repeat="st in searchSamplesStatuses" ng-click="searchBySamplesStatus(st)"><a>{{st}}</a></li>
        </ul>
      </div>
      <div class="btn-group form-group" uib-dropdown>
        <button id="searchWarehouse" type="button" class="btn btn-default" uib-dropdown-toggle
                ng-disabled="disabled">
          <span class="selected-text">{{searchWarehouse || 'Warehouse'}} </span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="status">
          <li ng-repeat="st in searchWarehouses" ng-click="searchByWarehouse(st)"><a>{{st}}</a></li>
        </ul>
      </div>
      <div class="btn-group form-group hover">
        <input type="text" class="form-control" placeholder="Search" ng-change="search()" ng-model="term">
        <div class="tooltip">
          <b>Examples: </b><br>
          &lt;e-mail address&gt;<br>
          &lt;first name&gt;<br>
          &lt;last name&gt;<br>
          &lt;order id&gt;<br>
          batch &lt;number&gt;<br>
          track &lt;number&gt;<br>
          promo &lt;code&gt;<br>
          receipt &lt;number&gt;
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div ui-grid="gridOptions" ui-grid-pagination class="grid" style="height:300px"></div>
    </div>
  </div>
  <div ng-if="order!=null" class="order-info">
    <div class="row">
      <div class="col-md-8">
        <h5>Order ID: {{order._id}}
          <button ng-if="prevOrder && !isEditing" class="btn btn-primary btn-sm" ng-click="prev()">
            &lt;
          </button>
          <button ng-if="nextOrder && !isEditing" class="btn btn-primary btn-sm" ng-click="next()">
            &gt;
          </button>
        </h5>
        <h5>Customer<span ng-if="order.type == 'WaftGift'"> (Gift Sender)</span>:
          {{order.sender.firstName}} {{order.sender.lastName}} <a href="mailto:{{order.sender.email}}">{{order.sender.email}}</a>
        </h5>
      </div>
      <div class="col-md-4">
        <div class="edit-link" ng-if="canEdit()">
          <a class="btn btn-primary" ng-click="editOrder()" ng-if="!isEditing">Edit Order</a>
          <a ng-if="isEditing" class="btn btn-success" ng-click="save()">SAVE</a>
          <a ng-if="isEditing" ng-click="cancel()" class="btn btn-danger">CANCEL</a>
        </div>
      </div>
    </div>
    <div class="edit-order" ng-if="isEditing">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <label>STATUS</label>
              <div class="btn-group form-group" uib-dropdown>
                <button id="status" type="button" class="btn btn-default" uib-dropdown-toggle
                        ng-disabled="disabled">
                  <span class="selected-text">{{order.status || 'Select'}} </span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                    aria-labelledby="status">
                  <li ng-repeat="st in statuses" ng-click="selectStatus(st)"><a>{{st}}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <label>ORDER SIZE</label>
              <div class="btn-group form-group" uib-dropdown>
                <button id="ordsize" type="button" class="btn btn-default" uib-dropdown-toggle
                        ng-disabled="disabled">
                  <span class="selected-text">{{order.orderSize|| 'Select'}} </span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                    aria-labelledby="gender">
                  <li ng-repeat="s in orderSizes" ng-click="selectOrderSize(s)"><a>{{s}}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <label>GENDER</label>
              <div class="btn-group form-group" uib-dropdown>
                <button id="gender" type="button" class="btn btn-default" uib-dropdown-toggle
                        ng-disabled="disabled">
                  <span class="selected-text">{{order.gender|| 'Select'}} </span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                    aria-labelledby="gender">
                  <li ng-repeat="gen in genders" ng-click="selectGender(gen)"><a>{{gen}}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <label>WAREHOUSE</label>
              <div class="btn-group form-group" uib-dropdown>
                <button id="warehouse" type="button" class="btn btn-default" uib-dropdown-toggle
                        ng-disabled="disabled">
                  <span class="selected-text">{{warehouseName(order.warehouse)|| 'Select'}} </span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                    aria-labelledby="warehouse">
                  <li ng-repeat="w in warehouses" ng-click="selectWarehouse(w._id)"><a>{{w.name}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3" ng-if="order.orderSize=='samples'">
              <label>SAMPLES STATUS</label>
              <div class="btn-group form-group" uib-dropdown>
                <button id="samplesStatus" type="button" class="btn btn-default"
                        uib-dropdown-toggle ng-disabled="disabled">
                  <span class="selected-text">{{order.samplesStatus || 'Select'}} </span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                    aria-labelledby="status">
                  <li ng-repeat="st in samplesStatuses" ng-click="selectSamplesStatus(st)">
                    <a>{{st}}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3" ng-if="order.orderSize=='samples'">
              <label>MAIN ORDER SIZE</label>
              <div class="btn-group form-group" uib-dropdown>
                <button id="ordsizemain" type="button" class="btn btn-default" uib-dropdown-toggle
                        ng-disabled="disabled">
                  <span class="selected-text">{{order.orderSizeMain|| 'Select'}} </span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                    aria-labelledby="gender">
                  <li ng-repeat="s in orderSizesMain" ng-click="selectMainOrderSize(s)"><a>{{s}}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3" ng-if="order.orderSize=='samples'">
              <label>MAIN ORDER AMOUNT ({{order.currency|uppercase}})</label>
              <input type="text" class="form-control" ng-model="order.amountMain">
            </div>
            <div class="col-md-3" ng-if="order.status == 'Delivered'">
              <label>DELIVERY DATE (LOCAL)</label>
              <input type="datetime-local" class="form-control" ng-model="orderDeliveryDate"
                     ng-change="order.deliveredOn = orderDeliveryDate.toISOString()">
            </div>
          </div>
          <div class="row" ng-if="order.status == 'On Hold'">
            <div class="col-md-12">
              <label>ON HOLD REASON</label>
              <input type="text" class="form-control" ng-model="order.onHoldReason">
            </div>
          </div>
          <div class="row" ng-if="order.status == 'Refunded'">
            <div class="col-md-12">
              <label>REFUND REASON</label>
              <input type="text" class="form-control" ng-model="order.refundReason">
            </div>
          </div>
          <div class="row" ng-if="order.journey">
            <div class="col-md-6">
              <h5>SCENTS</h5>
              <label>
                BASE
                <span class="recommendation"
                      ng-if="order.recommendations && order.recommendations.main">
                                    ({{getScentFullName(order.recommendations.main, true, true)}})
                                </span>
                <a type="button" class="btn btn-xs btn-primary"
                   ng-if="order.recommendations && order.recommendations.main && (!order.journey.scents.main.code)"
                   ng-click="selectScent(order.recommendations.main.code, 'main')">
                  CONFIRM
                </a>
              </label>

              <div class="btn-group form-group">
                <selectize config="baseScentConfig" options='scents'
                           ng-model="baseScent"></selectize>
              </div>

              <div class="row">
                <div class="col-md-8">
                  <label>
                    ADD1
                    <span class="recommendation"
                          ng-if="order.recommendations && order.recommendations.add1">
                                            ({{getScentFullName(order.recommendations.add1, false, true)}})
                                        </span>
                    <a type="button" class="btn btn-xs btn-primary"
                       ng-if="order.recommendations && order.recommendations.add1 && (!order.journey.scents.add1.scent.code)"
                       ng-click="selectScent(order.recommendations.add1.code, 'add1')">
                      CONFIRM
                    </a>
                  </label>
                  <div class="btn-group form-group" -dropdown>
                    <selectize config="add1ScentConfig" options='scents'
                               ng-model="add1Scent"></selectize>
                  </div>
                </div>
                <div class="col-md-4">
                  <label>TYPE</label>
                  <div class="btn-group form-group" uib-dropdown>
                    <button id="add1-type" type="button" class="btn btn-default"
                            uib-dropdown-toggle ng-disabled="disabled">
                      <span class="selected-text">{{order.journey.scents.add1.addType || 'Select'}} </span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                        aria-labelledby="add1-type">
                      <li ng-repeat="type in types" ng-click="selectAddType(type,'add1')">
                        <a>{{type}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <label>
                    ADD2
                    <span class="recommendation"
                          ng-if="order.recommendations && order.recommendations.add2">
                                            ({{getScentFullName(order.recommendations.add2, false, true)}})
                                        </span>
                    <a type="button" class="btn btn-xs btn-primary"
                       ng-if="order.recommendations && order.recommendations.add2 && (!order.journey.scents.add2.scent.code)"
                       ng-click="selectScent(order.recommendations.add2.code, 'add2')">
                      CONFIRM
                    </a>
                  </label>
                  <div class="btn-group form-group">
                    <selectize config="add2ScentConfig" options='scents'
                               ng-model="add2Scent"></selectize>
                  </div>
                </div>
                <div class="col-md-4">
                  <label>TYPE</label>
                  <div class="btn-group form-group" uib-dropdown>
                    <button id="add2-type" type="button" class="btn btn-default"
                            uib-dropdown-toggle ng-disabled="disabled">
                      <span class="selected-text">{{order.journey.scents.add2.addType || 'Select'}} </span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                        aria-labelledby="add2-type">
                      <li ng-repeat="type in types" ng-click="selectAddType(type,'add2')">
                        <a>{{type}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h5>JOURNEY</h5>
              <table class="table table-bordered table-form">
                <tr>
                  <td>ANSWERS</td>
                  <td>
                    {{getJourneyDesc(order.journey)}}
                  </td>
                </tr>
                <tr>
                  <td>INGREDIENTS</td>
                  <td><span
                    ng-repeat="ingr in order.journey.ingredients">{{ingr}}{{$last ? '' : ' / '}}</span>
                  </td>
                </tr>
                <tr>
                  <td>PRIMARY FRAGRANCE</td>
                  <td>
                    {{getFragranceDescription(order.journey.primaryFragrance, true)}}
                  </td>
                </tr>
                <tr>
                  <td>BASE FRAGRANCES</td>
                  <td><span
                    ng-repeat="f in order.journey.baseFragrances">{{f.name}}{{$last ? '' : ' / '}}</span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" ng-if="otherOrders.length!=0">
          <h5>OTHER ORDERS</h5>
          <table class="table table-bordered table-form">
            <thead>
            <tr>
              <th>DATE</th>
              <th>STATUS</th>
              <th>TYPE</th>
              <th>ANSWERS</th>
              <th>PRIMARY FRAGRANCE</th>
              <th>ALLOCATIONS</th>
            </tr>
            <thead>
            <tbody>
            <tr ng-repeat="order in otherOrders">
              <td>{{order.createdAt | date: 'yyyy-MM-dd HH:mm'}}</td>
              <td>{{order.status}}</td>
              <td>{{order.type}} {{order.orderSize}}</td>
              <td>{{getJourneyDesc(order.journey)}}</td>
              <td>{{getFragranceDescription(order.journey.primaryFragrance)}}</td>
              <td>
                {{order.journey.scents.main.code}}-{{order.journey.scents.add1.scent.code}}-{{order.journey.scents.add2.scent.code}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <h5>PERSONALISATION</h5>
              <div class="form-group">
                <label for="cBFNameCard">FIRST NAME (CARD)</label>
                <input type="text" class="form-control" id="cBFNameCard"
                       ng-model="order.customPackaging.firstName">
              </div>
              <div class="form-group">
                <label for="cBInitials">INITIALS</label>
                <input type="text" maxlength="3" class="form-control" id="cBInitials"
                       ng-model="order.customBottle.initials">
              </div>
              <div class="form-group">
                <label for="cBName">BOTTLE NAME</label>
                <input type="text" class="form-control" id="cBName" ng-model="order.customBottle.name">
              </div>
              <div class="form-group">
                <label>BOTTLE FONT STYLE</label>
                <div class="btn-group" uib-dropdown>
                  <button id="cBStyle" type="button" class="btn btn-default" uib-dropdown-toggle
                          ng-disabled="disabled">
                    <span class="selected-text">{{order.customBottle.style || 'Select'}} </span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="cBStyle">
                    <li ng-repeat="style in styles" ng-click="selectStyle(style)"><a>{{style}}</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <label for="cBMessage">BOTTLE MESSAGE</label>
                <textarea class="form-control" rows="3" id="cBMessage"
                          ng-model="order.customBottle.message"></textarea>
              </div>
            </div>
            <div class="col-md-6 shipping-form">
              <h5>SHIPPING ADDRESS</h5>
              <div class="form-group">
                <label for="fullName">FULL NAME</label>
                <input type="text" class="form-control" id="fullName"
                       ng-model="order.delivery.fullName">
              </div>
              <div class="form-group">
                <label for="addressLine1">ADDRESS LINE1</label>
                <input type="text" class="form-control" id="addressLine1"
                       ng-model="order.delivery.addressLine1">
              </div>
              <div class="form-group">
                <label for="addressLine2">ADDRESS LINE2</label>
                <input type="text" class="form-control" id="addressLine2"
                       ng-model="order.delivery.addressLine2">
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="city">CITY</label>
                    <input type="text" class="form-control" id="city"
                           ng-model="order.delivery.city">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="county">REGION</label>
                    <input type="text" class="form-control" id="county"
                           ng-model="order.delivery.county">
                  </div>
                </div>
              </div>
              <div class=" form-group">
                <label>COUNTRY</label>
                <div class="btn-group" uib-dropdown>
                  <button id="country" type="button" class="btn btn-default"
                          uib-dropdown-toggle ng-disabled="disabled">
                    <span class="selected-text">{{order.delivery.country || 'Select'}}</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                      aria-labelledby="base-scent">
                    <li ng-repeat="country in countries" ng-click="selectCountry(country)"><a>{{country.country}}</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <label for="zipCode">POSTAL</label>
                <input type="text" class="form-control" id="zipCode"
                       ng-model="order.delivery.zipCode">
              </div>
              <div class="form-group">
                <label for="phoneNumber">PHONE</label>
                <input type="text" class="form-control" id="phoneNumber"
                       ng-model="order.delivery.phoneNumber">
              </div>
            </div>
          </div>
          <div class="row error-message">
            <span>{{message}}</span>
          </div>
          <div class="row buttons">
            <a class="btn btn-success" ng-click="save()">SAVE</a>
            <a ng-click="cancel()" class="btn btn-danger">CANCEL</a>
          </div>
        </div>
      </div>

    </div>
    <div class="baseInfo" ng-if="!isEditing">
      <div class="row error-message">
        <span>{{message}}</span>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h5>DETAILS</h5>
          <table class="table table-bordered table-form">
            <tr>
              <td>TYPE</td>
              <td>{{order.type}} {{order.orderSize}}</td>
            </tr>
            <tr ng-if="order.type == 'WaftGift'">
              <td>GIFT INVITATION RECIPIENT</td>
              <td>{{order.gift.recipient.firstName}} {{order.gift.recipient.lastName}} <a
                href="mailto:{{order.gift.recipient.email}}">{{order.gift.recipient.email}}</a>
              </td>
            </tr>
            <tr ng-if="order.type == 'WaftGift' && order.gift.receiver">
              <td>GIFT USER</td>
              <td>{{order.gift.receiver.firstName}} {{order.gift.receiver.lastName}} <a
                href="mailto:{{order.gift.receiver.email}}">{{order.gift.receiver.email}}</a>
              </td>
            </tr>
            <tr ng-if="order.type === 'WaftGift' && order.status === 'Gift Invitation'">
              <td>GIFT REDEMPTION LINK</td>
              <td>https://waft.com/app/gift/receive/{{order._id}}</td>
            </tr>
            <tr>
              <td>AMOUNT</td>
              <td>{{order.currency|uppercase}}{{order.amount}}</td>
            </tr>
            <tr ng-if="order.orderSize == 'samples'">
              <td>MAIN ORDER AMOUNT</td>
              <td>{{order.currency|uppercase}}{{order.amountMain}}
                ({{order.orderSizeMain?order.orderSizeMain:'big'}})
              </td>
            </tr>
            <tr>
              <td>PROMO CODE</td>
              <td>{{order.promoCode}}</td>
            </tr>
            <tr>
              <td>PROMO CODE MEMBER</td>
              <td>{{order.promoMemberEmail}}</td>
            </tr>
            <tr ng-if="order.salesRep && (order.salesRep != '')">
              <td>SALES REP</td>
              <td>{{order.salesRep}}</td>
            </tr>
            <tr ng-if="order.optimizelyVariations && (order.optimizelyVariations.length > 0)">
              <td>OPTIMIZELY VARIATIONS</td>
              <td>{{order.optimizelyVariations.join(', ')}}</td>
            </tr>
            <tr>
              <td>GENDER</td>
              <td>{{order.gender}}</td>
            </tr>
            <tr ng-if="order.repeatOrderRef">
              <td>RE-ORDERED FROM</td>
              <td><a href="" ng-click="showMore(order.repeatOrderRef)">{{order.repeatOrderRef}}</a>
              </td>
            </tr>
            <tr>
              <td>MAIN SCENT</td>
              <td>
                {{getScentFullName(order.journey.scents.main, true, true)}}
                <span class="recommendation"
                      ng-if="order.recommendations && order.recommendations.main">
                                    ({{getScentFullName(order.recommendations.main, true, true)}})
                                </span>
                <a type="button" class="btn btn-xs btn-primary"
                   ng-if="canConfirmRecommendation()"
                   ng-click="confirmRecommendation()">
                  CONFIRM ALL
                </a>
                <span class="label label-danger" ng-if="order.repeatOrderRef">RE-ORDER</span>
                <span class="label label-danger" ng-if="hasOtherImporantOrders()">OTHER ORDERS</span>
              </td>
            </tr>
            <tr>
              <td>ADD SCENT 1 {{order.journey.scents.add1.addType}}</td>
              <td>{{getScentFullName(order.journey.scents.add1.scent, false, true)}}
                <span class="recommendation"
                      ng-if="order.recommendations && order.recommendations.add1">
                                    ({{getScentFullName(order.recommendations.add1, false, true)}})
                                </span>
              </td>
            </tr>
            <tr>
              <td>ADD SCENT 2 {{order.journey.scents.add2.addType}}</td>
              <td>{{getScentFullName(order.journey.scents.add2.scent, false, true)}}
                <span class="recommendation"
                      ng-if="order.recommendations && order.recommendations.add2">
                                    ({{getScentFullName(order.recommendations.add2, false, true)}})
                                </span>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <h5>STATUS</h5>
          <table class="table table-bordered table-form">
            <tr>
              <td>ORDER STATUS</td>
              <td>
                {{order.status}}
                <a type="button" class="btn btn-xs btn-primary"
                   ng-if="canHold()"
                   ng-click="putOnHold()">
                  ON HOLD
                </a>
                <a type="button" class="btn btn-xs btn-primary"
                   ng-if="canProcess()"
                   ng-click="setToProcessing()">
                  PROCESSING
                </a>
              </td>
            </tr>
            <tr ng-if="order.status == 'On Hold'">
              <td>ON HOLD REASON</td>
              <td>{{order.onHoldReason}}</td>
            </tr>
            <tr>
              <td>PAYMENT STATUS</td>
              <td>{{order.payment_status}}</td>
            </tr>
            <tr ng-if="order.payment_id && (order.payment_id != '')">
              <td>TRANSACTION <span ng-if="order.payment.account">({{order.payment.account}})</span></td>
              <td>
                ID: <a href="https://dashboard.stripe.com/payments/{{order.payment_id}}"
                       target="_blank">{{order.payment_id}}</a>,
                Receipt: {{order.receipt_number || 'N/A'}},
                Customer: {{order.payment.customerId || 'N/A'}}
                Source: {{order.payment.sourceId || 'N/A'}}
              </td>
            </tr>
            <tr ng-if="order.status == 'Refunded'">
              <td>REFUND REASON</td>
              <td>{{order.refundReason}}</td>
            </tr>
            <tr ng-if="order.type == 'WaftGift'">
              <td>GIFT STATUS</td>
              <td>{{order.gift.status}}</td>
            </tr>
            <tr ng-if="order.orderSize == 'samples'">
              <td>SAMPLES STATUS</td>
              <td>{{order.samplesStatus}}
                <a type="button" class="btn btn-xs btn-primary"
                   ng-if="canCancelTrial()"
                   ng-click="cancelTrial()">
                  CANCEL
                </a>
                <a type="button" class="btn btn-xs btn-primary"
                   ng-if="canExpediteTrial()"
                   ng-click="expediteTrial()">
                  EXPEDITE <span ng-if="order.samplesStatus == 'Completed'">AGAIN</span>
                </a>
              </td>
            </tr>
            <tr ng-if="order.samplesStatus == 'Cancelled'">
              <td>CANCELLATION REASONS</td>
              <td>{{order.cancellationReasons?order.cancellationReasons.join(' / '):'N/A'}}</td>
            </tr>
            <tr ng-if="order.mainOrderRef">
              <td>MAIN ORDER</td>
              <td><a href="" ng-click="showMore(order.mainOrderRef)">{{order.mainOrderRef}}</a>
              </td>
            </tr>
            <tr ng-if="order.samplesOrderRef">
              <td>SAMPLES ORDER</td>
              <td>
                <a href="" ng-click="showMore(order.samplesOrderRef)">{{order.samplesOrderRef}}</a>
                <span class="label label-danger">COMPLETED TRIAL</span>
              </td>
            </tr>
            <tr>
              <td>ORDER CREATED</td>
              <td>{{order.createdAt | date: 'yyyy-MM-dd HH:mm'}}</td>
            </tr>
            <tr ng-if="order.placedOn">
              <td>ORDER PLACED</td>
              <td>{{order.placedOn | date: 'yyyy-MM-dd HH:mm'}}</td>
            </tr>
            <tr ng-if="(order.status != 'Created') && (order.status != 'Payment Failed')">
              <td>WAREHOUSE</td>
              <td>{{warehouseName(order.warehouse)}}</td>
            </tr>
            <tr ng-if="order.sentForProcessingOn">
              <td>SENT TO WAREHOUSE</td>
              <td>{{order.sentForProcessingOn | date: 'yyyy-MM-dd HH:mm'}}</td>
            </tr>
            <tr ng-if="order.transmissionNo">
              <td>TRANSMISSION NUMBER</td>
              <td>
                {{order.transmissionNo}}
                <a href="http://waft-orders-prod.s3-website-us-west-2.amazonaws.com/WOR{{order.transmissionNo}}.txt"
                   target="_blank">Transmission</a>
              </td>
            </tr>
            <tr ng-if="order.batchNo">
              <td>BATCH NUMBER</td>
              <td>
                {{order.batchNo}}
                <span ng-if="warehouseName(order.warehouse) == 'SG'">
                                    <a
                                      href="http://waft-orders-prod.s3-website-us-west-2.amazonaws.com/{{order.batchNo}}.pdf"
                                      target="_blank">Bottles</a>
                                </span>
                <span ng-if="warehouseName(order.warehouse) == 'UK'">
                                    <a
                                      href="http://waft-orders-prod.s3-website-us-west-2.amazonaws.com/{{order.batchNo}}.pdf"
                                      target="_blank">Bottles</a>
                                    <a
                                      href="http://waft-orders-prod.s3-website-us-west-2.amazonaws.com/{{order.batchNo}}_cards.pdf"
                                      target="_blank">Cards</a>
                                    <a
                                      href="http://waft-orders-prod.s3-website-us-west-2.amazonaws.com/{{order.batchNo}}_labels.pdf"
                                      target="_blank">Labels</a>
                                </span>
                <span ng-if="warehouseName(order.warehouse) == 'US'">
                                    <a
                                      href="http://waft-orders-prod.s3-website-us-west-2.amazonaws.com/{{order._id}}_bottles.pdf"
                                      target="_blank">Bottles</a>
                                    <span ng-if="order.size==='samples'">
                                        <a
                                          href="http://waft-orders-prod.s3-website-us-west-2.amazonaws.com/{{order.transmissionNo}}_1card.pdf"
                                          target="_blank">Cards</a>
                                        <a
                                          href="http://waft-orders-prod.s3-website-us-west-2.amazonaws.com/{{order.transmissionNo}}_1label.pdf"
                                          target="_blank">Labels</a>
                                    </span>
                                    <span ng-if="order.size!=='samples'">
                                        <a
                                          href="http://waft-orders-prod.s3-website-us-west-2.amazonaws.com/{{order.transmissionNo}}_2cards.pdf"
                                          target="_blank">Cards</a>
                                        <a
                                          href="http://waft-orders-prod.s3-website-us-west-2.amazonaws.com/{{order.transmissionNo}}_2labels.pdf"
                                          target="_blank">Labels</a>
                                    </span>
                                </span>
              </td>
            </tr>
            <tr ng-if="order.shippedOn">
              <td>SHIPPED</td>
              <td>{{order.shippedOn | date: 'yyyy-MM-dd HH:mm'}}</td>
            </tr>
            <tr ng-if="order.shippingInfo">
              <td>SHIPPING REFERENCE</td>
              <td>
                {{order.shippingInfo.shippingCompany}}
                <a ng-if="order.shippingInfo.trackingNumber && (order.shippingInfo.trackingNumber != '')"
                   href="{{getTrackingUrl()}}" target="_blank">{{order.shippingInfo.trackingNumber}}</a>
              </td>
            </tr>
            <tr ng-if="order.deliveredOn">
              <td>DELIVERED</td>
              <td>{{order.deliveredOn | date: 'yyyy-MM-dd HH:mm'}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h5>JOURNEY</h5>
          <table class="table table-bordered table-form">
            <tr>
              <td>CREATED</td>
              <td>{{order.journey.createdAt | date: 'yyyy-MM-dd HH:mm'}}</td>
            </tr>
            <tr>
              <td>ANSWERS</td>
              <td>
                {{getJourneyDesc(order.journey)}}
              </td>
            </tr>
            <tr>
              <td>INGREDIENTS</td>
              <td><span
                ng-repeat="ingr in order.journey.ingredients">{{ingr}}{{$last ? '' : ' / '}}</span>
              </td>
            </tr>
            <tr ng-if="order.preferredSample && (order.preferredSample != '')">
              <td>PREFERRED SAMPLE</td>
              <td>
                {{order.preferredSample}}
              </td>
            </tr>
            <tr>
              <td>PRIMARY FRAGRANCE</td>
              <td>
                {{getFragranceDescription(order.journey.primaryFragrance, true)}}
              </td>
            </tr>
            <tr>
              <td>BASE FRAGRANCES</td>
              <td><span
                ng-repeat="f in order.journey.baseFragrances">{{f.name}}{{$last ? '' : ' / '}}</span>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <div>
            <h5 style="display: inline-block;">PERSONALISATION</h5>
            <a href="/bottle/{{order.journey._id}}/test.jpeg" target="_blank">Preview</a>
          </div>
          <table class="table table-bordered table-form">
            <tr>
              <td>FIRST NAME (CARD)</td>
              <td ng-bind-html="order.customPackaging.firstName | badwords"></td>
            </tr>
            <tr>
              <td>BOTTLE NAME</td>
              <td ng-bind-html="order.customBottle.name | badwords"></td>
            </tr>
            <tr>
              <td>BOTTLE MESSAGE</td>
              <td style="white-space: pre-line;" ng-bind-html="order.customBottle.message | badwords"></td>
            </tr>
            <tr>
              <td>INITIALS</td>
              <td>{{order.customBottle.initials}}</td>
            </tr>
            <tr>
              <td>BOTTLE FONT STYLE</td>
              <td>{{order.customBottle.style}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" ng-if="otherOrders.length!=0">
          <h5>OTHER ORDERS</h5>
          <table class="table table-bordered table-form">
            <thead>
            <tr>
              <th>ID</th>
              <th>DATE</th>
              <th>STATUS</th>
              <th>TYPE</th>
              <th>ANSWERS</th>
              <th>PRIMARY FRAGRANCE</th>
              <th>ALLOCATIONS</th>
            </tr>
            <thead>
            <tbody>
            <tr ng-repeat="order in otherOrders">
              <td><a href="" ng-click="showMore(order._id)">{{order._id}}</a></td>
              <td>{{order.createdAt | date: 'yyyy-MM-dd HH:mm'}}</td>
              <td>{{order.status}}</td>
              <td>{{order.type}} {{order.orderSize}}</td>
              <td>{{getJourneyDesc(order.journey)}}</td>
              <td>{{getFragranceDescription(order.journey.primaryFragrance)}}</td>
              <td>
                {{order.journey.scents.main.code}}-{{order.journey.scents.add1.scent.code}}-{{order.journey.scents.add2.scent.code}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h5>DELIVERY</h5>
          <table class="table table-bordered table-form">
            <tr>
              <td>FULL NAME</td>
              <td ng-bind-html="order.delivery.fullName | badwords"></td>
            </tr>
            <tr>
              <td>ADDRESS LINE 1</td>
              <td ng-bind-html="order.delivery.addressLine1 | badwords"></td>
            </tr>
            <tr>
              <td>ADDRESS LINE 2</td>
              <td ng-bind-html="order.delivery.addressLine2 | badwords"></td>
            </tr>
            <tr>
              <td>TOWN/CITY</td>
              <td ng-bind-html="order.delivery.city | badwords"></td>
            </tr>
            <tr>
              <td>COUNTY/STATE</td>
              <td>{{order.delivery.county||''}}</td>
            </tr>
            <tr>
              <td>COUNTRY</td>
              <td>{{order.delivery.country}}</td>
            </tr>
            <tr>
              <td>POSTAL/ZIP</td>
              <td ng-bind-html="order.delivery.zipCode | badwords"></td>
            </tr>
            <tr>
              <td>PHONE NO.</td>
              <td>{{order.delivery.phoneNumber}}</td>
            </tr>
          </table>
        </div>
        <div class="col-md-6" ng-if="order.type == 'WaftGift'">
          <h5>GIFT E-MAIL NOTE</h5>
          <div class="note">
            {{order.gift.note}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5>MISC INFO</h5>
          <table class="table table-bordered table-form">
            <tr>
              <td>IP</td>
              <td>{{order.userInfo.ip}}</td>
            </tr>
            <tr>
              <td>LOCATION</td>
              <td>{{order.userInfo.location.city}}, {{order.userInfo.location.countryCode}}</td>
            </tr>
            <tr>
              <td>USER AGENT</td>
              <td>{{order.userInfo.ua}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5>CHANGE LOG</h5>
          <table class="table table-bordered table-form">
            <tr ng-repeat="log in order.auditlog">
              <td>{{log.date | date: 'yyyy-MM-dd HH:mm'}}</td>
              <td>{{log.message}}</td>
            </tr>
          </table>
        </div>
        <div class="col-md-12">
          <h5>RECOMMENDATIONS</h5>
          <pre>{{order.recommendations|json}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>
