<div class="drop1">
    <ul #list [scrollTop]="scrollIndex*55">
        <li *ngFor="let item of listOfFragrances; let fragranceIndex=index" (mouseover)="onHoverItem(fragranceIndex)"
            (click)="onClick(item)" [ngClass]="{cur: focusIndex==fragranceIndex}">
            <label>
                <input type="radio" name="r1"><i *ngIf="item.thumb"><img src="{{item.thumb}}"></i>
                <span>
                    {{item.name}}
                </span>
            </label>
        </li>
    </ul>
</div>