.drop1 {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: white;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    overflow: hidden;
    height: 315px;
    border: 1px solid #dfdfdf;
    z-index: 3;
}

@media only screen and (max-width: 450px) {
    .drop1 {
        height: 180px;
    }
}

.drop1 ul {
    height: 315px;
    overflow: auto;
}

@media only screen and (max-width: 450px) {
    .drop1 ul {
        height: 180px;
    }
}

.drop1 li {
    display: block;
    height: 44px;
    padding-left: 4px;
    position: relative;
    border-bottom: 1px solid #dfdfdf;
}

.drop1 li:last-child {
    border-bottom: none;
}

.drop1 li i {
    font-style: normal;
    float: left;
    width: 44px;
    line-height: 44px;
    text-align: center;
}

.drop1 li i img {
    display: inline-block;
    vertical-align: middle;
}

.drop1 li input {
    display: block;
    position: absolute;
    top: 0;
    left: -9999px;
}

.drop1 li span {
    text-align: left;
    padding-left: 12px;
    padding-right: 12px;
    height: 44px;
    display: table-cell;
    vertical-align: middle;
    color: #565d60;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.drop1 li label {
    cursor: pointer;
    display: block;
}

.drop1 li.ac:before {
    position: absolute;
    top: -1px;
    left: 0;
    bottom: -1px;
    display: block;
    content: '';
    width: 2px;
    background: #f10733;
}