.legal-notice {
    position: relative;
    padding: 80px 25px 95px 25px;
    background: white;
    box-shadow: 0 2px 37px rgba(0, 0, 0, 0.21);
    width: 750px;
    margin: auto;
    border-radius: 15px;
    text-align: center;
}

.legal-notice .close-btn {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
}

.legal-notice .close-btn img {
    width: 13px;
    height: 13px;
}

.legal-notice span {
    color: #6d7a7d;
    font-size: 14px;
    line-height: 24px;
}

.legal-notice h4 {
    margin: 0 0 20px;
    font-size: 17px;
    color: #6d7a7d;
}

@media only screen and (max-width: 800px) {
    .legal-notice {
        padding-top: 45px;
        padding-bottom: 60px;
        width: 75%;
    }

}