<div class="legal-notice">
    <div class="close-btn">
        <img (click)="close()" cdn-src="/assets/img/close.svg">
    </div>
    <h4>
        LEGAL NOTICE
    </h4>
    <span>
        All  third party trademarks, logos, and brands are  the intellectual property of their respective owners. All
        company, product and service names used in this website are for identification purposes only. Use of these
        names, logos, and brands does not imply endorsement of Waft.com or our products.
    </span>

</div>