<style>
  table.table h4 {
    padding-top:14px;
    margin-bottom: 0px;
  }

  .btn.btn-default {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .btn.dashboard {
    float: right;
    margin-right: 10px;
  }
  
  .btn.reset {
    float: right;
    /* margin: 15px; */
    margin-right: 0px;
    background: #7AA948;
    color: white;
  }

  #countriesSelect {
    width: 200px;
    margin-top: 10px;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }
</style>
<div class="dashboard-page">
    <div class="row">
        <div class="col-md-12">
            <h2>Conversions</h2>
        </div>
    </div>
    <div class="row">
      <div  id="countriesSelect" class="btn-group form-group" role="group">
        <selectize config="countriesConfig" options='countries'
                   ng-model="country"></selectize>
      </div>
      <a class="btn btn-default reset" href="" ng-click="getPage()">REFRESH</a>
      <a class="btn btn-default dashboard"  ui-sref="app.dashboard">Back To Dashboard</a>
    </div>
    <div class="row">
      <table class="table">
        <tr>
          <th>Day</th>
          <th>Total New Orders</th>
          <th>Full Orders</th>
          <th>Sample Orders</th>
          <th>Conversions Within Week 1</th>
          <th>Conversions Within Week 2</th>
          <th>Conversions Within Week 3</th>
          <th>Conversions Within Week 4</th>
          <th>Pending</th>
          <th>Cancelled</th>
          <th>Total Conversions</th>
          <th>Total Conversions Value</th>          
        </tr>
        <tr ng-repeat="conversion in data.conversions">          
          <td>{{conversion.label}}</td>
          <td>{{conversion.totalNewOrders}}</td>
          <td>
            {{conversion.fullOrders}}
            ({{conversion.fullOrders ? (conversion.fullOrders/conversion.totalNewOrders*100).toFixed(0) : 0}}%)
          </td>
          <td>
            {{conversion.sampleOrders}}
            ({{conversion.sampleOrders ? (conversion.sampleOrders/conversion.totalNewOrders*100).toFixed(0) : 0}}%)
          </td>
          <td>
            {{conversion.conversionsWeek1}}
            ({{conversion.conversionsWeek1 ? (conversion.conversionsWeek1/conversion.conversions*100).toFixed(0) : 0}}%)
          </td>
          <td>
            {{conversion.conversionsWeek2}}
            ({{conversion.conversionsWeek2 ? (conversion.conversionsWeek2/conversion.conversions*100).toFixed(0) : 0}}%)
          </td>
          <td>
            {{conversion.conversionsWeek3}}
            ({{conversion.conversionsWeek3 ? (conversion.conversionsWeek3/conversion.conversions*100).toFixed(0) : 0}}%)
          </td>
          <td>
            {{conversion.conversionsWeek4}}
            ({{conversion.conversionsWeek4 ? (conversion.conversionsWeek4/conversion.conversions*100).toFixed(0) : 0}}%)
          </td>
          <td>
            {{conversion.pendingSamples}}
            ({{conversion.pendingSamples ? (conversion.pendingSamples/conversion.sampleOrders*100).toFixed(0) : 0}}%)
          </td>
          <td>
            {{conversion.cancelledSamples}}
            ({{conversion.cancelledSamples ? (conversion.cancelledSamples/conversion.sampleOrders*100).toFixed(0) : 0}}%)
          </td>
          <td>
            {{conversion.conversions}}
            ({{conversion.conversions ? (conversion.conversions/conversion.sampleOrders*100).toFixed(0) : 0}}%)
          </td>
          <td>{{conversion.conversionsValue | currency:"S$":2}}</td>
        </tr>
      </table>
    </div>
</div>
