<waft-header type="profile" [showBack]="false">
</waft-header>
<div class="pd1" *ngIf="profile.email">
    <div class="ct">
        <div class="head">
            <img cdn-src="/assets/img/profile/av2.png">
            <div>
                <div>
                    <span>{{profile.firstName+' '+profile.lastName| uppercase}}</span><br>
                    <span>{{profile.email}}</span><i>
                    MEMBER SINCE {{profile.createdAt| date:'MMM' | uppercase}} {{profile.createdAt|
                    date:'y'}}</i></div>
            </div>
        </div>
        <div class="page">
            <a class="profile-item" routerLink="/app/profile/journeys" *ngIf="profile.journeys.length > 0">
                <span>YOUR JOURNEYS</span>
                <span class="pull-right">
                    <span class="counter">{{profile.journeys.length}}</span>
                    <span class="arrow"></span>
                </span>
            </a>
            <a class="profile-item" routerLink="/app/profile/orders" *ngIf="profile.samples.length + profile.orders.length > 0">
                <span>YOUR ORDERS</span>
                <span class="pull-right">
                    <span class="counter">{{profile.samples.length + profile.orders.length}}</span>
                    <span class="arrow"></span>
                </span>
            </a>
            <a class="profile-item" routerLink="/app/profile/referral">
                <span>REFERRAL PROGRAM</span>
                <span class="pull-right">
                    <span class="arrow"></span>
                </span>
            </a>
            <a class="profile-item" routerLink="/app/wizard/type">
                <span>DESIGN NEW FRAGRANCE</span>
                <span class="pull-right">
                    <span class="arrow"></span>
                </span>
            </a>
            <a class="profile-item" routerLink="/app/gift">
                <span>CREATE NEW GIFT</span>
                <span class="pull-right">
                    <span class="arrow"></span>
                </span>
            </a>
        </div>
    </div>
</div>
