.pd1 {
  background-color: #edf1f2;
  height: 100vh;
  margin-bottom: -115px;
  min-height: 800px;
}

.ct {
  max-width: 840px;
  padding: 26px 10px 120px 10px;
}

@media only screen and (max-width: 1070px) {
  .ct {
    padding-bottom: 40px;
  }
}

.head {
  background-color: white;
  border: 1px solid rgba(150, 150, 150, 0.16);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 20px;
  float: left;
  *zoom: 1;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 100%;

  &:after {
    content: " ";
    display: table;
    clear: both;
  }

  div {
    float: left;
  }

  img {
    float: left;
    margin-right: 29px;
  }

  div div {
    display: table-cell;
    vertical-align: middle;
    height: 103px;
    float: none;
  }

  div span {
    color: #303739;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    display: block;
    letter-spacing: 3.7px;
  }

  div i {
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 2px;
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .head {
    float: none;
    text-align: center;
    padding: 20px 0;
  }

  .head img {
    float: none;
    display: block;
    margin: auto;
    margin-bottom: 15px;
  }

  .head div {
    float: none;
  }

  .head div div {
    display: block;
    height: auto;
    text-align: center;
  }
}

.page {
  float: left;
  width: 100%;
  max-width: 840px;
  font-family: 'Montserrat', sans-serif;

  .profile-item {
    background-color: white;
    border: 1px solid rgba(150, 150, 150, 0.16);
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 20px;
    float: left;
    *zoom: 1;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 100%;
    color: black;

    &:after {
      content: " ";
      display: table;
      clear: both;
    }

    .counter {
      background: #8cbf53;
      border: 1px solid #8cbf53;
      border-radius: 8px;
      padding: 2px 9px 3px 9px;
      color: white;
      margin-right: 10px;
    }

    .arrow {
      display: inline-block;
      height: 17px;
      width: 10px;
      background: url("/assets/img/elements/black_btn_arrow_mobile.svg");
      background-size: 10px;
      background-position-y: bottom;
      background-repeat: no-repeat;
      top: 2px;
      position: relative;
    }
  }
}

@media only screen and (max-width: 1010px) {
  .page {
    width: auto;
    float: none;
    margin: 0 0 20px 0;
  }
}