<div class="canceling-popup">
    <div class="close-btn">
        <img (click)="close()" cdn-src="/assets/img/close.svg">
    </div>
    <table class="order no-border">
        <tr>
            <td><h4>Please indicate the reasons for cancellation.</h4></td>
        </tr>
        <tr>
            <td >
                <ul *ngFor="let quote of quotes">
                    <li>{{quote.title}}</li>
                    <ul *ngFor="let reason of quote.reasons">
                        <li class="canceling-reason">
                            <a (click)="reason.checked= !reason.checked; chooseReason(reason.value)" >
                                <img [ngClass]="{ 'disabled' : reason.checked }" cdn-src="/assets/img/wizard_checkout/checkbox.svg"/>
                                <img [ngClass]="{ 'disabled' : !reason.checked }" cdn-src="/assets/img/wizard_checkout/checkbox_checked.svg"/>
                            </a>
                            {{reason.value}}
                        </li>
                    </ul>
                </ul>
                <ul>
                    <li> 7. Other </li>
                    <li class="canceling-reason">
                        <textarea [(ngModel)]="otherReason" placeholder="ENTER YOUR MESSAGE"></textarea>
                    </li>
                </ul>

            </td>
        </tr>
        <div class="container-fluid">
            <div *ngIf="message !=''" class="row-fluid form-err-message">{{message}}</div>
            <div class="row-fluid">
                    <div>
                        <a class="btn btn-red" (click)="cancel()">CANCEL MAIN ORDER</a>
                    </div>
                    <div>
                        <a class="btn btn-red" (click)="close()">NO, I DON'T WANT TO CANCEL</a>
                    </div>
            </div>
        </div>

    </table>
</div>

