.custom-subheader {
    text-align: center;
    font-weight:bold;
    font-size: 16px;
    padding-top: 70px;
}

.custom-subheader .custom-subheader-top {
    font-family: Montserrat, sans-serif;
    text-align: center;
    border-bottom: 1px solid rgba(105, 105, 105, 0.17);
    padding-bottom: 5px;
    color: red;
}

.custom-subheader .custom-subheader-bottom {
    font-family: 'Times New Roman', Times, serif;
    color: #6D7A7D;
    margin: 4px 0;
}

.pd1 .bl-sld .item1.j2 {
    height: 45%;
}

.pd1.j2 {
    padding: 0;
}