<waft-header page="landing"></waft-header>
<div class="custom-subheader">
  <div class="custom-subheader-top">DESIGN YOUR OWN FRAGRANCE</div>
  <div class="custom-subheader-bottom">The fragrance you're looking for is...</div>
</div>

<div class="pd1 j2">
    <div class="bl-sld">
        <div class="item1 j2">
            <div class="bg-p" cdn-bg-src="/assets/img/wizard/orderType/for_me.jpg" style="background-position: bottom;"></div>
            <div class="ov1">
                <div class="dc">
                    <div class="tx">
                        <table>
                            <tr>
                                <td><i>YOU</i></td>
                            </tr>
                        </table>
                        <div><b><span>1</span></b></div>
                    </div>
                    <div class="t1">FOR YOU</div>
                    <p></p>
                </div>
            </div>
            <a class="lnk1" (click)="toNextStep('forYou')"></a>
        </div>
        <div class="item1 j2">
            <div class="bg-p" cdn-bg-src="/assets/img/wizard/orderType/for_gift.jpg"></div>
            <div class="ov1">
                <div class="dc">
                    <div class="tx">
                        <table>
                            <tr>
                                <td><i>GIFT</i></td>
                            </tr>
                        </table>
                        <div><b><span>2</span></b></div>
                    </div>
                    <div class="t1">A GIFT</div>
                    <p></p>
                </div>
            </div>
            <a class="lnk1" (click)="toNextStep('gift')"></a>
        </div>
    </div>
</div>

<modal #continueModal [hideCloseButton]="true" [closeOnEscape]="false">
    <modal-content>
        <continue-popup (closeModal)="continueModal.close()"></continue-popup>
    </modal-content>
</modal>

<waft-timeline [step]="0"></waft-timeline>

<div style="margin-top: -20px;position: relative; z-index: 13">
  <h2 style="color: #303739; margin-bottom: 20px; text-align: center; font-size: 22px; letter-spacing: normal; font-weight: 400; font-family: Montserrat, sans-serif; line-height: 25px;">How It Works</h2>
    <iframe width="100%" height="277" src="https://www.youtube.com/embed/BPT8Me3J9ps" frameborder="0" allowfullscreen></iframe>
</div>
