.bottle.modern, .preview.modern, .personalise-gift-container input.modern, .personalise-gift-container textarea.modern {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}

.bottle.classic, .preview.classic, .personalise-gift-container input.classic,
.bottle.classic .message, .personalise-gift-container textarea.classic{
    font-family: "Georgia", "Times New Roman", serif;
    font-weight: normal;
}

.bottle.handwritten, .preview.handwritten, .personalise-gift-container input.handwritten,
.bottle.handwritten div.message, .personalise-gift-container textarea.handwritten, span.handwritten,
.font-preload .handwritten {
    font-family: "Apple Chancery", "AppleChancery", serif;
    font-weight: normal;
}
