.input-block {
    margin-bottom: 22px;
    height: 48px;
    border: 1px solid rgba(150, 150, 150, 0.11);
    border-radius: 9px;
    -webkit-border-radius: 9px;
    background-color: #FBFBFB;
    position: relative;
}

.input-block label.error {
    color: red;
    float: right;
    padding: 5px;
    font-size: 11px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    height: 5px;
    text-align: right;
}

input[type=text], [type=password], input[type=email], input[type=tel] {
    padding-right: 20px;
    padding-left: 20px;
    height: 48px;
    display: block;
    background: none;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 3px;
    color: #42494b;
    box-sizing: border-box;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #92999b;
}
input:-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #92999b;
    opacity:  1;
}
input::-moz-placeholder, textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #92999b;
    opacity:  1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #92999b;
}

input[type="radio"] {
    width: 23px;
    height: 23px;
    background-color: #fbfbfb;
    border: 1px solid #a8b5b8;
    box-sizing: border-box;
    margin-right: 5px;
}

input[type="checkbox"] {
    width: 23px;
    height: 23px;
    background-color: #fbfbfb;
    border: 1px solid #a8b5b8;
    box-sizing: border-box;
    float: left;
    /*margin: 15px 10px;*/
}

input[type="checkbox"].radio, input[type="radio"] {
    border-radius: 7px;
}

input[type="checkbox"]:checked {
    border: none;
    background: #f10733 url(/assets/img/elements/checkbox.svg) no-repeat;
    background-size: 100%;
}

input[type="checkbox"].radio:checked, input[type="radio"]:checked {
    border: 1px solid #a8b5b8;
    background: url(/assets/img/elements/radio.svg) no-repeat center;
}

.radio-block {
    display: table-cell;
    vertical-align: middle;
    height: 30px;
}

.radio-block label {
    color: #585f61;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 23px;
    vertical-align: top;
}

input[type="checkbox"] + label {
    display: block;
    color: #585f61;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 23px;
    margin: 18px 0px 18px 40px;
}

textarea {
    box-sizing: border-box;
    height: 100px;
    display: block;
    background: none;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 3px;
    color: #585f61;
    background-color: #FBFBFB;
    border: 1px solid rgba(150, 150, 150, 0.11);
    border-radius: 9px;
    padding: 20px;
    margin-bottom: 25px;
    -webkit-appearance: none;
    resize: none;
}

.drop input[type=radio] {
    display: none;
}

.form-err-message {
    color: #f10733;;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    max-width: 365px;
    margin: auto;
}

/* auto-fill fix */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #FBFBFB inset; /* background color */
    -webkit-text-fill-color: #585f61; /* text color */
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #FBFBFB inset;
    -webkit-text-fill-color: #585f61;
}

.dropdown-select {
    height: 48px;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-bottom: 32px;
    border-radius: 12px;
}

.dropdown-select .drop {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    background-color: #fff;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    overflow: hidden;
    height: 180px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(109, 122, 125, 0.4);
    -moz-box-shadow: 0px 0px 5px 0px rgba(109, 122, 125, 0.4);
    box-shadow: 0px 0px 5px 0px rgba(109, 122, 125, 0.4);
}

.dropdown-select .drop ul {
    height: 180px;
    overflow: auto;
}

.dropdown-select .drop li {
    cursor: pointer;
    padding-left: 10px;
    display: block;
    min-height: 30px;
    position: relative;
}

.dropdown-select li.cur:before {
    position: absolute;
    top: -1px;
    left: 0;
    bottom: -1px;
    display: block;
    content: '';
    width: 2px;
    background: #f10733;
}

.dropdown-select .drop li:last-child {
    border-bottom: none;
}

.dropdown-select .drop li input {
    display: block;
    position: absolute;
    top: 0;
    left: -9999px;
}

.dropdown-select .drop li span {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #585f61;
    font-weight: normal;
}

@media only screen and (max-width: 450px) {
    .dropdown-select .drop {
        height: 162px;
    }

    .dropdown-select .drop ul {
        height: 162px;
    }
}

.side-by-side {
    *zoom: 1;
}

.side-by-side:after {
    content: " ";
    display: table;
    clear: both;
}

.side-by-side .input-block {
    float: left;
    width: 47.5%;
}

.side-by-side .input-block:last-child {
    float: right;
}

@media only screen and (max-width: 640px) {
    .side-by-side .input-block {
        float: left;
        width: 47.5%;
    }
}

.password-input {
    position: relative;
}

.password-input input {
    padding-right: 100px;
}

.password-input button, .input-block button {
    border: 1px solid rgba(150, 150, 150, 0.11);
    border-radius: 9px;
    -webkit-border-radius: 9px;
    height: 22px;
    width: 70px;
    position: absolute;
    right: 14px;
    top: 13px;
    background-color: #5b6367;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 3px;
    color: #FFF;
}

.password-input label.error {
    color: red;
    float: right;
    padding: 5px;
    font-size: 11px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    height: 5px;
    text-align: right;
}

.country-sel, .state-sel {
    position: relative;
}

.country-sel:after, .state-sel:after {
    content: "\25BC";
    padding: 12px 8px;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
    text-align: center;
    color: #6D7A7D;
    z-index: 9;
    cursor: default;
}

.country-sel select, .state-sel select {
    position: relative;
    z-index: 10;
    height: 48px;
    width: 100%;
    border-radius: 9px;
    border: 1px solid rgba(150, 150, 150, 0.11);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 3px;
    color: #585f61;
    background: none;
    padding: 0 0 0 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.country-sel label, .state-sel label {
    color: red;
    float: right;
    padding: 5px;
    font-size: 11px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    height: 5px;
    text-align: right;
}

.guarantee {
    cursor: pointer;
}

.guarantee img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 48px;
}

.guarantee-text {
    text-align: center;
    color: #5B6367;
    max-width: 330px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

a.have-account {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #F10733;
    cursor: pointer;
}

.gift-section button {
    width: 47.5%;
    float: left;
    padding-left: 45px;
    height: 80px;
    border-radius: 15px;
    border: 2px solid #A8B5B8;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #5B6367;
}

.gift-section button.active {
    border-color: #F10733;
    color: white;
}

img.payment-icons {
    display: block;
    width: 100%;
    max-width: 470px;
    margin: 0 auto;
}
