/*-----------------------------------------------------------------------------------------*/
.login {
    max-width: 980px;
    height: 100vh;
    margin: 0 auto;
    display: table;
    text-align: center;
}

.login-form {
    vertical-align: middle;
    display: table-cell;
    padding-bottom: 42px;
}

.login-form > div {
    padding: 0 70px;
    box-sizing: border-box;
}

.login-form > .col-lg-12 img {
    margin-bottom: 20px;
}

.login-form .col-lg-6.col-sm-12.pull-left {
    padding-bottom: 42px;
}

.login-form .btn {
    border: none;
}

.btn-fb {
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    box-sizing: border-box;
    margin: auto;
    background-color: #3a5998;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    color: white;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 0.8px;
    overflow: hidden;
    line-height: 51px;
    width: 100%;
    max-width: 350px;
    height: 51px;
    text-align: center;
}

.btn-fb:after {
    position: absolute;
    left: 20px;
    top: 0;
    display: block;
    content: " ";
    width: 50px;
    height: 100%;
    background: url("/assets/img/elements/facebook.svg");
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
}

.login-form .col-lg-6 {
    padding-top: 0;
}

.login-form .border {
    border-left: 1px solid #979797;
}

.login-form h2 {
    text-align: center;
    color: #5b6367;
    font-family: Georgia;
    font-size: 26px;
    font-weight: 700;
    margin: 25px 0;
}

.login-form p {
    color: #5b6367;
    font-family: "Times  New  Roman";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    padding: 0 15px;
}

.login-form .error {
    display: block;
    text-align: center;
    color: #f10733;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}

@media only screen and (max-width: 860px) {

    .login .login-form {
        padding-top: 34px;
        display: block;
    }

    .login .login-form .logo {
        display: none;

    }

    .login-form .border {
        border-left: none;
        border-bottom: 1px solid rgb(227, 219, 219);
    }

    .login-form > .col-lg-12 img {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .login-form h2 {
        margin: 15px 0;
    }

    .login-form .btn {
        margin-bottom: 10px;
    }

    .login-form .col-lg-6 {
        padding-bottom: 0;
    }

    .login-form p {
        font-size: 12px;
        padding: 0 5px 10px;
    }

    a.btn-white, button.btn-white {
        line-height: 35px;
        height: 34px;
    }

}

@media only screen and (max-width: 555px) {

    .login .login-form {
        padding-top: 24px;
    }

    .login .login-form .btn.btn-white.btn-block {
        height: 30px;
    }

    .login .login-form button {
        margin-bottom: 0px;
    }

    .login .login-form h2 {
        margin: 7px 0;
    }

    .login .login-form .error {
        padding-top: 0px;
    }

    .login .login-form p {
        padding-bottom: 0px;
    }

    .login-form > div {
        padding: 0 15px;
    }

    .login-form form .btn {
        font-size: 11px;
    }
}

@media only screen and (max-width: 360px) {
    .btn-fb:after {
        left: 10px;
    }

    .btn-with-arrow:after {
        right: -5px !important;
    }
}

@media only screen and (max-width: 330px) {
    .btn-fb:after {
        left: 5px;
    }
}
