<div class="continue-popup">
    <div class="container-fluid">
        <div class="row-fluid">
            <div>
                <h4>
                    Looks like you've already started the Waft journey,
                    would you like to continue it or start over?
                </h4>
            </div>
            <div>
                <a class="btn btn-red" (click)="this.continueWizard()">CONTINUE</a>
                <a class="btn btn-white" (click)="this.resetWizard()">START OVER</a>
            </div>
        </div>
    </div>
</div>

