<waft-header
    stepName="Time of Day"
    stepDescription="Instead of the same scent all day, try a different scent for every moment. Which moment is this scent for?">
</waft-header>
<div class="pd1 j2">
    <div class="bl-sld">
        <div class="item1 j2">
            <div class="bg-p" cdn-bg-src="/assets/img/wizard/timeofday/day.jpg"></div>
            <div class="ov1">
                <div class="dc">
                    <div class="tx">
                        <table>
                            <tr>
                                <td><i>DAY</i></td>
                            </tr>
                        </table>
                        <div><b><span>1</span></b></div>
                    </div>
                    <div class="t1">DAY</div>
                    <p>Radiant, Crisp, Exhilarating and Sunny!</p>
                    <p class="small">Daytime fragrances are a celebration of the energy of life!</p>
                </div>
            </div>
            <a class="lnk1" (click)="toNextStep('day')"></a>
        </div>
        <div class="item1 j2">
            <div class="bg-p" cdn-bg-src="/assets/img/wizard/timeofday/night.jpg" style="background-position: bottom;"></div>
            <div class="ov1">
                <div class="dc">
                    <div class="tx">
                        <table>
                            <tr>
                                <td><i>NIGHT</i></td>
                            </tr>
                        </table>
                        <div><b><span>2</span></b></div>
                    </div>
                    <div class="t1">NIGHT</div>
                    <p>Daring, Sensual, Glamorous and Mysterious</p>
                    <p class="small">Fragrances of the night seduce the senses with sexy sophistication</p>
                </div>
            </div>
            <a class="lnk1" (click)="toNextStep('night')"></a>
        </div>
    </div>
</div>
<waft-timeline [step]="1"></waft-timeline>
