<waft-header type="profile" showBack="true" stepName="Your Orders">
</waft-header>
<div class="pd1" *ngIf="profile.email">
    <div class="ct">
        <div class="page">
            <h2 *ngIf="profile.samples.length>0">YOUR TRIALS</h2>
            <div *ngFor="let sample of profile.samples">
                <order-card [order]="sample"></order-card>
            </div>
            <h2 *ngIf="profile.orders.length>0">YOUR ORDERS</h2>
            <div *ngFor="let order of profile.orders">
                <order-card [order]="order"></order-card>
            </div>
        </div>
    </div>
</div>
