<div class="spide" [ngStyle]="fontStyles" *ngIf="accords" [ngClass]="spideType">
    <canvas #layout></canvas>
    <div class="j1">{{accords.length > 0?accords[0].name:""|uppercase}}</div>
    <div class="j2">{{accords.length > 1?accords[1].name:""|uppercase}}</div>
    <div class="j3">{{accords.length > 2?accords[2].name:""|uppercase}}</div>
    <div class="j4">{{accords.length > 3?accords[3].name:""|uppercase}}</div>
    <div class="j5">{{accords.length > 4?accords[4].name:""|uppercase}}</div>
    <div class="j6">{{accords.length > 5?accords[5].name:""|uppercase}}</div>
</div>