.spide {
    width: 157px;
    height: 180px;
    margin: auto;
    position: relative;
}

.spide div {
    position: absolute;
    color: #646b6d;
    font-weight: 600;
    text-align: center;
}

.spide.Triangle .j1 {
    top: -25px;
    left: 0;
    right: 0;
}

.spide.Triangle .j2 {
    top: 129px;
    left: 168px;
}

.spide.Triangle .j3 {
    right: 171px;
    top: 129px;
}

.spide.Square .j1 {
    top: -35px;
    left: 0;
    right: 0;
}

.spide.Square .j2 {
    left: 168px;
    top: 60px;
}

.spide.Square .j3 {
    bottom: -30px;
    left: 0;
    right: 0;
}

.spide.Square .j4 {
    right: 175px;
    top: 60px;
}

.spide.Pentagon .j1 {
    top: -35px;
    left: 0;
    right: 0;
}

.spide.Pentagon .j2 {
    left: 160px;
    top: 50px;
}

.spide.Pentagon .j3 {
    left: 140px;
    bottom: -15px;
}

.spide.Pentagon .j4 {
    right: 140px;
    bottom: -20px;
}

.spide.Pentagon .j5 {
    right: 160px;
    top: 50px;
}

.spide.Hexagon .j1 {
    top: -35px;
    left: 0;
    right: 0;
}

.spide.Hexagon .j2 {
    top: 39px;
    left: 168px;
}

.spide.Hexagon .j3 {
    top: 129px;
    left: 168px;

}

.spide.Hexagon .j4 {
    bottom: -30px;
    left: 0;
    right: 0;
}

.spide.Hexagon .j5 {
    right: 171px;
    top: 129px;

}

.spide.Hexagon .j6 {
    top: 39px;
    right: 171px;
}
