.pd1 {
  background-color: #edf1f2;
  margin-bottom: -115px;
  min-height: 100vh;
  padding-top: 120px;
}

.ct {
  max-width: 840px;
  padding: 26px 10px 120px 10px;
}

@media only screen and (max-width: 1070px) {
  .ct {
    padding-bottom: 40px;
  }
}

.page {
  float: left;
  width: 100%;
  max-width: 840px;
  h2 {
    margin-bottom: 15px;
    margin-left: 10px;
    color: #303739;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    display: block;
    letter-spacing: 3.7px;
  }
}

@media only screen and (max-width: 1010px) {
  .page {
    width: auto;
    float: none;
    margin: 0 0 20px 0;
  }
}