<waft-header type="profile" showBack="true" stepName="Your Journeys">
</waft-header>
<div class="pd1" *ngIf="profile.email">
    <div class="ct">
        <div class="page">
            <h2 *ngIf="profile.journeys.length>0">YOUR JOURNEYS</h2>
            <div *ngFor="let journey of profile.journeys">
                <journey-card [journey]="journey"></journey-card>
            </div>
        </div>
    </div>
</div>
