html, body {
  height: 100%;
}

#page {
  min-height: 100%;
  position: relative;
}

.main {
  margin: auto;
  padding-top: 130px;
  padding-bottom: 30px;
  min-height: 300px;
  color: #5B6367;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.main ol {
  list-style-type: lower-latin;
  padding-left: 30px;
  margin-bottom: 20px;
}

.main ol li {
  list-style: lower-latin;
}

.main h1 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 3.7px;
  /*line-height: 25px;*/
  padding-bottom: 20px;
  margin-top: 15px;
}

.main p {
  padding-bottom: 20px;
  font-family: Georgia, serif;
}

.ft-lnk1 {
  padding-bottom: 80px;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .main {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.faq {
  border: 1px solid #333;
  border-radius: 5px;
  margin-bottom: 10px;
}

.faq.closed .answer {
  display: none;
}

.faq .question {
  position: relative;
  padding: 10px 30px 10px 10px;
  border-radius: 5px;
  /* background-color: #242424;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.1em;
}

.faq .question:after {
  content: "-";
  position: absolute;
  right: 10px;
  top: 10px;
}

.faq.closed .question:after {
  content: "+";
}

.faq .answer p {
  padding: 10px;
}

html.nontouch .faq .question:hover {
  cursor: pointer;
  background-color: #666;
  color: #fff;
}

.quality {
  padding-bottom: 50px;
}

.quality .ct {
  display: flex;
}

.quality .l1 {
  position: relative;
  width: 66.6%;
  box-sizing: border-box;
}

.quality .r1 {
  width: 33.3%;
  padding: 40px;
  box-sizing: border-box;
}

.quality .l1 .ll2 {
  position: absolute;
  top: 100px;
  right: 20px;
  width: 23%;
  text-align: right;
  padding-top: 24px;
}

.quality .l1 .ll2:before {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  content: '';
  width: 158px;
  border-top: 2px solid #f10733;
}

.quality .l1 .ll2 p {
  color: #303739;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 0;
  font-weight: 800;
}

.quality .l1 .ll1 {
  padding-top: 20px;
  width: 66.6%;
}

@media only screen and (max-width: 767px) {
  .quality .ct {
    display: inline;
  }
  .quality .l1, .quality .r1 {
    width: 100%;
    padding: 40px;
  }
  .quality .l1 .ll1 {
    width: auto;
    margin-bottom: 30px;
  }
}

.quality .l1 .ll1 p {
  padding-bottom: 28px;
  text-align: left;
}

.quality .l1 .ll1 p:last-child {
  padding-bottom: 0;
}

@media only screen and (max-width: 942px) {
  .quality .l1 .ll1 p {
    text-align: left;
    padding-bottom: 15px;
  }
}

.guarantee {
  background-color: #303739;
}

.guarantee img {
  width: 100%;
  max-width: 234px;
}

.guarantee p {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  padding-top: 10px;
}