/*--- Top Menu ---*/

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  z-index: 11;
  background-color: #fff;
  border-bottom: 1px solid rgba(151, 151, 151, 0.17);

  a.logo {
    float: left;
    width: 150px;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 46px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    background: no-repeat left/contain url(/assets/img/logo/waftlogo-dark.png);
  }

  .main-menu {
    float: none;
    height: 60px;
    width: 750px;
    margin: 0 auto;
    *zoom: 1;

    &:after {
      content: " ";
      display: table;
      clear: both;
    }

    ul {
      margin: 0 auto;
      width: 750px;
      height: 60px;

      li {
        display: inline;
        line-height: 60px;

        a {
          color: #6d7a7d;
          font-family: 'Montserrat', sans-serif;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }

      li + li {
        margin-left: 24px;
      }
    }
  }

  .rr1 {
    position: absolute;
    right: 15px;
    top: 0;
    height: 60px;
    *zoom: 1;
    display: table;

    &:after {
      content: " ";
      display: table;
      clear: both;
    }

    .st1 {
      text-align: right;
      line-height: 16px;
      display: table-cell;
      vertical-align: middle;
      width: 200px;
      height: 60px;
      margin-right: 16px;
      color: #6d7a7d;
      font-family: 'Montserrat', sans-serif;
      font-size: 11px;
      letter-spacing: 2px;
      padding-top: 1px;
      position: relative;
    }

    .sign-in-button {
      float: left;
      height: 60px;
      border-left: 1px solid rgba(151, 151, 151, 0.17);
      padding-left: 14px;

      a {
        display: block;
        position: relative;
        top: 13px;
        width: 89px;
        height: 31px;
        border: 1px solid #6D7A7D;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        color: #6D7A7D;
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 3px;
        line-height: 31px;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 1050px) {
  #header {
    a.logo {
      margin-right: 30px;
    }

    .main-menu ul li + li {
      margin-left: 12px;
    }
  }
}

html.nontouch #header {
  .main-menu li a:hover, html.nontouch #header .rr1 .st1:hover {
    color: black;
  }

  .rr1 .sign-in-button a:hover {
    background: #6D7A7D;
    color: white;
  }
}

@media only screen and (min-width: 912px) {
  #header .main-menu .hidden-desktop {
    display: none;
  }
}


@media only screen and (max-width: 911px) {
  #header {
    text-align: center;

    a.logo {
      margin-left: -50px;
      float: none;
      display: inline-block;
      border: none;
      margin-right: 0;
      padding: 0;
    }

    .mobile-menu {
      width: 30px;
      height: 18px;
      float: left;
      position: relative;
      top: 21px;
      margin-left: 15px;
      margin-right: 15px;
      box-sizing: border-box;

      span {
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 0;
        right: 0;
        height: 2px;
        background: #A8B5B8;
        display: block;
      }

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-top: 2px solid #A8B5B8;
        display: block;
        content: '';
      }

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 2px solid #A8B5B8;
        display: block;
        content: '';
      }

    }

    .main-menu {
      position: absolute;
      top: 100%;
      width: 100%;
      left: 0;
      height: auto;
      right: 0;
      background: #f0f0f0;
      z-index: 2;
      border-top: 1px solid rgba(151, 151, 151, 0.17);
      display: none;

      ul {
        width: 100%;
        height: auto;
        li {
          line-height: 12px;
          float: none;
          display: block;
          margin: 0 !important;
          border-bottom: 1px solid #fff;

          a {
            display: block;
            height: 30px;
            line-height: 30px;
            padding-left: 23px;
          }

        }
      }
    }

    .main-menu.ac {
      display: block;
    }

    .rr1 .st1 {
      width: 100px;
      margin-right: 0;
      padding-left: 0;
      padding-right: 5px;
    }
  }
}

@media only screen and (min-width: 600px) {
  #header .rr1 .st1 {
    text-align: left;
    padding-left: 28px;

    &:before {
      position: absolute;
      top: 16px;
      left: 0;
      display: block;
      content: '';
      background-image: url(/assets/img/landing/globe.svg);
      width: 21px;
      height: 24px;
    }
  }
}

@media only screen and (max-width: 599px) {
  #header .rr1 .st1:before {
    display: none;
  }
}

@media only screen and (max-width: 512px) {
  #header .rr1 .sign-in-button {
    border-left: none;
    padding-left: 0;
  }
}

@media only screen and (min-width: 414px) {
  #header {
    .main-menu {
      .sign-in-menu {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 413px) {
  #header {
    .sign-in-button {
      display: none;
    }
  }
}

@media only screen and (max-width: 360px) {
  #header a.logo {
    margin-left: -10px;
  }
}

