@charset "UTF-8";

@import "landing-common";

@media only screen and (max-width: 580px) {
  .ctabutton.sm {
    width: 300px;
  }

  .ctabutton.sm span {
    width: 300px;
  }
}

.ct {
  /* min-width: 1252px; */
  max-width: 1100px;
}

.hidden {
  display: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body, html {
  height: 100%;
}

body a, html a {
  text-decoration: none;
}

body input, html input {
  -webkit-appearance: none;
}

img, fieldset, a img {
  border: none;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus {
                                                                    outline: none;
                                                                  }

div {
  outline: none !important;
}

* {
  outline: none !important;
}

ul, ol {
  list-style-type: none;
}

img {
  vertical-align: top;
}

li {
  list-style: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    -webkit-text-size-adjust: none;
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.clear {
  clear: both;
}

body.ac {
  overflow: hidden;
}

#page {
  /* overflow: hidden; */
  width: 100%;
  position: relative;
  min-height: 100%;
  background: #fff;
}

#page.j1 {
  background: none;
}

.ctabutton {
  background-color: #F10733;
}

/*----------------LANDING----*/

.b1 {
  width: 100%;
  height: 760px;
  box-sizing: border-box;
  position: relative;
  background: no-repeat left/contain url(../img/landing/giftbg.jpg);
  /*display: table;*/
  text-align: center;
  padding-top: 73px;
}

.b1 img.logo {
  margin-top: 27px;
  width: 221px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.b1 .cta {
  margin-top: 80px;
  margin-left: 10px;
  float: left;
  width: 428px;
  text-align: left;
}

.b1 .cta .ctabutton {
  margin-left: 0;
  width: 280px;
}

/* THEULTIMATEGIFT */
.b1 .cta h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #3C4043;
  letter-spacing: 5px;
  line-height: 40px;
}

.b1 .cta h2 img {
  vertical-align: baseline;
  height: 30px;
}

.b1 .cta h1 {
  /* COMMISSION A WAFT PE: */
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #3C4043;
  letter-spacing: 3px;
  line-height: 32px;
}

.b1 .cta h3 {
  /* FROM £109: */
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #F10733;
  letter-spacing: 2.5px;
  line-height: 30px;
  margin-bottom: 15px;
}

.b1 .cta a.yourself {
  /* I’D LIKE TO CREATE T: */
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  color: #6D7A7D;
  line-height: 22px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 0;
  text-decoration: underline;
}

.b1 .slide-section {
  margin-top: 30px;
  width: 620px;
  float: right;
  position: relative;
}

.b1 .slide-section a.arrow {
  z-index: 10;
  position: absolute;
  top: 60px;
  width: 17px;
  height: 29px;
}

.b1 .slide-section a.left-arrow {
  left: 20px;
}

.b1 .slide-section a.right-arrow {
  right: 20px;
}

.b1 .slide-section h1 {
  /* You commission Waft: */
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 20px;
  color: #1C1F20;
  letter-spacing: 0px;
  width: 539px;
  margin-left: auto;
  margin-right: auto;
}

.b1 .slide-section h2 {
  /* HOW IT WORKS: */
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #3C4043;
  letter-spacing: 6.9px;
}

.b1 .slide-section .counter {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
  color: #F10733;
}

.b1 .slide-section .counter .of {
  color: #A8B5B8;
  font-size: 14px;
}

.b1 .slides .slide {
  width: 620px;
  height: 470px;
  margin-right: 100px;
  margin-left: 100px;
  position: relative;
}

.b1 .slides img.screen {
  display: block;
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.waftdetails p {
  color: #A8B5B8;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  padding-top: 10px;
}

.ct h2, .text-block h2 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3.7px;
  line-height: 25px;
  margin-bottom: 10px;
}

.video-block {
  margin: 0;
  height: 480px;
  position: relative;
}

.video-block iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

[class^="col-"] {
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
}

.clearfix {
  float: none;
  clear: both;
}

.col-lg-6 {
  width: 50%;
}

.col-lg-4 {
  width: 33.3%;
}

.no-padding {
  padding: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-left {
  padding-left: 0;
}


@media only screen and (min-width: 768px) {
  .hidden-lg {
    display: none !important;
  }
  .ct {
    min-width: 1059px;
  }
}

@media only screen and (max-width: 767px) {

  /*--- Mobile styles ---*/
  #header a.logo {
    background: no-repeat left/contain url(/assets/img/logo/waftgift.png);
  }
  
  .mb1 {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    font-size: 12px;
  }

  .mb1 .wpage {
    padding: 73px 10px 0;
    box-sizing: border-box;
    height: 100%;
  }

  .mb1 #wpage0 {
    height: 100%;
    background: 
    no-repeat bottom right/95% url(/assets/img/gift_landing/bottles.png),
    no-repeat right 0 top 55px/cover url(/assets/img/gift_landing/mobilebg.jpg);
   }

   .mb1 #wpage0 .ctabutton.sm {
       width: 280px;
    }

  .mb1 div.hashtag {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #3C4043;
    letter-spacing: 2px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  .mb1 div.hashtag img {
    position: relative;
    vertical-align: middle;
    height: 25px;
    top: -3px;
  }


  .mb1 h1 {
    /* COMMISSION A WAFT PE: */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    color: #3C4043;
    letter-spacing: 0.2em;
    line-height: 1.4;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .mb1 h2 {
    /* FROM £109: */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    color: #F10733;
    letter-spacing: 0.17em;
    line-height: 1.8;
    margin-bottom: 10px;
  }
  .mb1 h3 {
    /* You commission Waft: */
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 1.25em;
    color: #1C1F20;
    letter-spacing: 0;
    height: 40px;
  }
  .mb1 #wpage4 h3 {
    height: auto;
    margin-bottom: 10px;
  }
  .mb1 p {
    /* journey will look fo: */
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: normal;
    font-size: 1em;
    color: #7D8284;
    letter-spacing: 0;
    line-height: 1.54em;
    margin-top: 10px;
  }

  .mb1 a.next {
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    display: block;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: #F10733;
    letter-spacing: 1.25px;
    background: no-repeat right/contain url(/assets/img/gift_landing/next-red.svg);
  }

  .mb1 .wpage>img {
    max-width: 90%;
    max-height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .mb1 #wpage1>img, .mb1 #wpage2>img {
    margin-bottom: 30px;
  }

  .mb1 #wpage3 .slick-slider, .mb1 #wpage3 .slick-list, .mb1 #wpage3 .slick-track {
    height: 100%;
  }

  .mb1 img.logo-inline {
    height: 1.5em;
  }

  .mb1 .counter {
    color: #A8B5B8;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .mb1 .counter .current {
    color: #F10733;
    font-size: 1.2em;
  }

  .mb1 a.secondary {
    /* ACTUALLY I’D LIKE TO: */
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 0.8em;
    color: #5B6367;
    margin-top: 10px;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1.26px;
  }

  .mb1 .img-container {
    width: 100%;
    height: 250px;
  }
  
  .mb1 .journey {
    display: block;
    margin-right: -10px;
    margin-left: -10px;
  }
  
  .mb1 .journey .slide {
    /* width: 100px; */
    margin-left: 5px;
    margin-right: 5px;
  }

  .mb1 .journey .slide img {
    width: 100%;
  }

  .hidden-sm {
    display: none !important;
  }
  .col-lg-6  {
    width: 100%;
  }
}

.instapix {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
  .show-xs {
    display: block !important;
  }
  .col-lg-4 {
    width:100%;
  }
  .num:before {
    display: none;
  }
}

@media only screen and (max-width: 710px) {

  .gift-page {
    position: relative;
    z-index: 0;
    padding: 0;
  }
}

#big_footer {
  background-color: white;
}