@charset "UTF-8";

@import "landing-common";

@media only screen and (max-width: 580px) {
  .ctabutton.sm {
    width: 300px;
  }

  .ctabutton.sm span {
    width: 300px;
  }
}

.ct {
  /* min-width: 1252px; */
  max-width: 1100px;
}

.hidden {
  display: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body, html {
  height: 100%;
}

body a, html a {
  text-decoration: none;
}

body input, html input {
  -webkit-appearance: none;
}

img, fieldset, a img {
  border: none;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

div, * {
  outline: none !important;
}

ul, ol {
  list-style-type: none;
}

img {
  vertical-align: top;
}

li {
  list-style: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    -webkit-text-size-adjust: none;
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.clear {
  clear: both;
}

body.ac {
  overflow: hidden;
}

.ctabutton {
  background-color: #F10733;
}

/*----------------LANDING----*/

#page {
  height: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #303739;

  section {
    margin-top: 61px;

    .logo-container {
      margin-bottom: 25px;
      .logo {
        margin: 24px 0;
        width: 178px;
      }
    }

    span.title {
      padding-top: 24px;
      border-top: 1px solid #D6D7D7;
      font-size: 37px;
      font-weight: 300;
      letter-spacing: 5.5px;
    }

    h2 {
      font-size: 20px;
      margin-top: 4px;
      font-weight: bold;
      color: #303739;
    }

    .video {
      background-image: url(../img/gift_landing/video-bg.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin: 32px 0 50px;
      padding: 100px;

      .play-button {
        width: 150px;
      }
    }

    h4 {
      font-size: 16px;
      font-weight: normal;
      letter-spacing: 3px;
      margin-bottom: 50px;
    }

    .ctabutton {
      height: 50px;
      width: 325px;
      border-radius: 14px;
      font-size: 25px;

      span {
        font-size: 18px;
        height: 54px;
        line-height: 25px;
        width: 325px;
      }

      &:before {
        top: 20px;
        right: 24px;
      }
    }

    .learn-more {
      opacity: 0.5;
      font-size: 18px;
      border-bottom: 1px solid fade(#303739, 50%);
      letter-spacing: 2px;
    }
  }
}

.container {
  width: 100%;
  margin: 0 auto;
}

[class^="col-"] {
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
}

.clearfix {
  float: none;
  clear: both;
}

.col-lg-6 {
  width: 50%;
}

.col-lg-4 {
  width: 33.3%;
}

.no-padding {
  padding: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-left {
  padding-left: 0;
}


@media only screen and (min-width: 768px) {
  .hidden-lg {
    display: none !important;
  }
}

@media only screen and (max-width: 911px) {

  #page {
    section {
      padding: 40px 10px;

      .logo-container {
        display: none;
      }

      span.title {
        border-top: none;
      }
    }
  }

}

@media only screen and (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
  .show-xs {
    display: block !important;
  }

  #page {
    section {
      span.title {
        font-size: 24px;
      }

      h2 {
        font-size: 14px;
        margin-top: 2px;
        letter-spacing: 2.4px;
      }

      .video {
        margin: 32px 0 37px;
        padding: 17%;

        .play-button {
          width: 32%;
        }
      }

      h4 {
        font-size: 12px;
        max-width: 300px;
        line-height: 17px;
        margin: 0 auto 36px;
        letter-spacing: 2px;
      }
    }
  }
}

@media only screen and (max-width: 580px) {
  #page {
    section {
      .ctabutton {
        width: 100%;
        span {
          font-size: 12px;
          height: 50px;
          line-height: 51px;
          width: 100vw;
        }
      }
    }
  }
}
