﻿@charset "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body, html {
    height: 100%;
}

body a, html a {
    text-decoration: none;
}

body input, html input {
    -webkit-appearance: none;
}

.text-center {
    text-align: center;
}

img, fieldset, a img {
    border: none;
}

input, button {
    margin: 0;
    padding: 0;
    border: 0;
}

ul {
    list-style: none;
}

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus {
    outline: none;
    font-weight: 400;
}

div {
    outline: none !important;
}

* {
    outline: none !important;
}

.clearfix {
    float: none;
    clear: both;
}

body {
  background-image: url(/assets/img/landing8/bg.jpg);
  background-size: cover;
  background-position: center center;
  font-family: Montserrat, sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 30%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  letter-spacing: 5px;
  padding-bottom: 100px;
  font-size: 2.1em;
}

.btn {
  background-color: #f10733;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFF;
  text-decoration: none;
  padding: 15px 30px;
  display: block;
  margin-top: 30px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.65);
  z-index: -1;
}

html.nontouch {
  .btn:hover{
    background-color: #FF2B53;
  }
}