﻿@charset "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body, html {
    height: 100%;
}

body a, html a {
    text-decoration: none;
}

body input, html input {
    -webkit-appearance: none;
}

.text-center {
    text-align: center;
}

img, fieldset, a img {
    border: none;
}

input, button {
    margin: 0;
    padding: 0;
    border: 0;
}

ul {
    list-style: none;
}

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus {
    outline: none;
    font-weight: 400;
}

div {
    outline: none !important;
}

* {
    outline: none !important;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.clearfix {
    float: none;
    clear: both;
}

.no-padding {
    padding: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

.ct {
    padding: 0 15px;
}

h2 {
    color: #303739;
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
    letter-spacing: normal;
    font-weight: 400;
}

h3 {
    text-align: center;
    color: #8d9697;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
}

.infographics h4 {
    text-align: center;
    color: #303739;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    padding-bottom: 20px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.clear {
    clear: both;
}

body {
    background: #F0F0F0;
}

body.ac {
    overflow: hidden;
}

#page {
    overflow: hidden;
    width: 100%;
    position: relative;
    min-height: 100%;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
}

#page.j1 {
    background: none;
}

.b1 {
    width: 100%;
    min-height: 835px;
    position: relative;
    background-color: #f2f2f2;
    background-image: url(/assets/img/landing2/bg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    /*display: table;*/
    text-align: center;
    box-sizing: border-box;
    padding-top: 50px;
}

.ctabuttons-box h1 {
    font-size: 33px;
    line-height: 30px;
    color: #303739;
    margin: 0 0 15px 0;
}

.ctabuttons-box h2 {
    font-size: 24px;
}

.ctabuttons-box p {
    color: #303739;
    font-size: 13px;
    line-height: 20px;
    padding: 10px 5px 20px 5px;
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
}

.ctabuttons-box p.muted {
    font-size: 16px;
    color: #575e60;
}

.ctabuttons-box h1 span {
    color: #f10733;
}

.ctabuttons-box .ll {
    width: 50%;
    float: left;
    position: relative;
}

.ctabuttons-box h5 {
    text-align: center;
    color: #5B6367;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 3.7px;
    padding-bottom: 4px;
    text-transform: uppercase;
}

.ctabuttons-section {
    background-color: #fff;
    text-align: center;
    border-top: 1px solid #dedede;
}

.ctabuttons-section .ctabuttons-box {
    display: inline-block;
}

.ctabuttons-box {
    width: 90%;
    max-width: 800px;
    box-sizing: border-box;
    padding: 60px;
}

.b1 .ctabuttons-box {
}

.head-ct {
    left: 0;
    right: 0;
}

.ctabuttons-box .ll {
    box-sizing: border-box;
}

.b2 {
    position: relative;
    padding-bottom: 75px;
    padding-top: 70px;
    background-color: #fff;
    text-align: center;
}

.b2 img {
    height: 100px;
    margin: 25px 0;
}

.b2 p {
    color: #6d7a7d;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 26px;
    max-width: 300px;
    margin: 0 auto;
}

.b2, .criteria, .customers {
    padding-top: 82px;
    padding-bottom: 82px;
}

.text-block img {
    display: block;
    margin-bottom: 20px;
    margin-top: 0px;
}

.waftdetails {
    background: #FFFFFF;
    box-sizing: border-box;
    background: #f9f9f9;
    text-align: left;
    position: relative;
}

.waftdetails h2 {
    color: #303739;
    font-size: 33px;
    font-weight: 400;
    margin: 66px 0 55px;
    line-height: 39px;
    letter-spacing: 0;
    text-align: left;
    position: relative;
    z-index: 5;
}

.waftdetails p {
    color: #6D7A7D;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    padding-top: 10px;
}

.waftdetails ul {
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.13);
    max-width: 436px;
    margin: 0 0 64px;
    position: relative;
    z-index: 5;
}

.waftdetails ul li {
    padding: 32px 20px 8px;
}

.waftdetails ul li i {
    width: 25px;
    height: 25px;
    background-color: #7bbd2e;
    background-image: url(/assets/img/elements/checkbox.svg);
    background-size: 17px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    margin: 0 15px 25px 0;
    border-radius: 15px;
}

.waftdetails ul li:not(:last-child) {
    border-bottom: 1px solid #d7d7d7;
}

.waftdetails ul li h4 {
    color: #303739;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.waftdetails ul li p {
    color: #8d9697;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    padding: 2px 0 8px;
}

.waftdetails .video {
    /*margin: -42px 0 -64px 0;*/
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    background-image: url(/assets/img/landing2/video-bg.jpg);
    background-size: cover;
    background-position: right;
}

.waftdetails .video div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -69px;
    text-align: center;
}

.waftdetails .video:before {
    position: absolute;
    content: " ";
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    transition: all 0.3s ease;
    background: -moz-linear-gradient(left, rgba(249, 249, 249, 1) 0%, rgba(249, 249, 249, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(249, 249, 249, 1) 0%, rgba(249, 249, 249, 0) 100%);
    background: linear-gradient(to right, rgba(249, 249, 249, 1) 0%, rgba(249, 249, 249, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#00f9f9f9', GradientType=1);
}

.waftdetails .video div img {
    margin-bottom: 10px;
    opacity: 0.7;
    transition: all 0.3s ease;
}

html.nontouch .waftdetails .video div a:hover img {
    opacity: 1;
}

.waftdetails .video div span {
    display: block;
    color: #303739;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.3px;
}

.waftdetails .video div span.sm {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 26px;
}

.b4 {
    position: relative;
    background: #101416;
}

.customers {
    overflow: hidden;
}

.customers .cent-slide {
    width: 120%;
    margin-left: -10%;
}

.customers .cent-slide .item.small {
    margin-top: 30px;
}

.customers .cent-slide .slick-arrow {
    height: 48px;
    width: 48px;
 }

.customers .cent-slide .slick-arrow:before {
    opacity: 1;
    font-size: 48px;
    text-shadow: 0 2px 19px rgba(0, 0, 0, 0.5);
    transition: text-shadow 0.3s ease;
}

html.nontouch .customers .cent-slide .slick-arrow:hover:before {
    text-shadow: 0 2px 19px rgba(0, 0, 0, 0.9);
}

.customers .cent-slide .slick-slide {
    opacity: 0.3;
    padding: 30px 80px;
}
.customers .cent-slide .slick-arrow:before {
    position: absolute;
    left: 0px;
    top: 0px;
}

.customers .cent-slide .slick-slide .item {
    padding: 20px;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0 2px 19px rgba(0, 0, 0, 0.2);
}

.customers .cent-slide .slick-slide .item img {
    float: left;
    margin-bottom: -20px;
}

.customers .cent-slide .slick-slide .item h3 {
    color: #303739;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 25px;
    margin: 0 0 15px;
}

.customers .cent-slide .slick-slide .item p {
    color: #6d7a7d;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.customers .slick-list:active {
    z-index: 5;
}

.customers .cent-slide .slick-current {
    opacity: 1;
    z-index: 5;
}

.customers .cent-slide .slick-prev {
    left: 50%;
    margin-left: -400px;
    z-index: 4;
}

.customers .cent-slide .slick-next {
    right: 50%;
    margin-right: -385px;
}

.criteria {
    overflow: hidden;
    background: #f8f8f8;
}

.criteria .img-holder {
    width: 100%;
    height: 477px;
    margin: 60px 0 -82px;
}

.criteria .img-holder img {
    display: none;
    width: 95%;
    border-radius: 18px 18px 0 0;
    box-shadow: 0 2px 19px rgba(0, 0, 0, 0.1);
}

.criteria ul {
    margin: 60px 0 0;
    width: 440px;
    float: right;
    max-height: 300px;
}

.criteria ul li a {
    padding: 10px 20px;
    display: block;
    max-height: 18px;
    transition: all 0.3s ease;
}

.criteria ul li a.active {
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 19px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    max-height: 999px;
    margin: 10px 0;
}

.criteria ul li a h4 {
    color: #303739;
    letter-spacing: 3px;
    opacity: 0.5;
    font-weight: 400;
}

html.nontouch .criteria ul li a:hover h4 {
    opacity: 0.7;
}

.criteria ul li a.active h4 {
    opacity: 1;
}

.criteria ul li a p {
    color: #8d9697;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    max-height: 0;
    transition: all 0.3s ease;
    overflow: hidden;
}

.criteria ul li a.active p {
    max-height: 999px;
    transition: all 0.3s ease;
    margin: 10px 0 0;
}

.waftlab-section {
    background-color: #F0F0F0;
}

.waftlab-section .ct {
    text-align: center;
}

.waftlab-section .ct p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.waftlab-section .ct > div {
    position: relative;
}

.waftlab-section .ct img {
    height: auto;
}

.instagram {
}

.instagram p {
    color: #303739;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    margin: 10px 0 60px;
}

.landing-footer {
}

.landing-footer .btn {
    height: 43px;
    line-height: 45px;
    margin: 0;
}

.landing-footer > .ct {
    background: url(/assets/img/landing2/contact-us-bg.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
}

.landing-footer .form {
    background: #f8f8f8;
    padding: 0 0 18px 0;
}

.landing-footer .form form {
    display: inline-block;
}

.landing-footer .form h5 {
    display: inline-block;
    color: #303739;
    font-size: 16px;
    font-weight: 400;
    margin: 18px 15px 0 0;
}

.landing-footer .form form div {
    display: inline-block;
}

.landing-footer .form label {
    height: 18px;
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: red;
}

.landing-footer .form input {
    width: 250px;
    height: 43px;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 7px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 13px;
}

.landing-footer .form .btn {
    display: inline-block;
    width: 200px;
    height: 43px;
    line-height: 45px;
    margin-top: 18px;
}

.landing-footer .help {
    padding: 30px 150px;
}

.landing-footer .help h4 {
    color: #303739;
    font-size: 24px;
    font-weight: 400;
    line-height: 43px;
    float: left;
    margin-right: 25px;
}

.landing-footer .help .btn {
    width: 180px;
}

.landing-footer .help p.muted {
    color: #8d9697;
    font-size: 16px;
    font-weight: 400;
    float: left;
    line-height: 43px;
    margin: 0 35px 0 0;
}

.landing-footer h5 {
    color: #303739;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 19px 0 34px;
}

.landing-footer ul {
    margin: 0 0 40px;
    list-style: none;
}

.landing-footer ul li {
    margin: 18px 0;
}

.landing-footer ul li a {
    color: #7a8588;
    font-size: 13px;
}

.landing-footer .copyrights {
    color: #737b7f;
    font-size: 11px;
    font-weight: 400;
    margin: 24px 0 40px;
}

.landing-footer .payment {
    margin-bottom: 10px;
}

@media only screen and (max-width: 1700px) {

    .customers .cent-slide .slick-prev {
        margin-left: -18%;
    }

    .customers .cent-slide .slick-next {
        margin-right: -18%;
    }
}

@media only screen and (max-width: 1500px) {

    .customers .cent-slide .slick-slide {
        padding: 30px 30px;
    }

    .customers .cent-slide .slick-prev {
        margin-left: -18%;
    }

    .customers .cent-slide .slick-next {
        margin-right: -18%;
    }
}

@media only screen and (max-width: 1200px) {
    .customers .cent-slide .slick-slide {
        padding: 30px 30px;
    }

    .customers .cent-slide .slick-slide .item img {
        margin-bottom: 0;
    }

    .criteria ul {
        text-align: center;
        margin: 20px 0 -20px;
        width: 100%;
        max-height: 999px;
    }
}

@media only screen and (max-width: 1070px) {

    .landing-footer .help {
        padding: 30px 0;
    }

    .landing-footer .form h5 {
        width: 100%;
        text-align: center;
    }

    .landing-footer .form input {
        width: 100%;
    }

    .landing-footer .form form div {
        width: 70%;
    }

    .landing-footer .help .btn {
        width: 150px;
    }

    .landing-footer .help p.muted {
        font-size: 13px;
    }

    .customers .cent-slide .slick-slide {
        padding: 30px 20px;
        text-align: center;
    }

    .customers .cent-slide .slick-slide img {
        width: 100%;
        float: none !important;
    }

    .customers .cent-slide .slick-slide .item h3 {
        margin: 10px 0 0;
    }

    .customers .cent-slide .slick-slide:not(.slick-active) {
        opacity: 0.1;
    }

    .b2 img {
        margin: 25px 0 0px;
    }

    .b2 h3 {
        margin: 15px 0 5px;
    }

    .waftdetails .video div {
        margin-left: -150px;
    }

    .hidden-sm {
        display: none !important;
    }
}

@media only screen and (max-width: 768px) {
    .landing-footer > .ct {
        background: none;
    }

    .landing-footer {
        text-align: center;
    }

    .landing-footer .form form * {
        width: 100% !important;
        max-width: 100% !important;
    }

    .landing-footer .form form div {
        margin-bottom: 10px;
    }

    .landing-footer .form .btn {
        margin-top: 0px;
    }

    .landing-footer .help {
        text-align: center !important;
        padding: 30px 0;
    }

    .landing-footer .help p.muted, .landing-footer .help h4 {
        float: none;
        margin: 0;
    }

    .landing-footer .help .btn {
        width: 100% !important;
        max-width: 100% !important;
    }

    .b2 {
        margin: 0;
        padding: 20px 0;
    }

    .customers .cent-slide .slick-slide {
        padding: 30px 10px;
    }

    .customers .cent-slide {
        width: 100%;
        margin-left: 0;
    }

    .hidden-lg {
        display: none !important;
    }

    .ctabuttons-section {
        height: 160px;
    }

    .b1 {
        min-height: 100vh;
        padding-top: 100px;
        background-size: 220%;
    }

    .ct h2 {
        font-size: 22px;
    }

    .b2, .criteria, .customers {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .ctabuttons-box {
        padding: 0 15px;
        width: 100%;
    }

    .ctabuttons-box h1 {
        font-size: 23px;
    }

    .ctabuttons-box h2 {
        font-size: 20px;
    }

    .waftdetails h2 {
        text-align: center;
        margin: 24px 0 27px;
    }

    .waftdetails ul {
        margin: 0 0 14px;
        max-width: 100%;
    }
    .waftdetails .video div {
        margin-left: -175px;
    }

    .show-xs {
        display: block !important;
    }

    .ctabuttons-box .ctabutton {
        display: inline-block;
    }

    .ctabuttons-section .ll {
        padding: 0;
        top: 0;
        position: relative;
    }

    .customers .cent-slide .slick-prev {
        margin-left: 0px;
        left: 0;
    }

    .customers .cent-slide .slick-next {
        margin-right: 0px;
        right: 0;
    }

    .hidden-xs {
        display: none !important;
    }

    .waftdetails .video {
        position: relative;
        width: 100%;
        height: 334px;
    }

    .waftdetails .video:before {
        display: none;
    }

    .waftdetails ul li i {
        margin: 0 15px 55px 0;
    }

    .landing-footer h5 {
        text-align: center;
    }

    .landing-footer ul {
        text-align: center;
    }
}

@media only screen and (max-width: 750px) {

    .customers .cent-slide .slick-slide .item {
        width: 65%;
        margin: auto;
    }

    .slick-prev, .slick-next {
        height: 48px !important;
        width: 48px !important;
    }

}

@media only screen and (max-width: 500px) {
    .customers .cent-slide .slick-slide .item {
        width: 58%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    * {
        -webkit-text-size-adjust: none;
    }
}