.referralPage {
    font-family: Montserrat, sans-serif;

    .ctabutton::before {
      display: none;
    }

    #howItWorks {
      background: white;
      padding-top:40px;


       h3 {
        max-width:200px;
        letter-spacing: 1px;
        margin: 0 auto;
      }

        h2 {
          color: #303739;
          margin-bottom: 20px;
          text-align: center;
          font-size: 28px;
          letter-spacing: normal;
          font-weight: 400;
      }

      .t2 {
        margin-bottom: 40px;
      }

      .col-lg-3 {
          width: 25%;
      }


    }

    .slick-prev:before, .slick-next:before {
      color: #5B6367;
    }

  .t2 {
      color: #303739;
      text-align: center;
      font-size: 24px;
      letter-spacing: normal;
      font-weight: 400;
      line-height:30px;
    }
}

.referralHero {
    background: url(/assets/img/referral/referalHeroBg.jpg) center center;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #eef1f6;
    text-align:center;
    padding:180px 20px 250px;

    .cta-buttonsbox {
      max-width:500px;
      margin:0 auto;

      h1{
        font-size: 28px;
        line-height: 34px;
        color: #303739;
        margin:0 0 15px 0;
        font-weight: normal;
      }

      h5{
        text-align: center;
        color: #5B6367;
        font-size: 14px;
        font-weight: normal;
        line-height: 14px;
        letter-spacing: 3.7px;
        padding-bottom: 10px;
        text-transform: uppercase;
      }
    }
}


.rewardInfo {
  background: url(/assets/img/referral/rewardInfoBg.jpg) right center;
  background-size:contain;
  background-repeat: no-repeat;
  background-color: #f6f6fb;

   img {display: none;}

  .rewardInfoText {
    max-width:440px;
    padding:80px 20px;

    .t2 {
      text-align:left;
      margin-bottom: 10px;
    }

    .infoText {
      font-size: 15px;
      color:#5B6367;
    }

    .rewardInfoType {
      padding-top:30px;
      max-width:240px;
      position: relative;
      padding-left:85px;

      p {
        color:#5B6367;
        font-size: 13px;
        font-weight: 400;
      }

      .rewardInfoImg {
        background: #303739;
        width:70px;
        height: 40px;
        color:white;
        border-radius: 10px;
        font-family: Montserrat, sans-serif;
        text-align: center;
        font-size: 16px;
        line-height: 40px;
        position: absolute;
        left:0;
        top:50%;
        margin-top:-10px;
      }
    }

    .rewardInfo2 {
      .rewardInfoImg {
          background: #f10733;
      }
    }

    h3 {
      color: #303739;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 3.7px;
      padding-bottom: 10px;
      text-transform: uppercase;
    }
  }
}


.finalCta {
  max-width:400px;
  text-align:center;
  margin:0 auto;
  padding:20px;

  .t2{
    margin:20px 0;
  }

  p {
    color:#5B6367;
    font-family: Georgia,Times,"Times New Roman",serif;
    font-size: 12px;
    font-weight: 400;
    margin:20px 0;
    line-height: 20px;
    a{text-decoration: underline;}
  }
}

@media (max-width:900px) {
  .rewardInfo {
        background-position: 300px center;
  }
}

@media (max-width:767px) {
  .rewardInfo {
        background:#fafbff;
        padding-top:0;

        .rewardInfoText {
          margin:0 auto;
          padding-top:0;
        }

        img {
          display:block;
          max-width:100%;
          margin-bottom:-40px;
        }
  }

  .referralPage {
    .ctabutton {
        height: 50px;
        span {height: 50px;}
    }
    .t2 {
      font-size: 22px;
      line-height: 26px;
  }
}

  .referralHero {
    padding: 0 20px;
    height:100vh;
    max-height: 600px;
    min-height:500px;
    background: url(/assets/img/referral/referalHeroBgMobile.jpg) center bottom no-repeat #fcfefd;
    background-size: 100% auto;

    .cta-buttonsbox {
      max-width: 355px;
      padding-top:140px;

      h1 {
      font-size: 24px;
      line-height: 30px;
      span{display:none;}
    }
  }
  }
}

@media (max-width:400px) {
  .referralHero {
    background-size:cover;
  }
  .finalCta .t2 {
    max-width:200px;
    margin-left:auto;
    margin-right:auto;
  }
}
