@import "buttons";

#password-recovery {
    height: 60vh;
    display: table;
    margin: 0 auto;

    .inner {
        background: white;
        padding: 0 15px;
        box-sizing: border-box;
        display: table-cell;
        vertical-align: middle;
        max-width: 400px;
        margin: 0 auto;
        .error {
            margin: 0 auto;
            box-sizing: border-box;
            text-align: center;
            padding: 20px;
            color: red;
            font-weight: 400;
            width: 300px;
        }
        .t1 {
            padding-bottom: 13px;
            text-align: center;
            color: black;
            font-family: 'Montserrat', sans-serif;
            font-size: 28px;
            font-weight: 400;
            line-height: 32px;
        }
    }
}

@media only screen and (max-width: 950px) {
    #password-recovery .content {
        max-width: 400px;
        width: 95%;
        opacity: 0.97;
        background-color: #fff;
        border-radius: 10px;
        margin: auto;
        padding: 0 10px;
        box-sizing: border-box;
        float: none;
    }
}

.input-block {
    margin-bottom: 22px;
    height: 48px;
    border: 1px solid rgba(150, 150, 150, 0.11);
    border-radius: 9px;
    -webkit-border-radius: 9px;
    background-color: #FBFBFB;
}

input[type=password] {
    padding-right: 20px;
    padding-left: 20px;
    height: 48px;
    display: block;
    background: none;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 3px;
    color: #585f61;
    box-sizing: border-box;
}
