.email-form {
    position: relative;
    background: white;
    box-shadow: 0 2px 37px rgba(0, 0, 0, 0.21);
    max-width: 600px;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    padding: 30px 40px;
    font-family: Montserrat;

    .title {
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
        br {
            display: none;
        }
    }

    img {
        height: 90px;
    }

    .separator {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    form {
        .input-block {
            float: left;
            display: inline-block;
            width: 290px;
        }

        button {
            float: right;
            display: inline-block;
            width: 290px;
        }
    }
}

@media only screen and (max-width: 700px) {
    .email-form {
        max-width: 300px;
        padding: 30px 40px;

        img {
            height: 70px;
        }

        .btn-fb {
            float: none;
        }

        form {
            .input-block {
                float: none;
            }
            button {
                float: none;
            }
        }

        .separator {
            margin-top: 30px;
        }
    }
}

@media only screen and (max-width: 400px) {
    .email-form {
        max-width: 200px;
        padding: 25px 20px;

        img {
            height: 60px;
        }

        .title {
            font-size: 12px;
        }
        .separator {
            margin-top: 25px;
            margin-bottom: 25px;
        }

        form {
            .input-block {
                width: 100%;
            }
            button {
                width: 100%;
            }
        }
        .btn-fb {
            &:after {
                display: none;
            }
            width: 100%;
        }
    }
}
