<div class="email-form">
    <img class="logo" cdn-src="/assets/img/logo/waftlogo-dark.png">
    <span class="title">Enter your e-mail <br>to see the results</span>
    <form #emailForm="ngForm" (submit)="saveEmail()" novalidate>
        <div class="input-block">
            <input type="email" required emailFormat name="email" placeholder="E-MAIL"
                   [(ngModel)]="wizard.order.journey.email" #email="ngModel"/>
            <div *ngIf="email.errors && (email.touched || showErrors)">
                <label [hidden]="!email.errors['required']" class="error">
                    E-mail is required
                </label>
                <label [hidden]="!email.errors['emailFormat']" class="error">
                    A valid e-mail address is required
                </label>
            </div>
        </div>
        <button class="btn btn-red btn-with-arrow">
            CONTINUE
        </button>
    </form>
    <div class="clearfix"></div>
    <div class="separator">OR</div>
    <button class="btn btn-fb" type="button" (click)="auth.facebookConnect()">
        CONNECT WITH FACEBOOK
    </button>
</div>
