<div class="dc-poss1">
    <div class="frm1" [ngClass]="{ 'notModal': notModal }">
        <div class="login-text">
            <div class="t1">Register or sign in to continue with Waft experience</div>
            <div class="error">{{error?error:"&nbsp;"}}</div>
        </div>
        <div class="facebook">
            <a (click)="auth.facebookConnect()">CONNECT WITH FACEBOOK</a>
        </div>
        <div class="t2">OR</div>
        <div class="t3">OR</div>
        <div class="basic-login login-register-form">
            <input type="text" placeholder="FIRST NAME" [(ngModel)]="regData.firstName">
            <input type="text" placeholder="LAST NAME" [(ngModel)]="regData.lastName">
            <input type="email" placeholder="YOUR E-MAIL" [(ngModel)]="regData.email">
            <input passwordFocus autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" placeholder="PASSWORD" [(ngModel)]="regData.password">
            <a class="btn btn-red btn-block btn-with-arrow" (click)="register()">CREATE ACCOUNT<input type="submit"></a>
            <div class="help-text">
                <a (click)="toChangeScreen('login')">ALREADY HAVE AN ACCOUNT? SIGN IN</a>
            </div>
            <div class="help-mobile-text">
                <a (click)="toChangeScreen('login')">ALREADY HAVE AN ACCOUNT? SIGN IN</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>