<waft-header stepName="Would you like to..."></waft-header>
<div class="pd1 j2">
    <div class="bl-sld">
        <div class="item1 j2">
            <div class="bg-p" cdn-bg-src="/assets/img/wizard/orderDesign/design_yourself.jpg" style="background-position: bottom;"></div>
            <div class="ov1">
                <div class="dc">
                    <div class="tx">
                        <table>
                            <tr>
                                <td><i>YOU</i></td>
                            </tr>
                        </table>
                        <div><b><span>1</span></b></div>
                    </div>
                    <div class="t1">DESIGN YOURSELF</div>
                    <p></p>
                </div>
            </div>
            <a class="lnk1" (click)="toNextStep('yourself')"></a>
        </div>
        <div class="item1 j2">
            <div class="bg-p" cdn-bg-src="/assets/img/wizard/orderDesign/let_them_design.jpg"></div>
            <div class="ov1">
                <div class="dc">
                    <div class="tx">
                        <table>
                            <tr>
                                <td><i>THEM</i></td>
                            </tr>
                        </table>
                        <div><b><span>2</span></b></div>
                    </div>
                    <div class="t1">LET THEM DESIGN</div>
                    <p></p>
                </div>
            </div>
            <a class="lnk1" href="/gift"></a>
        </div>
    </div>
</div>
<waft-timeline [step]="0"></waft-timeline>
