<div class="journey-card">
    <div class="date">
        <h4>JOURNEY DATE</h4>
        <span>{{journey.createdAt| date:'yMMMMd'}}</span>
    </div>
    <div class="main-info">
        <h4>JOURNEY DETAILS</h4>
        <label>Answers:</label>
        <span>{{journey.gender||'none'}} / </span>
        <span>{{journey.timeOfDay||'none'}} / </span>
        <span>{{journey.activity||'none'}} / </span>
        <span>{{journey.mood||'none'}} / </span>
        <span>{{journey.personalStyle||'none'}} / </span>
        <span>{{journey.waft||'none'}}</span><br>
        <span *ngIf="journey.ingredients">
            <label>Ingredients:</label>
            {{journey.ingredients.join(', ')}}
        </span><br>
        <label>Bottle name:</label>
        <span>{{journey.customBottle.name}}</span><br>
        <label>Bottle message:</label>
        <span>{{journey.customBottle.message}}</span><br>
        <label>Bottle initials:</label>
        <span>{{journey.customBottle.initials}}</span><br>
        <label>Name for package
            personalisation: </label><span>{{journey.user.firstName}}</span><br>
    </div>
    <div class="actions">
        <a class="btn btn-green" (click)="profile.toLastJourney(journey)">CONTINUE JOURNEY</a>
        <a class="btn btn-gray" (click)="profile.deleteJourney(journey)">REMOVE</a>
    </div>
</div>