.journey-card {
    background-color: white;
    border: 1px solid rgba(150, 150, 150, 0.16);
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 1px;
}

.journey-card h4 {
    font-weight: 500;
    font-size: 12px;
}

.date {
    font-size: 12px;
}

.main-info, .actions {
    margin-top: 20px;
    font-size: 10px;
}

.btn {
   height: 42px;
   font-size: 10px;
   font-weight: 400;
   letter-spacing: 0.8px;
   line-height: 42px;
   display: inline-block;
   width: 200px;
   max-width: 100%;

  &.btn-green {
    text-indent: -22px;

    &:before {
      position: absolute;
      top: 15px;
      right: 10px;
      display: block;
      content: '';
      background-image: url("/assets/img/icons.png");
      width: 15px;
      height: 11px;
      background-position: -17px -93px;
    }
  }
  & + .btn {
    margin-left: 15px;
  }
}

@media (max-width: 500px) {
  .btn {
    width: 100%;
    & + .btn {
      margin-left: 0;
    }
  }
}
