<div class="password-input">
    <input [type]="type" required minlength="8" autocomplete="off" autocorrect="off"
           autocapitalize="off" spellcheck="false" id="pass" name="pass"
           placeholder="PASSWORD" [(ngModel)]="password" #pass="ngModel"
             (ngModelChange)="onPasswordChange.emit($event)"/>
    <button type="button" *ngIf="password.length>0" (click)="changeType()">{{ type=='password'? 'SHOW': 'HIDE'}}</button>
    <div *ngIf="pass.errors && (pass.touched || showErrors)">
        <label [hidden]="!pass.errors['minlength']&&!pass.errors['required']" class="error">
            Password is required (minimum of 8 characters)
        </label>
    </div>
</div>
