<waft-header type="gift" page="thank-you"></waft-header>
<div class="gift-flow">
    <div class="title">
        <h4 class="text-center">
            SUCCESS
        </h4>
        <h1 class="text-center">
            YOUR ORDER IS COMPLETE
        </h1>
        <p class="text-center">
            Thanks for using Waft!
        </p>
        <p class="text-center">
            Why not try the journey for yourself?<br/>Enter the WaftLab to design your own scent<br><br>
        </p>
        <button *ngIf="!kiosk.isEnabled()" routerLink="/app/wizard/type" class="btn btn-red btn-red-arrow">DESIGN YOUR SCENT</button>
        <button *ngIf="kiosk.isEnabled()" type="button" class="btn btn-red btn-block" (click)="onDone()">
            Done
        </button>
    </div>
</div>
<div class="instagram">
    <iframe src="https://snapwidget.com/embed/279899" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:100%;"></iframe>
</div>