.gift-flow .title p {
    margin-top: 20px;
}

.gift-flow a.btn {
    margin-top:30px;
}

@media only screen and (max-width: 413px) {
    .gift-flow {
        padding-top: 80px;
    }

    .gift-flow .title p {
        margin-top: 0;
    }

    .gift-flow a.btn {
        margin-top: 10px;
    }
}