<div id="big_footer" class="footer-links">
    <div class="ct">
        <div class="logo-section">
            <a href="https://waft/" class="logo"><img width="130" height="58" src="https://d2mwap6glc10bb.cloudfront.net/assets/img/logo/waft.png"
                                          alt=""></a>
            <div class="social">
                <!--<a href="#" class="j1" target="_blank"></a>-->
                <a href="https://facebook.com/waftperfume" class="j2" target="_blank"></a>
                <a href="https://www.instagram.com/waftperfume/" class="j3" target="_blank"></a>
            </div>
        </div>
        <div class="links-section three-cols">
            <ul>
                <li>
                    <ul>
                        <li><a href="https://waft/about">About Us</a></li>
                        <li><a href="https://waft/quality">Quality</a></li>
                        <li><a href="https://blog.waft.com/">Blog</a></li>
                        <li><a href="https://waft/corporate">Business Customers</a></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><a href="https://waft/referral-program">Referral Program</a></li>
                        <li><a href="https://support.waft.com/hc/en-us/categories/204541687-FAQ">FAQ</a></li>
                        <li><a href="https://support.waft.com/hc/en-us/articles/235465768-Shipping">Shipping</a></li>
                        <li><a href="https://support.waft.com/hc/en-us/requests/new">Contact Us</a></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><a href="https://waft/careers">Jobs & Careers</a></li>
                        <li><a href="https://waft/terms">Terms & Conditions</a></li>
                        <li><a href="https://waft/privacy">Privacy Policy</a></li>
                        <li><a href="https://support.waft.com/hc/en-us/articles/235465748-Returns">Returns Policy</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="links-section two-cols">
            <div>
                <ul>
                    <li>
                        <ul>
                            <li><a href="https://waft/about">About Us</a></li>
                            <li><a href="https://waft/quality">Quality</a></li>
                            <li><a href="https://blog.waft.com/">Blog</a></li>
                            <li><a href="https://waft/corporate">Business Customers</a></li>
                            <li><a href="https://waft/referral-program">Referral Program</a></li>
                            <li><a href="https://waft/careers">Jobs & Careers</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li><a href="https://support.waft.com/hc/en-us/categories/204541687-FAQ">FAQ</a></li>
                            <li><a href="https://support.waft.com/hc/en-us/articles/235465768-Shipping">Shipping</a></li>
                            <li><a href="https://support.waft.com/hc/en-us/articles/235465748-Returns">Returns Policy</a></li>
                            <li><a href="https://waft/terms">Terms & Conditions</a></li>
                            <li><a href="https://waft/privacy">Privacy Policy</a></li>
                            <li><a href="https://support.waft.com/hc/en-us/requests/new">Contact Us</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="social">
                <a href="https://facebook.com/waftperfume" class="j2" target="_blank"></a>
                <a href="https://www.instagram.com/waftperfume/" class="j3" target="_blank"></a>
            </div>
        </div>
    </div>
</div>
<footer id="footer">
    <div class="ct">
        <div class="ll1">
            <p>Copyright © 2017 Waft Pte Ltd. All Rights Reserved.</p>
        </div>
    </div>
</footer>
<link rel="stylesheet" href="https://d2mwap6glc10bb.cloudfront.net/assets/css/footer.css" type="text/css"/>
