<header id="header">
    <div class="ct">
        <div class="mobile-menu"><span></span></div>
        <div class="ll">
            <a href="https://waft.com/" class="logo"></a>
        </div>
        <div class="main-menu">
            <ul>
                <li><a href="https://waft.com/">HOME</a></li>
                <li><a href="https://waft.com/gift">GIFT</a></li>
                <li><a href="https://waft.com/corporate">CORPORATE</a></li>
                <li><a href="https://waft.com/about">ABOUT US</a></li>
                <li><a href="https://waft.com/quality">QUALITY</a></li>
                <li><a href="https://blog.waft.com/">BLOG</a></li>
                <li><a href="/hc/en-us/categories/204541687-FAQ">FAQ</a></li>
                <li><a href="/hc/en-us/requests/new">CONTACT US</a></li>
            </ul>
        </div>
    </div>
</header>
