<waft-header type="profile" showBack="true" stepName="Referral Program">
</waft-header>
<div class="pd1" *ngIf="profile.email">
    <div class="ct">
        <div class="page">
            <h2>REFERRAL PROGRAM</h2>
            <div class="referral">
                <div class="referral-header">
                    <h5>Share with friends Earn amazing rewards</h5>
                    <p>Choose your reward</p>
                </div>
                <div class="rfl-acc rfl-section-1">
                    <img class="rfl-acc-btn" alt="Earn Rewards" (click)="rflSectionOpen('.rfl-section-1')"
                         src="https://waft.referralrock.com/client/4be0c6a0-b1a3-421f-b652-6148d1e1a1b5/Offer3-share.jpg?243da7fb-c3ce-4d35-887e-ee65d5196ae8"/>
                    <p class="rfl-acc-x" (click)="rflSectionClose('.rfl-section-1')"></p>
                    <iframe class="tfl-iframe" [src]="getRR1URL(1) | safe" (load)="onLoad(1)"></iframe>
                </div>

                <div class="rfl-acc rfl-section-2">
                    <img class="rfl-acc-btn" alt="Earn Rewards" (click)="rflSectionOpen('.rfl-section-2')"
                         src="https://waft.referralrock.com/client/4be0c6a0-b1a3-421f-b652-6148d1e1a1b5/Offer1-share.jpg?2df6bcaf-77ef-4f63-bf0e-8b77616765c5"/>
                    <p class="rfl-acc-x" (click)="rflSectionClose('.rfl-section-2')"></p>
                    <iframe class="tfl-iframe" [src]="getRR2URL(2) | safe" (load)="onLoad(2)"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
