<div class="admins-page">
    <div class="row">
        <div class="col-md-12">
            <h2>ADMINS</h2>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-default" ui-sref="app.adminsAccounts.create">CREATE NEW</a>
    </div>
    <div class="row">
        <div ui-grid="gridOptions" ui-grid-pagination class="grid" style="height:300px"></div>
    </div>
</div>