<div class="user-page">
    <div class="row">
        <div class="col-md-12">
            <h2>USERS</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="text-align: right">
            <div class="btn-group form-group hover">
                <input type="text" class="form-control" placeholder="Search" ng-change="search()"
                       ng-model="term">
                <div class="tooltip">
                    Example: <br>
                    &lt;e-mail address
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ui-grid="gridOptions" ui-grid-pagination class="grid" style="height:300px"></div>
        </div>
    </div>
    <div ng-if="user!=null" class="user-info">
        <div class="row">
            <div class="col-md-6">
                <h5 ng-if="!isEditing">Email:
                    <a style="margin-right: 10px;" href="mailto:{{user.email}}">{{user.email}}</a>
                    <a class="btn btn-primary" ng-click="editEmail()" ng-if="(!isEditing) && canEdit()">Change</a>
                </h5>
                <div class="edit-user" ng-if="isEditing">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email"
                               ng-model="user.email">
                    </div>
                    <div class="row error-message">
                        <span>{{message}}</span>
                    </div>
                    <div class="row buttons">
                        <a class="btn btn-default" ng-click="save()" ng-if="isEditing">Save</a>
                        <a class="btn btn-default" ng-click="cancel()" ng-if="isEditing">Cancel</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="baseInfo" ng-if="!isEditing">
            <div class="row error-message">
                <span>{{message}}</span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5>DETAILS</h5>
                    <table class="table table-bordered table-form">
                        <tr>
                            <td>ID</td>
                            <td>{{user._id}}</td>
                        </tr>
                        <tr>
                            <td>EMAIL</td>
                            <td>{{user.email}}</td>
                        </tr>
                        <tr>
                            <td>NAME</td>
                            <td>{{user.firstName + " " + user.lastName}}</td>
                        </tr>
                        <tr>
                            <td>REGISTRATION DATE</td>
                            <td>{{user.createdAt | date: 'yyyy-MM-dd HH:mm'}}</td>
                        </tr>
                        <tr ng-if="user.facebookUserId">
                            <td>FACEBOOK</td>
                            <td>{{user.facebookUserId}}</td>
                        </tr>
                        <tr>
                            <td>PAYMENT ACCOUNT (OLD)</td>
                            <td>
                                {{user.paymentAccount}}
                                <a href="https://dashboard.stripe.com/customers/{{user.customerId}}" target="_blank">
                                    {{user.customerId}}
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <span ng-if="user.paymentMethods.stripe_sg">
                        <h5>PAYMENT ACCOUNT (Singapore)</h5>
                        <table class="table table-bordered table-form">
                            <tr>
                                <td>CUSTOMER ID</td>
                                <td>
                                    <a href="https://dashboard.stripe.com/customers/{{user.paymentMethods.stripe_sg.customerId}}" target="_blank">
                                        {{user.paymentMethods.stripe_sg.customerId}}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>DEFAULT CARD</td>
                                <td>
                                    {{user.paymentMethods.stripe_sg.default_source}}
                                </td>
                            </tr>
                            <tr ng-repeat="source in user.paymentMethods.stripe_sg.sources">
                                <td>{{source.id}}</td>
                                <td>
                                    {{source.card.country}}
                                    {{source.card.funding}}
                                    {{source.card.brand}}
                                    {{source.card.last4}}
                                    EXP {{source.card.exp_month}}/{{source.card.exp_year}}
                                    CVC {{source.card.cvc_check}}
                                    ZIP {{source.card.address_zip_check}}
                                </td>
                            </tr>
                        </table>
                    </span>
                    <span ng-if="user.paymentMethods.stripe_us">
                        <h5>PAYMENT ACCOUNT (US)</h5>
                        <table class="table table-bordered table-form">
                            <tr>
                                <td>CUSTOMER ID</td>
                                <td>
                                    <a href="https://dashboard.stripe.com/customers/{{user.paymentMethods.stripe_us.customerId}}" target="_blank">
                                        {{user.paymentMethods.stripe_us.customerId}}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>DEFAULT CARD</td>
                                <td>
                                    {{user.paymentMethods.stripe_us.default_source}}
                                </td>
                            </tr>
                            <tr ng-repeat="source in user.paymentMethods.stripe_us.sources">
                                <td>{{source.id}}</td>
                                <td>
                                    {{source.card.country}}
                                    {{source.card.funding}}
                                    {{source.card.brand}}
                                    {{source.card.last4}}
                                    EXP {{source.card.exp_month}}/{{source.card.exp_year}}
                                    CVC {{source.card.cvc_check}}
                                    ZIP {{source.card.address_zip_check}}
                                </td>
                            </tr>
                        </table>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" ng-if="journeys.length!=0">
                    <h5>JOURNEYS</h5>
                    <table class="table table-bordered table-form">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>DATE</th>
                            <th>STATUS</th>
                            <th>ORDER ID</th>
                            <th>LAST STEP</th>
                            <th>ANSWERS</th>
                        </tr>
                        <thead>
                        <tbody>
                        <tr ng-repeat="journey in journeys">
                            <td>{{journey._id}}</td>
                            <td>{{journey.createdAt | date: 'yyyy-MM-dd HH:mm'}}</td>
                            <td>{{journey.status}}</td>
                            <td>{{journey.order}}</td>
                            <td>{{journey.step}}</td>
                            <td>
                                <span>{{journey.gender? journey.recipientGender+' / ':''}}</span>
                                <span>{{journey.gender? journey.gender+' / ':''}}</span>
                                <span>{{journey.timeOfDay? journey.timeOfDay+' / ':''}}</span>
                                <span>{{journey.activity? journey.activity+' / ':''}}</span>
                                <span>{{journey.mood? journey.mood+' / ':''}}</span>
                                <span>{{journey.personalStyle? journey.personalStyle+' / ':''}}</span>
                                <span>{{journey.waft? journey.waft:''}}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" ng-if="orders.length!=0">
                    <h5>ORDERS</h5>
                    <table class="table table-bordered table-form">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>DATE</th>
                            <th>TYPE</th>
                            <th>STATUS</th>
                        </tr>
                        <thead>
                        <tbody>
                        <tr ng-repeat="order in orders">
                            <td>{{order._id}}</td>
                            <td>{{order.createdAt | date: 'yyyy-MM-dd HH:mm'}}</td>
                            <td>{{order.type}}</td>
                            <td>{{order.status}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" ng-if="user.auditlog.length!=0">
                <div class="col-md-12">
                    <h5>AUDIT LOG</h5>
                    <table class="table table-bordered table-form">
                        <tr ng-repeat="log in user.auditlog">
                            <td>{{log.date | date: 'yyyy-MM-dd HH:mm'}}</td>
                            <td>{{log.message}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row" ng-if="logs.length != 0">
                <table class="table table-bordered table-form">
                    <h5>SERVER LOGS</h5>
                    <tr ng-repeat="log in logs">
                        <td style="white-space: nowrap;">{{log.timestamp | date: 'yyyy-MM-dd HH:mm'}}</td>
                        <td>
                            {{log.message}} <a ng-click="showjson = !showjson">JSON</a>
                            <pre ng-show="showjson" ng-if="log.ext">{{log.ext|json}}</pre>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>