<waft-header
    stepName="Activity"
    stepDescription="Same fragrance for tennis, a business meeting and a sexy date? No way! Tell us what you will be doing while wearing your new creation.">
</waft-header>
<div class="pd1 j2 wizard-activity">
    <div class="bl-sld">
        <div class="item1 j4">
            <div class="bg-p img1"></div>
            <div class="ov1">
                <div class="dc">
                    <div class="tx">
                        <table>
                            <tr>
                                <td><i>SPORT</i></td>
                            </tr>
                        </table>
                        <div><b><span>1</span></b></div>
                    </div>
                    <div class="t1">SPORT</div>
                    <p>Bright, Fresh, Clean, Invigorating</p>
                    <p class="small">You are your only competition</p>
                </div>
            </div>
            <a class="lnk1" (click)="toNextStep('sport')"></a>
        </div>
        <div class="item1 j4">
          <div class="bg-p img2"></div>
            <div class="ov1">
                <div class="dc">
                    <div class="tx">
                        <table>
                            <tr>
                                <td><i>SOCIAL</i></td>
                            </tr>
                        </table>
                        <div><b><span>2</span></b></div>
                    </div>
                    <div class="t1">SOCIAL</div>
                    <p>Joyful, Playful, Delightful, Sweet</p>
                    <p class="small">The life of the party or the café companion</p>
                </div>
            </div>
            <a class="lnk1" (click)="toNextStep('social')"></a>
        </div>
        <div class="item1 j4">
          <div class="bg-p img3"></div>
            <div class="ov1">
                <div class="dc">
                    <div class="tx">
                        <table>
                            <tr>
                                <td><i>WORK</i></td>
                            </tr>
                        </table>
                        <div><b><span>3</span></b></div>
                    </div>
                    <div class="t1">WORK</div>
                    <p>Light, Natural, Earthy, Graceful</p>
                    <p class="small">Confident and capable, you tackle your “to do’s”<br/> with ease</p>
                </div>
            </div>
            <a class="lnk1" (click)="toNextStep('work')"></a>
        </div>
        <div class="item1 j4">
          <div class="bg-p img4"></div>
            <div class="ov1">
                <div class="dc">
                    <div class="tx">
                        <table>
                            <tr>
                                <td><i>DATING</i></td>
                            </tr>
                        </table>
                        <div><b><span>4</span></b></div>
                    </div>
                    <div class="t1">DATING</div>
                    <p>Daring, Sexy, Elegant, Sensual</p>
                    <p class="small">You are wildly irresistible, they’ll never want<br/> this night to end</p>
                </div>
            </div>
            <a class="lnk1" (click)="toNextStep('dating')"></a>
        </div>
    </div>
</div>
<waft-timeline [step]="2"></waft-timeline>
