<div class="state-sel">
    <select name="state" required [ngModel]="address.county"
            (change)="onStateChange.emit($event.target.value)" #state="ngModel">
        <option value="" selected>STATE</option>
        <option *ngFor="let state of states" [value]="state.stateCode">
            {{state.state}}
        </option>
    </select>
    <div *ngIf="state.errors && (state.touched || showErrors)">
        <label [hidden]="!state.errors['required']" class="error">State is required</label>
    </div>
</div>