<waft-header
    stepName="Personal Style"
    stepDescription="The moment you walk into a room, your style instantly communicates more about you than words ever could. Which best describes your personal style aesthetic?">
</waft-header>
<div class="pd1 j2">
    <div class="bl-sld">
        <div class="item1 j2">
            <div class="bg-p" cdn-bg-src="/assets/img/wizard/personalstyle/classic.jpg"></div>
            <div class="ov1">
                <div class="dc">
                    <div class="tx">
                        <table>
                            <tr>
                                <td><i>CLASSIC</i></td>
                            </tr>
                        </table>
                        <div><b><span>1</span></b></div>
                    </div>
                    <div class="t1">CLASSIC</div>
                    <p>The picture of elegance with a polished style that is Classic, Conservative, and Chic</p>
                </div>
            </div>
            <a class="lnk1" (click)="toNextStep('classic')"></a>
        </div>
        <div class="item1 j2">
            <div class="bg-p" cdn-bg-src="/assets/img/wizard/personalstyle/trendy.jpg"></div>
            <div class="ov1">
                <div class="dc">
                    <div class="tx">
                        <table>
                            <tr>
                                <td><i>TRENDY</i></td>
                            </tr>
                        </table>
                        <div><b><span>2</span></b></div>
                    </div>
                    <div class="t1">TRENDY</div>
                    <p>You’re a Daring, Fun, Unbounded Original, a true fashionista who is allured by the vogue du jour</p>
                </div>
            </div>
            <a class="lnk1" (click)="toNextStep('trendy')"></a>
        </div>
    </div>
</div>
<waft-timeline [step]="4"></waft-timeline>
