<waft-header type="gift"></waft-header>
<div class="email-setup gift-flow">
    <div class="container">
        <a class="close hidden-lg" (click)="togglePreview()" *ngIf="isPreview">
            <img cdn-src="/assets/img/close.svg"/>
        </a>
        <div class="col-lg-6 col-sm-12 preview" [ngClass]="{'hidden-sm': !isPreview}">
            <div class="hidden-lg title">
                <h1 class="text-center" *ngIf="isPreview">
                    Preview e-mail
                </h1>
                <h1 class="text-center" *ngIf="!isPreview">
                    Nearly there
                </h1>
                <p class="text-center" *ngIf="!isPreview">
                    Just a few more details to help us build the perfect gift
                </p>
                <p class="text-center" *ngIf="isPreview">
                    Here’s how Valerie will receive your gift
                </p>
            </div>
            <div class="recep">
                        <span>
                            <b>From: Waft Gift / {{gift.order.gift.senderName}}</b> gift@waft.com
                        </span>
                <span class="white">

                            <b>Subject: </b>A Waft Personalised Fragrance Commissioned by {{gift.order.gift.senderName}}
                </span>
            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center"
                   style='font-family:Arial,serif;'>
                <tr>
                    <td class='movableContentContainer'>
                        <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                <tr>
                                    <td height='290' class='bgItem'>
                                        <table align="center" width="740" border="0" cellspacing="0" cellpadding="0"
                                               class="MainContainer">
                                            <tr>
                                                <td height='21'></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td valign='top' class="specbundle4"
                                                                style="vertical-align: top;">
                                                                <table border="0" cellspacing="0" cellpadding="0"
                                                                       align="center" valign='top'>
                                                                    <tr>
                                                                        <td colspan='3' height='10'></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width='10'></td>
                                                                        <td width='380' valign='top'>
                                                                            <table width="380" border="0"
                                                                                   cellspacing="0" cellpadding="0"
                                                                                   align="center" valign='top'>
                                                                                <tr>
                                                                                    <td valign='top'>
                                                                                        <div class="contentEditableContainer contentTextEditable">
                                                                                            <div class="contentEditable">
                                                                                                <img class="gift-logo"
                                                                                                     cdn-src="/assets/img/logo/waftgift_white.png"
                                                                                                     alt="Waft Gift"/>

                                                                                                <h1>Say Hello to the new
                                                                                                    you</h1>
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                        <td width='10'></td>
                                                                    </tr>
                                                                </table>
                                                                <div class="hidden-sm">
                                                                    <table border="0" cellspacing="0" cellpadding="0"
                                                                           align="center" class="text-content">
                                                                        <tr>
                                                                            <td valign='top'>
                                                                                <div class="contentEditableContainer contentTextEditable">
                                                                                    <div class="contentEditable">
                                                                                        <h2 style='font-size:16px;font-weight:normal;color:#5b6367;line-height:19px;'>
                                                                                            Dear
                                                                                            {{gift.order.gift.recipient.firstName}}</h2>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td valign='top'>
                                                                                <div class="contentEditableContainer contentTextEditable">
                                                                                    <div class="contentEditable">
                                                                                        <p>
                                                                                            Here’s a special gift from
                                                                                            {{gift.order.gift.senderName}}, to
                                                                                            you.
                                                                                        </p>
                                                                                        <p>
                                                                                            {{gift.order.gift.senderName}} has
                                                                                            commissioned this
                                                                                            fragrance for you, all you
                                                                                            have to do now is click on
                                                                                            the link below and complete
                                                                                            your journey:
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height='33'></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <div class="contentEditableContainer contentTextEditable">
                                                                                    <div class="contentEditable">
                                                                                        <a target='_blank'>ENTER THE
                                                                                            WAFT LAB</a>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height='13'></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <div class="contentEditableContainer contentTextEditable">
                                                                                    <div class="contentEditable">
                                                                                        <p style="overflow-wrap: break-word; max-width: 250px;">
                                                                                            {{gift.order.gift.note}}
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td height="60"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <img cdn-src="/assets/img/logo/waft.png"
                                                                                     style="height: 35px;" alt="">
                                                                            </td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td height='15'></td>
                                                                        </tr>

                                                                    </table>
                                                                </div>
                                                                <div class="hidden-lg">
                                                                    <table>
                                                                        <tr>
                                                                            <td width="244" valign="top"
                                                                                class="specbundle2">
                                                                                <div class="contentEditableContainer contentImageEditable">
                                                                                    <div class="contentEditable">
                                                                                        <div class="bottle {{gift.order.customBottle.style}}">
                                                                                            <span>{{gift.order.customBottle.name}}</span>
                                                                                            <span class='small'>{{gift.order.customBottle.message}}</span>

                                                                                            <img class="banner"
                                                                                                 cdn-src="/assets/img/gift/emailSetup/bottles.png"
                                                                                                 alt='featured image'
                                                                                                 data-default="placeholder">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                            <td class="specbundle3 hidden-sm">&nbsp;</td>
                                                            <td width="244" valign="top" class="specbundle2">
                                                                <div class="contentEditableContainer contentImageEditable hidden-sm">
                                                                    <div class="contentEditable">
                                                                        <div class="bottle {{gift.order.customBottle.style}}">
                                                                            <span>{{gift.order.customBottle.name}}</span>
                                                                            <span class='small'>{{gift.order.customBottle.message}}</span>
                                                                            <img class="banner"
                                                                                 cdn-src="/assets/img/gift/emailSetup/bottles.png"
                                                                                 alt='featured image'
                                                                                 data-default="placeholder">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="hidden-lg">
                                                                    <table border="0" cellspacing="0" cellpadding="0"
                                                                           align="center" class="text-content">
                                                                        <tr>
                                                                            <td valign='top'>
                                                                                <div class="contentEditableContainer contentTextEditable">
                                                                                    <div class="contentEditable">
                                                                                        <h2 style='font-size:16px;font-weight:normal;color:#5b6367;line-height:19px;'>
                                                                                            Dear {{
                                                                                            gift.order.gift.recipient.firstName
                                                                                            }}</h2>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td valign='top'>
                                                                                <div class="contentEditableContainer contentTextEditable">
                                                                                    <div class="contentEditable">
                                                                                        <p>
                                                                                            Here’s a special gift from
                                                                                            {{gift.order.gift.senderName}}, to
                                                                                            you.
                                                                                        </p>
                                                                                        <p>
                                                                                            {{gift.order.gift.senderName}} has
                                                                                            commissioned this fragrance
                                                                                            for you, all you have to do
                                                                                            now is click on the link
                                                                                            below and complete your
                                                                                            journey:
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height='33'></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <div class="contentEditableContainer contentTextEditable">
                                                                                    <div class="contentEditable">
                                                                                        <a target='_blank'>ENTER THE
                                                                                            WAFT LAB</a>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height='13'></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <div class="contentEditableContainer contentTextEditable">
                                                                                    <div class="contentEditable">
                                                                                        <p style="overflow-wrap: break-word; max-width: 250px;">
                                                                                            {{gift.order.gift.note}}
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>

                                                                        <tr class="hidden-sm">
                                                                            <td height="60"></td>
                                                                        </tr>
                                                                        <tr class="hidden-sm">
                                                                            <td>
                                                                                <img cdn-src="/assets/img/logo/waft.png"
                                                                                     style="width: 67px;">
                                                                            </td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td height='15'></td>
                                                                        </tr>

                                                                    </table>
                                                                </div>
                                                                <div class="contentEditableContainer contentImageEditable">
                                                                    <div class="contentEditable">
                                                                        <div class="summ">
                                                                            <h4>GIFT SUMMARY</h4>
                                                                            <h5>Fragrance</h5>
                                                                            <ul>
                                                                                <li>1 x {{mainVolume}} New Perfume</li>
                                                                                <li>1 x 15ml Perfume to Intensify</li>
                                                                                <li>1 x 15ml Perfume to Invigorate</li>
                                                                            </ul>
                                                                            <div class="order-status">
                                                                                <h5>Order status</h5>
                                                                                <span class="ready"></span>
                                                                                <p>
                                                                                    Ready to be personalised to your
                                                                                    taste
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr class="hidden-sm">
                                                <td height='50'></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="preview-logo hidden-lg">
                <img cdn-src="/assets/img/logo/waft.png">
            </div>
            <hr class="hidden-lg">
            <div class="preview-action hidden-lg">
                <div class="form-err-message">{{message}}</div>
                <a class="btn-red btn-red-arrow" (click)="clickContinue()" [class.disabled]="isProcessing">
                    <span>CONTINUE</span>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12" [ngClass]="{'hidden-sm': isPreview}">
            <form class="form" #personalisationForm="ngForm" novalidate (ngSubmit)="clickContinue()">
                <div class="title">
                    <h1 class="text-center hidden-sm">
                        PERSONALIZE THE EMAIL
                    </h1>
                    <h1 class="text-center hidden-lg">
                        PERSONALIZE<br> THE EMAIL
                    </h1>
                </div>
                <div>
                    <h5>
                        WHO IS THIS FOR?
                    </h5>
                    <div class="input-block">
                        <span><input type="text" value="" required placeholder="ENTER RECIPIENT NAME"
                                     name="recipientName"
                                     maxlength="50" [(ngModel)]="gift.order.gift.recipient.firstName" #recipientName="ngModel"/>
                        </span>
                        <div *ngIf="recipientName.errors && (recipientName.touched || isValidated)">
                            <label [hidden]="!recipientName.errors['required']" class="error">Recipient name is
                                required</label>
                        </div>
                    </div>
                </div>
                <div>
                    <h5>
                        WHO IS THIS FROM?
                    </h5>
                    <div class="input-block">
                        <span>
                            <input type="text" required value="" placeholder="ENTER SENDER NAME" name="senderName"
                                   maxlength="50" [(ngModel)]="gift.order.gift.senderName" #senderName="ngModel"/>
                        </span>
                        <div *ngIf="senderName.errors && (senderName.touched || isValidated)">
                            <label [hidden]="!senderName.errors['required']" class="error">Sender name is
                                required</label>
                        </div>
                    </div>
                </div>
                <div>
                    <h5>
                        ADD A MESSAGE
                    </h5>
                    <textarea placeholder="ADD A PERSONALISED E-MAIL MESSAGE" [(ngModel)]="gift.order.gift.note" maxlength="500"
                              name="note"></textarea>
                </div>
                <div class="clearfix"></div>
                <div>
                    <input type="checkbox" class="radio"  [(ngModel)]="isSendByWaft" (ngModelChange)="gift.order.gift.emailFromUser=!gift.order.gift.emailFromUser"  name="sendByWaft" id="sendByWaft"/>
                    <label for="sendByWaft">
                        I PREFER WAFT TO EMAIL THE INVITATION
                    </label>
                </div>
                <div class="clearfix"></div>
                <div *ngIf="isSendByWaft">
                    <h5>
                        WHAT’S THEIR E-MAIL?
                    </h5>
                    <div class="input-block">
                        <span>
                            <input type="email" value="" required emailFormat placeholder="ENTER E-MAIL" maxlength="50"
                                   [(ngModel)]="gift.order.gift.recipient.email" name="rEmail" #rEmail="ngModel"/>
                        </span>
                        <div *ngIf="rEmail.errors && (rEmail.touched || isValidated)">
                            <label [hidden]="!rEmail.errors['required']" class="error">Recipient's email address is
                                required</label>
                            <label [hidden]="!rEmail.errors['emailFormat']" class="error">A valid e-mail address is
                                required</label>
                        </div>
                    </div>
                </div>
                <div *ngIf="isSendByWaft">
                    <h5>
                        WHEN SHOULD WE SEND THIS?
                    </h5>
                    <div class="input-block">
                        <datepicker [(ngModel)]="gift.order.gift.inviteEmailDate" [expanded]="true" name="inviteEmailDate"
                                    class="datePicker" viewFormat="D MMMM YYYY"></datepicker>
                        <label class="error" *ngIf="!isValidEmailDate(gift.order.gift.inviteEmailDate) && isValidated">We are unable to send the
                            email on a past date</label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div>
                    <input type="checkbox" class="radio" [(ngModel)]="gift.order.gift.emailFromUser" (ngModelChange)="isSendByWaft=!isSendByWaft" name="sendMyself" id="sendMyself"/>
                    <label for="sendMyself">
                        I PREFER THIS TO COME DIRECTLY FROM ME RATHER THAN WAFT. EMAIL ME THIS NOTICE TO
                        FORWARD
                    </label>
                </div>
                <div class="clearfix"></div>
                <div>
                    <div class="form-err-message">{{message}}</div>
                    <a class="btn-red btn-red-arrow hidden-lg" *ngIf="!isPreview" (click)="togglePreview()">
                        <span>PREVIEW THE EMAIL</span>
                    </a>
                    <button type="submit" class="btn-red btn-red-arrow hidden-sm" [class.disabled]="isProcessing">
                        <span>SEND</span>
                    </button>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
