.email-setup {
    padding-top: 80px;
    margin-bottom: 80px;
}

.email-setup .container {
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

.email-setup .close {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 20;
}

.email-setup .recep {
    font-family: 'Montserrat', sans-serif;
    background: #f0f0f0;
    padding: 15px 25px;
    border-radius: 26px 26px 0 0;
    box-sizing: border-box;
    max-width: 552px;
    color: #6d7a7d;
    font-size: 12px;
}

.email-setup .recep span {
    display: block;
    margin: 7px 0;
}

.email-setup .recep span:first-child {
    color: #bba37d;
}

.email-setup .preview {
    margin-top: 60px;

}

.email-setup .preview .text-content {
    margin-left: 20px;
    font-family: "Times New Roman", serif;
}

.email-setup .preview .text-content a {
    font-family: Arial, sans-serif;
}

.email-setup .preview table {
    max-width: 552px;
    box-sizing: border-box;
}

.email-setup .preview table h1 {
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
    line-height: normal;
    margin: 0;
    font-family: 'Georgia', serif;
    letter-spacing: 0.4px;
    text-align: left;
    padding: 0 0 80px 17px;
}

.email-setup .preview > table {
    box-shadow: 0 -1px 22px rgba(109, 122, 125, 0.28);
    position: relative;
}

.email-setup .preview .tableContent img {
    border: 0 !important;
    display: block !important;
    outline: none !important;
}

table tr td .contentEditableContainer .contentEditable a {
    padding: 13px 50px;
    font-size: 9px;
    text-decoration: none;
    background: #bca37b;
    color: #fff;
    border-radius: 6px;
    /*noinspection W3CssValidation*/
    -moz-border-radius: 6px;
    /*noinspection W3CssValidation*/
    -webkit-border-radius: 6px;
    cursor: default;
}

.email-setup .preview a {
    color: #382F2E;
}

.email-setup .preview p,
.email-setup .preview h1 {
    color: #382F2E;
    margin: 0;
}

.email-setup .preview p {
    font-size: 11px;
    color: #5b6367;
    line-height: 15px;
    padding: 20px 44px 0 0;
}

.email-setup .preview .bottle {
    position: relative;
}

.email-setup .preview .bottle img {
    width: 100%;
}

.email-setup .preview .gift-logo {
    margin:15px auto 5px auto;
    width: 180px;
}

.email-setup .preview .bottle span {
    font-size: 13px;
    left: 11%;
    width: 34%;
    top: 50%;
    text-align: center;
    color: #544f4e;
    opacity: 1;
    position: absolute;
    overflow-wrap: break-word;
    line-height: 15px;
    white-space: pre-line;
}

.email-setup .preview .bottle span.small {
    position: absolute;
    font-size: 8px;
    top: 58%;
    line-height: 10px;
}

.email-setup .preview div,
.email-setup .preview p,
.email-setup .preview ul,
.email-setup .preview h1 {
    margin: 0;
}

.email-setup .preview h2,
.email-setup .preview h1 {
    color: #444444;
    font-weight: normal;
    font-size: 22px;
    margin: 0;
}

.email-setup .preview .preview-logo {
    padding-right: 5%;
    padding-left: 5%;
}

.email-setup .preview .preview-logo img {
    display: block;
    width: 112px;
    margin: 20px auto 30px;
}

.email-setup .preview hr {
    margin-bottom: 20px;
}

.email-setup .preview .preview-action {
    margin: auto auto 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.email-setup .preview .preview-action .form-err-message {
    margin-left: auto;
    margin-right: auto;
}

.email-setup .preview .preview-action a {
    width: 100%;
    max-width: 100%;
    color: white;
}

.email-setup .preview .bgBody {
    background: #ffffff;
}

.email-setup .preview .summ {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #a8b5b8;
    border-radius: 7px;
}

.email-setup .preview .summ h4 {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    width: 100%;
    display: block;
    color: #5b6367;
    font-size: 11px;
    font-weight: 700;
    line-height: 19px;
    border-bottom: 1px solid #a8b5b8;
    letter-spacing: 2px;
    margin: 12px 0;
    padding: 0 0 7px 18px;
}

.email-setup .preview .summ {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #a8b5b8;
    border-radius: 7px;
    width: 82%;
}

.email-setup .preview .summ ul {
    list-style: none;
    padding: 0 20px 12px;
    color: #6d7a7d;
    font-size: 8px;
}

.email-setup .preview .summ ul li {
    margin: 9px 0;
}

.email-setup .preview .summ h5 {
    margin: 15px 20px 11px;
    color: #bba37d;
    font-size: 7px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.email-setup .preview .summ .order-status {
    border-top: 1px solid #a8b5b8;
}

.email-setup .preview .summ .order-status h5 {
    margin: 8px 20px 11px;
}

.email-setup .preview .summ .order-status span {
    display: block;
    width: 8px;
    height: 8px;
    float: left;
    border-radius: 6px;
    margin: 0 10px 0 20px;
}

.email-setup .preview .summ .order-status p {
    color: #6d7a7d;
    font-size: 9px;
    font-weight: 500;
    line-height: 9px;
    padding: 0 20px 20px 43px;
}

.email-setup .preview .summ .order-status span.ready {
    background-color: #8cbf53;
}

.email-setup .preview .summ .order-status span.pending {
    background-color: #f1a710;
}

.email-setup form {
    max-width: 465px;
    margin: 0 30px;
}

.email-setup .form button,.email-setup .form a {
    max-width: 465px;
}

.form h5 {
    width: 100%;
    display: block;
    color: #303739;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 25px;
    margin: 13px 0 12px;
}

.email-setup .form .text-center {
    text-align: center;
}

.email-setup .hidden-lg {
    display: block;
}

@media only screen and (max-width: 1020px) {
    .container {
        padding: 0 !important;
    }

    .col-sm-12 {
        width: 100%;
    }

    .title p.text-center {
        color: #7d8284;
        font-family: "Times New Roman";
        font-weight: 400;
        padding-top: 0 !important;
    }

    .email-setup {
        margin-bottom: 42px;
    }

    .email-setup .recep {
        margin-top: 25px !important;
        border-radius: 0 0;
        max-width: 100%;
    }

    .email-setup .preview {
        padding: 0;
        margin: 0;
    }

    .email-setup .preview p {
        padding-right: 0;
        font-size: 14px !important;
    }

    .email-setup .preview > table {
        box-shadow: none;
    }

    .email-setup .preview > table:before,
    .email-setup .preview > table:after {
        display: none;
    }

    .email-setup .preview table {
        width: 100%;
    }

    .email-setup .preview table h1 {
        text-align: center;
        padding: 20px 0 40px 0;
    }

    .email-setup .preview table h2 {
        font-size: 20px !important;
    }

    .email-setup .preview table .text-content {
        margin-left: 0;
    }

    .email-setup .preview table .gift-logo {
        margin-left: auto;
        margin-right: auto;
    }

    .email-setup .preview table a {
        display: block;
        text-align: center;
    }

    .email-setup .preview .bottle {
        max-width: 288px;
        margin: 0 auto;
        right: -25px;
    }

    .email-setup .preview .summ {
        width: 100% !important;
    }

    .email-setup .preview .summ h4 {
        font-size: 13px;
        padding: 0 0 10px 18px;
    }

    .email-setup .preview .summ h5 {
        font-size: 10px;
    }

    .email-setup .preview .summ ul li {
        font-size: 10px;
    }

    .email-setup .preview .summ .order-status p {
        font-size: 10px !important;
        line-height: 15px;
        margin-top: -4px;
    }

    .email-setup .form {
        max-width: 465px;
        margin: 0 auto;
    }

    .email-setup .form h5 {
        letter-spacing: 0;
    }

    .email-setup .btn-red {
        margin: 19px 0;
    }

    table[class="MainContainer"],
    td[class="cell"] {
        width: 100% !important;
        height: auto !important;
    }

    td[class="specbundle"] {
        width: 100% !important;
        float: left !important;
        font-size: 13px !important;
        line-height: 17px !important;
        display: block !important;
    }

    td[class="specbundle2"] {
        width: 90% !important;
        float: left !important;
        font-size: 14px !important;
        line-height: 18px !important;
        display: block !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    td[class="specbundle3"] {
        width: 90% !important;
        float: left !important;
        font-size: 14px !important;
        line-height: 18px !important;
        display: block !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
        padding-bottom: 20px !important;
    }

    td[class="specbundle4"] {
        width: 100% !important;
        float: left !important;
        font-size: 13px !important;
        line-height: 17px !important;
        display: block !important;
        padding-bottom: 20px !important;
        text-align: center !important;
    }

    img[class="banner"] {
        width: 100% !important;
        height: auto !important;
    }

    td[class="left_pad"] {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    table {
        max-width: 100% !important;
    }

    table tr td .contentEditableContainer .contentEditable a {
        cursor: default;
        background: white;
        color: #a8b5b8;
        border: 1px solid #a8b5b8;
        opacity: 0.5;
        font-size: 12px;
    }

    .tableContent img {
        margin: 0 auto;
    }

    .hidden-sm {
        display: none;
    }
}

@media only screen and (min-width: 1020px) {
    .hidden-lg {
        display: none !important;
    }
}

.bottle.modern {
    font-family: "Montserrat";
    font-weight: normal;
}

.bottle.classic {
    font-family: "Times New Roman";
    font-weight: normal;
}

h1 {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
}
