.samples {
    position: relative;
    background: white;
    box-shadow: 0 2px 37px rgba(0, 0, 0, 0.21);
    max-width: 530px;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    padding-bottom: 5px;
}

.samples .close-btn {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
}

.samples .close-btn img {
    width: 13px;
    height: 13px;
}

.samples .sample-bottles {
    width: 195px;
    margin: auto;
    padding-top: 20px;
}

.samples .sample-bottles img {
    height: 130px;
    margin: 0 10px;
}

.samples .text-all-st1 p {
    color: #6D7A7D;
    font-family: "Times New Roman";
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    padding-bottom: 15px;
    max-width: 450px;
    text-align: center;
    margin: auto;
}

.samples .text-all-st1 .t1 {
    color: #1c1f20;
    font-family: 'Georgia';
    font-size: 30px;
    font-weight: 700;
    line-height: 19px;
    padding: 20px 0;
    text-align: center;
}

.samples .text-all-st1 ul {
    display: block;
    max-width: 373px;
    margin: auto;
    margin-bottom: 15px;
}

.samples .text-all-st1 ul li {
    color: #6D7A7D;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 45px;
    border-bottom: 1px solid #6D7A7D;
    text-align: center;
}

.samples .text-all-st1 ul li:last-child {
    border: none;
}

.samples a.btn {
    margin-bottom: 10px;
}

@media only screen and (max-width: 550px) {
    .samples {
        width: 92%;
        margin-bottom: 25px;
    }

    .samples .sample-bottles {
        width: 165px;
    }

    .samples .sample-bottles img {
        height: 94px;
    }

    .samples .text-all-st1 .t1 {
        font-size: 19px;
        padding-bottom: 10px;
    }

    .samples .text-all-st1 p {
        font-size: 12px;
        line-height: 13px;
    }

    .samples .text-all-st1 ul li {
        font-size: 9px;
    }

    .samples .text-all-st1 ul li {
        line-height: 25px;
    }
}

@media only screen and (max-width: 400px) {
    .samples .ft-ov1 .j2 {
        height: auto;
        margin-bottom: 0;
    }
}

.price {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: auto auto 15px;
}