<div class="samples">
    <div class="close-btn">
        <img (click)="close()" cdn-src="/assets/img/close.svg">
    </div>
    <div class="sample-bottles">
        <img cdn-src="/assets/img/bottle/sample.png">
        <img cdn-src="/assets/img/bottle/sample.png">
        <img cdn-src="/assets/img/bottle/sample.png">
    </div>
    <div class="text-all-st1">
        <div class="t1">Sample Spray</div>
        <p>
            If you’re feeling a little unsure, we can send you samples of
            The New You and two accessories that can be
            worn together, before we ship your order.
        </p>
        <p>
            Once you receive the samples, if you would like to make some changes to
            The New You or cancel your order, please log into your Waft account and let us know.
            If you make no changes, your order will be sent to
            you after ten days and your credit card processed.
        </p>
        <ul>
            <li>THE NEW YOU 5ML SAMPLE SPRAY</li>
            <li>1 FREE 5ML SAMPLE TO FRESHEN</li>
            <li>1 FREE 5ML SAMPLE TO DATE</li>
        </ul>
        <!--<div class="price" *ngIf="!wizard.country.price.isFreeShipping('samples')">-->
            <!--{{wizard.country.price.getPriceString('samples')}} + {{wizard.country.price.getShippingPriceString('samples')}} (Shipping)-->
        <!--</div>-->
        <a class="btn btn-white btn-white-arrow" (click)="onSelectSamples.emit()">
            <!--<span *ngIf="wizard.country.price.isFreeShipping('samples')">-->
                {{wizard.country.price.getPriceString('samples')}} -
            <!--</span>-->
             TRIAL FIRST
        </a>
        <a class="btn btn-red btn-red-arrow" (click)="onSelectMain.emit()">OR STRAIGHT TO MAIN ORDER</a>
    </div>
</div>