.gift-flow {
  padding-top: 180px;
  max-width: 1130px;
  margin: auto;

  .title {
    margin-bottom: 130px;

    h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 200 !important;
      font-size: 35px !important;
      letter-spacing: 3.8px;
      margin-bottom: -7px !important;
      line-height: 30px;
    }

    h4 {
      letter-spacing: 2.6px;
      line-height: normal;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .row {
    width: 1130px;
    margin: 0 auto;

    .choice {
      max-width: 390px;
      text-align: center;
      float: left;
      margin: 0 85px;

      .number {
        border-top: 1px solid gray;
        text-align: center;

        span {
          color: #f10733;
          background: white;
          top: -18px;
          position: relative;
          padding: 0 25px;
          font-family: 'Montserrat', sans-serif;
          font-size: 25px;
          font-weight: 300;
        }
      }

      p {
        font-size: 16px;
        letter-spacing: 3.3px;
        line-height: 28px;
      }

      .input-block {
        margin: 10px 20px 0;
      }

      .btn {
        border-radius: 12px;
        font-size: 16px;
        letter-spacing: 1.6px;
        font-weight: 500;
        margin-top: 15px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .gift-flow {
    .row {
      width: 970px;

      .choice {
        margin: 0 45px;
      }
    }
  }
}

@media only screen and (max-width: 993px) {
  .gift-flow {
    .row {
      width: 750px;

      .choice {
        max-width: 345px;
        margin: 0 15px;

        .input-block {
          margin: 10px 0 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .gift-flow {
    .row {
      width: 100%;

      .choice {
        float: none;
        margin: 0 auto 70px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .gift-flow {
    padding-top: 70px;

    .title {
      margin-bottom: 50px;

      h1 {
        font-size: 26px !important;
      }

      h4 {
        font-size: 11px;
        display: block;
      }
    }

    .row {
      .choice {
        .number {
          height: 13px;
        }

        p {
          font-size: 12px;
          line-height: 21px;
          margin: 0 15px;
        }

        .btn {
          margin-top: 10px;
        }
      }
    }
  }
}