<waft-header type="gift"></waft-header>
<div class="gift-flow">
    <div class="title">
        <h1 class="text-center">
            NOW LET THEM KNOW!
        </h1>
        <h4 class="text-center">
            CHOOSE A NOTIFICATION OPTION:
        </h4>
    </div>

    <div class="row">
        <div class="choice">
            <div class="number">
                <span>1</span>
            </div>
            <p>COPY THIS LINK AND SEND IT TO THE RECIPIENT YOURSELF: </p>
            <div class="input-block">
                <input type="text" [(ngModel)]="url" readonly>
            </div>
            <button class="btn btn-gray" [clipboard]="url" (clipboardCopy)="onCopy()">
                <span *ngIf="!isCopied">COPY LINK & CONTINUE</span>
                <span *ngIf="isCopied">COPIED</span>
            </button>
        </div>
        <div class="choice">
            <div class="number">
                <span>2</span>
            </div>
            <p>HAVE US SEND AN OFFICIAL EMAIL TO THE RECIPIENT AND CHOOSE THE DATE YOU WANT US TO SEND IT.</p>
            <button class="btn btn-gray" (click)="onContinue()"><span>PREVIEW & PERSONALIZE EMAIL</span></button>
        </div>
    </div>
</div>