<link rel="stylesheet" href="{{staticBase}}/assets/css/buttons.css" type="text/css"/>
<h2>OOPS</h2>
<p>
    The page you were looking for doesn't exist. You may have mistyped the address or the page may have moved.
</p>
<style>
    p a.btn {
        text-indent: 0;
        display: inline-block;
    }
</style>
<p>
    <a class="btn btn-red" href="https://support.waft.com/hc/en-us/requests/new">Contact Us</a>
</p>
<p>
    <a class="btn btn-white" href="/">Take me back to the home page</a>
</p>

