<link rel="stylesheet" href="{{staticBase}}/assets/css/buttons.css" type="text/css"/>
<h2>OOPS</h2>
<p>
    Smells like an error!
</p>
<p>
    {{# if message}}
        {{message}}
    {{else}}
        Our technical team is automatically notified.
    {{/if}}
</p>
<style>
    p a.btn {
        text-indent: 0;
        display: inline-block;
    }
</style>
<p>
    <a class="btn btn-red" href="https://support.waft.com/hc/en-us/requests/new">Contact Us</a>
</p>
<p>
    <a class="btn btn-white" href="/">Take me back to the home page</a>
</p>
