<style>
  table.table h4 {
    padding-top:14px;
    margin-bottom: 0px;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }
</style>
<div class="dashboard-page">
    <div class="row">
        <div class="col-md-12">
            <h2>PRICES</h2>
        </div>
    </div>
    <div class="row">
      <table class="table">
        <tr>
          <th>Country</th>
          <th>Samples</th>
          <th>Small</th>
          <th>Medium</th>
          <th>Big</th>
          <th>Shipping</th>
        </tr>
        <tr>
          <td>{{data.default.name}}</td>
          <td>
            {{data.default.currencySymbol}}{{data.default.samples}}
            ({{data.default.currencySymbol}}{{data.default.shipping.samples}})
          </td>
          <td>
            {{data.default.currencySymbol}}{{data.default.small}}
            ({{data.default.currencySymbol}}{{data.default.shipping.small}})
          </td>
          <td>
            {{data.default.currencySymbol}}{{data.default.medium}}
            ({{data.default.currencySymbol}}{{data.default.shipping.medium}})
          </td>
          <td>
            {{data.default.currencySymbol}}{{data.default.big}}
            ({{data.default.currencySymbol}}{{data.default.shipping.big}})
          </td>
          <td>
            {{data.default.shipping.min_days}} to
            {{data.default.shipping.max_days}} days
          </td>
        </tr>
        <tr ng-repeat="country in data.countries">          
          <td>{{country.name}}</td>
          <td>
            <span ng-if="country.samples && (country.samples !== '')">
              {{country.currencySymbol}}{{country.samples}}
              ({{country.currencySymbol}}{{country.shipping.samples}})
            </span>
            <span ng-if="!(country.samples && (country.samples !== ''))">
              N/A
            </span>
          </td>
          <td>
            {{country.currencySymbol}}{{country.small}}
            ({{country.currencySymbol}}{{country.shipping.small}})
          </td>
          <td>
            {{country.currencySymbol}}{{country.medium}}
            ({{country.currencySymbol}}{{country.shipping.medium}})
          </td>
          <td>
            {{country.currencySymbol}}{{country.big}}
            ({{country.currencySymbol}}{{country.shipping.big}})
          </td>
          <td>
            {{country.shipping.min_days}} to
            {{country.shipping.max_days}} days
          </td>
        </tr>
      </table>
    </div>
</div>
