.gift-flow {
    padding-top: 120px;
    margin-bottom: 80px;
}

.gift-flow .title {
    text-align: center;
}

.gift-flow .title h4 {
    color: #3c4043;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 7px;
    line-height: 13px;
}

.gift-flow .title p {
    color: #7d8284;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 22px;
    max-width: 420px;
    margin: 0 auto;
}

@media only screen and (max-width: 500px) {
    .gift-flow .title h4 {
        display: none;
    }
}
