@charset "UTF-8";

@font-face {
    font-family: 'AppleChancery';
    src: url('/assets/fonts/AppleChancery.ttf') format('ttf'), url('/assets/fonts/AppleChancery.woff') format('woff');
    font-weight: normal;
}

.loading {
    display: none;
    opacity: 0;
    transition: opacity .8s ease-in-out;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: -1;
    text-align: center;
}

app:empty + .loading {
    opacity: 1;
    z-index: 100;
    display: table;
}

.loading .logo {
    display: block;
    margin: auto;
    margin-bottom: 37px;
    width: 128px;
    height: 58px;
}

.loading h2 {
    color: #A8B5B8;
    font-family: "Montserrat", serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3.7px;
    line-height: 25px;
    max-width: 415px;
    margin: auto;
    padding-bottom: 25px;
}

.loading h1 {
    color: #5B6367;
    font-family: Georgia, serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    padding-bottom: 50px;
    letter-spacing: 0;
}

.loading .progress {
    display: inline-block;
    width: 109px;
    height: 109px;
    text-align: center;
    text-indent: 5px;
    line-height: 109px;
    color: #f10733;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3.7px;
    position: relative;
}

.loading .progress:before {
    position: absolute;
    top: 2px;
    left: 0;
    display: block;
    content: '';
    width: 109px;
    height: 104px;
    background: url("/assets/img/load.png");
    -webkit-animation: t1 1.5s infinite linear;
    animation: t1 1.5s infinite linear;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background: #fff;
}

body, html {
    height: 100%;
}

body a, html a {
    text-decoration: none;
}

body input, html input {
    -webkit-appearance: none;
}

img, fieldset, a img {
    border: none;
}

input[type="submit"], button {
    cursor: pointer;
}

input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input::-ms-clear, input::-ms-reveal, select::-ms-expand {
    display: none !important;
}

textarea {
    overflow: auto;
}

input, button {
    margin: 0;
    padding: 0;
    border: 0;
}

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus {
    outline: none;
}

div {
    outline: none !important;
}

* {
    outline: none !important;
}

ul, ol {
    list-style-type: none;
}

img {
    vertical-align: top;
}

li {
    list-style: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    * {
        -webkit-text-size-adjust: none;
    }
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

@supports (-ms-ime-align:auto) {
    table {
        border-collapse: inherit;
    }
}

.clear {
    clear: both;
}

body.ac {
    overflow: hidden;
}

#page {
    overflow: hidden;
    width: 100%;
    position: relative;
    min-height: 100%;
    background: #fff;
}

#page.j1 {
    background: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    overflow: auto;
    display: none;
}

.modal .modal-dialog {
    background: rgba(255, 255, 255, 0.9);
    height: 100vh;
    display: table;
    width: 100%;
}

.modal .modal-dialog .modal-content {
    display: table-cell;
    vertical-align: middle;
}

.ct, .prod-by-ord, .prod-change-ch1 {
    max-width: 1161px;
    padding: 0 10px;
    position: relative;
    margin: auto;
    *zoom: 1;
}

.ct:after, .prod-by-ord:after, .prod-change-ch1:after {
    content: " ";
    display: table;
    clear: both;
}

@-webkit-keyframes t1 {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        filter: ~"progid:DXImageTransform.Microsoft.Matrix(M11=$ m11, M12=$ m12, M21=$ m21, M22=$ m22, sizingMethod='auto expand');";
        zoom: 1;
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
        filter: ~"progid:DXImageTransform.Microsoft.Matrix(M11=$ m11, M12=$ m12, M21=$ m21, M22=$ m22, sizingMethod='auto expand');";
        zoom: 1;
    }
}

@keyframes t1 {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        filter: ~"progid:DXImageTransform.Microsoft.Matrix(M11=$ m11, M12=$ m12, M21=$ m21, M22=$ m22, sizingMethod='auto expand');";
        zoom: 1;
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
        filter: ~"progid:DXImageTransform.Microsoft.Matrix(M11=$ m11, M12=$ m12, M21=$ m21, M22=$ m22, sizingMethod='auto expand');";
        zoom: 1;
    }
}

.dc-poss1 {
    display: table-cell;
    vertical-align: middle;
}

.pd1 {
    padding: 73px 0 42px 0;
    position: relative;
}

.pd1.j1 {
    background-color: #fff;
}

@media only screen and (max-width: 1024px) {
    .pd1.j2 {
        padding: 122px 0 124px 0;
    }
}

@media only screen and (max-width: 1024px) and (max-width: 703px) {
    .pd1.j2 {
        padding-bottom: 0;
    }
}

.pd1.j3 {
    padding-top: 120px;
    background: #fff;
}

.pd1 .bl-sld { /* min-height: 100%;*/
    position: relative;
}

/*
@media only screen and (max-width: 1024px) {
    .pd1 .bl-sld { height: auto !important; }
}
*/


.pd1 .bl-sld .ct, .pd1 .bl-sld .prod-by-ord, .pd1 .bl-sld .prod-change-ch1 {
    padding: 0;
}

.pd1 .bl-sld .lt1 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

@media only screen and (max-width: 1024px) {
    .pd1 .bl-sld .lt1 {
        display: none;
    }
}

html.nontouch .pd1 .bl-sld .lt1:hover:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    background: rgba(255, 255, 255, 0.05);
}

.pd1 .bl-sld .rt1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 50%;
}

@media only screen and (max-width: 1024px) {
    .pd1 .bl-sld .rt1 {
        display: none;
    }
}

html.nontouch .pd1 .bl-sld .rt1:hover:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    background: rgba(255, 255, 255, 0.05);
}

/* ----------------------------------- */

.pd1 .bl-sld .item1 {
    width: 50%;
    float: left;
    text-align: center;
    position: relative;
}

.pd1 .bl-sld .item1 .bg-p {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: top;
}

.pd1 .bl-sld .item1.j2 {
    width: 50%;
}

.pd1 .bl-sld .item1.j3 {
    width: 33.3333333333%;
}

.pd1 .bl-sld .item1.j4 {
    width: 25%;
}

.pd1 .bl-sld .item1 .lnk1 {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

html.nontouch .pd1 .bl-sld .item1 .lnk1:hover:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    background: rgba(255, 255, 255, 0.05);
}

.pd1 .bl-sld .item1 .ov1 {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.pd1 .bl-sld .item1 .dc {
    vertical-align: middle;
    display: table-cell;
}

.pd1 .bl-sld .item1 .dc .t1 {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3.7px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 5px;
    text-align: center;
}

@media only screen and (max-height: 650px) {
    .pd1 .bl-sld .item1 .dc .t1 {
        margin-bottom: 10px;
        padding-bottom: 0;
        position: relative;
        top: 3px;
    }
}

.pd1 .bl-sld .item1 .dc p {
    display: block;
    margin: auto;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    max-width: 299px;
    padding: 0 10px;
}

.pd1 .bl-sld .item1 .dc p.small {
    font-size: 12px;
}

.pd1 .bl-sld .item1 .dc .tx {
    width: 215px;
    margin: auto;
    margin-bottom: 30px;
    position: relative;
    height: 150px;
}

@media only screen and (max-height: 650px) {
    .pd1 .bl-sld .item1 .dc .tx {
        margin-bottom: 10px;
    }
}

.pd1 .bl-sld .item1 .dc .tx table {
    position: absolute;
    top: -80px;
    bottom: -80px;
    height: 300px;
}

.pd1 .bl-sld .item1 .dc .tx td {
    text-align: center;
    vertical-align: middle;
}

.pd1 .bl-sld .item1 .dc .tx td i {
    display: inline-block;
    float: left;
    vertical-align: middle;
    word-wrap: break-word;
    font-style: normal;
    width: 70px;
    color: white;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 15.8px;
    line-height: 33px;
    font-family: 'Montserrat', sans-serif;
}

/*.pd1 .bl-sld .item1:first-child .dc .tx td i { padding-left: 0 }*/

.pd1 .bl-sld .item1 .dc .tx div {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55)";
    filter: alpha(opacity=55);
    -moz-opacity: 0.55;
    -khtml-opacity: 0.55;
    opacity: 0.55;
    width: 140px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    font-weight: 600;
    height: 170px;
    line-height: 165px;
    overflow: hidden;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
}

/*
.pd1 .bl-sld .item1:first-child .dc .tx div {
    width: 105px;
}
*/

.pd1 .bl-sld .item1 .dc .tx div b {
    font-weight: 500;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    letter-spacing: 0.02em;
}

.pd1 .bl-sld .item1 .dc .tx div b span {
    display: inline-block;
    width: 0.6em;
    text-align: center;
}

.pd1 .bl-sld .item1 .dc .tx div b:before {
    content: '0';
}

/*
.pd1 .bl-sld .item1 .dc .tx div b:after {
  content: '1';
  visibility: hidden;
}
*/

@media only screen and (max-width: 1024px) {
    .pd1 .bl-sld .item1 {
        width: auto !important;
        float: none;
        height: 50%;
    }

    .pd1 .bl-sld .item1.j3 {
        height: 33.3333333333%;
    }

    .pd1 .bl-sld .item1.j4 {
        height: 25%;
    }

    .pd1 .bl-sld .item1 .dc {
        display: block;
        padding: 30px 0;
    }

    .pd1 .bl-sld .item1.j1 .bg-p {
        display: block;
    }

    .pd1 .bl-sld .item1 .dc p {
        display: none;
    }

    /** Mobile Styles **/
    .pd1 .bl-sld .item1.j4 .ov1,
    .pd1 .bl-sld .item1.j3 .ov1,
    .pd1 .bl-sld .item1.j2 .ov1 {
        display: block;
    }

    .pd1 .bl-sld .item1.j4 .dc,
    .pd1 .bl-sld .item1.j3 .dc,
    .pd1 .bl-sld .item1.j2 .dc {
        padding: 0;
        display: table;
        width: 100%;
    }

    .pd1 .bl-sld .item1.j4 .dc .tx,
    .pd1 .bl-sld .item1.j3 .dc .tx,
    .pd1 .bl-sld .item1.j2 .dc .tx {
        display: table-cell;
        height: 100px;
        width: 160px;
    }

    .pd1 .bl-sld .item1.j4 .dc .t1,
    .pd1 .bl-sld .item1.j3 .dc .t1,
    .pd1 .bl-sld .item1.j2 .dc .t1{
        padding-right: 5px;
        display: table-cell;
        height: 100px;
        line-height: 100px;
        text-align: right;
        top: 0;
    }

    .pd1 .bl-sld .item1.j4 .dc .tx table,
    .pd1 .bl-sld .item1.j3 .dc .tx table,
    .pd1 .bl-sld .item1.j2 .dc .tx table{
        left: 0;
        top: 0;
        height: 100px;
        bottom: auto;
    }

    .pd1 .bl-sld .item1.j4:first-child .dc .tx td i,
    .pd1 .bl-sld .item1.j3:first-child .dc .tx td i,
    .pd1 .bl-sld .item1.j2:first-child .dc .tx td i{
        padding-left: 5px;
    }

    .pd1 .bl-sld .item1.j4 .dc .tx td i,
    .pd1 .bl-sld .item1.j3 .dc .tx td i,
    .pd1 .bl-sld .item1.j2 .dc .tx td i{
        padding-left: 5px;
        line-height: 25px;
        font-size: 14px;
        letter-spacing: 15px;
        width: 60px;
    }

    .pd1 .bl-sld .item1.j4:first-child .dc .tx div,
    .pd1 .bl-sld .item1.j3:first-child .dc .tx div,
    .pd1 .bl-sld .item1.j2:first-child .dc .tx div{
        width: 100px;
    }

    .pd1 .bl-sld .item1.j4 .dc .tx div,
    .pd1 .bl-sld .item1.j3 .dc .tx div,
    .pd1 .bl-sld .item1.j2 .dc .tx div{
        width: 100px;
        height: 100px;
        line-height: 110px;
        font-size: 100px;
    }
}

/* -------------------------------------- */


@media only screen and (max-width: 570px) {
    .hide-xs {
        display: none !important;
    }
}

@media only screen and (min-width: 571px) {
    .show-xs {
        display: none !important;
    }
}

.pd2 {
    padding-top: 120px;
}

.notify {
    text-align: center;
    padding: 15px;
}

.validation-msg {
    height: 21px;
    color: red;
}

.dc-poss1 .skip-lnk {
    text-align: right;
    margin-bottom: 15px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

[class^="col-"], [class*=" col-"] {
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
}

.clearfix {
    float: none;
    clear: both;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-pull-12 {
    right: 100%;
}

.col-xs-pull-11 {
    right: 91.66666667%;
}

.col-xs-pull-10 {
    right: 83.33333333%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-8 {
    right: 66.66666667%;
}

.col-xs-pull-7 {
    right: 58.33333333%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-5 {
    right: 41.66666667%;
}

.col-xs-pull-4 {
    right: 33.33333333%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-2 {
    right: 16.66666667%;
}

.col-xs-pull-1 {
    right: 8.33333333%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-push-12 {
    left: 100%;
}

.col-xs-push-11 {
    left: 91.66666667%;
}

.col-xs-push-10 {
    left: 83.33333333%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-8 {
    left: 66.66666667%;
}

.col-xs-push-7 {
    left: 58.33333333%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-5 {
    left: 41.66666667%;
}

.col-xs-push-4 {
    left: 33.33333333%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-2 {
    left: 16.66666667%;
}

.col-xs-push-1 {
    left: 8.33333333%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-0 {
    margin-left: 0%;
}

@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

    .col-sm-pull-12 {
        right: 100%;
    }

    .col-sm-pull-11 {
        right: 91.66666667%;
    }

    .col-sm-pull-10 {
        right: 83.33333333%;
    }

    .col-sm-pull-9 {
        right: 75%;
    }

    .col-sm-pull-8 {
        right: 66.66666667%;
    }

    .col-sm-pull-7 {
        right: 58.33333333%;
    }

    .col-sm-pull-6 {
        right: 50%;
    }

    .col-sm-pull-5 {
        right: 41.66666667%;
    }

    .col-sm-pull-4 {
        right: 33.33333333%;
    }

    .col-sm-pull-3 {
        right: 25%;
    }

    .col-sm-pull-2 {
        right: 16.66666667%;
    }

    .col-sm-pull-1 {
        right: 8.33333333%;
    }

    .col-sm-pull-0 {
        right: auto;
    }

    .col-sm-push-12 {
        left: 100%;
    }

    .col-sm-push-11 {
        left: 91.66666667%;
    }

    .col-sm-push-10 {
        left: 83.33333333%;
    }

    .col-sm-push-9 {
        left: 75%;
    }

    .col-sm-push-8 {
        left: 66.66666667%;
    }

    .col-sm-push-7 {
        left: 58.33333333%;
    }

    .col-sm-push-6 {
        left: 50%;
    }

    .col-sm-push-5 {
        left: 41.66666667%;
    }

    .col-sm-push-4 {
        left: 33.33333333%;
    }

    .col-sm-push-3 {
        left: 25%;
    }

    .col-sm-push-2 {
        left: 16.66666667%;
    }

    .col-sm-push-1 {
        left: 8.33333333%;
    }

    .col-sm-push-0 {
        left: auto;
    }

    .col-sm-offset-12 {
        margin-left: 100%;
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-sm-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    .col-md-pull-12 {
        right: 100%;
    }

    .col-md-pull-11 {
        right: 91.66666667%;
    }

    .col-md-pull-10 {
        right: 83.33333333%;
    }

    .col-md-pull-9 {
        right: 75%;
    }

    .col-md-pull-8 {
        right: 66.66666667%;
    }

    .col-md-pull-7 {
        right: 58.33333333%;
    }

    .col-md-pull-6 {
        right: 50%;
    }

    .col-md-pull-5 {
        right: 41.66666667%;
    }

    .col-md-pull-4 {
        right: 33.33333333%;
    }

    .col-md-pull-3 {
        right: 25%;
    }

    .col-md-pull-2 {
        right: 16.66666667%;
    }

    .col-md-pull-1 {
        right: 8.33333333%;
    }

    .col-md-pull-0 {
        right: auto;
    }

    .col-md-push-12 {
        left: 100%;
    }

    .col-md-push-11 {
        left: 91.66666667%;
    }

    .col-md-push-10 {
        left: 83.33333333%;
    }

    .col-md-push-9 {
        left: 75%;
    }

    .col-md-push-8 {
        left: 66.66666667%;
    }

    .col-md-push-7 {
        left: 58.33333333%;
    }

    .col-md-push-6 {
        left: 50%;
    }

    .col-md-push-5 {
        left: 41.66666667%;
    }

    .col-md-push-4 {
        left: 33.33333333%;
    }

    .col-md-push-3 {
        left: 25%;
    }

    .col-md-push-2 {
        left: 16.66666667%;
    }

    .col-md-push-1 {
        left: 8.33333333%;
    }

    .col-md-push-0 {
        left: auto;
    }

    .col-md-offset-12 {
        margin-left: 100%;
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-md-offset-9 {
        margin-left: 75%;
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-md-offset-6 {
        margin-left: 50%;
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-md-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-11 {
        width: 91.66666667%;
    }

    .col-lg-10 {
        width: 83.33333333%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.66666667%;
    }

    .col-lg-7 {
        width: 58.33333333%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666667%;
    }

    .col-lg-1 {
        width: 8.33333333%;
    }

    .col-lg-pull-12 {
        right: 100%;
    }

    .col-lg-pull-11 {
        right: 91.66666667%;
    }

    .col-lg-pull-10 {
        right: 83.33333333%;
    }

    .col-lg-pull-9 {
        right: 75%;
    }

    .col-lg-pull-8 {
        right: 66.66666667%;
    }

    .col-lg-pull-7 {
        right: 58.33333333%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull-5 {
        right: 41.66666667%;
    }

    .col-lg-pull-4 {
        right: 33.33333333%;
    }

    .col-lg-pull-3 {
        right: 25%;
    }

    .col-lg-pull-2 {
        right: 16.66666667%;
    }

    .col-lg-pull-1 {
        right: 8.33333333%;
    }

    .col-lg-pull-0 {
        right: auto;
    }

    .col-lg-push-12 {
        left: 100%;
    }

    .col-lg-push-11 {
        left: 91.66666667%;
    }

    .col-lg-push-10 {
        left: 83.33333333%;
    }

    .col-lg-push-9 {
        left: 75%;
    }

    .col-lg-push-8 {
        left: 66.66666667%;
    }

    .col-lg-push-7 {
        left: 58.33333333%;
    }

    .col-lg-push-6 {
        left: 50%;
    }

    .col-lg-push-5 {
        left: 41.66666667%;
    }

    .col-lg-push-4 {
        left: 33.33333333%;
    }

    .col-lg-push-3 {
        left: 25%;
    }

    .col-lg-push-2 {
        left: 16.66666667%;
    }

    .col-lg-push-1 {
        left: 8.33333333%;
    }

    .col-lg-push-0 {
        left: auto;
    }

    .col-lg-offset-12 {
        margin-left: 100%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-lg-offset-0 {
        margin-left: 0%;
    }
}

.datePicker {
    width: 100% !important;
}

.datePicker .ui-kit-calendar-input {
    width: 100% !important;
    display: inline-block !important;
    background-color: #fbfbfb !important;
    border: 1px solid rgba(150, 150, 150, 0.11) !important;
    border-radius: 9px !important;
    line-height: 48px !important;
    height: 48px !important;
    margin-bottom: 0px;
}

.datePicker .ui-kit-calendar-input span {
    float: left !important;
    padding-left: 25px !important;
    font-family: Montserrat !important;
    color: #6d7a7d !important;
    font-size: 12px !important;
    font-weight: normal !important;
    letter-spacing: 3px !important;
}

.datePicker .ui-kit-calendar-input i {
    float: right !important;
    width: 20px !important;
    height: 19px !important;
    margin: 15px !important;
    background-image: url("/assets/img/elements/calendar.svg") !important;
}

.datePicker .ui-kit-calendar-cal-container {
    border: 1px solid rgba(150, 150, 150, 0.11) !important;
    background-color: white !important;
    padding: 25px 47px 40px !important;
    top: -340px !important;
    left: 30px !important;
    border-radius: 14px !important;
    box-shadow: 0 0 27px #a8b5b8;
}

.datePicker .ui-kit-calendar-container .ui-kit-calendar-cal-container:after {
    display: none !important;
}

.ui-kit-calendar-container .ui-kit-calendar-input span {
    text-transform: uppercase !important;
    color: #6d7a7d;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 3px;
}

.datePicker .ui-kit-calendar-cal-container .ui-kit-calendar-cal-top span {
    color: #303739 !important;
    font-family: Montserrat !important;
    font-weight: 500 !important;
}

.datePicker .ui-kit-calendar-cal-container .ui-kit-calendar-cal-top .ion-arrow-left-b {
    background-image: url("/assets/img/elements/black_btn_arrow_mobile.svg") !important;
    transform: rotate(180deg) !important;
    width: 13px !important;
    height: 22px !important;
    margin: 10px !important;
    box-sizing: border-box !important;
}

.datePicker .ui-kit-calendar-cal-container .ui-kit-calendar-cal-top .ion-arrow-right-b {
    background-image: url("/assets/img/elements/black_btn_arrow_mobile.svg") !important;
    width: 13px !important;
    height: 22px !important;
    margin: 10px !important;
    box-sizing: border-box !important;
}

.datePicker .ui-kit-calendar-cal-container .ui-kit-calendar-day-names {
    background-color: white !important;
}

.datePicker .ui-kit-calendar-cal-container .ui-kit-calendar-day-names span {
    color: #f10733 !important;
    font-weight: 600 !important;
    font-size: 14px !important;
}

.datePicker .ui-kit-calendar-cal-container .ui-kit-calendar-days span {
    color: #303739 !important;
    font-family: Montserrat !important;
    border-radius: 45% !important;
}

.datePicker .ui-kit-calendar-cal-container .ui-kit-calendar-days span.today {
    border: 0 !important;
}

.datePicker .ui-kit-calendar-cal-container .ui-kit-calendar-days span.is-active {
    background-color: #f10733 !important;
    color: white !important;
}

@media only screen and (max-width: 500px) {
    .datePicker {
        width: 100% !important;
    }

    .datePicker .ui-kit-calendar-cal-container {
        width: 95% !important;
        padding: 10px !important;
        left: 0px !important;
    }

    .datePicker .ui-kit-calendar-cal-container .ui-kit-calendar-cal-top span {
        width: 75% !important;
    }

}

@media only screen and (max-width: 860px) {
    .col-sm-12 {
        width: 100%;
    }
}

.pull-right {
    float: right;
}

.no-padding {
    padding: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

.hidden-lg {
    display: none;
}

.hidden-sm {
    display: block;
}

@media only screen and (max-width: 860px) {
    .col-sm-12 {
        width: 100%;
    }
}

.gotham {
    font-family: 'Montserrat', sans-serif;
}

.gotham-alt {
    font-family: 'Montserrat', sans-serif;
}


.btn-block {
    width: 100%;
}

.btn-block + .btn-block {
    margin-top: 10px;
    margin-bottom: 10px;
}

a.btn, button.btn {
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    box-sizing: border-box;
    margin: auto;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    overflow: hidden;
    line-height: 51px;
    width: 100%;
    max-width: 350px;
    height: 51px;
    letter-spacing: 1px;
    text-align: center;
}

a.btn-red, button.btn-red {
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    box-sizing: border-box;
    margin: auto;
    background-color: #f10733;
    letter-spacing: 1px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    color: white;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    overflow: hidden;
    line-height: 51px;
    width: 100%;
    max-width: 350px;
    height: 51px;
    text-align: center;
}

a.btn-red.btn-red-arrow, button.btn-red.btn-red-arrow {
    text-indent: -10px;
}

html.nontouch a.btn-red:hover, html.nontouch button.btn-red:hover {
    cursor: pointer;
    background: #FF2B53;
}

button.btn-red.non {
    background-color: #5B6367;
    color: rgba(255, 255, 255, 0.19);
    cursor: default;
}

button.btn-red.non:before {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIGhlaWdodD0iMTMiIHdpZHRoPSIxOCIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDE4IDEzIj4gICAgPHBhdGggZmlsbD0iIzMzMyIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNIDEyLjEyIDAuMTkgQyAxMS44OCAtMC4wNiAxMS40NyAtMC4wNiAxMS4yMSAwLjE5IEMgMTAuOTcgMC40NCAxMC45NyAwLjg0IDExLjIxIDEuMDkgTCAxNS44MSA1LjY5IEwgMC42NCA1LjY5IEMgMC4yOCA1LjY5IDAgNS45NyAwIDYuMzIgQyAwIDYuNjggMC4yOCA2Ljk3IDAuNjQgNi45NyBMIDE1LjgxIDYuOTcgTCAxMS4yMSAxMS41NiBDIDEwLjk3IDExLjgxIDEwLjk3IDEyLjIyIDExLjIxIDEyLjQ3IEMgMTEuNDcgMTIuNzIgMTEuODggMTIuNzIgMTIuMTIgMTIuNDcgTCAxNy44MSA2Ljc4IEMgMTguMDYgNi41MyAxOC4wNiA2LjEyIDE3LjgxIDUuODggTCAxMi4xMiAwLjE5IEwgMTIuMTIgMC4xOSBaIE0gMTIuMTIgMC4xOSIgLz48L3N2Zz4=);
}

html.nontouch button.btn-red.non:hover {
    background-color: #5B6367;
    color: rgba(255, 255, 255, 0.19);
    cursor: default;
}

html.nontouch button.btn-red.non:before:hover {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIGhlaWdodD0iMTMiIHdpZHRoPSIxOCIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDE4IDEzIj4gICAgPHBhdGggZmlsbD0iIzMzMyIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNIDEyLjEyIDAuMTkgQyAxMS44OCAtMC4wNiAxMS40NyAtMC4wNiAxMS4yMSAwLjE5IEMgMTAuOTcgMC40NCAxMC45NyAwLjg0IDExLjIxIDEuMDkgTCAxNS44MSA1LjY5IEwgMC42NCA1LjY5IEMgMC4yOCA1LjY5IDAgNS45NyAwIDYuMzIgQyAwIDYuNjggMC4yOCA2Ljk3IDAuNjQgNi45NyBMIDE1LjgxIDYuOTcgTCAxMS4yMSAxMS41NiBDIDEwLjk3IDExLjgxIDEwLjk3IDEyLjIyIDExLjIxIDEyLjQ3IEMgMTEuNDcgMTIuNzIgMTEuODggMTIuNzIgMTIuMTIgMTIuNDcgTCAxNy44MSA2Ljc4IEMgMTguMDYgNi41MyAxOC4wNiA2LjEyIDE3LjgxIDUuODggTCAxMi4xMiAwLjE5IEwgMTIuMTIgMC4xOSBaIE0gMTIuMTIgMC4xOSIgLz48L3N2Zz4=);
}

a.btn-fb, button.btn-fb {
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    box-sizing: border-box;
    margin: auto;
    background-color: #3a5998;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    color: white;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 0.8px;
    overflow: hidden;
    line-height: 51px;
    width: 100%;
    max-width: 350px;
    height: 51px;
    text-align: center;
}

.btn-fb:after {
    position: absolute;
    left: 20px;
    top: 0;
    display: block;
    content: " ";
    width: 50px;
    height: 100%;
    background: url("/assets/img/elements/facebook.svg");
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
}

a.btn-white, button.btn-white {
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    box-sizing: border-box;
    margin: auto;
    background-color: #fff;
    -webkit-border-radius: 9px;
    letter-spacing: 1px;
    border-radius: 9px;
    color: #6d7a7d;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    overflow: hidden;
    line-height: 51px;
    width: 100%;
    max-width: 350px;
    height: 51px;
    text-align: center;
    border: 1px solid #a8b5b8;
}

.btn.disabled {
    opacity: 0.5;
}

.btn.btn-red-text {
    color: #f10733;
}

.btn.btn-with-arrow:after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    content: " ";
    width: 35px;
    height: 100%;
    background: url("/assets/img/elements/after-element.svg");
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-red-text.btn-with-arrow:after {
    top: -1px;
    background-image: url("/assets/img/elements/red-arr.svg");
}

.btn.btn-with-eye:after {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    content: " ";
    width: 50px;
    height: 100%;
    background: url("/assets/img/personalise/eye.svg");
    background-position: center;
    background-repeat: no-repeat;
}

a.btn-white.btn-white-arrow, button.btn-white.btn-white-arrow {
    text-indent: -10px;
}

a.btn-white-arrow:after, button.btn-white-arrow:after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    content: " ";
    width: 50px;
    height: 100%;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIGhlaWdodD0iMTMiIHdpZHRoPSIxOCIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDE4IDEzIj4gICAgPHBhdGggZmlsbD0iIzMzMyIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNIDEyLjEyIDAuMTkgQyAxMS44OCAtMC4wNiAxMS40NyAtMC4wNiAxMS4yMSAwLjE5IEMgMTAuOTcgMC40NCAxMC45NyAwLjg0IDExLjIxIDEuMDkgTCAxNS44MSA1LjY5IEwgMC42NCA1LjY5IEMgMC4yOCA1LjY5IDAgNS45NyAwIDYuMzIgQyAwIDYuNjggMC4yOCA2Ljk3IDAuNjQgNi45NyBMIDE1LjgxIDYuOTcgTCAxMS4yMSAxMS41NiBDIDEwLjk3IDExLjgxIDEwLjk3IDEyLjIyIDExLjIxIDEyLjQ3IEMgMTEuNDcgMTIuNzIgMTEuODggMTIuNzIgMTIuMTIgMTIuNDcgTCAxNy44MSA2Ljc4IEMgMTguMDYgNi41MyAxOC4wNiA2LjEyIDE3LjgxIDUuODggTCAxMi4xMiAwLjE5IEwgMTIuMTIgMC4xOSBaIE0gMTIuMTIgMC4xOSIgLz48L3N2Zz4=);
    background-position: center;
    background-repeat: no-repeat;
}

a.btn-gray, button.btn-gray {
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    box-sizing: border-box;
    margin: auto;
    background-color: #a8b5b8;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    letter-spacing: 1px;
    color: white;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    overflow: hidden;
    line-height: 51px;
    width: 100%;
    max-width: 350px;
    height: 51px;
    text-align: center;
}

html.nontouch a.btn-gray:hover, html.nontouch button.btn-gray:hover {
    cursor: pointer;
    background: #f10733;
    color: white;
}

a.btn-green, button.btn-green {
    background-color: #8cbf53;
    color: white;
}

html.nontouch a.btn-green:hover, html.nontouch button.btn-green:hover {
    cursor: pointer;
    background: #7AA948;
    color: white;
}

a.btn-yellow, button.btn-yellow {
    background-color: #f5a623;
    color: white;
}

html.nontouch a.btn-yellow:hover, html.nontouch button.btn-yellow:hover {
    cursor: pointer;
    background: #F58F23;
    color: white;
}

a.muted-link {
    color: #6d7a7d;
    text-decoration: underline;
    display: block;
    width: auto;
    text-transform: uppercase;
    text-align: center;
    margin: 22px 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: "Montserrat";
}

@media only screen and (max-width: 435px) {
    .btn-red {
        width: 300px;
        font-size: 10px;
    }
}

a.btn-red-arrow:after, button.btn-red-arrow:after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    content: " ";
    width: 50px;
    height: 100%;
    background: url("/assets/img/personalise/arrow-left.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.black-form input[type=text], .black-form input[type=email] {
    box-sizing: border-box;
    height: 48px;
    display: block;
    background: none;
    border: none;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #6D7A7D;
    background-color: #FBFBFB;
    border-radius: 9px;
    padding-left: 22px;
    margin-bottom: 25px;
}

.black-form textarea {
    box-sizing: border-box;
    height: 100px;
    display: block;
    background: none;
    border: none;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #6D7A7D;
    background-color: #FBFBFB;
    border-radius: 9px;
    padding: 22px;
    margin-bottom: 25px;
}

.skip-link {
    text-align: center;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #a8b5b8;
    text-decoration: underline;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.skip-link a {
    cursor: pointer;
}

h1 {
    /* ITEM TITLE: */
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 22px;
    color: #303739;
    letter-spacing: 3.7px;
    line-height: 39px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

@media only screen and (max-width: 703px) {
    h1 {
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 2px;
    }
}

/*---------------------------ORDER-SUMMARY-----------------------------*/

.order-summary {
    float: none;
    width: auto;
    max-width: 500px;
    margin: auto auto 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #f0f0f0;
    border-radius: 12px;
    box-sizing: border-box;
}


/*---------------------------ORDER-SUMMARY-END-----------------------------*/

.instagram {
    position: absolute;
    bottom: 42px;
    left: 0;
    right: 0;
    height: 240px;
    background-color: #fff;
}

@media only screen and (max-width: 703px) {
    .instagram {
        bottom: 0;
    }
}

.wizard-mood .bg-p.img1 {
    background-image: url('/assets/img/wizard/mood/fresh.jpg');
}

.wizard-mood .bg-p.img2 {
    background-image: url('/assets/img/wizard/mood/sexy.jpg');
}

.wizard-mood .bg-p.img3 {
    background-image: url('/assets/img/wizard/mood/elegant.jpg');
}

.wizard-mood .bg-p.img4 {
    background-image: url('/assets/img/wizard/mood/relaxed.jpg');
}

@media only screen and (max-width: 1024px) {
    .wizard-mood .bg-p.img1 {
        background-image: url('/assets/img/wizard/mood/fresh-mobile.jpg');
    }

    .wizard-mood .bg-p.img2 {
        background-image: url('/assets/img/wizard/mood/sexy-mobile.jpg');
    }

    .wizard-mood .bg-p.img3 {
        background-image: url('/assets/img/wizard/mood/elegant-mobile.jpg');
    }

    .wizard-mood .bg-p.img4 {
        background-image: url('/assets/img/wizard/mood/relaxed-mobile.jpg');
    }
}

.wizard-waft .bg-p.img1 {
    background-image: url('/assets/img/wizard/waft/subtle.jpg');
}

.wizard-waft .bg-p.img2 {
    background-image: url('/assets/img/wizard/waft/balanced.jpg');
}

.wizard-waft .bg-p.img3 {
    background-image: url('/assets/img/wizard/waft/daring.jpg');
}

@media only screen and (max-width: 1024px) {
    .wizard-waft .bg-p.img1 {
        background-image: url('/assets/img/wizard/waft/subtle-mobile.jpg');
    }

    .wizard-waft .bg-p.img2 {
        background-image: url('/assets/img/wizard/waft/balanced-mobile.jpg');
    }

    .wizard-waft .bg-p.img3 {
        background-image: url('/assets/img/wizard/waft/daring-mobile.jpg');
    }
}

.wizard-activity .bg-p.img1 {
    background-image: url('/assets/img/wizard/activity/sport.jpg');
}

.wizard-activity .bg-p.img2 {
    background-image: url('/assets/img/wizard/activity/social.jpg');
}

.wizard-activity .bg-p.img3 {
    background-image: url('/assets/img/wizard/activity/work.jpg');
}

.wizard-activity .bg-p.img4 {
    background-image: url('/assets/img/wizard/activity/dating.jpg');
}

@media only screen and (max-width: 1024px) {
    .wizard-activity .bg-p.img1 {
        background-image: url('/assets/img/wizard/activity/sport-mobile.jpg');
    }

    .wizard-activity .bg-p.img2 {
        background-image: url('/assets/img/wizard/activity/social-mobile.jpg');
    }

    .wizard-activity .bg-p.img3 {
        background-image: url('/assets/img/wizard/activity/work-mobile.jpg');
    }

    .wizard-activity .bg-p.img4 {
        background-image: url('/assets/img/wizard/activity/dating-mobile.jpg');
    }
}

.email-setup .preview .bgItem {
    background-repeat: repeat-x;
    background-image: url(/assets/img/gift/emailSetup/email-bg.jpg);
}

@media only screen and (max-width: 1020px) {
    .email-setup .preview .bgItem {
        border-radius: 0;
        background: url(/assets/img/gift/emailSetup/email-bg2.jpg) repeat-x;
    }
}

.email-setup .preview > table:before {
    width: 60%;
    height: 1000px;
    position: absolute;
    top: 570px;
    left: -50px;
    background: #fff url(/assets/img/gift/emailSetup/left-sh.jpg) repeat-y;
    content: " ";
}

.email-setup .preview > table:after {
    width: 60%;
    height: 1000px;
    position: absolute;
    top: 570px;
    right: -10px;
    background: #fff url(/assets/img/gift/emailSetup/right-sh.jpg) repeat-y right;
    content: " ";
}

.gift-section {
    button.gift {
        background-image: url(/assets/img/wizard_checkout/gift-gray.svg);
        background-repeat: no-repeat;
        background-position: 15px center;
    }

    button.no-gift {
        margin-right: 5%;
        background-image: url(/assets/img/wizard_checkout/bag-gray.svg);
        background-repeat: no-repeat;
        background-position: 15px center;
    }

    button.gift.active {
        background-image: url(/assets/img/wizard_checkout/gift-white.svg);
        background-color: #F10733 !important;
    }

    button.no-gift.active {
        background-image: url(/assets/img/wizard_checkout/bag-white.svg);
        background-color: #F10733 !important;
    }
}

@import "hover";