<div class="fragrances-page">
    <div class="row">
        <div class="col-md-12">
            <h2>FRAGRANCES</h2>
        </div>
    </div>
    <div class="row upload" ng-hide="getAccessLevel()=='readonly'">
        <div class="col-sm-2">
            <div class="btn-group form-group"  uib-dropdown>
                <button type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                    <span class="selected-text">{{'Download'}} </span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="status">
                    <li><a href="/api/admin/fragrances/download/allocated?format=csv">Allocated</a></li>
                    <li><a href="/api/admin/fragrances/download/unallocated?format=csv">Unallocated</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8">
            <input class="btn btn-default" type="file" file-model="newFile" id="newFile"/>
            <button class="btn btn-default" ng-click="uploadFile()">Upload</button>
        </div>
        <div class="col-sm-2" style="text-align: right">
            <div class="btn-group form-group hover">
                <input type="text" class="form-control" placeholder="Search" ng-change="search()" ng-model="term">
                <div class="tooltip">
                    <b>Example: </b><br>
                    &lt;name&gt;<br>
                </div>
            </div>
        </div>
    </div>
    <div class="row error-message">
        <span>{{message}}</span>
    </div>
    <div class="row" ng-hide="details == ''">
        <pre>{{details}}</pre>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ui-grid="gridOptions" ui-grid-pagination class="grid" style="height:300px"></div>
        </div>
    </div>
    <div ng-if="fragrance" class="fragrance-info">
        <div class="baseInfo">
            <div class="row error-message">
                <span>{{message}}</span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5>DETAILS</h5>
                    <table class="table table-bordered table-form">
                        <tr>
                            <td>ID</td>
                            <td>{{fragrance._id}}</td>
                        </tr>
                        <tr>
                            <td>BRAND</td>
                            <td>{{fragrance.brand}}</td>
                        </tr>
                        <tr>
                            <td>NAME</td>
                            <td>{{fragrance.name}}</td>
                        </tr>
                        <tr>
                            <td>DESCRIPTION</td>
                            <td>{{fragrance.description}}</td>
                        </tr>
                        <tr>
                            <td>MAIN</td>
                            <td>{{fragrance.scents.main.join('-')}}</td>
                        </tr>
                        <tr>
                            <td>UNISEX WOMEN</td>
                            <td>{{fragrance.scents.unisexwomen.join('-')}}</td>
                        </tr>
                        <tr>
                            <td>UNISEX MEN</td>
                            <td>{{fragrance.scents.unisexmen.join('-')}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" ng-if="journeys.length!==0">
                    <h5>JOURNEYS</h5>
                    <table class="table table-bordered table-form">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>DATE</th>
                            <th>ANSWERS</th>
                            <th>ALLOCATIONS</th>
                        </tr>
                        <thead>
                        <tbody>
                        <tr ng-repeat="journey in journeys">
                            <td>{{journey._id}}</td>
                            <td>{{journey.createdAt | date: 'yyyy-MM-dd HH:mm'}}</td>
                            <td>{{getJourneyDesc(journey)}}</td>
                            <td>{{journey.scents.main.code}}-{{journey.scents.add1.scent.code}}-{{journey.scents.add2.scent.code}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
