<div class="row">
    <div class="col-md-12 admin-login">
        <form class="frm1" name="loginForm" ng-submit="login.login()">
            <p class="text-danger" ng-bind="login.message"></p>
            <div class="t1">LOGIN</div>
            <div class="t2"></div>
            <input type="email" placeholder="USERNAME" name="username" ng-model="login.loginData.username">
            <input type="password" placeholder="PASSWORD" name="password" ng-model="login.loginData.password">
            <button type="submit" class="sub1">LOGIN</button>
        </form>
    </div>
</div>

