<label (click)="selectIngredient(ingredient)" [ngClass]="{'ac':ingredient.isSelect}">
<input type="checkbox" name="ch1">
<span class="ft-img">
	<img [cdn-src]="ingredient.imageUrl">
</span>
<span class="name">{{ingredient.name|uppercase}}</span>
</label>