<waft-header
    stepName="Mood"
    stepDescription="Scent has the power to create and transform your mood. A single aroma has the ability to instantly transport you to another time and place, or flood your body and brain powerful feelings and emotions. Which mood should your fragrance convey?">
</waft-header>
<div class="pd1 j2 wizard-mood">
    <div class="bl-sld">
      <div class="item1 j4 four">
        <div class="bg-p img1"></div>
        <div class="ov1">
          <div class="dc">
            <div class="tx">
              <table>
                <tr>
                  <td><i>FRESH</i></td>
                </tr>
              </table>
              <div><b><span>1</span></b></div>
            </div>
            <div class="t1">FRESH</div>
            <p>Energised and clean</p>
            <p class="small">empowered with a zest for life</p>
          </div>
        </div>
        <a class="lnk1" (click)="toNextStep('fresh')"></a>
      </div>
      <div class="item1 j4 four">
        <div class="bg-p img2"></div>
        <div class="ov1">
          <div class="dc">
            <div class="tx">
              <table>
                <tr>
                  <td><i>SEXY</i></td>
                </tr>
              </table>
              <div><b><span>2</span></b></div>
            </div>
            <div class="t1">SEXY</div>
            <p>Tempting, playful and alluring</p>
            <p class="small">you hold the power and own it</p>
          </div>
        </div>
        <a class="lnk1" (click)="toNextStep('sexy')"></a>
      </div>
      <div class="item1 j4 four">
        <div class="bg-p img3"></div>
        <div class="ov1">
          <div class="dc">
            <div class="tx">
              <table>
                <tr>
                  <td><i>ELEGANT</i></td>
                </tr>
              </table>
              <div><b><span>3</span></b></div>
            </div>
            <div class="t1">ELEGANT</div>
            <p>Classy, refined and poised</p>
            <p class="small">the embodiment of grace</p>
          </div>
        </div>
        <a class="lnk1" (click)="toNextStep('elegant')"></a>
      </div>
      <div class="item1 j4 four">
        <div class="bg-p img4"></div>
        <div class="ov1">
          <div class="dc">
            <div class="tx">
              <table>
                <tr>
                  <td><i>RELAXED</i></td>
                </tr>
              </table>
              <div><b><span>4</span></b></div>
            </div>
            <div class="t1">RELAXED</div>
            <p>Smelling the fresh lavender from the<br/>country house porch</p>
            <p class="small">you are serenely carefree</p>
          </div>
        </div>
        <a class="lnk1" (click)="toNextStep('relaxed')"></a>
      </div>
    </div>
</div>
<waft-timeline [step]="3"></waft-timeline>
