<div class="country-sel">
    <select [attr.disabled]="!this.allowCountryChange? true:null"
            name="country" required [ngModel]="address.country"
            (change)="selectCountry($event.target.value)" #country="ngModel">
        <option value="" disabled selected>COUNTRY</option>
        <option *ngFor="let country of countries" [value]="country.country">
            {{country.country}}
        </option>
    </select>
    <div *ngIf="country.errors && (country.touched || showErrors)">
        <label [hidden]="!country.errors['required']" class="error">Country is required</label>
    </div>
</div>