<div class="timeline">
    <div class="ct">
        <ul>
            <li [ngClass]="{'passed':step > 2}">
                <a [ngClass]="{'highlight':step == 0, 'passed':step > 0}"><span>TYPE</span></a>
                <div>
                    <a class="internal" [ngClass]="{'highlight':step == 2, 'passed':step > 2}"></a>
                    <a class="internal" [ngClass]="{'highlight':step == 1, 'passed':step > 1}"></a>
                </div>
            </li>
            <li [ngClass]="{'passed':step > 4}">
                <a [ngClass]="{'highlight':step == 3, 'passed':step >= 3}"><span>MOOD</span></a>
                <div>
                    <a class="internal" [ngClass]="{'highlight':step == 4,'passed':step > 4}"></a>
                </div>
            </li>
            <li [ngClass]="{'passed':step > 5}">
                <a [ngClass]="{'highlight':step == 5, 'passed':step > 5}"><span>WAFT</span></a></li>
            <li [ngClass]="{'passed':step > 6}">
                <a [ngClass]="{'highlight':step == 6, 'passed':step > 6}"><span>INGREDIENTS</span></a>
            </li>
            <li [ngClass]="{'passed':step > 7}">
                <a [ngClass]="{'highlight':step == 7, 'passed':step > 7}"><span>FINISH</span></a>
            </li>
        </ul>
    </div>
</div>
