.timeline {
    position: absolute;
    bottom: 42px;
    left: 0;
    right: 0;
    height: 80px;
    border-top: 1px solid rgba(105, 105, 105, 0.17);
    background-color: #fff;
}

@media only screen and (max-width: 703px) {
    .timeline {
        display: none;
    }
}

.timeline ul {
    margin: 0 0 0 122px;
    display: block;
    *zoom: 1;
    position: relative;
    top: 45px;
    width: 92%;
}

.timeline ul:after {
    content: " ";
    display: table;
    clear: both;
}

@media only screen and (max-width: 955px) {
    .timeline ul {
        margin-left: 100px;
    }
}

@media only screen and (max-width: 828px) {
    .timeline ul {
        margin-left: 80px;
    }
}

.timeline li {
    float: left;
    width: 20%;
    position: relative;
    height: 11px;
}

.timeline li:before,.timeline li.passed:before {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    height: 2px;
    background: #2d2f2f;
    display: block;
    content: '';
}

.timeline li.passed:before {
    background: #f10733;
}

.timeline li:last-child:before {
    display: none;
}

.timeline li div {
    position: absolute;
    top: -40px;
    bottom: -40px;
    left: 0;
    right: 0;
    overflow: hidden;
    padding-top: 40px;
}

.timeline li a {
    display: block;
    width: 11px;
    height: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #a8b5b8;
    z-index: 2;
}

.timeline li a.internal.passed:before, .timeline li a.internal.highlight:before {
    position: absolute;
    top: 5px;
    width: 300px;
    right: 50%;
    height: 2px;
    background: #d0021b;
    display: block;
    content: '';
    z-index: 0;
}

.timeline li a:before:not(.passed) {
    display: none;
}

.timeline li a.passed:not(.internal), .timeline li a.internal.passed:after {
    background-color: #f10733;
    border: 1px solid #f10733;
}

.timeline a.highlight:not(.internal), .timeline li a.internal.highlight:after {
    background-color: #f10733;
    box-shadow: 0 0 20px #FF0635;
    border: 1px solid #f10733;
}

.timeline li a span {
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -50px;
    color: #a8b5b8;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2.6px;
    line-height: 12px;
    width: 100px;
    display: block;
}

.timeline li a.highlight span {
    color: #f10733;
}

.timeline li a.internal {
    position: relative;
    width: 25%;
    float: right;
    background: none;
    left: -20%;
    z-index: 1;
}

.timeline li a.internal:after {
    width: 7px;
    height: 7px;
    background-color: #161819;
    border: 1px solid #979797;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    position: absolute;
    top: 2px;
    left: 50%;
    margin-left: -4px;
    display: block;
    content: '';
}
