<waft-header
    stepName="Customise"
    stepDescription="Waft enables you to capture the essence of your favourite moods and emotions in a bottle. Here, you can customise the label and express the way your unique fragrance makes you feel.">
</waft-header>
<div class="pd1 j3">
    <div class="prod-change-ch1">
        <div class="ll">
            <bottle-preview [style]="selectedStyle.style" [name]="wizard.order.journey.customBottle.name"
                            [message]="wizard.order.journey.customBottle.message" [initials]="wizard.order.journey.customBottle.initials">
            </bottle-preview>
        </div>
        <div class="rr">
            <h1>THE FRAGRANCE NAME AND MESSAGE WILL BE ENGRAVED ON THE BOTTLE</h1>
            <div class="input-block">
                <span>
                    <custom-input [max-length]="10" [place-holder]="'NAME YOUR FRAGRANCE'"
                                  [(ngModel)]="wizard.order.journey.customBottle.name"></custom-input>
                </span>
            </div>
            <div class="input-block">
                <span>
                    <custom-input [max-length]="3" [place-holder]="'INITIALS'" [ngStyle]="initialsStyle"
                                  [(ngModel)]="wizard.order.journey.customBottle.initials"></custom-input>
                </span>
            </div>
            <custom-text-area [max-length]="40" [place-holder]="'ENTER YOUR MESSAGE'"
                              [(ngModel)]="wizard.order.journey.customBottle.message"></custom-text-area>
            <div class="bottle-style-sel">
                <div class="curr preview {{selectedStyle.style}}" (click)="showStyles()"><span>Style: {{selectedStyle.name}}</span>
                </div>
                <div *ngIf="isStyleSelection" class="drop">
                    <ul>
                        <li *ngFor="let style of styles" (click)="selectStyle(style)" class="preview {{style.style}}">
                            <label><input type="radio" name="r1"><span>{{style.name}}</span></label>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="btn-red btn-red-arrow preview-btn" [ngClass]="{'non': wizard.order.journey.customBottle.name==''}"
                    (click)="togglePreview()">PREVIEW PERSONALISATION
            </button>
            <button class="btn-red btn-red-arrow continue-btn" [ngClass]="{'non': wizard.order.journey.customBottle.name==''}"
                    (click)="clickContinue()">CONTINUE
            </button>
            <a class="muted-link" (click)="skip()">CONTINUE WITHOUT CUSTOMISING</a>
        </div>
    </div>
</div>

<div *ngIf="showPreview" class="preview-bottle">
    <a class="close" (click)="togglePreview()">
        <img cdn-src="/assets/img/close.svg"/>
    </a>
    <bottle-preview [style]="selectedStyle.style" [name]="wizard.order.journey.customBottle.name"
                    [message]="wizard.order.journey.customBottle.message"
                    [initials]="wizard.order.journey.customBottle.initials"
                    [mobile]="true">
    </bottle-preview>
    <button class="btn-red btn-red-arrow" (click)="clickContinue()">CONTINUE</button>
    <a class="muted-link" (click)="togglePreview()">Go back</a>
</div>

<div class="font-preload" style="opacity: 0"><span class="handwritten"></span></div>

<waft-lab-loader *ngIf="showLoader" (complete)="toNextStep()"></waft-lab-loader>
