.pd1 {
    padding: 162px 0 42px 0;
    position: relative;
}

.prod-change-ch1 {
    height: 700px;
    .ll {
        float: left;
        width: 50%;
        position: relative;
        text-align: center;
    }
    .rr {
        float: right;
        width: 50%;
        padding-right: 50px;
        padding-left: 50px;
        position: relative;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 910px) {
    .pd1 {
        padding-bottom: 100px;
    }

    .prod-change-ch1 {
        height: auto;
        padding: 5px 0 0 0;
        .ll {
            margin: auto;
            float: none;
        }
        .rr {
            float: none;
            width: auto;
            margin-right: 0;
            padding: 0 10px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .prod-change-ch1 .ll {
        display: none;
    }

    .continue-btn {
        display: none;
    }
}

@media only screen and (min-width: 501px) {
    .preview-btn {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .pd1.j3 {
        padding-bottom: 100px;
    }

}
