<header id="header" [class.mobile-menuopen]="mobileMenuOpen">
    <div class="ct">
        <div class="mobile-menu" *ngIf="(type != 'wizard') || (page == 'thank-you') || (page == 'landing')"
             (click)="mobileMenuOpen = !mobileMenuOpen">
            <span></span>
        </div>
        <div class="ll">
            <a href="/">
                <img class="logo" *ngIf="type == 'wizard'" cdn-src="/assets/img/logo/waftlab.png">
                <img class="logo" *ngIf="type == 'profile'" cdn-src="/assets/img/logo/waft.png">
                <img class="logo" *ngIf="type == 'gift'" cdn-src="/assets/img/logo/waftgift.png">
            </a>
        </div>
        <div class="main-menu" *ngIf="(type != 'wizard') || (page == 'thank-you') || (page == 'landing')">
            <ul>
                <li *ngIf="(type == 'profile') || (page == 'thank-you')"><a routerLink="/app/wizard/type">NEW FRAGRANCE</a></li>
                <!--<li *ngIf="(type == 'profile') || (page == 'thank-you')"><a href="/gift">NEW GIFT</a></li>-->
                <!--<li *ngIf="page == 'landing'"><a href="/gift">GIFTS</a></li>-->
                <!--<li [class.hidden-lg]="(type == 'profile') || (page == 'thank-you') || (type == 'gift')"><a href="/corporate">CORPORATE GIFTS</a></li>-->
                <li [class.hidden-lg]="(type == 'profile') || (page == 'thank-you')"><a href="/about">ABOUT US</a></li>
                <li [class.hidden-lg]="(type == 'profile') || (page == 'thank-you')"><a href="/quality">QUALITY</a></li>
                <li><a href="https://blog.waft.com/">BLOG</a></li>
                <li [class.hidden-lg]="page != 'thank-you'"><a href="/referral-program">REFERRAL PROGRAM</a></li>
                <li><a href="https://support.waft.com/hc/en-us/categories/204541687-FAQ">FAQ</a></li>
                <li><a href="https://support.waft.com/hc/en-us/requests/new">CONTACT US</a></li>
                <li class="hidden-lg"><a routerLink="/app/profile">{{auth.isAuth()?'MY PROFILE':'SIGN IN'}}</a></li>
                <li class="hidden-lg" *ngIf="auth.isAuth()"><a (click)="logout()">LOGOUT</a></li>
            </ul>
        </div>
        <div class="rr">
            <a class="profile" routerLink="/app/profile"
               *ngIf="this.auth.isAuth() && (type != 'profile') && (page != 'the-new-you')">
                <img class="user-icon" cdn-src="/assets/img/user.png" alt="{{this.auth.session.currentUser.email}}"
                     title="{{this.auth.session.currentUser.email}}">
            </a>
            <a class="logout" *ngIf="this.auth.isAuth() && (type == 'profile')" (click)="logout()">
                LOGOUT
            </a>
            <a *ngIf="page == 'the-new-you'" class="buynow btn btn-red" (click)="wizard.buyFragrance('big')" [ngClass]="{'kiosk-mode': wizard.isKioskModeEnabled}">
                BUY
            </a>
            <span *ngIf="(page == 'the-new-you') && scentCode" class="scent-code">{{scentCode}}</span>
        </div>
    </div>
</header>
<div class="navbar" *ngIf="(type == 'wizard') && stepName">
    <div class="ct">
        <a *ngIf="(type == 'wizard') && showBack" (click)="wizard.back()" class="back"></a>
        <a *ngIf="(type == 'profile') && showBack" routerLink="/app/profile" class="back"></a>
        <div class="ll" [class.border]="showBack">
            <div>{{stepName}}</div>
        </div>
        <div class="rr">
            <span class="hide-xs">{{stepDescription}}</span>
        </div>
    </div>
</div>
<div class="profile-backbar" *ngIf="(type == 'profile') && showBack">
    <div class="ct">
        <a routerLink="/app/profile" class="back">Profile</a> &gt; {{stepName}}
    </div>
</div>
