<waft-header
        stepName="Is the fragrance..." [showBack]="false">
</waft-header>
<div class="pd1 j2">
    <div class="bl-sld">
        <div class="item1 j2">
            <div class="bg-p" cdn-bg-src="/assets/img/wizard/orderType/for_me.jpg" style="background-position: bottom;"></div>
            <div class="ov1">
                <div class="dc">
                    <div class="tx">
                        <table>
                            <tr>
                                <td><i>YOU</i></td>
                            </tr>
                        </table>
                        <div><b><span>1</span></b></div>
                    </div>
                    <div class="t1">FOR YOU</div>
                    <p></p>
                </div>
            </div>
            <a class="lnk1" (click)="toNextStep('forYou')"></a>
        </div>
        <div class="item1 j2">
            <div class="bg-p" cdn-bg-src="/assets/img/wizard/orderType/for_gift.jpg"></div>
            <div class="ov1">
                <div class="dc">
                    <div class="tx">
                        <table>
                            <tr>
                                <td><i>GIFT</i></td>
                            </tr>
                        </table>
                        <div><b><span>2</span></b></div>
                    </div>
                    <div class="t1">A GIFT</div>
                    <p></p>
                </div>
            </div>
            <a class="lnk1" (click)="toNextStep('gift')"></a>
        </div>
    </div>
</div>
<waft-timeline [step]="0"></waft-timeline>

<modal #continueModal [hideCloseButton]="true" [closeOnEscape]="false">
    <modal-content>
        <continue-popup (closeModal)="continueModal.close()"></continue-popup>
    </modal-content>
</modal>