.checkout-page {
    padding: 20px 0 42px 0;
    position: relative;
    background: #fff;
}

.checkout-page .logo {
    text-align: center;
    padding-bottom: 30px;
}

.ct {
    padding: 0 10px 50px 10px;
}