<div class="checkout-page">
    <div class="logo">
        <img height="58" cdn-src="/assets/img/logo/waftgift.png"/>
    </div>
    <div class="ct">
        <checkout-form
            [order]="gift.order" submitCTA="CONTINUE"
            (onDone)="onDone()" (onCountryChange)="onCountryChange($event)"
            (onLogin)="onLogin()" (save)="save()">
        </checkout-form>
    </div>
</div>
