<div class="payment-page">
    <div class="logo">
        <img height="58" cdn-src="/assets/img/logo/waft.png"/>
    </div>
    <div class="ct">
        <payment-form [order]="wizard.order" (onDone)="onDone()" (save)="save()">
        </payment-form>
    </div>
</div>

