@media only screen and (min-width: 451px) {
    .pd1 {
        padding: 73px 0 42px 0;
        position: relative;
    }

    .pd1.j3 {
        padding-top: 100px;
    }
}

@media only screen and (min-width: 1400px) {
    .pd1.j3 {
        padding-top: 100px;
    }
}

@media only screen and (max-width: 703px) {
    .pd1.j3 {
        padding-top: 60px;
    }
}

.pd1.j1 {
    background-color: #101113;
}

@media only screen and (max-width: 1024px) {
    .pd1.j2 {
        padding: 162px 0 124px 0;
    }
}

@media only screen and (max-width: 1024px) and (max-width: 703px) {
    .pd1.j2 {
        padding-bottom: 0;
    }
}

.logo-text {
    color: #767072;
    font-size: 34px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 40px;
    text-align: center;
    word-wrap: break-word;
}

.prod-change-ch1 {
    height: 700px;
}

@media only screen and (max-width: 910px) {
    .prod-change-ch1 {
        height: auto;
        padding: 5px 0 0 0;
    }
}

.prod-change-ch1 .ll {
    float: left;
    width: 50%;
    position: relative;
    text-align: center;
}

@media only screen and (max-width: 910px) {
    .prod-change-ch1 .ll {
        margin: auto;
        float: none;
    }
}

@media only screen and (max-width: 500px) {
    .prod-change-ch1 .ll {
        display: none;
    }
}

.prod-change-ch1 .rr {
    float: right;
    width: 50%;
    padding-right: 50px;
    padding-left: 50px;
    position: relative;
    box-sizing: border-box;
}

.continue-btn {
    max-width: 100%;
}

@media only screen and (max-width: 910px) {
    .prod-change-ch1 .rr {
        float: none;
        width: auto;
        margin-right: 0;
        padding: 0 10px;
    }
}

.prod-change-ch1 .rr p {
    color: #6d7a7d;
    font-family: Georgia;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    padding-bottom: 10px;
    text-align: center;
    display: block;
    margin: auto;
    max-width: 370px;
}

@media only screen and (max-width: 500px) {
    .continue-btn {
        display: none;
    }
}

@media only screen and (min-width: 501px) {
    .preview-btn {
        display: none;
    }
}

h1 {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
}

h5 {
    text-align: center;
    width: 100%;
    display: block;
    color: #303739;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 12px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 12px;
}

h5.step {
    font-size: 15px;
    color: red;
    margin-bottom: 0;
    overflow: hidden;
    font-weight: 400;
}
h5.step:before,
h5.step:after {
    background-color: #dee0e0;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
h5.step:before {
    right: 0.5em;
    margin-left: -50%;
}
h5.step:after {
    left: 0.5em;
    margin-right: -50%;
}

.price-note {
    text-align: center;
    max-width: 250px;
    color: #7d8284;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin: 15px auto;
    font-weight: 700;
}

.preview-bottle {
    padding-top: 40px;
}