<waft-header type="gift"></waft-header>

<div class="pd1 j3 gift-flow">
    <div class="prod-change-ch1">
        <div class="ll">
            <bottle-preview [style]="selectedStyle.style" [name]="gift.order.customBottle.name"
                [message]="gift.order.customBottle.message" [initials]="gift.order.customBottle.initials">
            </bottle-preview>
            <div class="price-note">
                We will send this bottle with two additional layering scents for {{gift.order.getPriceString()}}
            </div>
        </div>
        <div class="rr">
            <div class="title">
                <h1 class="text-center">
                    GIFT CUSTOMIZATION
                </h1>
            </div>
            <h5 class="step">
                STEP 1
            </h5>
            <h5>
                NAME YOUR FRAGRANCE
            </h5>
            <div class="input-block">
                <span>
                    <custom-input [max-length]="10" [place-holder]="'ENTER YOUR FRAGRANCE NAME'"
                                  [(ngModel)]="gift.order.customBottle.name"></custom-input>
                </span>
            </div>
            <!--<div class="input-block">-->
                <!--<span>-->
                    <!--<custom-input [max-length]="3" [ngStyle]="initialsStyle" [place-holder]="'INITIALS'"-->
                                  <!--[(ngModel)]="gift.order.customBottle.initials"></custom-input>-->
                <!--</span>-->
            <!--</div>-->
            <h5 class="step">
                STEP 2
            </h5>
            <h5>
                ADD A MESSAGE TO THE BOTTLE
            </h5>
            <custom-text-area [max-length]="40" [place-holder]="'ENTER A MESSAGE TO GO ON THE BOTTLE'"
                              [(ngModel)]="gift.order.customBottle.message"></custom-text-area>
            <!--<div class="bottle-style-sel">-->
                <!--<div class="curr preview {{selectedStyle.style}}" (click)="showStyles()"><span>Style: {{selectedStyle.name}}</span>-->
                <!--</div>-->
                <!--<div *ngIf="isStyleSelection" class="drop">-->
                    <!--<ul>-->
                        <!--<li *ngFor="let style of styles" (click)="selectStyle(style)" class="preview {{style.style}}">-->
                            <!--<label><input type="radio" name="r1"><span>{{style.name}}</span></label>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <button class="btn-red btn-red-arrow preview-btn" [ngClass]="{'non': gift.order.customBottle.name==''}"
                    (click)="togglePreview()">SHOW ME
            </button>
            <button class="btn-red btn-red-arrow continue-btn" [ngClass]="{'non': gift.order.customBottle.name==''}"
                    (click)="continue()">PAYMENT & GIFT NOTIFICATION
            </button>
            <a class="muted-link" (click)="skip()">SKIP - LET THE RECIPIENT DO THIS LATER</a>
        </div>
    </div>
</div>

<div *ngIf="showPreview" class="preview-bottle">
    <a class="close" (click)="togglePreview()">
        <img cdn-src="/assets/img/close.svg"/>
    </a>
    <h5 class="step">
        STEP 3
    </h5>
    <h5>REVIEW DESIGN</h5>
    <bottle-preview [style]="selectedStyle.style" [name]="gift.order.customBottle.name"
                    [message]="gift.order.customBottle.message" [initials]="gift.order.customBottle.initials"
                    [mobile]="true">
    </bottle-preview>
    <div class="price-note">
        We will send this bottle with two additional layering scents for {{gift.order.getPriceString()}}
    </div>
    <button class="btn-red btn-red-arrow" (click)="continue()">PAYMENT & GIFT NOTIFICATION</button>
    <a class="muted-link" (click)="togglePreview()">Go back</a>
</div>

<div class="font-preload" style="opacity: 0"><span class="handwritten"></span></div>