<waft-header stepName="Inspiration">
</waft-header>
<div class="inspiration">
    <div class="ct sel-container">
        <div class="col-lg-5 col-sm-5 reflect">
            <h1>
                LET’S REFLECT
            </h1>
            <p>
                This is shaping up to be an extraordinary fragrance. Here’s a quick summary of what you’ve made so far
            </p>
            <div class="chosen-aroma">
                <ul>
                    <li>
                        <img cdn-src="/assets/img/wizard/labels/small/{{wizard.order.journey.gender}}.png"/>
                    </li>
                    <li>
                        <img cdn-src="/assets/img/wizard/labels/small/{{wizard.order.journey.timeOfDay}}.png"/>
                    </li>
                    <li>
                        <img cdn-src="/assets/img/wizard/labels/small/{{wizard.order.journey.activity}}.png"/>
                    </li>
                    <li>
                        <img cdn-src="/assets/img/wizard/labels/small/{{wizard.order.journey.mood}}.png"/>
                    </li>
                    <li>
                        <img cdn-src="/assets/img/wizard/labels/small/{{wizard.order.journey.personalStyle}}.png"/>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-7 col-sm-7 steps">
            <div class="step1">
                <h1>
                    ONE MORE THING...
                    <br/>
                    WHICH FRAGRANCE DO YOU LIKE?
                </h1>
                <p>
                    Tell us which perfumes you like so that we can craft the perfect
                    scent. Then pick one to inspire us. You can do more later.
                </p>
                <div class="card-holder">
                    <perfume *ngFor="let fragrance of wizard.order.yourFragrances" [fragrance]="fragrance"
                             (create)="continue($event)" (remove)="removeFragranceCard($event)"></perfume>
                    <div class="clearfix"></div>
                </div>
                <div>
                    <div class="search-fragrance">
                        <div class="item">
                            <input #search (keyup)="onKeyPress($event)"
                                   (keyup.control.esc)="resetSearchResults()"
                                   placeholder="{{(wizard.order.yourFragrances && (wizard.order.yourFragrances.length > 0))?'SEARCH ANOTHER FRAGRANCE':'SEARCH YOUR FRAGRANCE'}}"
                                   maxlength="20"
                                   (focus)="onFocus($event)"
                                   [(ngModel)]="term"
                                   type="text" value=""/>
                            <div class="icon remove"
                                 *ngIf="(term.length>0) || (listOfFragrances && (listOfFragrances.length > 0))">
                                <a (click)="resetSearch(search)"><img cdn-src="/assets/img/close.svg"/></a>
                            </div>
                            <div class="icon"
                                 *ngIf="(term.length==0) && ((listOfFragrances == null) || (listOfFragrances.length==0))">
                                <img cdn-src="/assets/img/wizard/fragrancesChoice/search.svg"/>
                            </div>
                            <autocomplete-list [listOfFragrances]="listOfFragrances" *ngIf="searchInProgress"
                                               (selectItem)="onFragranceSelected($event)"
                                               (closeList)="unFocus()"></autocomplete-list>
                        </div>
                    </div>
                    <a class="muted-link" (click)="continue()">
                        SKIP
                    </a>
                    <a class="legalnotice" (click)="openLegalNotice()">
                        Legal Notice
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<waft-timeline [step]="7"></waft-timeline>

<modal #legalNotice [hideCloseButton]="true" [closeOnEscape]="true">
    <modal-content>
        <legal-notice (closeModal)="legalNotice.close()"></legal-notice>
    </modal-content>
</modal>
