/*-----------------------------------------------------------------------------------------*/
.container {
    width: 100%;
    margin: 0 auto;
}

[class^="col-"], [class*=" col-"] {
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
}

.clearfix {
    float: none;
    clear: both;
}

.col-lg-12 {
    width: 100%;
}

.col-lg-6 {
    width: 50%;
}

.col-lg-4 {
    width: 33%;
}

.col-lg-3 {
    width: 25%;
}

.pull-right {
    float: right;
}

.no-padding {
    padding: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

.hidden-lg {
    display: none;
}

.hidden-sm {
    display: block;
}

.btn-block {
    width: 100%;
}

.btn {
    display: block;
    width: auto;
    border-radius: 7px;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 12px;
    margin: 20px 0;
    box-sizing: border-box;
    position: relative;
}

.btn span {
    display: inline;
}

.btn.btn-default {
    background-color: #a8b5b8;
}

.btn.btn-default:disabled {
    background-color: #fff;
    color: #a8b5b8;
    border: 1px solid #a8b5b8;
    opacity: 0.5;
}

.btn.btn-warning {
    background-color: #f10733;
}

body {
    min-height: 100%;
}

#page {
    height: 100%;
    background: #fff !important;
}

#page .ct, #page .ct > div {
    min-height: 100%;
}

#page .inspiration .ct > div {
    padding-top: 60px;
}

.inspiration {
    padding: 133px 0 122px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    text-align: center;
}

.reflect {
    min-height: 100%;
    position: relative;
}

.reflect:after {
    background: #a8b5b8;
    height: 100%;
    width: 1px;
    content: " ";
    display: block;
    position: absolute;
    right: 10px;
    top: 0;
    box-shadow: 0 540px 0 0 #a8b5b8;
}

.inspiration .chosen-aroma {
}

.inspiration .chosen-aroma ul {
}

.inspiration .chosen-aroma ul li {
    margin-bottom: 22px;
}

.inspiration h3 {
    color: #5b6367;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 19px;
}

.inspiration h2 {
    color: #5b6367;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 3.7px;
}

.inspiration p {
    margin: 20px 0 30px;
    color: #6d7a7d;
    font-family: "Times  New  Roman";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.inspiration .search-fragrance {
    margin-bottom: 50px;
}

.inspiration a.legalnotice {
    display: block;
    width: auto;
    border-radius: 7px;
    padding: 20px;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 12px;
    margin: 20px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.inspiration .search-fragrance .item {
    position: relative;
    margin: 0 auto 20px;
    max-width: 365px;
}

.inspiration .search-fragrance .item input {
    height: 48px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    /*text-indent: 20px;*/
    color: #5b6367;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 3px;
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #ececec;
    border: 1px solid #ececec;
    -webkit-appearance: none;
    box-sizing: border-box;
    padding-left: 18px;
}

.inspiration .search-fragrance .item .icon {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    content: " ";
    width: 50px;
    height: 100%;
    box-sizing: border-box;
}

.inspiration .search-fragrance .item .icon img {
    position: relative;
    top: 16px;
    height: 18px;
}

.inspiration .search-fragrance .item .icon a {
    cursor: pointer;
}

.inspiration .search-fragrance input:focus {
    background-color: white;
    border: 1px dashed rgba(150, 150, 150, 0.41);
}

@media only screen and (max-width: 1660px) {
    .card-holder {
        width: auto;
    }

}

@media only screen and (max-width: 1480px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1020px) {

    .reflect {
        display: none;
    }

    .steps {
        width: 100%;
    }
}

@media only screen and (max-width: 703px) {

    .inspiration h2 {
        font-size: 12px;
        font-weight: bold;
        line-height: 17px;
        letter-spacing: 2px;
    }

    #page .inspiration .ct > div {
        padding-top: 20px;
    }

    .inspiration p {
        margin: 10px 0 10px;
        font-size: 12px;
        line-height: 16px;
    }

    .inspiration .search-fragrance {
        margin-bottom: 10px;
    }

    .inspiration .search-fragrance .item {
        margin: 0 auto 10px;
    }

    .step1 a.btn + a.btn {
        padding-top: 0;
    }
}

@media only screen and (max-width: 555px) {
}

@media only screen and (max-width: 360px) {
    .inspiration .search-fragrance .item .search {
        background: none;
    }

    .inspiration .search-fragrance .item input {
        font-size: 10px;
    }
}
