body {
    margin: 0px;
}

.btn{
    text-align: center;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    color: white;
    letter-spacing: 0.8px;
    line-height: 42px;
    display: block;
    position: relative;
    font-size: 10px;
    font-weight: 400;
    height: 42px;
    font-family: 'Montserrat', sans-serif;
    cursor:pointer;
}

.inner {
    display: table;
    width: 100%;
    height: 100vh;
}
.pop-up{
    display: table-cell;
    vertical-align: middle;
}
.fragrances-form {
    max-width: 500px;
    width: 100%;
    opacity: 0.97;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    box-shadow: 0 2px 37px rgba(0, 0, 0, 0.21);
    box-sizing: border-box;
    position: relative;
}
.fragrances-form .close-btn{
    position: absolute;
    top: 21px;
    right: 20px;
    display: block;
    cursor: pointer;
    background-image: url(/assets/img/icons.png);
    width: 13px;
    height: 13px;
    background-position: 22px -62px;
}

.fragrances-form .close-btn img{
    background-position: 22px -62px;
}

.fragrances-form .t1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
}

.fragrances-form .t2 {
    text-align: center;
    display: block;
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 20px 0;
}
.fragrances-form .fragrances{
    display: table;
    width: 100%;
    margin: 0 0 30px;
    border-top: 1px solid #f1f1f1
}
.fragrances-form .fragrances > div{
    display: table-cell;
}
.fragrances-form .card {
    border-radius: 10px;
    height: 145px;
    width: 145px;
    padding: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    color: #777;
}
.fragrances-form .card .fragrance-id{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 20px;
}

.fragrances-form .green-button {

    margin: auto;
    width: 246px;

    background-color: #8cbf53;
}

.fragrances-form .green-button:hover {
    background-color: #7AA948;
}

.fragrances-form .yellow-button {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #f5a623;

}

.fragrances-form .gray-button{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100%;
   background-color:  #a7b5b8;
}

.fragrances-form .gray-button:hover {
    background-color: #4A5155;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .fragrances-form .fragrances{
        display: block;
    }
    .fragrances-form .fragrances > div{
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }

    .fragrances-form .fragrances > div .card{
        display: block;
        width: 100%;
    }
    .btn{
        width: 100%;
    }
}
}



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}