<div class="inner">
    <div class="pop-up">
        <div class="fragrances-form">
            <div class="close-btn" (click)="close()">
            </div>
            <div class="t1">CHANGE PRIMARY FRAGRANCE</div>
            <div class="t2">Select which fragrance you would like to use as your new primary fragrance</div>
            <div class="fragrances">
                <div *ngFor="let fragrance of profile.fragrancesCards">
                    <div class="card">
                        <div class="fragrance-name">fragrance</div>
                        <div class="fragrance-id">{{fragrance.code}}</div>
                        <a class="btn gray-button" *ngIf="fragrance.id==profile.mainScent">CURRENT PRIMARY</a>
                        <a class="btn yellow-button" *ngIf="fragrance.id!=profile.mainScent"
                           (click)="profile.makePrimary(fragrance.id)">MAKE
                            PRIMARY</a>
                    </div>
                </div>
            </div>
            <a class="green-button btn" (click)="save()">SAVE CHANGES</a>
        </div>
    </div>
</div>