<waft-header
  [stepName]="isGift() ? 'Is the fragrance for a...' : 'Are you a...'"
  [showBack]="showBack()">
</waft-header>
<div class="pd1 j2">
  <div class="bl-sld">
    <div class="item1 j2">
      <div class="bg-p" cdn-bg-src="/assets/img/wizard/recipientGender/man.jpg"></div>
      <div class="ov1">
        <div class="dc">
          <div class="tx">
            <table>
              <tr>
                <td><i>MAN</i></td>
              </tr>
            </table>
            <div><b><span>1</span></b></div>
          </div>
          <div class="t1">MAN</div>
          <p></p>
        </div>
      </div>
      <a class="lnk1" (click)="toNextStep('man')"></a>
    </div>
    <div class="item1 j2">
      <div class="bg-p" cdn-bg-src="/assets/img/wizard/recipientGender/woman.jpg"></div>
      <div class="ov1">
        <div class="dc">
          <div class="tx">
            <table>
              <tr>
                <td><i>WOMAN</i></td>
              </tr>
            </table>
            <div><b><span>2</span></b></div>
          </div>
          <div class="t1">WOMAN</div>
          <p></p>
        </div>
      </div>
      <a class="lnk1" (click)="toNextStep('woman')"></a>
    </div>
  </div>
</div>
<waft-timeline [step]="0"></waft-timeline>
