<div class="login">
    <div class="login-form">
        <div class="col-lg-12 logo">
            <img height="59" cdn-src="/assets/img/logo/waft.png"/>
        </div>
        <div class="col-lg-6 col-sm-12 border pull-right">
            <h2>Sign In</h2>
            <div class="input-block">
                <span>
                    <input type="email" name="mail" placeholder="E-MAIL" [(ngModel)]="email"/>
                </span>
            </div>
            <div class="input-block">
                <span>
                    <input type="password" name="pass" placeholder="PASSWORD" [(ngModel)]="password"/>
                </span>
            </div>
            <button type="button" class="btn btn-red btn-block btn-with-arrow" (click)="login()">
                Checkout
            </button>
            <a class="btn btn-white btn-block" (click)="forgotPassword.open()">
                Forgot password?
            </a>
            <a *ngIf="!kiosk.isEnabled()" class="btn btn-fb btn-block" (click)="facebookConnect()">
                CONNECT WITH FACEBOOK
            </a>
            <div class="error">{{error?error:"&nbsp;"}}</div>
        </div>
        <div class="col-lg-6 col-sm-12 pull-left">
            <h2>I'm new here</h2>
            <p>
                You’ll have an opportunity to create an account later
            </p>
            <a (click)="clickContinue()" class="btn btn-white btn-red-text btn-with-arrow">
                CONTINUE AS A NEW CUSTOMER
            </a>
        </div>
    </div>
</div>
<modal #forgotPassword [hideCloseButton]="true" [closeOnEscape]="true">
    <modal-content>
        <forgot-password (closeModal)="forgotPassword.close()"></forgot-password>
    </modal-content>
</modal>