<style>
  table.table h5 {
    margin-top:0;
    margin-bottom: 0;
  }
  table.table h3, table.table h4 {
    padding-top:0px;
    margin-bottom: 0px;
  }

  table.table tr th {
    border-top: 1px solid #000;
  }

  .btn.btn-default {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .btn.conversions {
    float: right;
    margin-right: 10px;
  }
  
  .btn.reset {
    float: right;
    /* margin: 15px; */
    margin-right: 0px;
    background: #7AA948;
    color: white;
  }

  #countriesSelect {
    width: 200px;
    margin-top: 10px;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }
</style>
<div class="dashboard-page">
    <div class="row">
        <div class="col-md-12">
            <h2>DASHBOARD</h2>
        </div>
    </div>
    <div class="row">
      <div  id="countriesSelect" class="btn-group form-group" role="group">
        <selectize config="countriesConfig" options='countries'
                   ng-model="country"></selectize>
      </div>
      <a class="btn btn-default reset" href="" ng-click="getPage()">REFRESH</a>
      <a class="btn btn-default conversions"  ui-sref="app.conversions">Show Conversions</a>
    </div>
    <div class="row">
      <table class="table">
        <!-- New Sales -->
        <tr>
          <th><h4>New Sales</h4></th>
          <th>Today</th>
          <th>Yesterday, Same Time</th>
          <th>Yesterday, Total</th>
          <th>Week Ago, Same Time</th>
          <th>Week Ago, Total</th>
          <th>Year To Date</th>
          <th>Month To Date</th>
        </tr>
        <tr>
          <td>Sales</td>
          <td ng-repeat="period in data.periods">
            {{period.totalStatsNew.amount | currency:"S$":2}}
            ({{period.totalStats.amount > 0 ? (period.totalStatsNew.amount/period.totalStats.amount*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Transactions</td>
          <td ng-repeat="period in data.periods">
            {{period.totalStatsNew.count}}
            ({{period.totalStats.count > 0 ? (period.totalStatsNew.count/period.totalStats.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Avg Revenue per Transaction</td>
          <td ng-repeat="period in data.periods">
            {{(period.totalStatsNew.count > 0 ? period.totalStatsNew.amount/period.totalStatsNew.count : 0) | currency:"S$":2}}
          </td>
        </tr>
        <tr>
          <td>Expected Sales from Conversions</td>
          <td ng-repeat="period in data.periods">{{period.totalStatsNew.amountMain * data.conversionRate | currency:"S$":2}}</td>
        </tr>
        <tr>
          <td>Facebook Costs</td>
          <td ng-repeat="period in data.periods">
            {{$index == 1 || $index == 3 ? 'N/A' : (period.facebookStats.cost | currency:"S$":2)}}
          </td>
        </tr>
        <tr>
          <td>CPA</td>
          <td ng-repeat="period in data.periods">
            {{$index == 1 || $index == 3 ? 'N/A' : ((period.totalStatsNew.count > 0 ? period.facebookStats.cost/period.totalStatsNew.count : 0) | currency:"S$":2)}}
          </td>
        </tr>
        <tr><td colspan="8"><h5>By Size</h5></td></tr>
        <tr>
          <td>Samples</td>
          <td ng-repeat="period in data.periods">
            {{period.statsBySizeNew.samples || 0}}
            ({{period.statsBySizeNew.samples ? (period.statsBySizeNew.samples/period.totalStatsNew.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Large</td>
          <td ng-repeat="period in data.periods">
            {{period.statsBySizeNew.big || 0}}
            ({{period.statsBySizeNew.big ? (period.statsBySizeNew.big/period.totalStatsNew.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Medium</td>
          <td ng-repeat="period in data.periods">
            {{period.statsBySizeNew.medium || 0}}
            ({{period.statsBySizeNew.medium ? (period.statsBySizeNew.medium/period.totalStatsNew.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr><td colspan="8"><h5>By Gender</h5></td></tr>
        <tr>
          <td>Men</td>
          <td ng-repeat="period in data.periods">
            {{period.statsByGenderNew.man || 0}}
            ({{period.statsByGenderNew.man ? (period.statsByGenderNew.man/period.totalStatsNew.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Women</td>
          <td ng-repeat="period in data.periods">
            {{period.statsByGenderNew.woman || 0}}
            ({{period.statsByGenderNew.woman ? (period.statsByGenderNew.woman/period.totalStatsNew.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Unisex</td>
          <td ng-repeat="period in data.periods">
            {{period.statsByGenderNew.unisex || 0}}
            ({{period.statsByGenderNew.unisex ? (period.statsByGenderNew.unisex/period.totalStatsNew.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Men - Unisex</td>
          <td ng-repeat="period in data.periods">
            {{period.statsByGenderNew.man_unisex || 0}}
            ({{period.statsByGenderNew.man_unisex ? (period.statsByGenderNew.man_unisex/period.totalStatsNew.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Women - Unisex</td>
          <td ng-repeat="period in data.periods">
            {{period.statsByGenderNew.woman_unisex || 0}}
            ({{period.statsByGenderNew.woman_unisex ? (period.statsByGenderNew.woman_unisex/period.totalStatsNew.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        
        <!-- Repeat Customers -->
        <tr>
          <th><h4>Repeat Customers</h4></th>
          <th>Today</th>
          <th>Yesterday, Same Time</th>
          <th>Yesterday, Total</th>
          <th>Week Ago, Same Time</th>
          <th>Week Ago, Total</th>
          <th>Year To Date</th>
          <th>Month To Date</th>
        </tr>
        <tr>
          <td>Sales</td>
          <td ng-repeat="period in data.periods">
            {{period.totalStatsRepeat.amount | currency:"S$":2}}
            ({{period.totalStats.amount > 0 ? (period.totalStatsRepeat.amount/period.totalStats.amount*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Transactions</td>
          <td ng-repeat="period in data.periods">
            {{period.totalStatsRepeat.count}}
            ({{period.totalStats.count > 0 ? (period.totalStatsRepeat.count/period.totalStats.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Avg Revenue per Transaction</td>
          <td ng-repeat="period in data.periods">
            {{(period.totalStatsRepeat.count > 0 ? period.totalStatsRepeat.amount/period.totalStatsRepeat.count : 0) | currency:"S$":2}}
          </td>
        </tr>
        <tr><td colspan="8"><h5>By Size</h5></td></tr>
        <tr>
          <td>Samples</td>
          <td ng-repeat="period in data.periods">
            {{period.statsBySizeRepeat.samples || 0}}
            ({{period.statsBySizeRepeat.samples ? (period.statsBySizeRepeat.samples/period.totalStatsRepeat.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Large</td>
          <td ng-repeat="period in data.periods">
            {{period.statsBySizeRepeat.big || 0}}
            ({{period.statsBySizeRepeat.big ? (period.statsBySizeRepeat.big/period.totalStatsRepeat.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Medium</td>
          <td ng-repeat="period in data.periods">
            {{period.statsBySizeRepeat.medium || 0}}
            ({{period.statsBySizeRepeat.medium ? (period.statsBySizeRepeat.medium/period.totalStatsRepeat.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr><td colspan="8"><h5>By Gender</h5></td></tr>
        <tr>
          <td>Men</td>
          <td ng-repeat="period in data.periods">
            {{period.statsByGenderRepeat.man || 0}}
            ({{period.statsByGenderRepeat.man ? (period.statsByGenderRepeat.man/period.totalStatsRepeat.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Women</td>
          <td ng-repeat="period in data.periods">
            {{period.statsByGenderRepeat.woman || 0}}
            ({{period.statsByGenderRepeat.woman ? (period.statsByGenderRepeat.woman/period.totalStatsRepeat.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Unisex</td>
          <td ng-repeat="period in data.periods">
            {{period.statsByGenderRepeat.unisex || 0}}
            ({{period.statsByGenderRepeat.unisex ? (period.statsByGenderRepeat.unisex/period.totalStatsRepeat.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Men - Unisex</td>
          <td ng-repeat="period in data.periods">
            {{period.statsByGenderRepeat.man_unisex || 0}}
            ({{period.statsByGenderRepeat.man_unisex ? (period.statsByGenderRepeat.man_unisex/period.totalStatsRepeat.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Women - Unisex</td>
          <td ng-repeat="period in data.periods">
            {{period.statsByGenderRepeat.woman_unisex || 0}}
            ({{period.statsByGenderRepeat.woman_unisex ? (period.statsByGenderRepeat.woman_unisex/period.totalStatsRepeat.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>

        <!-- Conversions -->
        <tr>
          <th><h4>Conversions</h4></th>
          <th>Today</th>
          <th>Yesterday, Same Time</th>
          <th>Yesterday, Total</th>
          <th>Week Ago, Same Time</th>
          <th>Week Ago, Total</th>
          <th>Year To Date</th>
          <th>Month To Date</th>
        </tr>
        <tr>
          <td>Sales</td>
          <td ng-repeat="period in data.periods">
            {{period.totalStatsConv.amount | currency:"S$":2}}
            ({{period.totalStats.amount > 0 ? (period.totalStatsConv.amount/period.totalStats.amount*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Transactions</td>
          <td ng-repeat="period in data.periods">
            {{period.totalStatsConv.count}}
            ({{period.totalStats.count > 0 ? (period.totalStatsConv.count/period.totalStats.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Avg Revenue per Transaction</td>
          <td ng-repeat="period in data.periods">
            {{(period.totalStatsConv.count > 0 ? period.totalStatsConv.amount/period.totalStatsConv.count : 0) | currency:"S$":2}}
          </td>
        </tr>
        <tr><td colspan="8"><h5>By Size</h5></td></tr>
        <tr>
          <td>Samples</td>
          <td ng-repeat="period in data.periods">
            {{period.statsBySizeConv.samples || 0}}
            ({{period.statsBySizeConv.samples ? (period.statsBySizeConv.samples/period.totalStatsConv.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Large</td>
          <td ng-repeat="period in data.periods">
            {{period.statsBySizeConv.big || 0}}
            ({{period.statsBySizeConv.big ? (period.statsBySizeConv.big/period.totalStatsConv.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Medium</td>
          <td ng-repeat="period in data.periods">
            {{period.statsBySizeConv.medium || 0}}
            ({{period.statsBySizeConv.medium ? (period.statsBySizeConv.medium/period.totalStatsConv.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr><td colspan="8"><h5>By Gender</h5></td></tr>
        <tr>
          <td>Men</td>
          <td ng-repeat="period in data.periods">
            {{period.statsByGenderConv.man || 0}}
            ({{period.statsByGenderConv.man ? (period.statsByGenderConv.man/period.totalStatsConv.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Women</td>
          <td ng-repeat="period in data.periods">
            {{period.statsByGenderConv.woman || 0}}
            ({{period.statsByGenderConv.woman ? (period.statsByGenderConv.woman/period.totalStatsConv.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Unisex</td>
          <td ng-repeat="period in data.periods">
            {{period.statsByGenderConv.unisex || 0}}
            ({{period.statsByGenderConv.unisex ? (period.statsByGenderConv.unisex/period.totalStatsConv.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Men - Unisex</td>
          <td ng-repeat="period in data.periods">
            {{period.statsByGenderConv.man_unisex || 0}}
            ({{period.statsByGenderConv.man_unisex ? (period.statsByGenderConv.man_unisex/period.totalStatsConv.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>
        <tr>
          <td>Women - Unisex</td>
          <td ng-repeat="period in data.periods">
            {{period.statsByGenderConv.woman_unisex || 0}}
            ({{period.statsByGenderConv.woman_unisex ? (period.statsByGenderConv.woman_unisex/period.totalStatsConv.count*100).toFixed(0) : 0}}%)
          </td>
        </tr>

        <!-- Total Sales -->
        <tr>
          <th><h4>Total Sales</h4></th>
          <th>Today</th>
          <th>Yesterday, Same Time</th>
          <th>Yesterday, Total</th>
          <th>Week Ago, Same Time</th>
          <th>Week Ago, Total</th>
          <th>Year To Date</th>
          <th>Month To Date</th>
        </tr>
        <tr>
          <td>Sales</td>
          <td ng-repeat="period in data.periods">
            {{period.totalStats.amount | currency:"S$":2}}
          </td>
        </tr>
        <tr>
          <td>Transactions</td>
          <td ng-repeat="period in data.periods">
            {{period.totalStats.count}}
          </td>
        </tr>
        <tr>
          <td>Avg Revenue per Transaction</td>
          <td ng-repeat="period in data.periods">
            {{(period.totalStats.count > 0 ? period.totalStats.amount/period.totalStats.count : 0) | currency:"S$":2}}
          </td>
        </tr>
      </table>
    </div>
</div>
